<!-- !layout-outer -->
<div class="layout-outer" [ngClass]="'layout--is-' + layout">
  <!-- !layout-inner -->
  <div class="layout-inner split">
    <!-- !layout-left -->
    <div class="layout-left">
      <!-- !layout-global -->
      <div class="layout-global">
        <!-- !global-bar -->
        <div class="global-bar-scroll">
          <!-- !global-bar-left -->
          <div class="global-bar global-bar-left">
            <div class="global-bar-item global-bar-item-load">
              <button type="button" class="btn btn-bare" (click)="loadObservationsAndWeatherStations()">
                <i *ngIf="!this.data.observations.loading" class="ph ph-arrows-clockwise"></i>
                <i *ngIf="this.data.observations.loading" class="ph ph-circle-notch"></i>
              </button>
            </div>

            <div class="global-bar-item global-bar-item-source">
              <div class="dropdown">
                <button
                  type="button"
                  class="btn dropdown-toggle"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  data-bs-auto-close="outside"
                >
                  {{ "admin.observations.selectSources.placeholder" | translate }}
                </button>
                <form class="dropdown-menu p-4 overflow-y-scroll">
                  <div *ngFor="let source of allSources" class="form-check">
                    <label class="form-check-label text-nowrap">
                      <input
                        [(ngModel)]="filter.observationSources[source.id]"
                        [ngModelOptions]="{ standalone: true }"
                        (change)="onSourcesDropdownSelect()"
                        type="checkbox"
                        class="form-check-input"
                      />
                      {{ source.name }}
                    </label>
                  </div>
                </form>
              </div>
            </div>

            <div class="global-bar-item global-bar-item-region">
              <div class="dropdown">
                <button
                  type="button"
                  class="btn dropdown-toggle"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  data-bs-auto-close="outside"
                >
                  {{ "admin.observations.selectRegion.placeholder" | translate }}
                </button>
                <form class="dropdown-menu p-4 overflow-y-scroll" style="max-height: 400px">
                  <div *ngFor="let region of allRegions" class="form-check">
                    <label class="form-check-label text-nowrap">
                      <input
                        [(ngModel)]="filter.regions[region.id]"
                        [ngModelOptions]="{ standalone: true }"
                        (change)="onRegionsDropdownSelect()"
                        type="checkbox"
                        class="form-check-input"
                      />
                      {{ region.name }}
                    </label>
                  </div>
                </form>
              </div>
            </div>

            <div class="global-bar-item global-bar-item-calendar">
              <input
                class="form-control d-inline-block"
                #drp="bsDaterangepicker"
                bsDaterangepicker
                [(ngModel)]="filter.dateRange"
                (ngModelChange)="this.loadObservationsAndWeatherStations()"
                [bsConfig]="{ withTimepicker: true, keepDatepickerOpened: true }"
                [maxDate]="filter.dateRangeMaxDate"
              />
            </div>
          </div>
          <div class="global-bar-item">
            <div class="input-group">
              <span class="input-group-text">
                <i class="ph ph-magnifying-glass"></i>
              </span>
              <input
                type="text"
                [(ngModel)]="observationSearch"
                (change)="this.applyLocalFilter()"
                placeholder="{{ 'observations.search' | translate }}"
                class="form-control"
              />
            </div>
          </div>
          <!-- /global-bar-left -->

          <!-- !global-bar-right -->
          <div class="global-bar global-bar-right">
            <div class="global-bar-item global-bar-item-add">
              <button
                type="button"
                (click)="newObservation()"
                class="btn btn-bare"
                title="{{ 'admin.observations.newObservation' | translate }}"
                ngxMousetrapKey="c o"
              >
                <i class="ph ph-plus-circle"></i>
              </button>
            </div>

            <div class="global-bar-item global-bar-item-load">
              <button
                type="button"
                (click)="exportObservations()"
                class="btn btn-bare"
                title="{{ 'admin.observations.exportObservations' | translate }}"
              >
                <i class="ph ph-download-simple"></i>
              </button>
            </div>

            <div class="global-bar-item global-bar-item-load">
              <button
                type="button"
                (click)="observationsService.getStatistics()"
                class="btn btn-bare"
                title="{{ 'menu.statistics' | translate }}"
              >
                <i class="ph ph-trend-up"></i>
              </button>
            </div>

            <div class="global-bar-item global-bar-item-load">
              <button
                type="button"
                class="btn btn-bare"
                (click)="this.layoutFilters = !this.layoutFilters"
                title="{{ 'admin.observations.toggleFilterBar' | translate }}"
              >
                <i *ngIf="layoutFilters" class="ph ph-caret-right"></i>
                <i *ngIf="!layoutFilters" class="ph ph-caret-left"></i>
              </button>
            </div>
          </div>
          <!-- /global-bar-right -->
        </div>
        <!-- /global-bar -->
      </div>
      <!-- /layout-global -->

      <div *ngIf="layout === 'table'" class="layout-table">
        <div class="card h-100">
          <div class="card-body overflow-auto">
            <app-observation-table
              #observationTable
              [observations]="this.data.observations.filtered"
              (observationClick)="onObservationClick($event)"
              (editObservationEvent)="editObservation($event)"
            ></app-observation-table>
          </div>
        </div>
      </div>

      <div *ngIf="layout === 'gallery'" class="layout-gallery">
        <div class="card h-100">
          <div class="card-body overflow-auto">
            <app-observation-gallery
              [observations]="this.data.webcams.filtered"
              (observationClick)="onObservationClick($event)"
            ></app-observation-gallery>
          </div>
        </div>
      </div>

      <!-- !layout-map -->
      <div class="layout-map">
        <div class="section-map observations-map" id="observationsMap" #observationsMap></div>
      </div>
      <!-- /layout-map -->

      <!-- !layer-switch -->
      <div *ngIf="layout === 'map'" class="layer-switch">
        <div
          class="obs-button"
          [class.is-active]="this.data.observations.show"
          (click)="this.data.observations.toggle(this.map)"
          title="{{ 'observations.layers.observations' | translate }}"
        >
          <i class="ph ph-circle" aria-hidden="true"></i>
        </div>
        <div
          class="obs-button"
          [class.is-active]="this.data.webcams.show"
          (click)="this.data.webcams.toggle(this.map)"
          title="{{ 'observations.layers.webcams' | translate }}"
        >
          <i class="ph ph-webcam" aria-hidden="true"></i>
        </div>
        <div
          class="obs-button"
          [class.is-active]="this.data.observers.show"
          (click)="this.data.observers.toggle(this.map)"
          title="{{ 'observations.layers.observers' | translate }}"
        >
          <i class="ph ph-eye" aria-hidden="true"></i>
        </div>
        <div
          class="obs-button"
          [class.is-active]="this.data.weatherStations.show"
          (click)="this.data.weatherStations.toggle(this.map)"
          title="{{ 'observations.layers.weatherStations' | translate }}"
        >
          <i class="ph ph-chart-line" aria-hidden="true"></i>
        </div>
      </div>

      <!-- !parameter-switch -->
      <div *ngIf="this.data.weatherStations.show && layout === 'map'" class="parameter-switch">
        <div
          *ngFor="let parameter of markerWeatherStationService.allParameters"
          class="obs-button"
          [class.is-active]="markerWeatherStationService.weatherStationLabel === parameter"
          (click)="selectParameter(parameter)"
          title="{{ markerWeatherStationService.toLabelKey(parameter) | translate }}"
        >
          <i [class]="markerWeatherStationService.toIcon(parameter)" aria-hidden="true"></i>
        </div>
      </div>
      <!-- /parameter-switch -->
    </div>
    <!-- /layout-left -->

    <!-- !layout-right -->
    <div *ngIf="layoutFilters" class="layout-right">
      <!-- !toolset -->
      <div class="toolset">
        <!-- !toolset-header -->
        <div class="toolset-header">
          <div class="toolset-name">
            {{ "sidebar.observations" | translate }}
          </div>
          <div class="toolset-keydata">
            <div class="keydata">
              <span class="keydata-selected">{{ this.data.observations.filtered.length }}</span>
              /
              <span class="keydata-all">{{ this.data.observations.all.length }}</span>
            </div>
          </div>
        </div>
        <!-- /toolset-header -->

        <!-- !toolset-content -->
        <div class="toolset-content">
          <!-- !toolset-charts -->
          <div class="toolset-charts">
            <app-observation-chart
              *ngFor="let filterSelection of filter.filterSelectionData"
              class="chart-container"
              [filterSelection]="filterSelection"
              (handleChange)="applyLocalFilter()"
            />
          </div>
          <!-- /toolset-charts -->

          <!-- /toolset-content -->
        </div>
      </div>
      <!-- /toolset -->
    </div>
    <!-- /layout-right -->

    <!-- !layout-switch -->
    <div class="layout-switch">
      <div *ngIf="layout !== 'map'" (click)="layout = 'map'" class="layout-switch-map obs-button">
        <span class="button-icon ph ph-map-trifold"></span>
        <span class="button-text">
          {{ "admin.observations.map" | translate }}
        </span>
      </div>
      <div *ngIf="layout !== 'table'" (click)="layout = 'table'" class="layout-switch-table obs-button">
        <span class="button-icon ph ph-list"></span>
        <span class="button-text">
          {{ "admin.observations.table" | translate }}
        </span>
      </div>
      <div *ngIf="layout !== 'chart'" (click)="layout = 'chart'" class="layout-switch-charts obs-button">
        <span class="button-icon ph ph-chart-line"></span>
        <span class="button-text">
          {{ "admin.observations.charts.charts" | translate }}
        </span>
      </div>
      <div *ngIf="layout !== 'gallery'" (click)="layout = 'gallery'" class="layout-switch-gallery obs-button">
        <span class="button-icon ph ph-images"></span>
        <span class="button-text">
          {{ "admin.observations.gallery" | translate }}
        </span>
      </div>
    </div>
    <!-- /layout-switch -->
  </div>
  <!-- /layout-inner -->
</div>
<!-- /layout-outer -->

<ng-template #observationPopupTemplate>
  <div class="modal-header">
    <div class="modal-title w-50">
      {{ observationPopup?.observation?.$source }}
      <span [style]="{ color: markerService.toMarkerColor(observationPopup?.observation) }">█</span>
      {{ observationPopup?.observation?.locationName }}
    </div>
    <div class="d-inline-block font-weight-normal w-100 text-end mx-3">
      <kbd (click)="changeObservation(-1)" ngxMousetrapKey="left">←</kbd>
      <kbd (click)="changeObservation(+1)" ngxMousetrapKey="right">→</kbd>
      <kbd
        *ngIf="observationPopup?.imgUrls?.length && observationPopup.imgIndex > 0"
        (click)="observationPopup.imgIndex = observationPopup.imgIndex - 1"
        ngxMousetrapKey="up"
        >↑</kbd
      >
      <kbd
        *ngIf="observationPopup?.imgUrls?.length > observationPopup.imgIndex + 1"
        (click)="observationPopup.imgIndex = observationPopup.imgIndex + 1"
        ngxMousetrapKey="down"
        >↓</kbd
      >
    </div>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalService.hide()"></button>
  </div>
  <div class="modal-body">
    <table *ngIf="observationPopup" class="table table-sm">
      <tr *ngFor="let row of observationPopup.table">
        <th class="pe-3">{{ row.label }}</th>
        <td>
          <span *ngIf="row.date !== undefined">
            {{ row.date | date: "full" : undefined : translateService.currentLang }}
          </span>
          <span *ngIf="row.number !== undefined">{{ row.number | number }}</span>
          <span *ngIf="row.boolean !== undefined"><i [class]="row.boolean ? 'ph ph-check' : 'ph ph-x'"></i></span>
          <span *ngIf="row.url !== undefined"
            ><a href="{{ row.url }}" rel="noopener" target="_blank">{{ row.url }}</a></span
          >
          <span *ngIf="row.value !== undefined">{{ row.value }}</span>
          <span
            *ngIf="
              row.date === undefined &&
              row.number === undefined &&
              row.boolean === undefined &&
              row.url === undefined &&
              row.value === undefined
            "
            >&mdash;</span
          >
        </td>
      </tr>
    </table>
    <iframe
      *ngIf="observationPopup?.iframe"
      [src]="observationPopup?.iframe"
      style="width: 100%; height: 80vh"
    ></iframe>
    <div *ngIf="observationPopup?.imgUrls" style="width: 100%; height: 90vh">
      <img
        [src]="observationPopup?.imgUrls[observationPopup?.imgIndex]"
        style="width: 100%; height: 100%; object-fit: contain; object-position: top"
      />
    </div>
  </div>
</ng-template>

<ng-template #observationEditorTemplate>
  <div class="modal-header">
    <span class="modal-title">
      {{ observationEditor.observation?.$source }}
      <span [style]="{ color: markerService.toMarkerColor(observationPopup?.observation) }">█</span>
      {{ observationEditor.observation?.locationName }}
    </span>
    <button type="button" class="btn-close" aria-label="Close" (click)="hideObservationEditor()"></button>
  </div>
  <div class="modal-body">
    <app-observation-editor
      *ngIf="observationEditor.observation"
      [observation]="observationEditor.observation"
    ></app-observation-editor>
    <button
      type="button"
      [disabled]="
        !observationEditor.observation?.$allowEdit ||
        observationEditor.saving ||
        !observationEditor.observation?.eventDate
      "
      (click)="saveObservation()"
      class="btn btn-sm btn-primary"
    >
      <i *ngIf="observationEditor.saving" class="ph ph-circle-notch"></i>
      <i *ngIf="!observationEditor.saving" class="ph ph-floppy-disk"></i>
      {{ "observations.button.save" | translate }}
    </button>
    <button
      type="button"
      [disabled]="
        !observationEditor.observation?.$allowEdit || observationEditor.saving || !observationEditor.observation?.$id
      "
      (click)="deleteObservation()"
      class="btn btn-sm btn-danger"
    >
      <i *ngIf="observationEditor.saving" class="ph ph-circle-notch"></i>
      <i *ngIf="!observationEditor.saving" class="ph ph-trash"></i>
      {{ "observations.button.delete" | translate }}
    </button>
    <button type="button" (click)="discardObservation()" class="btn btn-sm btn-secondary">
      <i class="ph ph-x"></i>
      {{ "observations.button.discard" | translate }}
    </button>
    <div
      *ngFor="let message of observationEditor.messages"
      class="alert alert-danger alert-dismissible my-2"
      role="alert"
    >
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
</ng-template>
