<table #observationTable class="table table-hover observation-table">
  <thead>
    <tr>
      <th colspan="99" class="text-start p-0">
        <div class="global-bar-scroll">
          <div class="global-bar global-bar-left">
            <div class="form-check form-switch" title="show observations without coordinates">
              <input
                [(ngModel)]="showObservationsWithoutCoordinates"
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="showObservationsWithoutCoordinates"
              />
              <label class="form-check-label" for="showObservationsWithoutCoordinates">
                <i class="ph ph-map-pin"></i>
              </label>
            </div>
          </div>

          <div class="global-bar global-bar-right">
            <div class="global-bar-item">
              <p>
                {{ "observations.count" | translate }}
                {{ observations().length }}
              </p>
            </div>
          </div>
        </div>
      </th>
    </tr>
  </thead>

  <tbody *ngFor="let observation of sortedObservations">
    <tr *ngIf="isShowObservation(observation)" (click)="observationClick.emit(observation)" role="button">
      <td class="px-0 py-3 text-nowrap" style="max-width: 200px" [ngStyle]="getTableRowStyle(observation)">
        <span class="text-truncate d-block">
          <i class="ph ph-calendar"></i>
          {{ observation.eventDate | date: "dd.MM.yyyy HH:mm" }}
        </span>
        <span class="text-truncate d-block">
          <i class="ph ph-user"></i>
          {{ observation.authorName }}
        </span>
        <span class="text-truncate d-block">
          <i class="ph ph-globe"></i>
          {{ observation.locationName }}
          <i
            *ngIf="observation.latitude && observation.longitude"
            class="ph ph-map-pin"
            title="{{ 'observations.hasCoordinates' | translate }}"
          ></i>
        </span>
      </td>
      <td class="p-0">
        <span *ngFor="let problem of observation.avalancheProblems">
          <app-avalanche-problem-icons [value]="problem" />
        </span>
        <abbr
          *ngFor="let importantObservation of observation.importantObservations"
          [title]="importantObservation"
          class="px-0 py-3 d-inline-block"
        >
          <span *ngIf="importantObservationTexts[importantObservation]" style="font-family: snowsymbolsiacs">
            {{ importantObservationTexts[importantObservation] }}
          </span>
          <span *ngIf="!importantObservationTexts[importantObservation]">
            {{ formatImportantObservation(importantObservation) }}
          </span>
        </abbr>
      </td>
      <td class="px-0 py-3">
        {{ observation.content }}
        <button class="btn btn-bare float-end" (click)="editObservationEvent.emit(observation); $event.stopPropagation()">
          <i class="ph-bold ph-pencil icon-md"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
