@if (observation()) {
  <div class="row g-3">
    @if (observation().$source !== ObservationSource.AvalancheWarningService) {
      <div class="d-flex align-items-center">
        <i
          [style.color]="observation().$allowEdit ? null : 'rgba(0, 0, 0, 0.2)'"
          class="ph ph-rows-plus-bottom me-2"
        ></i>
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            [ngModel]="observation().$allowEdit"
            (ngModelChange)="setAllowEdit($event)"
            [title]="'observations.allowEditTooltip' | translate: { value: observation().$source }"
          />
          <label class="form-check-label mb-0" for="toggleBoolean">
            {{ "observations.allowEdit" | translate }}
          </label>
        </div>
      </div>
    }

    <app-zod-schema-form
      [zodType]="GenericObservationSchema"
      [value]="observation()"
      (valueChange)="onFormChange($event)"
      [disabled]="!observation().$allowEdit"
      [includeFields]="formFieldsBefore()"
      [selectOptions]="dangerSourceOptions"
      [labelI18n]="'observations.#'"
    />

    <div class="col-12 col-md-9">
      <label class="form-label" for="locationName">
        <i class="ph ph-globe"></i> {{ "observations.locationName" | translate }}
      </label>
      <input
        id="locationName"
        type="text"
        class="form-control"
        [ngModel]="observation().locationName"
        (ngModelChange)="setLocationName($event)"
        [typeahead]="locationSuggestions$"
        [typeaheadAsync]="true"
        (typeaheadOnSelect)="selectLocation($event)"
        typeaheadOptionField="properties.display_name"
        [disabled]="!observation().$allowEdit"
      />
    </div>

    <app-zod-schema-form
      [zodType]="GenericObservationSchema"
      [value]="observation()"
      (valueChange)="onFormChange($event)"
      [disabled]="!observation().$allowEdit"
      [includeFields]="formFieldsAfter()"
      [selectOptions]="dangerSourceOptions"
      [labelI18n]="'observations.#'"
    />

    @if (isDrySnowFallLevel) {
      <div class="col-md-6">
        <div class="form-label mt-3">{{ "observations.elevationTolerance" | translate }}</div>
        <div class="input-group">
          <div class="btn-group">
            @for (elevationTolerance of elevationTolerances; track elevationTolerance) {
              <button
                [ngClass]="
                  observation().$data?.elevationTolerance === elevationTolerance
                    ? 'btn btn-sm btn-dark'
                    : 'btn btn-sm btn-outline-secondary'
                "
                (click)="setElevationData('elevationTolerance', elevationTolerance)"
                [disabled]="!observation().$allowEdit"
              >
                {{ "elevationTolerance." + elevationTolerance | translate }}
              </button>
            }
          </div>
        </div>
        <div class="form-label mt-3">{{ "observations.elevationPeriod" | translate }}</div>
        <div class="input-group">
          <div class="btn-group">
            @for (elevationPeriod of elevationPeriods; track elevationPeriod) {
              <button
                [ngClass]="
                  observation().$data?.elevationPeriod === elevationPeriod
                    ? 'btn btn-sm btn-dark'
                    : 'btn btn-sm btn-outline-secondary'
                "
                (click)="setElevationData('elevationPeriod', elevationPeriod)"
                [disabled]="!observation().$allowEdit"
              >
                {{ "elevationPeriod." + elevationPeriod | translate }}
              </button>
            }
          </div>
        </div>
      </div>
    }
  </div>
}
