<div class="chart">
  <!-- !chart-header -->
  <div class="chart-header">
    <div class="chart-name">
      {{ filterSelection().label }}
    </div>

    <div class="chart-controls">
      <div class="obs-switch">
        @if (filterSelection().url) {
          <div
            class="obs-switch-item"
            (click)="onReload()"
            title="{{ 'admin.observations.charts.reload' | translate }}"
          >
            <i class="ph ph-arrows-clockwise" aria-hidden="true"></i>
          </div>
        }
        <div
          class="obs-switch-item"
          [class.is-active]="filterSelection().type === markerService.markerClassify?.type"
          (click)="onMarkerClassify()"
          title="{{ 'admin.observations.charts.classify' | translate }}"
        >
          <i class="ph ph-paint-brush-household" aria-hidden="true"></i>
        </div>
        <div
          class="obs-switch-item"
          [class.is-active]="filterSelection().type === markerService.markerLabel?.type"
          (click)="onMarkerLabel()"
          title="{{ 'admin.observations.charts.label' | translate }}"
        >
          <i class="ph ph-tag" aria-hidden="true"></i>
        </div>
        <div
          class="obs-switch-item"
          [class.is-active]="isActive"
          (click)="onInvert()"
          title="{{ 'admin.observations.charts.invert' | translate }}"
        >
          <i class="ph ph-circle-half" aria-hidden="true"></i>
        </div>
        <div
          class="obs-switch-item"
          [class.is-active]="isActive"
          (click)="onReset()"
          title="{{ 'admin.observations.charts.reset' | translate }}"
        >
          <i class="ph ph-power" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <!-- /chart-header -->

  <!-- !chart-unspecified -->
  <div class="chart-unspecified">
    <span
      [class.highlighted]="filterSelection()['highlighted'].has('nan')"
      [class.selected]="filterSelection()['selected'].has('nan')"
      (click)="onSeriesClick($event, 'nan')"
      >{{ "admin.observations.charts.nan" | translate }}: {{ filterSelection().nan }}</span
    >
  </div>
  <!-- /chart-unspecified -->

  <!-- !chart-content -->
  <div class="chart-content">
    @if (filterSelection().dataset) {
      <div
        echarts
        [options]="options"
        [merge]="{ dataset: { source: filterSelection().dataset } }"
        (chartMouseDown)="onMouseDown($event)"
        (chartMouseUp)="onMouseUp($event)"
        class="chart"
      ></div>
    }
  </div>
  <!-- /chart-content -->
</div>
