<!-- !layout-outer -->
<div class="layout-outer" [ngClass]="'layout--is-' + layout">
  <!-- !layout-inner -->
  <div class="layout-inner split">
    <!-- !layout-left -->
    <div class="layout-left">
      <!-- !layout-global -->
      <div class="layout-global">
        <!-- !global-bar -->
        <div class="global-bar-scroll">
          <!-- !global-bar-left -->
          <div class="global-bar global-bar-left">
            <div class="global-bar-item global-bar-item-load">
              <button type="button" class="btn btn-bare" (click)="loadObservations()">
                <i *ngIf="!loading" class="ph ph-arrows-clockwise"></i>
                <i *ngIf="loading" class="ph ph-circle-notch"></i>
              </button>
            </div>

            <div class="global-bar-item global-bar-item-source">
              <div class="dropdown">
                <button
                  type="button"
                  class="btn dropdown-toggle"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  data-bs-auto-close="outside"
                >
                  {{ "admin.observations.selectSources.placeholder" | translate }}
                </button>
                <form class="dropdown-menu p-4 overflow-y-scroll">
                  <div *ngFor="let source of allSources" class="form-check">
                    <label class="form-check-label text-nowrap">
                      <input
                        [(ngModel)]="filter.observationSources[source.id]"
                        [ngModelOptions]="{ standalone: true }"
                        (change)="onSourcesDropdownSelect()"
                        type="checkbox"
                        class="form-check-input"
                      />
                      {{ source.name }}
                    </label>
                  </div>
                </form>
              </div>
            </div>

            <div class="global-bar-item global-bar-item-region">
              <div class="dropdown">
                <button
                  type="button"
                  class="btn dropdown-toggle"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  data-bs-auto-close="outside"
                >
                  {{ "admin.observations.selectRegion.placeholder" | translate }}
                </button>
                <form class="dropdown-menu p-4 overflow-y-scroll" style="max-height: 400px">
                  <div *ngFor="let region of allRegions" class="form-check">
                    <label class="form-check-label text-nowrap">
                      <input
                        [(ngModel)]="filter.regions[region.id]"
                        [ngModelOptions]="{ standalone: true }"
                        (change)="onRegionsDropdownSelect()"
                        type="checkbox"
                        class="form-check-input"
                      />
                      {{ region.name }}
                    </label>
                  </div>
                </form>
              </div>
            </div>

            <div class="global-bar-item global-bar-item-calendar">
              <input
                class="form-control d-inline-block"
                #drp="bsDaterangepicker"
                bsDaterangepicker
                [(ngModel)]="filter.dateRange"
                (ngModelChange)="setDate()"
                [bsConfig]="{ dateInputFormat: 'DD.MM.YYYY' }"
                [maxDate]="filter.dateRangeMaxDate"
              />
            </div>
          </div>
          <!-- /global-bar-left -->

          <!-- !global-bar-right -->
          <div class="global-bar global-bar-right">
            <div class="global-bar-item global-bar-item-add">
              <button
                type="button"
                (click)="newObservation()"
                class="btn btn-bare"
                title="{{ 'admin.observations.newObservation' | translate }}"
              >
                <i class="ph ph-plus-circle"></i>
              </button>
            </div>

            <div class="global-bar-item global-bar-item-load">
              <button
                type="button"
                (click)="exportObservations()"
                class="btn btn-bare"
                title="{{ 'admin.observations.exportObservations' | translate }}"
              >
                <i class="ph ph-download-simple"></i>
              </button>
            </div>

            <div class="global-bar-item global-bar-item-load">
              <button
                type="button"
                (click)="observationsService.getStatistics()"
                class="btn btn-bare"
                title="{{ 'menu.statistics' | translate }}"
              >
                <i class="ph ph-trend-up"></i>
              </button>
            </div>

            <div class="global-bar-item global-bar-item-load">
              <button
                type="button"
                class="btn btn-bare"
                (click)="toggleFilters()"
                title="{{ 'admin.observations.toggleFilterBar' | translate }}"
              >
                <i *ngIf="layoutFilters" class="ph ph-caret-right"></i>
                <i *ngIf="!layoutFilters" class="ph ph-caret-left"></i>
              </button>
            </div>
          </div>
          <!-- /global-bar-right -->
        </div>
        <!-- /global-bar -->
      </div>
      <!-- /layout-global -->

      <div *ngIf="layout === 'table'" class="layout-table">
        <div class="card h-100">
          <div class="card-body overflow-auto">
            <app-observation-table
              #observationTable
              [observations]="localObservations"
              (observationClick)="onObservationClick($event)"
              (editObservationEvent)="editObservation($event)"
            ></app-observation-table>
          </div>
        </div>
      </div>

      <div *ngIf="layout === 'gallery'" class="layout-gallery">
        <div class="card h-100">
          <div class="card-body overflow-auto">
            <app-observation-gallery
              [observations]="localWebcams"
              (observationClick)="onObservationClick($event)"
            ></app-observation-gallery>
          </div>
        </div>
      </div>

      <!-- !layout-map -->
      <div class="layout-map">
        <div class="section-map observations-map" id="observationsMap" #observationsMap></div>
      </div>
      <!-- /layout-map -->

      <!-- !layer-switch -->
      <div *ngIf="layout === 'map'" class="layer-switch">
        <div
          class="obs-button"
          [class.is-active]="showObservations"
          (click)="toggleObservations()"
          title="{{ 'observations.layers.observations' | translate }}"
        >
          <i class="ph ph-circle" aria-hidden="true"></i>
        </div>
        <div
          class="obs-button"
          [class.is-active]="showWebcams"
          (click)="toggleWebcams()"
          title="{{ 'observations.layers.webcams' | translate }}"
        >
          <i class="ph ph-webcam" aria-hidden="true"></i>
        </div>
        <div
          class="obs-button"
          [class.is-active]="showObservers"
          (click)="toggleObservers()"
          title="{{ 'observations.layers.observers' | translate }}"
        >
          <i class="ph ph-eye" aria-hidden="true"></i>
        </div>
        <div
          class="obs-button"
          [class.is-active]="showWeatherStations"
          (click)="toggleWeatherStations()"
          title="{{ 'observations.layers.weatherStations' | translate }}"
        >
          <i class="ph ph-chart-line" aria-hidden="true"></i>
        </div>
      </div>

      <!-- !parameter-switch -->
      <div *ngIf="showWeatherStations && layout === 'map'" class="parameter-switch">
        <div
          class="obs-button"
          [class.is-active]="markerWeatherStationService.weatherStationLabel === 'SnowHeight'"
          (click)="selectParameter('SnowHeight')"
          title="{{ 'observations.weatherStations.tooltips.snowHeight' | translate }}"
        >
          <i class="ph ph-arrows-vertical" aria-hidden="true"></i>
        </div>
        <!--
        <div
          class="obs-button"
          [class.is-active]="markerWeatherStationService.weatherStationLabel === 'SnowDifference24h'"
          (click)="selectParameter('SnowDifference24h')"
          title="{{ 'observations.weatherStations.tooltips.snowDifference24h' | translate }}"
        >
          <i class="ph ph-arrows-vertical" aria-hidden="true"></i>
        </div>
        <div
          class="obs-button"
          [class.is-active]="markerWeatherStationService.weatherStationLabel === 'SnowDifference48h'"
          (click)="selectParameter('SnowDifference48h')"
          title="{{ 'observations.weatherStations.tooltips.snowDifference48h' | translate }}"
        >
          <i class="ph ph-arrows-vertical" aria-hidden="true"></i>
        </div>
        <div
          class="obs-button"
          [class.is-active]="markerWeatherStationService.weatherStationLabel === 'SnowDifference72h'"
          (click)="selectParameter('SnowDifference72h')"
          title="{{ 'observations.weatherStations.tooltips.snowDifference72h' | translate }}"
        >
          <i class="ph ph-arrows-vertical" aria-hidden="true"></i>
        </div>
        -->
        <div
          class="obs-button"
          [class.is-active]="markerWeatherStationService.weatherStationLabel === 'AirTemperature'"
          (click)="selectParameter('AirTemperature')"
          title="{{ 'observations.weatherStations.tooltips.airTemperature' | translate }}"
        >
          <i class="ph ph-thermometer-simple" aria-hidden="true"></i>
        </div>
        <!--
        <div
          class="obs-button"
          [class.is-active]="markerWeatherStationService.weatherStationLabel === 'AirTemperatureMax'"
          (click)="selectParameter('AirTemperatureMax')"
          title="{{ 'observations.weatherStations.tooltips.airTemperatureMax' | translate }}"
        >
          <i class="ph ph-thermometer-simple" aria-hidden="true"></i>
        </div>
        <div
          class="obs-button"
          [class.is-active]="markerWeatherStationService.weatherStationLabel === 'AirTemperatureMin'"
          (click)="selectParameter('AirTemperatureMin')"
          title="{{ 'observations.weatherStations.tooltips.airTemperatureMin' | translate }}"
        >
          <i class="ph ph-thermometer-simple" aria-hidden="true"></i>
        </div>
        -->
        <div
          class="obs-button"
          [class.is-active]="markerWeatherStationService.weatherStationLabel === 'SurfaceTemperature'"
          (click)="selectParameter('SurfaceTemperature')"
          title="{{ 'observations.weatherStations.tooltips.surfaceTemperature' | translate }}"
        >
          <i class="ph ph-thermometer-cold" aria-hidden="true"></i>
        </div>
        <div
          class="obs-button"
          [class.is-active]="markerWeatherStationService.weatherStationLabel === 'DewPoint'"
          (click)="selectParameter('DewPoint')"
          title="{{ 'observations.weatherStations.tooltips.dewPoint' | translate }}"
        >
          <i class="ph ph-thermometer-hot" aria-hidden="true"></i>
        </div>
        <div
          class="obs-button"
          [class.is-active]="markerWeatherStationService.weatherStationLabel === 'SurfaceHoar'"
          (click)="selectParameter('SurfaceHoar')"
          title="{{ 'observations.weatherStations.tooltips.surfaceHoar' | translate }}"
        >
          <i class="ph ph-caret-down" aria-hidden="true"></i>
        </div>
        <div
          class="obs-button"
          [class.is-active]="markerWeatherStationService.weatherStationLabel === 'SurfaceHoarCalc'"
          (click)="selectParameter('SurfaceHoarCalc')"
          title="{{ 'observations.weatherStations.tooltips.surfaceHoarCalc' | translate }}"
        >
          <i class="ph ph-caret-line-down" aria-hidden="true"></i>
        </div>
        <div
          class="obs-button"
          [class.is-active]="markerWeatherStationService.weatherStationLabel === 'WindSpeed'"
          (click)="selectParameter('WindSpeed')"
          title="{{ 'observations.weatherStations.tooltips.windSpeed' | translate }}"
        >
          <i class="ph ph-wind" aria-hidden="true"></i>
        </div>
        <div
          class="obs-button"
          [class.is-active]="markerWeatherStationService.weatherStationLabel === 'WindGust'"
          (click)="selectParameter('WindGust')"
          title="{{ 'observations.weatherStations.tooltips.windGust' | translate }}"
        >
          <i class="ph ph-tornado" aria-hidden="true"></i>
        </div>
        <div
          class="obs-button"
          [class.is-active]="markerWeatherStationService.weatherStationLabel === 'WindDirection'"
          (click)="selectParameter('WindDirection')"
          title="{{ 'observations.weatherStations.tooltips.windDirection' | translate }}"
        >
          <i class="ph ph-arrow-up-right" aria-hidden="true"></i>
        </div>
        <div
          class="obs-button"
          [class.is-active]="markerWeatherStationService.weatherStationLabel === 'RelativeHumidity'"
          (click)="selectParameter('RelativeHumidity')"
          title="{{ 'observations.weatherStations.tooltips.relativeHumidity' | translate }}"
        >
          <i class="ph ph-drop" aria-hidden="true"></i>
        </div>
        <div
          class="obs-button"
          [class.is-active]="markerWeatherStationService.weatherStationLabel === 'GlobalRadiation'"
          (click)="selectParameter('GlobalRadiation')"
          title="{{ 'observations.weatherStations.tooltips.globalRadiation' | translate }}"
        >
          <i class="ph ph-sun" aria-hidden="true"></i>
        </div>
      </div>
      <!-- /parameter-switch -->
    </div>
    <!-- /layout-left -->

    <!-- !layout-right -->
    <div *ngIf="layoutFilters" class="layout-right">
      <!-- !toolset -->
      <div class="toolset">
        <!-- !toolset-header -->
        <div class="toolset-header">
          <div class="toolset-name">
            {{ "sidebar.observations" | translate }}
          </div>
          <div class="toolset-keydata">
            <div class="keydata">
              <span class="keydata-selected">{{ localObservations.length }}</span>
              /
              <span class="keydata-all">{{ observations.length }}</span>
            </div>
          </div>
        </div>
        <!-- /toolset-header -->

        <!-- !toolset-content -->
        <div class="toolset-content">
          <!-- !toolset-charts -->
          <div class="toolset-charts">
            <app-observation-chart
              *ngFor="let filterSelection of filter.filterSelectionData"
              class="chart-container"
              [filterSelection]="filterSelection"
              (handleChange)="applyLocalFilter()"
            />
          </div>
          <!-- /toolset-charts -->

          <!-- /toolset-content -->
        </div>
      </div>
      <!-- /toolset -->
    </div>
    <!-- /layout-right -->

    <!-- !layout-switch -->
    <div class="layout-switch">
      <div *ngIf="layout !== 'map'" (click)="layout = 'map'" class="layout-switch-map obs-button">
        <span class="button-icon ph ph-map-trifold"></span>
        <span class="button-text">
          {{ "admin.observations.map" | translate }}
        </span>
      </div>
      <div *ngIf="layout !== 'table'" (click)="layout = 'table'" class="layout-switch-table obs-button">
        <span class="button-icon ph ph-list"></span>
        <span class="button-text">
          {{ "admin.observations.table" | translate }}
        </span>
      </div>
      <div *ngIf="layout !== 'chart'" (click)="layout = 'chart'" class="layout-switch-charts obs-button">
        <span class="button-icon ph ph-chart-line"></span>
        <span class="button-text">
          {{ "admin.observations.charts.charts" | translate }}
        </span>
      </div>
      <div *ngIf="layout !== 'gallery'" (click)="layout = 'gallery'" class="layout-switch-gallery obs-button">
        <span class="button-icon ph ph-images"></span>
        <span class="button-text">
          {{ "admin.observations.gallery" | translate }}
        </span>
      </div>
    </div>
    <!-- /layout-switch -->
  </div>
  <!-- /layout-inner -->
</div>
<!-- /layout-outer -->

<ng-template #observationPopupTemplate>
  <div class="modal-header">
    <span
      [style]="{ color: markerService.toMarkerColor(observationPopup?.observation) }"
      [title]="observationPopup?.observation?.$source"
      >█</span
    >
    {{ observationPopup?.observation?.locationName }}
    <div class="d-inline-block font-weight-normal">
      <kbd (click)="handleKeyBoardEvent({ key: 'ArrowLeft' })">←</kbd>
      <kbd (click)="handleKeyBoardEvent({ key: 'ArrowRight' })">→</kbd>
      <kbd *ngIf="observationPopup?.observation?.$externalImgs" (click)="handleKeyBoardEvent({ key: 'ArrowUp' })"
        >↑</kbd
      >
      <kbd *ngIf="observationPopup?.observation?.$externalImgs" (click)="handleKeyBoardEvent({ key: 'ArrowDown' })"
        >↓</kbd
      >
      <button type="button" class="btn-close ms-3" aria-label="Close" (click)="modalService.hide()"></button>
    </div>
  </div>
  <div class="modal-body">
    <table *ngIf="observationPopup" class="table table-sm">
      <tr *ngFor="let row of observationPopup.table">
        <th class="pe-3">{{ row.label }}</th>
        <td>
          <span *ngIf="row.date !== undefined">
            {{ row.date | date: "full" : undefined : translateService.currentLang }}
          </span>
          <span *ngIf="row.number !== undefined">{{ row.number | number }}</span>
          <span *ngIf="row.boolean !== undefined"><i [class]="row.boolean ? 'ph ph-check' : 'ph ph-x'"></i></span>
          <span *ngIf="row.url !== undefined"
            ><a href="{{ row.url }}" rel="noopener" target="_blank">{{ row.url }}</a></span
          >
          <span *ngIf="row.value !== undefined">{{ row.value }}</span>
          <span
            *ngIf="
              row.date === undefined &&
              row.number === undefined &&
              row.boolean === undefined &&
              row.url === undefined &&
              row.value === undefined
            "
            >&mdash;</span
          >
        </td>
      </tr>
    </table>
    <iframe
      *ngIf="observationPopup?.iframe"
      [src]="observationPopup?.iframe"
      style="width: 100%; height: 80vh"
    ></iframe>
    <div *ngIf="observationPopup?.imgUrls">
      <img id="observationImage" [src]="observationPopup?.imgUrls[0]" style="width: -webkit-fill-available" />
    </div>
  </div>
</ng-template>

<ng-template #observationEditorTemplate>
  <div class="modal-header">
    <span>{{ observationEditor.observation?.locationName }}</span>
    <div class="d-inline-block font-weight-normal">
      <button type="button" class="btn-close ms-3" aria-label="Close" (click)="hideObservationEditor()"></button>
    </div>
  </div>
  <div class="modal-body">
    <app-observation-editor
      *ngIf="observationEditor.observation"
      [observation]="observationEditor.observation"
    ></app-observation-editor>
    <button
      type="button"
      [disabled]="
        observationEditor.saving ||
        !observationEditor.observation?.reportDate ||
        !observationEditor.observation?.eventDate
      "
      (click)="saveObservation()"
      class="btn btn-sm btn-primary"
    >
      <i *ngIf="observationEditor.saving" class="ph ph-circle-notch"></i>
      <i *ngIf="!observationEditor.saving" class="ph ph-floppy-disk"></i>
      {{ "observations.button.save" | translate }}
    </button>
    <button
      type="button"
      [disabled]="observationEditor.saving || !observationEditor.observation?.$id"
      (click)="deleteObservation()"
      class="btn btn-sm btn-danger"
    >
      <i *ngIf="observationEditor.saving" class="ph ph-circle-notch"></i>
      <i *ngIf="!observationEditor.saving" class="ph ph-trash"></i>
      {{ "observations.button.delete" | translate }}
    </button>
    <button type="button" (click)="discardObservation()" class="btn btn-sm btn-secondary">
      <i class="ph ph-x"></i>
      {{ "observations.button.discard" | translate }}
    </button>
    <div *ngFor="let message of observationEditor.messages" class="alert alert-danger alert-dismissible my-2" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
</ng-template>
