<!-- !layout-outer -->
<div class="layout-outer" [ngClass]="'layout--is-' + layout">
  <!-- !layout-inner -->
  <div class="layout-inner split">
    <!-- !layout-left -->
    <div class="layout-left" style="min-width: 500px">
      <!-- !layout-global -->
      <div class="layout-global">
        <!-- !global-bar -->
        <div class="global-bar-scroll">
          <!-- !global-bar-left -->
          <div class="global-bar global-bar-left" style="width: 100%">
            <div class="global-bar-item global-bar-item-load">
              <button type="button" class="btn btn-bare" (click)="loadObservationsAndWeatherStations()">
                @if (!this.data.observations.loading) {
                  <i class="ph ph-arrows-clockwise"></i>
                }
                @if (this.data.observations.loading) {
                  <i class="ph ph-circle-notch"></i>
                }
              </button>
            </div>

            @if (!showSearchInput) {
              <div class="global-bar-item global-bar-item-source">
                <div class="dropdown">
                  <button
                    type="button"
                    class="btn dropdown-toggle"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    data-bs-auto-close="outside"
                  >
                    {{ "admin.observations.selectSources.placeholder" | translate }}
                  </button>
                  <form class="dropdown-menu p-4 overflow-y-scroll">
                    @for (source of allSources; track source) {
                      <div class="form-check">
                        <label class="form-check-label text-nowrap">
                          <input
                            [(ngModel)]="filter.observationSources[source.id]"
                            [ngModelOptions]="{ standalone: true }"
                            (change)="onSourcesDropdownSelect()"
                            type="checkbox"
                            class="form-check-input"
                          />
                          {{ source.name }}
                        </label>
                      </div>
                    }
                  </form>
                </div>
              </div>
            }

            <div class="global-bar-item global-bar-item-region" style="width: 0">
              <button type="button" class="obs-button invisible" (click)="selectRegion('')" ngxMousetrapKey="r 0">
                <i class="ph ph-number-circle-zero"></i>
              </button>
              @for (
                region of authenticationService.getInternalRegionsWithoutSuperRegions();
                track region;
                let i = $index
              ) {
                <span class="global-bar-item">
                  <button
                    type="button"
                    class="obs-button invisible"
                    (click)="selectRegion(region)"
                    [ngxMousetrapKey]="`r ${i + 1}`"
                  >
                    <i class="ph ph-number-circle-one"></i>
                  </button>
                </span>
              }
            </div>
            @if (!showSearchInput) {
              <div class="global-bar-item global-bar-item-region">
                <div class="dropdown">
                  <button
                    type="button"
                    class="btn dropdown-toggle"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    data-bs-auto-close="outside"
                  >
                    {{ "admin.observations.selectRegion.placeholder" | translate }}
                  </button>
                  <form class="dropdown-menu p-4 overflow-y-scroll" style="max-height: 400px">
                    @for (region of authenticationService.getInternalRegionsWithoutSuperRegions(); track region) {
                      <div class="form-check">
                        <label class="form-check-label text-nowrap">
                          <input
                            [ngModel]="filter.regions.has(region)"
                            [ngModelOptions]="{ standalone: true }"
                            (change)="
                              $event.target.checked ? filter.regions.add(region) : filter.regions.delete(region);
                              toggleRegion($event, region)
                            "
                            type="checkbox"
                            class="form-check-input"
                          />
                          {{ regionsService.getRegionName(region) }}
                        </label>
                        <div class="ms-3">
                          @for (microRegion of getSubregions(region); track microRegion) {
                            <div class="form-check">
                              <label class="form-check-label text-nowrap">
                                <input
                                  [ngModel]="filter.regions.has(microRegion.id)"
                                  [ngModelOptions]="{ standalone: true }"
                                  (change)="
                                    $event.target.checked
                                      ? filter.regions.add(microRegion.id)
                                      : filter.regions.delete(microRegion.id);
                                    toggleRegion($event, microRegion.id)
                                  "
                                  type="checkbox"
                                  class="form-check-input"
                                />
                                {{ microRegion.name }}
                              </label>
                            </div>
                          }
                        </div>
                      </div>
                    }
                  </form>
                </div>
              </div>
            }

            <div class="global-bar-item global-bar-item-calendar" style="width: 0">
              <button type="button" class="obs-button invisible" (click)="setDateRange(1)" ngxMousetrapKey="d 1">
                <i class="ph ph-number-circle-zero"></i>
              </button>
              <button type="button" class="obs-button invisible" (click)="setDateRange(2)" ngxMousetrapKey="d 2">
                <i class="ph ph-number-circle-one"></i>
              </button>
              <button type="button" class="obs-button invisible" (click)="setDateRange(3)" ngxMousetrapKey="d 3">
                <i class="ph ph-number-circle-two"></i>
              </button>
              <button type="button" class="obs-button invisible" (click)="setDateRange(4)" ngxMousetrapKey="d 4">
                <i class="ph ph-number-circle-three"></i>
              </button>
              <button type="button" class="obs-button invisible" (click)="setDateRange(5)" ngxMousetrapKey="d 5">
                <i class="ph ph-number-circle-three"></i>
              </button>
              <button type="button" class="obs-button invisible" (click)="setDateRange(6)" ngxMousetrapKey="d 6">
                <i class="ph ph-number-circle-three"></i>
              </button>
              <button type="button" class="obs-button invisible" (click)="setDateRange(7)" ngxMousetrapKey="d 7">
                <i class="ph ph-number-circle-three"></i>
              </button>
            </div>
            @if (!showSearchInput) {
              <div class="global-bar-item global-bar-item-calendar">
                <input
                  class="form-control d-inline-block"
                  #drp="bsDaterangepicker"
                  bsDaterangepicker
                  [(ngModel)]="filter.dateRange"
                  (ngModelChange)="this.loadObservationsAndWeatherStations()"
                  [bsConfig]="{ withTimepicker: true, keepDatepickerOpened: true }"
                  [maxDate]="filter.dateRangeMaxDate"
                />
              </div>
            }
            @if (showSearchInput) {
              <div class="input-group" style="width: 100%">
                <input
                  id="observationSearchInput"
                  type="text"
                  [(ngModel)]="observationSearch"
                  (change)="this.applyLocalFilter()"
                  placeholder="{{ 'observations.search' | translate }}"
                  class="form-control"
                />
              </div>
            }
          </div>
          <!-- /global-bar-left -->

          <!-- !global-bar-right -->
          <div class="global-bar global-bar-right">
            <div class="global-bar-item global-bar-item-add">
              <button type="button" class="btn btn-bare" (click)="toggleSearchInput()" ngxMousetrapKey="shift+f">
                <i class="ph ph-magnifying-glass"></i>
              </button>
            </div>
            <div class="global-bar-item global-bar-item-add">
              <button
                type="button"
                (click)="newObservation()"
                class="btn btn-bare"
                title="{{ 'admin.observations.newObservation' | translate }}"
                ngxMousetrapKey="c o"
              >
                <i class="ph ph-plus-circle"></i>
              </button>
            </div>

            <div class="region-divider__actions-dropdown mr-1" bsDropdown container="body">
              <button class="btn btn-sm btn-icon btn-bare--grey" type="button" bsDropdownToggle ngxMousetrapKey="o">
                <i class="ph-bold ph-dots-three-outline-vertical"></i>
              </button>

              <ul *bsDropdownMenu class="dropdown-menu dropdown-menu-right create-bulletin__region-dropdown">
                <li>
                  <button class="dropdown-item" (click)="this.layoutFilters = !this.layoutFilters; dropdown.hide()">
                    <i class="ph ph-sidebar"></i>
                    <span>{{ "admin.observations.toggleFilterBar" | translate }}</span>
                  </button>
                </li>

                <li>
                  <hr class="dropdown-divider" />
                </li>

                <li>
                  <button class="dropdown-item" (click)="exportObservations(); dropdown.hide()" ngxMousetrapKey="e">
                    <i class="ph ph-download-simple"></i>
                    <span>{{ "admin.observations.exportObservations" | translate }}</span>
                  </button>

                  <button class="dropdown-item" (click)="exportStatistics(); dropdown.hide()" ngxMousetrapKey="s">
                    <i class="ph ph-trend-up"></i>
                    <span>{{ "admin.observations.exportStatistics" | translate }}</span>
                  </button>
                </li>
              </ul>
            </div>
          </div>
          <!-- /global-bar-right -->
        </div>
        <!-- /global-bar -->
      </div>
      <!-- /layout-global -->

      @if (layout === "table") {
        <div class="layout-table">
          <div class="card h-100">
            <div class="card-body overflow-auto">
              <app-observation-table
                #observationTable
                [observations]="this.data.observations.filtered"
                (observationClick)="onObservationClick($event)"
                (editObservationEvent)="editObservation($event)"
              ></app-observation-table>
            </div>
          </div>
        </div>
      }

      @if (layout === "gallery") {
        <div class="layout-gallery">
          <div class="card h-100">
            <div class="card-body overflow-auto">
              <app-observation-gallery
                [observations]="this.data.webcams.filtered"
                (observationClick)="onObservationClick($event)"
              ></app-observation-gallery>
            </div>
          </div>
        </div>
      }

      <!-- !layout-map -->
      <div class="layout-map">
        <!-- Filter Sidebar toggle icon -->
        <button
          type="button"
          class="create-bulletin__sidebar-close-on-map"
          (click)="this.layoutFilters = !this.layoutFilters"
          title="{{ 'admin.observations.toggleFilterBar' | translate }}"
          ngxMousetrapKey="s"
        >
          <i class="ph ph-sidebar"></i>
        </button>
        <div class="section-map observations-map" id="observationsMap" #observationsMap></div>
      </div>
      <!-- /layout-map -->

      <!-- !layer-switch -->
      @if (layout === "map") {
        <div class="layer-switch">
          <div
            class="obs-button"
            [class.is-active]="this.data.observations.show"
            (click)="this.data.observations.toggle(this.map)"
            title="{{ 'observations.layers.observations' | translate }}"
            ngxMousetrapKey="1"
          >
            <i class="ph ph-circle" aria-hidden="true"></i>
          </div>
          <div
            class="obs-button"
            [class.is-active]="this.data.webcams.show"
            (click)="this.data.webcams.toggle(this.map)"
            title="{{ 'observations.layers.webcams' | translate }}"
            ngxMousetrapKey="2"
          >
            <i class="ph ph-webcam" aria-hidden="true"></i>
          </div>
          <div
            class="obs-button"
            [class.is-active]="this.data.observers.show"
            (click)="this.data.observers.toggle(this.map)"
            title="{{ 'observations.layers.observers' | translate }}"
            ngxMousetrapKey="3"
          >
            <i class="ph ph-eye" aria-hidden="true"></i>
          </div>
          <div
            class="obs-button"
            [class.is-active]="this.data.weatherStations.show"
            (click)="this.data.weatherStations.toggle(this.map)"
            title="{{ 'observations.layers.weatherStations' | translate }}"
            ngxMousetrapKey="4"
          >
            <i class="ph ph-chart-line" aria-hidden="true"></i>
          </div>
        </div>
      }

      <!-- !parameter-switch -->
      @if (this.data.weatherStations.show && layout === "map") {
        <div class="parameter-switch">
          <button
            type="button"
            class="obs-button invisible"
            (click)="togglePreviousWeatherStationParameter()"
            ngxMousetrapKey="alt+up"
          >
            <i class="ph-bold ph-caret-up"></i>
          </button>
          <button
            type="button"
            class="obs-button invisible"
            (click)="toggleNextWeatherStationParameter()"
            ngxMousetrapKey="alt+down"
          >
            <i class="ph-bold ph-caret-down"></i>
          </button>
          @for (parameter of markerWeatherStationService.allParameters; track parameter) {
            <div
              class="obs-button"
              [class.is-active]="markerWeatherStationService.weatherStationLabel === parameter"
              (click)="selectParameter(parameter)"
              title="{{ markerWeatherStationService.toLabelKey(parameter) | translate }}"
            >
              <i [class]="markerWeatherStationService.toIcon(parameter)" aria-hidden="true"></i>
            </div>
          }
        </div>
      }
      <!-- /parameter-switch -->
    </div>
    <!-- /layout-left -->

    <!-- !layout-right -->
    @if (layoutFilters) {
      <div class="layout-right">
        <!-- !toolset -->
        <div class="toolset">
          <!-- !toolset-header -->
          <div class="toolset-header">
            <div class="toolset-name">
              {{ "sidebar.observations" | translate }}
            </div>
            <div class="toolset-keydata">
              <div class="keydata">
                <span class="keydata-selected">{{ this.data.observations.filtered.length }}</span>
                /
                <span class="keydata-all">{{ this.data.observations.all.length }}</span>
              </div>
            </div>
          </div>
          <!-- /toolset-header -->
          <!-- !toolset-content -->
          <div class="toolset-content">
            <!-- !toolset-charts -->
            <div class="toolset-charts">
              @for (filterSelection of filter.filterSelectionData; track filterSelection) {
                <app-observation-chart
                  class="chart-container"
                  [filterSelection]="filterSelection"
                  (handleChange)="applyLocalFilter(filterSelection.key !== 'elevation')"
                />
              }
            </div>
            <!-- /toolset-charts -->
            <!-- /toolset-content -->
          </div>
        </div>
        <!-- /toolset -->
      </div>
    }
    <!-- /layout-right -->

    <!-- !layout-switch -->
    <div class="layout-switch">
      @if (layout !== "map") {
        <div (click)="layout = 'map'" class="layout-switch-map obs-button" ngxMousetrapKey="v m">
          <span class="button-icon ph ph-globe-hemisphere-west"></span>
          <span class="button-text d-none d-lg-inline">
            {{ "admin.observations.map" | translate }}
          </span>
        </div>
      }
      @if (layout !== "table") {
        <div (click)="layout = 'table'" class="layout-switch-table obs-button" ngxMousetrapKey="v t">
          <span class="button-icon ph ph-list"></span>
          <span class="button-text d-none d-lg-inline">
            {{ "admin.observations.table" | translate }}
          </span>
        </div>
      }
      @if (layout !== "chart") {
        <div (click)="layout = 'chart'" class="layout-switch-charts obs-button" ngxMousetrapKey="v c">
          <span class="button-icon ph ph-chart-line"></span>
          <span class="button-text d-none d-lg-inline">
            {{ "admin.observations.charts.charts" | translate }}
          </span>
        </div>
      }
      @if (layout !== "gallery") {
        <div (click)="layout = 'gallery'" class="layout-switch-gallery obs-button" ngxMousetrapKey="v g">
          <span class="button-icon ph ph-images"></span>
          <span class="button-text d-none d-lg-inline">
            {{ "admin.observations.gallery" | translate }}
          </span>
        </div>
      }
    </div>
    <!-- /layout-switch -->
  </div>
  <!-- /layout-inner -->
</div>
<!-- /layout-outer -->

<ng-template #observationPopupTemplate>
  <div class="modal-header">
    <div class="modal-title w-50">
      {{ observationPopup?.observation?.$source }}
      <span [style]="{ color: markerService.toMarkerColor(observationPopup?.observation) }">█</span>
      {{ observationPopup?.observation?.locationName }}
    </div>
    <div class="d-inline-block font-weight-normal w-100 text-end mx-3">
      <kbd (click)="changeObservation(-1)" ngxMousetrapKey="left" role="button">←</kbd>
      {{ " " }}
      <kbd (click)="changeObservation(+1)" ngxMousetrapKey="right" role="button">→</kbd>
      {{ " " }}
      @if (observationPopup?.imgUrls?.length && observationPopup.imgIndex > 0) {
        <kbd (click)="observationPopup.imgIndex = observationPopup.imgIndex - 1" ngxMousetrapKey="up" role="button"
          >↑</kbd
        >
      }
      {{ " " }}
      @if (observationPopup?.imgUrls?.length > observationPopup.imgIndex + 1) {
        <kbd (click)="observationPopup.imgIndex = observationPopup.imgIndex + 1" ngxMousetrapKey="down" role="button"
          >↓</kbd
        >
      }
    </div>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalService.hide()"></button>
  </div>
  <div class="modal-body">
    @if (observationPopup) {
      <table class="table table-sm">
        @for (row of observationPopup.table; track row) {
          <tr>
            <th class="pe-3">{{ row.label }}</th>
            <td>
              @if (row.date !== undefined) {
                <span>
                  {{ row.date | date: "full" : undefined : translateService.currentLang }}
                </span>
              }
              @if (row.number !== undefined) {
                <span>{{ row.number | number }}</span>
              }
              @if (row.boolean !== undefined) {
                <span><i [class]="row.boolean ? 'ph ph-check' : 'ph ph-x'"></i></span>
              }
              @if (row.url !== undefined) {
                <span
                  ><a href="{{ row.url }}" rel="noopener" target="_blank">{{ row.url }}</a></span
                >
              }
              @if (row.value !== undefined) {
                <span>{{ row.value }}</span>
              }
              @if (
                row.date === undefined &&
                row.number === undefined &&
                row.boolean === undefined &&
                row.url === undefined &&
                row.value === undefined
              ) {
                <span>&mdash;</span>
              }
            </td>
          </tr>
        }
      </table>
    }
    @if (observationPopup?.iframe) {
      <iframe [src]="observationPopup?.iframe" style="width: 100%; height: 80vh"></iframe>
    }
    @if (observationPopup?.imgUrls) {
      <div style="width: 100%; height: 90vh">
        <img
          [src]="observationPopup?.imgUrls[observationPopup?.imgIndex]"
          style="width: 100%; height: 100%; object-fit: contain; object-position: top"
        />
      </div>
    }
  </div>
</ng-template>

<ng-template #observationEditorTemplate>
  <div class="modal-header">
    <span class="modal-title">
      {{ observationEditor.observation?.$source }}
      <span [style]="{ color: markerService.toMarkerColor(observationPopup?.observation) }">█</span>
      {{ observationEditor.observation?.locationName }}
    </span>
    <button type="button" class="btn-close" aria-label="Close" (click)="hideObservationEditor()"></button>
  </div>
  <div class="modal-body">
    @if (observationEditor.observation) {
      <app-observation-editor [observation]="observationEditor.observation"></app-observation-editor>
    }
    <button
      type="button"
      [disabled]="
        !observationEditor.observation?.$allowEdit ||
        observationEditor.saving ||
        !observationEditor.observation?.eventDate
      "
      (click)="saveObservation()"
      class="btn btn-sm btn-primary"
    >
      @if (observationEditor.saving) {
        <i class="ph ph-circle-notch"></i>
      }
      @if (!observationEditor.saving) {
        <i class="ph ph-floppy-disk"></i>
      }
      {{ "observations.button.save" | translate }}
    </button>
    <button
      type="button"
      [disabled]="
        !observationEditor.observation?.$allowEdit || observationEditor.saving || !observationEditor.observation?.$id
      "
      (click)="deleteObservation()"
      class="btn btn-sm btn-danger"
    >
      @if (observationEditor.saving) {
        <i class="ph ph-circle-notch"></i>
      }
      @if (!observationEditor.saving) {
        <i class="ph ph-trash"></i>
      }
      {{ "observations.button.delete" | translate }}
    </button>
    <button type="button" (click)="discardObservation()" class="btn btn-sm btn-secondary">
      <i class="ph ph-x"></i>
      {{ "observations.button.discard" | translate }}
    </button>
    @for (message of observationEditor.messages; track message) {
      <div class="alert alert-danger alert-dismissible my-2" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    }
  </div>
</ng-template>
