<div class="app flex-row align-items-center" [style]="getStyle()">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="mb-0">
          <form>
            <div class="card p-5">
              <div class="card-body">
                <h1>{{ "login.title" | translate }}</h1>
                <p class="text-body-secondary">{{ "login.text" | translate }}</p>
                <div class="input-group mb-1">
                  <span class="input-group-text"><i class="ph-bold ph-user"></i></span>
                  <input
                    [disabled]="loading"
                    type="text"
                    autocomplete="username"
                    class="form-control"
                    name="username"
                    placeholder="{{ 'login.placeholder.username' | translate }}"
                    [(ngModel)]="username"
                  />
                </div>
                <div class="input-group mb-2">
                  <span class="input-group-text"><i class="ph-bold ph-lock"></i></span>
                  <input
                    [disabled]="loading"
                    autocomplete="current-password"
                    type="password"
                    class="form-control"
                    name="password"
                    placeholder="{{ 'login.placeholder.password' | translate }}"
                    [(ngModel)]="password"
                  />
                </div>
                <div class="row">
                  <div *ngIf="!loading" class="col-6">
                    <button type="submit" class="btn btn-primary" (click)="login()">
                      {{ "login.button" | translate }}
                    </button>
                  </div>
                  <div *ngIf="loading" class="col-6">
                    <button type="button" disabled class="btn btn-primary px-3">
                      <i class="ph ph-circle-notch"></i>
                    </button>
                  </div>
                </div>
                <hr class="bg-secondary" />
                <a href="{{ constantsService.gitlab }}" rel="noopener" target="_blank">
                  <small>{{ constantsService.release }}</small>
                </a>
                ∥
                <a *ngIf="serverInfo" href="{{ serverInfo.apiUrl }}" rel="noopener" target="_blank">
                  <small>albina-server&#64;{{ serverInfo.version }}</small>
                </a>
                <details>
                  <summary>Open-source Licenses</summary>
                  <li *ngFor="let dependency of constantsService.dependencies" class="list-inline-item">
                    <a [href]="dependency.homepage" target="_blank" rel="external noopener noreferrer">{{
                      dependency.name
                    }}</a>
                    {{ dependency.version }}
                  </li>
                </details>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #errorTemplate>
  <div class="modal-body text-center">
    <p>{{ "login.errorDialog.message" | translate }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="errorModalConfirm()">
      {{ "login.errorDialog.accept" | translate }}
    </button>
  </div>
</ng-template>
