<nav class="navbar navbar-expand-lg" [style]="getStyle()">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      (click)="isNavCollapsed = !isNavCollapsed"
      [attr.aria-expanded]="!isNavCollapsed"
      aria-controls="navbarContent"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="#">
      <img class="navbar__logo" alt="Avalanche.report Logo" src="{{ environment.logoPath }}">
    </a>

    <div [collapse]="isNavCollapsed" class="navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngIf="authenticationService.isUserLoggedIn()" class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/bulletins']">{{
            "sidebar.bulletins" | translate
          }}</a>
        </li>
        <li *ngIf="settingsService.getShowObservations() && environment.isEuregio && authenticationService.isUserLoggedIn()" class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/observations']">{{
            "sidebar.observations" | translate
          }}</a>
        </li>
        <li *ngIf="environment.isEuregio && authenticationService.isUserLoggedIn()" class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/modelling/geosphere']">
            GeoSphere
          </a>
        </li>
        <li *ngIf="environment.isEuregio" class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/modelling/snowpack']">
            SNOWPACK
          </a>
        </li>
        <li *ngIf="environment.isEuregio" class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/modelling/awesome']">
            AWSOME
          </a>
        </li>
      </ul>
    </div>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown" dropdown (onToggle)="toggled()">
        <a
          class="nav-link dropdown-toggle navbar__lang-toggle"
          data-toggle="dropdown"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          dropdownToggle
        >
          {{ settingsService.getLangString() }}
        </a>
        <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
          <li>
            <h6 class="dropdown-header">{{ "menu.language" | translate }}</h6>
          </li>
          <li>
            <a class="dropdown-item" (click)="settingsService.setLangString('it')"
              >{{ "menu.it" | translate }}<i *ngIf="settingsService.getLangString() === 'it'" class="ph ph-check"></i
            ></a>
          </li>
          <li>
            <a class="dropdown-item" (click)="settingsService.setLangString('de')"
              >{{ "menu.de" | translate }}<i *ngIf="settingsService.getLangString() === 'de'" class="ph ph-check"></i
            ></a>
          </li>
          <li>
            <a class="dropdown-item" (click)="settingsService.setLangString('en')"
              >{{ "menu.en" | translate }}<i *ngIf="settingsService.getLangString() === 'en'" class="ph ph-check"></i
            ></a>
          </li>
          <li>
            <a class="dropdown-item" (click)="settingsService.setLangString('fr')"
              >{{ "menu.fr" | translate }}<i *ngIf="settingsService.getLangString() === 'fr'" class="ph ph-check"></i
            ></a>
          </li>
          <li>
            <a class="dropdown-item" (click)="settingsService.setLangString('es')"
              >{{ "menu.es" | translate }}<i *ngIf="settingsService.getLangString() === 'es'" class="ph ph-check"></i
            ></a>
          </li>
          <li>
            <a class="dropdown-item" (click)="settingsService.setLangString('ca')"
              >{{ "menu.ca" | translate }}<i *ngIf="settingsService.getLangString() === 'ca'" class="ph ph-check"></i
            ></a>
          </li>
          <li>
            <a class="dropdown-item" (click)="settingsService.setLangString('oc')"
              >{{ "menu.oc" | translate }}<i *ngIf="settingsService.getLangString() === 'oc'" class="ph ph-check"></i
            ></a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown" dropdown (onToggle)="toggled()">
        <a
          class="nav-link dropdown-toggle user-avatar"
          data-toggle="dropdown"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          dropdownToggle
        >
          <img *ngIf="authenticationService.getUserImageSanitized()" [src]="authenticationService.getUserImageSanitized()" class="user-avatar__img" />
          {{ authenticationService.getUsername() }}
        </a>
        <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
          <li>
            <h6 class="dropdown-header">{{ "menu.region" | translate }}</h6>
          </li>

          <li *ngFor="let region of authenticationService.getCurrentAuthorRegions()">
            <a class="dropdown-item" (click)="changeRegion(region)"
              ><i class="ph ph-globe"></i>{{ regionsService.getRegionName(region.id)
              }}<i *ngIf="authenticationService.getActiveRegionId() === region.id" class="ph ph-check"></i
            ></a>
          </li>

          <li><hr class="dropdown-divider" /></li>

          <li>
            <h6 class="dropdown-header">{{ "menu.education" | translate }}</h6>
          </li>
          <li>
            <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/education']"
              ><i class="ph ph-graduation-cap"></i> {{ "menu.education" | translate }}</a
            >
          </li>
          <li><hr class="dropdown-divider" /></li>

          <li>
            <h6 class="dropdown-header">{{ "menu.settings" | translate }}</h6>
          </li>
          <li>
            <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/settings']"
              ><i class="ph ph-gear"></i> {{ "menu.settings" | translate }}</a
            >
          </li>
          <li>
            <a
              *ngIf="authenticationService.isCurrentUserInRole(constantsService.roleAdmin)"
              class="dropdown-item"
              routerLinkActive="active"
              [routerLink]="['/admin']"
              ><i class="ph ph-detective"></i>{{ "menu.admin" | translate }}</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#" routerLink="/pages/login" (click)="logout()"
              ><i class="ph ph-sign-out"></i> {{ "menu.logout" | translate }}</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<div class="app-body">
  <!-- Main content -->
  <main class="main">
    <router-outlet></router-outlet>
  </main>
</div>

<ng-template #changeRegionTemplate>
  <div class="modal-body text-center">
    <p>{{ "changeRegionDialog.message" | translate }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="changeRegionModalConfirm()">
      {{ "changeRegionDialog.accept" | translate }}
    </button>
    <button type="button" class="btn btn-default" (click)="changeRegionModalDecline()">
      {{ "changeRegionDialog.reject" | translate }}
    </button>
  </div>
</ng-template>
