<nav class="navbar navbar-expand-lg" [style]="getStyle()">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      (click)="isNavCollapsed = !isNavCollapsed"
      [attr.aria-expanded]="!isNavCollapsed"
      aria-controls="navbarContent"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="#">
      <img class="navbar__logo" alt="Avalanche.report Logo" src="{{ environment.logoPath }}">
    </a>

    <div [collapse]="isNavCollapsed" class="navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/bulletins']">{{
            "sidebar.bulletins" | translate
          }}</a>
        </li>
        <li *ngIf="settingsService.getShowObservations() && authenticationService.isEuregio()" class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/observations']">{{
            "sidebar.observations" | translate
          }}</a>
        </li>
        <li *ngIf="authenticationService.isEuregio()" class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/modelling']">{{
            "sidebar.modelling" | translate
          }}</a>
        </li>
      </ul>
    </div>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown" dropdown (onToggle)="toggled()" style="padding-right: 10px">
        <a
          class="nav-link dropdown-toggle navbar__lang-toggle"
          data-toggle="dropdown"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          dropdownToggle
        >
          {{ settingsService.getLangString() }}
        </a>
        <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
          <li>
            <h6 class="dropdown-header">{{ "menu.language" | translate }}</h6>
          </li>
          <li>
            <a class="dropdown-item" (click)="settingsService.setLangString('it')"
              >{{ "menu.it" | translate }}<i *ngIf="settingsService.getLangString() === 'it'" class="ph ph-check"></i
            ></a>
          </li>
          <li>
            <a class="dropdown-item" (click)="settingsService.setLangString('de')"
              >{{ "menu.de" | translate }}<i *ngIf="settingsService.getLangString() === 'de'" class="ph ph-check"></i
            ></a>
          </li>
          <li>
            <a class="dropdown-item" (click)="settingsService.setLangString('en')"
              >{{ "menu.en" | translate }}<i *ngIf="settingsService.getLangString() === 'en'" class="ph ph-check"></i
            ></a>
          </li>
          <li>
            <a class="dropdown-item" (click)="settingsService.setLangString('fr')"
              >{{ "menu.fr" | translate }}<i *ngIf="settingsService.getLangString() === 'fr'" class="ph ph-check"></i
            ></a>
          </li>
          <li>
            <a class="dropdown-item" (click)="settingsService.setLangString('es')"
              >{{ "menu.es" | translate }}<i *ngIf="settingsService.getLangString() === 'es'" class="ph ph-check"></i
            ></a>
          </li>
          <li>
            <a class="dropdown-item" (click)="settingsService.setLangString('ca')"
              >{{ "menu.ca" | translate }}<i *ngIf="settingsService.getLangString() === 'ca'" class="ph ph-check"></i
            ></a>
          </li>
          <li>
            <a class="dropdown-item" (click)="settingsService.setLangString('oc')"
              >{{ "menu.oc" | translate }}<i *ngIf="settingsService.getLangString() === 'oc'" class="ph ph-check"></i
            ></a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown" dropdown (onToggle)="toggled()" style="padding-right: 10px">
        <a
          class="nav-link dropdown-toggle"
          data-toggle="dropdown"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          dropdownToggle
        >
          <img src="{{ authenticationService.getUserImageSanitized() }}" class="img-avatar" />
          <span class="hidden-md-down">{{ authenticationService.getUsername() }}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
          <li>
            <h6 class="dropdown-header">{{ "menu.region" | translate }}</h6>
          </li>

          <li *ngFor="let region of authenticationService.getCurrentAuthorRegions()">
            <a class="dropdown-item" (click)="changeRegion(region)"
              ><i class="ph ph-globe"></i>{{ regionsService.getRegionName(region.id)
              }}<i *ngIf="authenticationService.getActiveRegionId() === region.id" class="ph ph-check"></i
            ></a>
          </li>

          <li><hr class="dropdown-divider" /></li>

          <li>
            <h6 class="dropdown-header">{{ "menu.education" | translate }}</h6>
          </li>
          <li>
            <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/education']"
              ><i class="ph ph-graduation-cap"></i> {{ "menu.education" | translate }}</a
            >
          </li>
          <li><hr class="dropdown-divider" /></li>

          <li>
            <h6 class="dropdown-header">{{ "menu.settings" | translate }}</h6>
          </li>
          <li>
            <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/settings']"
              ><i class="ph ph-gear"></i> {{ "menu.settings" | translate }}</a
            >
          </li>
          <li>
            <a
              *ngIf="authenticationService.isCurrentUserInRole(constantsService.roleAdmin)"
              class="dropdown-item"
              routerLinkActive="active"
              [routerLink]="['/admin']"
              ><i class="ph ph-detective"></i>{{ "menu.admin" | translate }}</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#" routerLink="/pages/login" (click)="logout()"
              ><i class="ph ph-sign-out"></i> {{ "menu.logout" | translate }}</a
            >
          </li>
        </ul>
      </li>
      <li *ngIf="showChat && authenticationService.isEuregio()" class="nav-item">
        <a
          *ngIf="authenticationService.getActiveRegionId() && authenticationService.getActiveRegionId() !== undefined"
          (click)="toggleChat()"
          class="nav-link"
          >Chat <i class="ph-bold ph-chats-circle"></i
          ><span *ngIf="showBadge()" class="badge badge-pill bg-danger">{{
            chatService.getNewMessageCountSum(authenticationService.getActiveRegionId())
          }}</span></a
        >
      </li>
    </ul>
  </div>
</nav>

<div class="app-body">
  <!-- Main content -->
  <main class="main">
    <router-outlet></router-outlet>
  </main>

  <!-- Sidebar right -->
  <aside
    class="aside-menu chat"
    style="overflow: auto"
    [ngStyle]="{'display': isChatVisible ? 'block' : 'none'}"
    *ngIf="
      authenticationService.getActiveRegionId() &&
      authenticationService.getActiveRegionId() !== undefined &&
      authenticationService.getActiveRegionId() !== constantsService.codeAran
    "
  >
    <!--
    <div *ngIf="chatService.getNumberOfActiveUsers() > 0" class="p-1">
      <div class="message font-weight-bold text-muted small">{{ "chat.activeUsers" | translate }}</div>
      <div *ngFor="let user of chatService.getActiveUsers()" class="message">
        <div>
          <div>
            <small>{{ user }}</small>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="chatService.getNumberOfActiveUsers() == 0" class="p-1">
      <div class="message font-weight-bold text-muted small">{{ "chat.activeUsers" | translate }}</div>
      <div class="message">
        <div>
          <div>
            <small>-</small>
          </div>
        </div>
      </div>
    </div>
    <hr style="margin: 0px">
-->
    <tabset>
      <!-- ALL -->
      <tab *ngIf="authenticationService.getActiveRegionId() && authenticationService.getActiveRegionId() !== undefined">
        <ng-template tabHeading
          >{{ "chat.all" | translate
          }}<span *ngIf="showBadge()" class="badge badge-pill badge-danger">{{
            chatService.getNewMessageCount()
          }}</span></ng-template
        >
        <div class="chat-container">
          <div class="chat__message-history">
            <div class="chat__message" *ngFor="let chatMessage of chatService.getChatMessages()">
              <div class="chat__message-text">{{ chatMessage.getText() }}</div>
              <div class="chat__message-meta">
                <span class="chat__message-author">{{ chatMessage.getUsername() }}</span>
                <time class="chat__message-timestamp">{{ chatMessage.getTime() | localizedDate : "hh:mm dd/MM" }}</time>
              </div>
            </div>
          </div>
          <div class="chat__message-box">
            <textarea
              type="text"
              rows="2"
              class="form-control"
              id="chatMessage"
              placeholder="{{ 'chat.placeholder' | translate }}"
              [(ngModel)]="message"
              (click)="focusChat($event)"
            ></textarea>
            <button type="button" class="btn btn-primary btn-sm chat__submit-message" (click)="sendChatMessage()">
              <i class="ph ph-paper-plane-tilt"></i>
              <span>{{ "chat.send" | translate }}</span>
            </button>
          </div>
        </div>
      </tab>
      <!-- TIROL -->
      <tab
        *ngIf="
          authenticationService.getActiveRegionId() === constantsService.codeSouthTyrol ||
          authenticationService.getActiveRegionId() === constantsService.codeTrentino
        "
      >
        <ng-template tabHeading
          >{{ "chat.AT-07" | translate
          }}<span *ngIf="showBadge(constantsService.codeTyrol)" class="badge badge-pill badge-danger">{{
            chatService.getNewMessageCount(constantsService.codeTyrol)
          }}</span></ng-template
        >
        <!--        <div *ngIf="chatService.getNumberOfActiveUsersForRegion(constantsService.codeTyrol) > 0" class="p-1">
          <div class="message font-weight-bold text-muted small">{{ "chat.activeUsers" | translate }}</div>
          <div *ngFor="let user of chatService.getActiveUsersForRegion(constantsService.codeTyrol)" class="message">
            <div>
              <div>
                <small>{{ user }}</small>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="chatService.getNumberOfActiveUsersForRegion(constantsService.codeTyrol) == 0" class="p-1">
          <div class="message font-weight-bold text-muted small">{{ "chat.activeUsers" | translate }}</div>
          <div class="message">
            <div>
              <div>
                <small>-</small>
              </div>
            </div>
          </div>
        </div>
        <hr style="margin: 0px"> -->
        <div class="chat-container">
          <div class="chat__message-history">
            <div
              class="chat__message"
              *ngFor="let chatMessage of chatService.getChatMessages(constantsService.codeTyrol)"
            >
              <div class="chat__message-text">{{ chatMessage.getText() }}</div>
              <div class="chat__message-meta">
                <span class="chat__message-author">{{ chatMessage.getUsername() }}</span>
                <time class="chat__message-timestamp">{{ chatMessage.getTime() | localizedDate : "hh:mm dd/MM" }}</time>
              </div>
            </div>
          </div>
          <div class="chat__message-box">
            <textarea
              type="text"
              rows="2"
              class="form-control"
              id="chatMessage"
              placeholder="{{ 'chat.placeholder' | translate }}"
              [(ngModel)]="message"
              (click)="focusChat($event, constantsService.codeTyrol)"
            ></textarea>
            <button
              type="button"
              class="btn btn-primary btn-sm chat__submit-message"
              (click)="sendChatMessage(constantsService.codeTyrol)"
            >
              <i class="ph ph-paper-plane-tilt"></i>
              <span>{{ "chat.send" | translate }}</span>
            </button>
          </div>
        </div>
      </tab>
      <!-- SOUTH TYROL -->
      <tab
        *ngIf="
          authenticationService.getActiveRegionId() === constantsService.codeTyrol ||
          authenticationService.getActiveRegionId() === constantsService.codeTrentino
        "
      >
        <ng-template tabHeading
          >{{ "chat.IT-32-BZ" | translate
          }}<span *ngIf="showBadge(constantsService.codeSouthTyrol)" class="badge badge-pill badge-danger">{{
            chatService.getNewMessageCount(constantsService.codeSouthTyrol)
          }}</span></ng-template
        >
        <!--        <div *ngIf="chatService.getNumberOfActiveUsersForRegion(constantsService.codeSouthTyrol) > 0" class="p-1">
          <div class="message font-weight-bold text-muted small">{{ "chat.activeUsers" | translate }}</div>
          <div *ngFor="let user of chatService.getActiveUsersForRegion(constantsService.codeSouthTyrol)" class="message">
            <div>
              <div>
                <small>{{ user }}</small>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="chatService.getNumberOfActiveUsersForRegion(constantsService.codeSouthTyrol) == 0" class="p-1">
          <div class="message font-weight-bold text-muted small">{{ "chat.activeUsers" | translate }}</div>
          <div class="message">
            <div>
              <div>
                <small>-</small>
              </div>
            </div>
          </div>
        </div>
        <hr style="margin: 0px"> -->
        <div class="chat-container">
          <div class="chat__message-history">
            <div
              class="chat__message"
              *ngFor="let chatMessage of chatService.getChatMessages(constantsService.codeSouthTyrol)"
            >
              <div class="chat__message-text">{{ chatMessage.getText() }}</div>
              <div class="chat__message-meta">
                <span class="chat__message-author">{{ chatMessage.getUsername() }}</span>
                <time class="chat__message-timestamp">{{ chatMessage.getTime() | localizedDate : "hh:mm dd/MM" }}</time>
              </div>
            </div>
          </div>
          <div class="chat__message-box">
            <textarea
              type="text"
              rows="2"
              class="form-control"
              id="chatMessage"
              placeholder="{{ 'chat.placeholder' | translate }}"
              [(ngModel)]="message"
              (click)="focusChat($event, constantsService.codeSouthTyrol)"
            ></textarea>
            <button
              type="button"
              class="btn btn-primary btn-sm chat__submit-message"
              (click)="sendChatMessage(constantsService.codeSouthTyrol)"
            >
              <i class="ph ph-paper-plane-tilt"></i>
              <span>{{ "chat.send" | translate }}</span>
            </button>
          </div>
        </div>
      </tab>
      <!-- TRENTINO -->
      <tab
        *ngIf="
          authenticationService.getActiveRegionId() === constantsService.codeTyrol ||
          authenticationService.getActiveRegionId() === constantsService.codeSouthTyrol
        "
      >
        <ng-template tabHeading
          >{{ "chat.IT-32-TN" | translate
          }}<span *ngIf="showBadge(constantsService.codeTrentino)" class="badge badge-pill badge-danger">{{
            chatService.getNewMessageCount(constantsService.codeTrentino)
          }}</span></ng-template
        >
        <!--        <div *ngIf="chatService.getNumberOfActiveUsersForRegion(constantsService.codeTrentino) > 0" class="p-1">
          <div class="message font-weight-bold text-muted small">{{ "chat.activeUsers" | translate }}</div>
          <div *ngFor="let user of chatService.getActiveUsersForRegion(constantsService.codeTrentino)" class="message">
            <div>
              <div>
                <small>{{ user }}</small>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="chatService.getNumberOfActiveUsersForRegion(constantsService.codeTrentino) == 0" class="p-1">
          <div class="message font-weight-bold text-muted small">{{ "chat.activeUsers" | translate }}</div>
          <div class="message">
            <div>
              <div>
                <small>-</small>
              </div>
            </div>
          </div>
        </div>
        <hr style="margin: 0px"> -->
        <div class="chat-container">
          <div class="chat__message-history">
            <div
              class="chat__message"
              *ngFor="let chatMessage of chatService.getChatMessages(constantsService.codeTrentino)"
            >
              <div class="chat__message-text">{{ chatMessage.getText() }}</div>
              <div class="chat__message-meta">
                <span class="chat__message-author">{{ chatMessage.getUsername() }}</span>
                <time class="chat__message-timestamp">{{ chatMessage.getTime() | localizedDate : "hh:mm dd/MM" }}</time>
              </div>
            </div>
          </div>
          <div class="chat__message-box">
            <textarea
              type="text"
              rows="2"
              class="form-control"
              id="chatMessage"
              placeholder="{{ 'chat.placeholder' | translate }}"
              [(ngModel)]="message"
              (click)="focusChat($event, constantsService.codeTrentino)"
            ></textarea>
            <button
              type="button"
              class="btn btn-primary btn-sm chat__submit-message"
              (click)="sendChatMessage(constantsService.codeTrentino)"
            >
              <i class="ph ph-paper-plane-tilt"></i>
              <span>{{ "chat.send" | translate }}</span>
            </button>
          </div>
        </div>
      </tab>
    </tabset>
  </aside>
</div>

<ng-template #changeRegionTemplate>
  <div class="modal-body text-center">
    <p>{{ "changeRegionDialog.message" | translate }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="changeRegionModalConfirm()">
      {{ "changeRegionDialog.accept" | translate }}
    </button>
    <button type="button" class="btn btn-default" (click)="changeRegionModalDecline()">
      {{ "changeRegionDialog.reject" | translate }}
    </button>
  </div>
</ng-template>
