workflow:
  # https://docs.gitlab.com/ee/ci/yaml/#workflowrules
  rules:
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH

variables:
  GIT_SUBMODULE_STRATEGY: recursive

.build:
  stage: build
  image: node:lts
  cache:
    key:
      files:
        - yarn.lock
    paths:
      - .yarn-cache/
  variables:
    NODE_OPTIONS: "--max-old-space-size=4096"
    YARN_CACHE_FOLDER: .yarn-cache/
  before_script:
    - corepack enable
    - yarn install --immutable
    - npm --no-git-tag-version version $(git describe)

lint:
  extends: .build
  script:
    - yarn lint

build:
  extends: .build
  script:
    - yarn build
    - mv dist/browser/* dist/
    - rmdir dist/browser/
  artifacts:
    paths:
      - dist/

.envsubst:
  stage: build
  image: alpine:latest
  needs:
    - build
  before_script:
    - apk add gettext
  script:
    - envsubst < dist/assets/env.template.js > dist/assets/env.js
    - cat dist/assets/env.js
  artifacts:
    paths:
      - dist/

.deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add openssh-client rsync
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - mkdir -p ~/.ssh && chmod 700 ~/.ssh
    - echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
  script:
    - rsync -e 'ssh -p2201' --compress --delete --recursive --verbose dist/ $SFTP_SERVER

build:development:
  extends: .envsubst
  variables:
    API_BASE_URL: "https://admin.avalanche.report/albina_dev/api/"
    TEXTCAT_URL: "https://admin.avalanche.report/textcat-ng-dev/"
    HEADER_BG_COLOR: "#f4ea12"
    FAVICON_PATH: "assets/img/admin-favicon-dev.ico"
    LOGO_PATH: "assets/img/admin-logo-dev.svg"
    SENTRY_DSN: "https://glet_31733ac62aeee70b77494f532cb4f898@observe.gitlab.com:443/errortracking/api/v1/projects/2700759"
  environment:
    name: dev

deploy:development:
  extends: .deploy
  needs:
    - build:development
  environment:
    name: dev
  rules:
    - if: "$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH"
    - when: manual

build:beta:
  extends: .envsubst
  variables:
    API_BASE_URL: "https://admin.avalanche.report/albina/api/"
    TEXTCAT_URL: "https://admin.avalanche.report/textcat-ng/"
    HEADER_BG_COLOR: "#839194"
    FAVICON_PATH: "assets/img/admin-favicon-beta.ico"
    LOGO_PATH: "assets/img/admin-logo-beta.svg"
    SENTRY_DSN: "https://glet_31733ac62aeee70b77494f532cb4f898@observe.gitlab.com:443/errortracking/api/v1/projects/2700759"
  environment:
    name: beta

deploy:beta:
  extends: .deploy
  needs:
    - build:beta
  environment:
    name: beta
  rules:
    - if: "$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH"
    - when: manual

build:production:
  extends: .envsubst
  variables:
    API_BASE_URL: "https://admin.avalanche.report/albina/api/"
    TEXTCAT_URL: "https://admin.avalanche.report/textcat-ng/"
    HEADER_BG_COLOR: "#ffffff"
    FAVICON_PATH: "assets/img/admin-favicon.ico"
    LOGO_PATH: "assets/img/admin-logo.svg"
    SENTRY_DSN: "https://glet_31733ac62aeee70b77494f532cb4f898@observe.gitlab.com:443/errortracking/api/v1/projects/2700759"
  environment:
    name: production

deploy:production:
  extends: .deploy
  needs:
    - build:production
  environment:
    name: production
  rules:
    - if: "$CI_COMMIT_TAG"
      when: manual

build:aran:
  extends: .envsubst
  environment:
    name: aran
  variables:
    API_BASE_URL: "https://api.lauegi.report/api/"
    TEXTCAT_URL: "https://admin.lauegi.report/textcat-ng/"
    HEADER_BG_COLOR: "#ffffff"

build:docker:
  extends: .envsubst
  environment:
    name: docker

build:observations-api:
  stage: build
  image:
    name: oven/bun:latest
  script:
    - bun --version
    - bun install --no-save --ignore-scripts
    - cd observations-api/
    - bun install --no-save --ignore-scripts
    - bun run build
  environment:
    name: observations-api
  artifacts:
    paths:
      - observations-api/

deploy:observations-api:
  extends: .deploy
  needs:
    - build:observations-api
  environment:
    name: observations-api
  script:
    - rsync -e 'ssh -p2201' --compress --delete --exclude=private.foto-webcam.eu.json --recursive --verbose observations-api/ $SFTP_SERVER
  rules:
    - when: manual
