stages:
  - build
  - deploy
  - playwright

workflow:
  # https://docs.gitlab.com/ee/ci/yaml/#workflowrules
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never
    - if: $CI_COMMIT_BRANCH

variables:
  GIT_SUBMODULE_STRATEGY: recursive

.build:
  stage: build
  image: node:lts
  before_script:
    - corepack enable
    - pnpm install --frozen-lockfile
    - npm --no-git-tag-version version $(git describe --tags)

lint:
  extends: .build
  script:
    - pnpm lint

build:
  extends: .build
  script:
    - pnpm build
  artifacts:
    name: ${CI_PROJECT_NAME}-${CI_COMMIT_SHORT_SHA}
    paths:
      - dist/

.envsubst:
  stage: build
  image: alpine:latest
  needs:
    - build
  before_script:
    - apk add gettext
  script:
    - envsubst < dist/assets/env.template.js > dist/assets/env.js
    - cat dist/assets/env.js
  artifacts:
    name: ${CI_PROJECT_NAME}-${CI_COMMIT_SHORT_SHA}
    paths:
      - dist/

.deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add openssl openssh-client rsync
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - mkdir -p ~/.ssh && chmod 700 ~/.ssh
    - echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
  script:
    - rsync -e 'ssh -p2201' --compress --delete --recursive --verbose dist/ $SFTP_SERVER

build:development:
  extends: .envsubst
  variables:
    INITIAL_URL: ""
    API_BASE_URL: "https://admin.avalanche.report/albina_dev/api/"
    TEXTCAT_URL: "https://admin.avalanche.report/textcat-ng-dev/"
    AWSOME_CONFIG_URL: "https://models.avalanche.report/dcfg/awsome.json"
    HEADER_BG_COLOR: "#f4ea12"
    FAVICON_PATH: "assets/img/admin-favicon-dev.ico"
    LOGO_PATH: "assets/img/admin-logo-dev.svg"
  environment:
    name: dev

deploy:development:
  extends: .deploy
  needs:
    - build:development
  environment:
    name: dev
  rules:
    - if: "$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH"
    - when: manual
      allow_failure: true

build:beta:
  extends: .envsubst
  variables:
    INITIAL_URL: ""
    API_BASE_URL: "https://admin.avalanche.report/albina/api/"
    TEXTCAT_URL: "https://admin.avalanche.report/textcat-ng/"
    AWSOME_CONFIG_URL: "https://models.avalanche.report/dcfg/awsome.json"
    HEADER_BG_COLOR: "#839194"
    FAVICON_PATH: "assets/img/admin-favicon-beta.ico"
    LOGO_PATH: "assets/img/admin-logo-beta.svg"
  environment:
    name: beta

deploy:beta:
  extends: .deploy
  needs:
    - build:beta
  environment:
    name: beta
  rules:
    - if: "$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH"
    - when: manual
      allow_failure: true

build:production:
  extends: .envsubst
  variables:
    INITIAL_URL: ""
    API_BASE_URL: "https://admin.avalanche.report/albina/api/"
    TEXTCAT_URL: "https://admin.avalanche.report/textcat-ng/"
    AWSOME_CONFIG_URL: "https://models.avalanche.report/dcfg/awsome.json"
    HEADER_BG_COLOR: "#ffffff"
    FAVICON_PATH: "assets/img/admin-favicon.ico"
    LOGO_PATH: "assets/img/admin-logo.svg"
  environment:
    name: production

deploy:production:
  extends: .deploy
  needs:
    - build:production
  environment:
    name: production
  rules:
    - if: "$CI_COMMIT_TAG"
      when: manual
      allow_failure: true

build:aran:
  extends: .envsubst
  environment:
    name: aran
  variables:
    INITIAL_URL: ""
    API_BASE_URL: "https://api.lauegi.report/api/"
    TEXTCAT_URL: "https://admin.lauegi.report/textcat-ng/"
    AWSOME_CONFIG_URL: "https://models.avalanche.report/dcfg/awsome.json"
    HEADER_BG_COLOR: "#ffffff"
    FAVICON_PATH: "assets/img/admin-favicon-aran.ico"
    LOGO_PATH: "assets/img/admin-logo-aran.svg"

build:docker:
  extends: .envsubst
  environment:
    name: docker

build:observations-api:
  extends: .build
  script:
    - cd observations-api/
    - corepack enable
    - pnpm install --frozen-lockfile
    - pnpm build
  environment:
    name: observations-api
  artifacts:
    paths:
      - observations-api/

deploy:observations-api:
  extends: .deploy
  needs:
    - build:observations-api
  environment:
    name: observations-api
  script:
    - rsync -e 'ssh -p2201' --compress --delete --exclude=private.foto-webcam.eu.json --recursive --verbose observations-api/ $SFTP_SERVER
  rules:
    - when: manual
      allow_failure: true

.playwright:
  stage: playwright
  image: mcr.microsoft.com/playwright:v1.55.0
  artifacts:
    when: always
    paths:
      - playwright-report/
      - test-results/
    reports:
      junit: test-results/junit-results.xml
  before_script:
    - corepack enable
    - pnpm install --frozen-lockfile
  script:
    - pnpm playwright test

playwright:dev:
  extends: .playwright
  environment:
    name: dev
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - when: manual
      allow_failure: true
  script:
    - pnpm playwright test --project=chromium

playwright:localhost:
  extends: .playwright
  needs: []
  environment:
    name: localhost
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - when: manual
      allow_failure: true
  script:
    - pnpm playwright test --project=chromium # especially webkit is slow -> don't run on merge requests
