@albina-euregio:registry=https://gitlab.com/api/v4/packages/npm/
@eaws:registry=https://gitlab.com/api/v4/packages/npm/
@albina-euregio:registry=https://gitlab.com/api/v4/projects/70517866/packages/npm/
