.navbar {
    z-index: 1050;

    .navbar__logo {
        height: 32px;
        width: auto;
    }

    .navbar__lang-toggle {
        text-transform: uppercase;
    }

    .dropdown-menu {
        position: absolute;
        right: 0;
        left: auto;
    }
}
