// Layout
.create-bulletin {
    display: flex;
    align-items: stretch;
}

// Sidebar
$sidebar-width: 256px;
$sidebar-padding: $space-4;
$sidebar-border: 1px solid $gray-300;

.create-bulletin__sidebar {
    width: $sidebar-width;
    border-right: $sidebar-border;
}

.create-bulletin__sidebar-header {
    padding: $sidebar-padding;
    background: white;
}

.create-bulletin__date {
    display: flex;
    justify-content: space-between;
    margin-bottom: $sidebar-padding;
}

.create-bulletin__current-date {
    margin-bottom: 0;
}

.create-bulleting__days-nav {
    margin-top: auto;
}

// Status
.create-bulletin__status-title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    cursor: pointer;
    i {
        display: none;
    }
    &:hover i {
        display: block;
    }
}

.create-bulletin__bulletin-status {
    margin-top: $sidebar-padding;
    li {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: $space-2 0;
        border-top: $sidebar-border;
        border-bottom: $sidebar-border;
        margin-top: -1px;
    }
}

// Regions list
.create-bulletin__regions {
}
.create-bulletin__region-divider {
    padding: $space-2 $sidebar-padding;
    background: $gray-100;
    border-top: $sidebar-border;
    border-bottom: $sidebar-border;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.region-thumb__actions {
    opacity: 0;
}

.region-thumb {
    padding-top: $sidebar-padding;
    padding-right: $sidebar-padding/2;
    padding-bottom: $sidebar-padding;
    padding-left: $sidebar-padding;
    border-bottom: $sidebar-border;
    background-color: white;
    display: block;
    position: relative;
    color: $black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    &:hover,
    &.region-thumb--active {
        background: $gray-100;
        .region-thumb__actions {
            opacity: 1;
        }
    }
}

// TODO: app-danger-rating-icon
.grid-container {
    display: inline-grid;
    grid-template-columns: 10px 10px;
    grid-template-rows: 10px 10px;
    vertical-align: top;
}