<div class="container bg-white p-4">
  <h1>{{ "incidentReport.incidentReport" | translate }}</h1>

  <details class="border m-2 p-2">
    <summary>{{ "incidentReport.metaInformation" | translate }}</summary>
    <app-zod-schema-form
      [disabled]="disabled()"
      [value]="incidentReport()"
      (valueChange)="incidentReport.set($event)"
      [zodType]="IncidentModels.MetaInformationSchema"
      [labelI18n]="labelI18n"
      [helpI18n]="helpI18n"
    />
  </details>

  <details class="border m-2 p-2">
    <summary>{{ "incidentReport.generalInformation" | translate }}</summary>
    <app-zod-schema-form
      [disabled]="disabled()"
      [value]="incidentReport()"
      (valueChange)="incidentReport.set($event)"
      [zodType]="IncidentModels.GeneralInformationSchema"
      [labelI18n]="labelI18n"
      [helpI18n]="helpI18n"
    />
  </details>

  <details class="border m-2 p-2">
    <summary>{{ "incidentReport.locationInformation" | translate }}</summary>
    <app-zod-schema-form
      [disabled]="disabled()"
      [value]="incidentReport()"
      (valueChange)="incidentReport.set($event)"
      [zodType]="IncidentModels.LocationInformationSchema"
      [labelI18n]="labelI18n"
      [helpI18n]="helpI18n"
    />
  </details>

  @if (incidentReport().personInvolvement === "Yes") {
    <details class="border m-2 p-2">
      <summary>{{ "incidentReport.groupInformation" | translate }}</summary>
      <button class="btn btn-outline btn-success" (click)="newGroupInformation()">+</button>
      <!-- + and - buttons -->
      @for (groupInformation of incidentReport().groupInformation; track groupInformation.anonymousGroupIdentifier) {
        <details class="border m-2 p-2">
          <summary>{{ groupInformation.anonymousGroupIdentifier }}</summary>
          <button class="btn btn-outline btn-danger" (click)="removeGroupInformation($index)">&minus;</button>
          <app-zod-schema-form
            [disabled]="disabled()"
            [value]="groupInformation"
            [zodType]="IncidentModels.GroupInformationSchema"
            [labelI18n]="labelI18n"
            [helpI18n]="helpI18n"
          />
        </details>
      }
    </details>
  }
</div>
