<div class="bulletins animated fadeIn container">
  <div class="mb-3">
    <button (click)="newIncident()" class="btn btn-sm btn-primary px-3">
      <i class="ph ph-plus"></i> {{ "incidentsOverview.button.new" | translate }}
    </button>
  </div>

  <table class="table table-bordered responsive-table">
    <thead class="bulletins-table__header">
      <tr>
        <th>{{ "incidentsOverview.table.date" | translate }}</th>
        <th>{{ "incidentsOverview.table.location" | translate }}</th>
        <th>{{ "incidentsOverview.table.lastChanged" | translate }}</th>
        <th>{{ "incidentsOverview.table.status" | translate }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="bulletins-table__body">
      @for (incident of incidents; track incident.id) {
        <tr class="align-middle">
          <td class="text-center" [attr.data-label]="'incidentsOverview.table.date' | translate">
            @if (incident.dateTime) {
              {{ incident.dateTime | date: "medium" : undefined : translateService.getCurrentLang() }}
            }
          </td>
          <td class="text-center" [attr.data-label]="'incidentsOverview.table.location' | translate">
            {{ incident.location }}
          </td>
          <td class="text-center" [attr.data-label]="'incidentsOverview.table.lastChanged' | translate">
            {{ incident.updatedAt | date: "medium" : undefined : translateService.getCurrentLang() }}
          </td>
          <td class="text-center" [attr.data-label]="'incidentsOverview.table.status' | translate">
            @if (incident.reportStatus) {
              <span class="badge {{ statusClass(incident.reportStatus) }}">
                {{ "reportStatus." + incident.reportStatus | translate }}
              </span>
            }
          </td>
          <td class="text-center">
            <button
              type="button"
              class="btn btn-secondary btn-icon"
              (click)="openIncident(incident.id)"
              title="{{ 'incidentsOverview.tooltip.edit' | translate }}"
            >
              <i class="ph ph-pencil-line"></i>
            </button>
            <button
              type="button"
              class="btn btn-secondary btn-icon ms-1"
              (click)="deleteIncident(incident)"
              title="{{ 'incidentsOverview.tooltip.delete' | translate }}"
            >
              <i class="ph ph-trash"></i>
            </button>
          </td>
        </tr>
      } @empty {
        <tr>
          <td colspan="5" class="text-center text-muted">{{ "incidentsOverview.empty" | translate }}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
