<div class="avalanche-problem-container">
  <div class="form-group">
    <label class="form-label" for="">{{ "bulletins.create.label.avalancheProblems" | translate }}</label>
    <div *ngIf="!disabled">
      <button type="button" class="btn btn-outline-primary btn-sm" (click)="showDecisionTreeDialog()">
        {{ "bulletins.create.decisionTree.decisionTree" | translate }}
      </button>
      <a class="btn btn-link" href="{{ 'bulletins.create.decisionTree.feedbackURL' | translate }}" target="_blank"
        ><small>{{ "bulletins.create.decisionTree.feedback" | translate }}</small></a
      >
    </div>
    <div class="avalanche-problem-detail__problem-icons">
      <app-avalanche-problem-icons
        *ngFor="let problem of avalancheProblems"
        [value]="problem"
        (click)="selectAvalancheProblem(problem)"
        class="avalanche-problem-detail__problem-icon"
        [class.is-disabled]="!isAvalancheProblem(problem)"
      />
    </div>
  </div>

  <div class="form-group row">
    <label class="form-label" for="">{{ "bulletins.create.label.avalancheType" | translate }}</label>
    <div class="btn-group">
      <!-- SLAB -->
      <button
        [disabled]="disabled || isAvalancheProblem(avalancheProblemEnum.gliding_snow)"
        type="reset"
        class="btn btn-sm"
        [ngClass]="isAvalancheType(avalancheTypeEnum.slab) ? 'btn-dark' : 'btn-outline-secondary'"
        (click)="setAvalancheType($event, isAvalancheType(avalancheTypeEnum.slab) ? undefined : avalancheTypeEnum.slab)"
        data-toggle="tooltip"
        title="{{ 'bulletins.create.tooltip.avalancheType.slab' | translate }}"
      >
        <span>{{ "bulletins.create.tooltip.avalancheType.slab" | translate }}</span>
      </button>

      <!-- LOOSE -->
      <button
        [disabled]="
          disabled ||
          isAvalancheProblem(avalancheProblemEnum.gliding_snow) ||
          isAvalancheProblem(avalancheProblemEnum.persistent_weak_layers) ||
          isAvalancheProblem(avalancheProblemEnum.wind_slab)
        "
        type="reset"
        class="btn btn-sm"
        [ngClass]="isAvalancheType(avalancheTypeEnum.loose) ? 'btn-dark' : 'btn-outline-secondary'"
        (click)="
          setAvalancheType($event, isAvalancheType(avalancheTypeEnum.loose) ? undefined : avalancheTypeEnum.loose)
        "
        data-toggle="tooltip"
        title="{{ 'bulletins.create.tooltip.avalancheType.loose' | translate }}"
      >
        <span>{{ "bulletins.create.tooltip.avalancheType.loose" | translate }}</span>
      </button>

      <!-- GLIDE -->
      <button
        [disabled]="disabled || !isAvalancheProblem(avalancheProblemEnum.gliding_snow)"
        type="reset"
        class="btn btn-sm"
        [ngClass]="isAvalancheType(avalancheTypeEnum.glide) ? 'btn-dark' : 'btn-outline-secondary'"
        (click)="
          setAvalancheType($event, isAvalancheType(avalancheTypeEnum.glide) ? undefined : avalancheTypeEnum.glide)
        "
        data-toggle="tooltip"
        title="{{ 'bulletins.create.tooltip.avalancheType.glide' | translate }}"
      >
        <span>{{ "bulletins.create.tooltip.avalancheType.glide" | translate }}</span>
      </button>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-5">
      <label class="form-label" for="">{{ "bulletins.create.label.aspects" | translate }}</label>
      <div>
        <app-aspects
          [(aspects)]="avalancheProblemModel.aspects"
          [disabled]="disabled"
          [size]="150"
          (aspectsChange)="changeAspects($event)"
        ></app-aspects>
      </div>
    </div>
    <div class="col-md-7">
      <label class="form-label" for="">{{ "bulletins.create.label.elevation" | translate }}</label>
      <!-- Elevation (high) -->
      <div class="avalanche-problem-detail__elevation">
        <div class="avalanche-problem-detail__elevation-label form-check">
          <input
            id="elevationHighCheckbox"
            [id]="forLabelId('elevationHighCheckbox')"
            type="checkbox"
            class="form-check-input"
            [disabled]="disabled"
            (change)="setUseElevationHigh($event)"
            [(ngModel)]="useElevationHigh"
          />
          <label class="form-label" [attr.for]="forLabelId('elevationHighCheckbox')">{{
            "bulletins.create.label.elevationHigh" | translate
          }}</label>
        </div>
        <div class="avalanche-problem-detail__elevation-inputs">
          <div class="input-group">
            <input
              step="100"
              min="0"
              max="9000"
              id="inputElevationHigh"
              class="form-control"
              size="14"
              type="number"
              name="elevation-input"
              [disabled]="disabled || avalancheProblemModel.treelineHigh || !useElevationHigh"
              [(ngModel)]="localElevationHigh"
              (change)="updateElevationHigh($event)"
            />
            <span class="input-group-text">m</span>
          </div>
          <button
            [disabled]="disabled || !useElevationHigh"
            type="reset"
            class="btn btn-icon"
            [ngClass]="localTreelineHigh ? 'btn-dark' : 'btn-outline-secondary'"
            (click)="treelineHighClicked($event)"
            data-toggle="tooltip"
            title="{{ 'bulletins.create.tooltip.treeline' | translate }}"
          >
            <i class="ph ph-tree-evergreen"></i>
          </button>
        </div>
      </div>

      <!-- Elevation (low) -->
      <div class="avalanche-problem-detail__elevation">
        <div class="form-check avalanche-problem-detail__elevation-label">
          <input
            [id]="forLabelId('elevationLowCheckbox')"
            type="checkbox"
            class="form-check-input"
            [disabled]="disabled"
            (change)="setUseElevationLow($event)"
            [(ngModel)]="useElevationLow"
          />
          <label class="form-label" [attr.for]="forLabelId('elevationLowCheckbox')">{{
            "bulletins.create.label.elevationLow" | translate
          }}</label>
        </div>
        <div class="avalanche-problem-detail__elevation-inputs">
          <div class="input-group">
            <input
              step="100"
              min="0"
              max="9000"
              id="inputElevationLow"
              class="form-control"
              size="14"
              type="number"
              name="elevation-input"
              [disabled]="disabled || avalancheProblemModel.treelineLow || !useElevationLow"
              [(ngModel)]="localElevationLow"
              (change)="updateElevationLow()"
            />
            <span class="input-group-text">m</span>
          </div>
          <button
            [disabled]="disabled || !useElevationLow"
            type="reset"
            class="btn btn-icon"
            [ngClass]="localTreelineLow ? 'btn-dark' : 'btn-outline-secondary'"
            (click)="treelineLowClicked($event)"
            data-toggle="tooltip"
            title="{{ 'bulletins.create.tooltip.treeline' | translate }}"
          >
            <i class="ph ph-tree-evergreen"></i>
          </button>
        </div>
      </div>
      <div>
        <!-- Extend sea level danger up/down -->
        <div
          class="avalanche-problem__elevation-change-danger-rating"
          *ngIf="count === 1 && avalancheProblemModel.hasElevationHigh() && avalancheProblemModel.hasElevationLow()"
        >
          <label class="form-label">{{ "bulletins.create.changeDangerRatingElevation" | translate }}</label>

          <!-- UP Button -->
          <div class="btn-group">
            <button
              [disabled]="disabled"
              type="reset"
              class="btn btn-sm"
              [ngClass]="isDangerRatingDirection(directionEnum.up) ? 'btn-dark' : 'btn-outline-secondary'"
              (click)="
                setDangerRatingDirection(
                  $event,
                  isDangerRatingDirection(directionEnum.up) ? undefined : directionEnum.up
                )
              "
              data-toggle="tooltip"
              title="{{ 'bulletins.create.tooltip.dangerRatingDirectionUp' | translate }}"
            >
              <i class="ph ph-arrow-up-right"></i>
              <span>{{ "bulletins.create.tooltip.dangerRatingDirectionUp" | translate }}</span>
            </button>

            <!-- DOWN Button -->
            <button
              [disabled]="disabled"
              type="reset"
              class="btn btn-sm"
              [ngClass]="isDangerRatingDirection(directionEnum.down) ? 'btn-dark' : 'btn-outline-secondary'"
              (click)="
                setDangerRatingDirection(
                  $event,
                  isDangerRatingDirection(directionEnum.down) ? undefined : directionEnum.down
                )
              "
              data-toggle="tooltip"
              title="{{ 'bulletins.create.tooltip.dangerRatingDirectionDown' | translate }}"
            >
              <i class="ph ph-arrow-down-right"></i>
              <span>{{ "bulletins.create.tooltip.dangerRatingDirectionDown" | translate }}</span>
            </button>
          </div>
          <!-- End of btn-group -->
        </div>
        <!-- End of Extend sea level danger up/down  -->
      </div>
    </div>
  </div>
  <div class="form-group">
    <app-matrix-parameter
      [(bulletin)]="bulletin"
      [(bulletinDaytimeDescription)]="bulletinDaytimeDescription"
      [(matrixInformation)]="avalancheProblemModel.matrixInformation"
      [disabled]="disabled"
      [count]="count"
      [afternoon]="afternoon"
      (changeMatrixEvent)="changeMatrix($event)"
    ></app-matrix-parameter>
  </div>
  <div *ngIf="authenticationService.getActiveRegion().showMatrix" class="form-group">
    <app-matrix
      [(bulletin)]="bulletin"
      [(bulletinDaytimeDescription)]="bulletinDaytimeDescription"
      [(matrixInformation)]="avalancheProblemModel.matrixInformation"
      [snowpackStability]="avalancheProblemModel.matrixInformation.snowpackStability"
      [frequency]="avalancheProblemModel.matrixInformation.frequency"
      [avalancheSize]="avalancheProblemModel.matrixInformation.avalancheSize"
      [disabled]="true"
    ></app-matrix>
  </div>
</div>
