<div class="avalanche-problem__preview">
  <div class="avalanche-problem-preview__info">
    <!-- Danger rating -->
    <div class="avalanche-problem-preview__info-item">
      <img
        *ngIf="avalancheProblem.isDangerRating('low')"
        src="./assets/img/danger_rating_low_c.svg"
        class="avalanche-problem-preview__danger-rating"
      />
      <img
        *ngIf="avalancheProblem.isDangerRating('moderate')"
        src="./assets/img/danger_rating_moderate_c.svg"
        class="avalanche-problem-preview__danger-rating"
      />
      <img
        *ngIf="avalancheProblem.isDangerRating('considerable')"
        src="./assets/img/danger_rating_considerable_c.svg"
        class="avalanche-problem-preview__danger-rating"
      />
      <img
        *ngIf="avalancheProblem.isDangerRating('high')"
        src="./assets/img/danger_rating_high_c.svg"
        class="avalanche-problem-preview__danger-rating"
      />
      <img
        *ngIf="avalancheProblem.isDangerRating('very_high')"
        src="./assets/img/danger_rating_very_high_c.svg"
        class="avalanche-problem-preview__danger-rating"
      />
    </div>
    <!-- End danger rating -->

    <!-- Avalanche problem icon -->
    <div class="avalanche-problem-preview__info-item">
      <img
        *ngIf="isAvalancheProblem('new_snow')"
        src="./assets/img/New_snow_c.svg"
        class="avalanche-problem-preview__problem-icon"
      />
      <img
        *ngIf="isAvalancheProblem('wind_slab')"
        src="./assets/img/Drifting_snow_c.svg"
        class="avalanche-problem-preview__problem-icon"
      />
      <img *ngIf="isAvalancheProblem('persistent_weak_layers')" src="./assets/img/Persistent_weak_layers_c.svg" />
      <img
        *ngIf="isAvalancheProblem('wet_snow')"
        src="./assets/img/Wet_snow_c.svg"
        class="avalanche-problem-preview__problem-icon"
      />
      <img
        *ngIf="isAvalancheProblem('gliding_snow')"
        src="./assets/img/Gliding_snow_c.svg"
        class="avalanche-problem-preview__problem-icon"
      />
      <img
        *ngIf="isAvalancheProblem('favourable_situation')"
        src="./assets/img/Favourable_situation_c.svg"
        class="avalanche-problem-preview__problem-icon"
      />
      <img
        *ngIf="isAvalancheProblem('cornices')"
        src="./assets/img/Cornices_c.svg"
        class="avalanche-problem-preview__problem-icon"
      />
      <img
        *ngIf="isAvalancheProblem('no_distinct_problem')"
        src="./assets/img/No_distinct_problem_c.svg"
        class="avalanche-problem-preview__problem-icon"
      />
    </div>
    <!-- End avalanche problem icon-->

    <!-- Aspects -->
    <div class="avalanche-problem-preview__info-item">
      <app-aspects [(aspects)]="avalancheProblem.aspects" [disabled]="true" [size]="32"></app-aspects>
    </div>
    <!-- End aspects -->
    <!-- Altitude -->
    <div class="avalanche-problem-preview__info-item avalanche-problem-preview__info-elevation">
      <p *ngIf="avalancheProblem.hasElevationHigh()">
        <i class="ph ph-arrow-line-down-right"></i> {{ getElevationHighString() }}
      </p>
      <p *ngIf="avalancheProblem.hasElevationLow()">
        <i class="ph ph-arrow-line-up-right"></i> {{ getElevationLowString() }}
      </p>
    </div>

    <!-- End altitude-->
  </div>
  <div class="avalanche-problem-preview__actions">
    <button
      *ngIf="!isFirst()"
      class="btn btn-sm btn-bare--grey btn-icon"
      type="button"
      (click)="moveUpAvalancheProblem($event)"
      data-toggle="tooltip"
      title="{{ 'bulletins.create.tooltip.moveUpAvalancheProblem' | translate }}"
    >
      <i class="ph ph-arrow-up"></i>
    </button>
    <button
      *ngIf="!isLast()"
      class="btn btn-sm btn-bare--grey btn-icon"
      type="button"
      (click)="moveDownAvalancheProblem($event)"
      data-toggle="tooltip"
      title="{{ 'bulletins.create.tooltip.moveDownAvalancheProblem' | translate }}"
    >
      <i class="ph ph-arrow-down"></i>
    </button>

    <button
      [disabled]="disabled"
      type="reset"
      class="btn btn-sm btn-icon btn-bare--grey"
      (click)="deleteAvalancheProblem($event)"
      data-toggle="tooltip"
      title="{{ 'bulletins.create.tooltip.delete' | translate }}"
    >
      <i class="ph ph-trash"></i>
    </button>
  </div>
</div>
