<div class="avalanche-photo-preview">
  <span class="text-truncate flex-grow-1 font-xs ms-1">
    <a [href]="photo().url" target="_blank" rel="noopener"> <i class="ph ph-image"></i> {{ photo().url }} </a>
  </span>
  @if (photo().microRegionId) {
    <span class="font-s text-nowrap">
      <i class="ph ph-map-trifold"></i> {{ regionsService.getRegionName(photo().microRegionId) }}
    </span>
  }
  @if (photo().locationName) {
    <span class="font-s text-nowrap"> <i class="ph ph-map-pin"></i> {{ photo().locationName }} </span>
  }
  @if (!disabled()) {
    <button
      [disabled]="disabled()"
      type="reset"
      class="btn btn-sm btn-icon btn-bare--grey"
      (click)="deleteAvalanchePhoto($event)"
      data-toggle="tooltip"
      title="{{ 'bulletins.create.tooltip.removePhoto' | translate }}"
    >
      <i class="ph ph-trash"></i>
    </button>
  }
</div>
