<div class="avalanche-problem-container">
  <div class="form-group">
    <label class="form-label" for="">{{ "bulletins.create.label.avalancheProblems" | translate }}</label>
    <button type="button" class="btn btn-primary" (click)="showDecisionTreeDialog()">{{ "bulletins.create.decisionTree.decisionTree" | translate }}</button>
    <a class="btn btn-link" href="{{ 'bulletins.create.decisionTree.feedbackURL' | translate }}" target="_blank">{{ "bulletins.create.decisionTree.feedback" | translate }}</a>
    <div *ngIf="!disabled" class="avalanche-problem-detail__problem-icons">
      <img
        *ngIf="isAvalancheProblem('new_snow')"
        src="./assets/img/New_snow_c.svg"
        (click)="selectAvalancheProblem(avalancheProblemEnum.new_snow)"
        class="avalanche-problem-detail__problem-icon"
      />
      <img
        *ngIf="!isAvalancheProblem('new_snow')"
        src="./assets/img/New_snow_bw.svg"
        (click)="selectAvalancheProblem(avalancheProblemEnum.new_snow)"
        class="avalanche-problem-detail__problem-icon is-disabled"
      />
      <img
        *ngIf="isAvalancheProblem('wind_slab')"
        src="./assets/img/Drifting_snow_c.svg"
        (click)="selectAvalancheProblem(avalancheProblemEnum.wind_slab)"
        class="avalanche-problem-detail__problem-icon"
      />
      <img
        *ngIf="!isAvalancheProblem('wind_slab')"
        src="./assets/img/Drifting_snow_bw.svg"
        (click)="selectAvalancheProblem(avalancheProblemEnum.wind_slab)"
        class="avalanche-problem-detail__problem-icon is-disabled"
      />

      <img
        *ngIf="isAvalancheProblem('persistent_weak_layers')"
        src="./assets/img/Persistent_weak_layers_c.svg"
        (click)="selectAvalancheProblem(avalancheProblemEnum.persistent_weak_layers)"
        class="avalanche-problem-detail__problem-icon"
      />
      <img
        *ngIf="!isAvalancheProblem('persistent_weak_layers')"
        src="./assets/img/Persistent_weak_layers_bw.svg"
        (click)="selectAvalancheProblem(avalancheProblemEnum.persistent_weak_layers)"
        class="avalanche-problem-detail__problem-icon is-disabled"
      />

      <img
        *ngIf="isAvalancheProblem('wet_snow')"
        src="./assets/img/Wet_snow_c.svg"
        (click)="selectAvalancheProblem(avalancheProblemEnum.wet_snow)"
        class="avalanche-problem-detail__problem-icon"
      />
      <img
        *ngIf="!isAvalancheProblem('wet_snow')"
        src="./assets/img/Wet_snow_bw.svg"
        (click)="selectAvalancheProblem(avalancheProblemEnum.wet_snow)"
        class="avalanche-problem-detail__problem-icon is-disabled"
      />

      <img
        *ngIf="isAvalancheProblem('gliding_snow')"
        src="./assets/img/Gliding_snow_c.svg"
        (click)="selectAvalancheProblem(avalancheProblemEnum.gliding_snow)"
        class="avalanche-problem-detail__problem-icon"
      />
      <img
        *ngIf="!isAvalancheProblem('gliding_snow')"
        src="./assets/img/Gliding_snow_bw.svg"
        (click)="selectAvalancheProblem(avalancheProblemEnum.gliding_snow)"
        class="avalanche-problem-detail__problem-icon is-disabled"
      />

      <img
        *ngIf="authenticationService.getActiveRegion().enableAvalancheProblemCornices && isAvalancheProblem('cornices')"
        src="./assets/img/Cornices_c.svg"
        (click)="selectAvalancheProblem(avalancheProblemEnum.cornices)"
        class="avalanche-problem-detail__problem-icon"
      />
      <img
        *ngIf="
          authenticationService.getActiveRegion().enableAvalancheProblemCornices && !isAvalancheProblem('cornices')
        "
        src="./assets/img/Cornices_bw.svg"
        (click)="selectAvalancheProblem(avalancheProblemEnum.cornices)"
        class="avalanche-problem-detail__problem-icon is-disabled"
      />

      <img
        *ngIf="
          authenticationService.getActiveRegion().enableAvalancheProblemNoDistinctAvalancheProblem &&
          isAvalancheProblem('no_distinct_problem')
        "
        src="./assets/img/No_distinct_problem_c.svg"
        (click)="selectAvalancheProblem(avalancheProblemEnum.no_distinct_problem)"
        class="avalanche-problem-detail__problem-icon"
      />
      <img
        *ngIf="
          authenticationService.getActiveRegion().enableAvalancheProblemNoDistinctAvalancheProblem &&
          !isAvalancheProblem('no_distinct_problem')
        "
        src="./assets/img/No_distinct_problem_bw.svg"
        (click)="selectAvalancheProblem(avalancheProblemEnum.no_distinct_problem)"
        class="avalanche-problem-detail__problem-icon is-disabled"
      />
    </div>
    <div *ngIf="disabled" class="avalanche-problem-detail__problem-icons">
      <img
        *ngIf="isAvalancheProblem('new_snow')"
        src="./assets/img/New_snow_c.svg"
        class="avalanche-problem-detail__problem-icon"
      />
      <img
        *ngIf="!isAvalancheProblem('new_snow')"
        src="./assets/img/New_snow_bw.svg"
        class="avalanche-problem-detail__problem-icon is-disabled"
      />

      <img
        *ngIf="isAvalancheProblem('wind_slab')"
        src="./assets/img/Drifting_snow_c.svg"
        class="avalanche-problem-detail__problem-icon"
      />
      <img
        *ngIf="!isAvalancheProblem('wind_slab')"
        src="./assets/img/Drifting_snow_bw.svg"
        class="avalanche-problem-detail__problem-icon is-disabled"
      />

      <img
        *ngIf="isAvalancheProblem('persistent_weak_layers')"
        src="./assets/img/Persistent_weak_layers_c.svg"
        class="avalanche-problem-detail__problem-icon"
      />
      <img
        *ngIf="!isAvalancheProblem('persistent_weak_layers')"
        src="./assets/img/Persistent_weak_layers_bw.svg"
        class="avalanche-problem-detail__problem-icon is-disabled"
      />

      <img
        *ngIf="isAvalancheProblem('wet_snow')"
        src="./assets/img/Wet_snow_c.svg"
        class="avalanche-problem-detail__problem-icon"
      />
      <img
        *ngIf="!isAvalancheProblem('wet_snow')"
        src="./assets/img/Wet_snow_bw.svg"
        class="avalanche-problem-detail__problem-icon is-disabled"
      />

      <img
        *ngIf="isAvalancheProblem('gliding_snow')"
        src="./assets/img/Gliding_snow_c.svg"
        class="avalanche-problem-detail__problem-icon"
      />
      <img
        *ngIf="!isAvalancheProblem('gliding_snow')"
        src="./assets/img/Gliding_snow_bw.svg"
        class="avalanche-problem-detail__problem-icon is-disabled"
      />

      <img
        *ngIf="isAvalancheProblem('cornices')"
        src="./assets/img/Cornices_c.svg"
        class="avalanche-problem-detail__problem-icon"
      />
      <img
        *ngIf="
          authenticationService.getActiveRegion().enableAvalancheProblemCornices && !isAvalancheProblem('cornices')
        "
        src="./assets/img/Cornices_bw.svg"
        class="avalanche-problem-detail__problem-icon is-disabled"
      />

      <img
        *ngIf="isAvalancheProblem('no_distinct_problem')"
        src="./assets/img/No_distinct_problem_c.svg"
        class="avalanche-problem-detail__problem-icon"
      />
      <img
        *ngIf="
          authenticationService.getActiveRegion().enableAvalancheProblemNoDistinctAvalancheProblem &&
          !isAvalancheProblem('no_distinct_problem')
        "
        src="./assets/img/No_distinct_problem_bw.svg"
        class="avalanche-problem-detail__problem-icon is-disabled"
      />
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-5">
      <label class="form-label" for="">{{ "bulletins.create.label.aspects" | translate }}</label>
      <div>
        <app-aspects [(aspects)]="avalancheProblemModel.aspects" [disabled]="disabled" [size]="150"></app-aspects>
      </div>
    </div>
    <div class="col-md-7">
      <label class="form-label" for="">{{ "bulletins.create.label.elevation" | translate }}</label>
      <!-- Elevation (high) -->
      <div class="avalanche-problem-detail__elevation">
        <div class="avalanche-problem-detail__elevation-label form-check">
          <input
            id="elevationHighCheckbox"
            [id]="forLabelId('elevationHighCheckbox')"
            type="checkbox"
            class="form-check-input" 
            [disabled]="disabled"
            (change)="setUseElevationHigh($event)"
            [(ngModel)]="useElevationHigh"
          />
          <label class="form-label" [attr.for]="forLabelId('elevationHighCheckbox')">{{ "bulletins.create.label.elevationHigh" | translate }}</label>
        </div>
        <div class="avalanche-problem-detail__elevation-inputs">
          <div class="input-group">
            <input
              step="100"
              min="0"
              max="9000"
              id="inputElevationHigh"
              class="form-control"
              size="14"
              type="number"
              name="elevation-input"
              [disabled]="disabled || avalancheProblemModel.treelineHigh || !useElevationHigh"
              [(ngModel)]="avalancheProblemModel.elevationHigh"
              (change)="updateElevationHigh()"
            />
            <span class="input-group-text">m</span>
          </div>
          <button
            [disabled]="disabled || !useElevationHigh"
            type="reset"
            class="btn btn-icon"
            [ngClass]="{
              'btn-outline-secondary': !avalancheProblemModel.treelineHigh, 
              'btn-dark': avalancheProblemModel.treelineHigh
            }"
            (click)="treelineHighClicked($event)"
            data-toggle="tooltip"
            title="{{ 'bulletins.create.tooltip.treeline' | translate }}"
          >
            <i class="ph ph-tree-evergreen"></i>
          </button>
        </div>
      </div>
      
      <!-- Elevation (low) -->
      <div class="avalanche-problem-detail__elevation">
        <div class="form-check avalanche-problem-detail__elevation-label">
          <input
            [id]="forLabelId('elevationLowCheckbox')"
            type="checkbox"
            class="form-check-input"
            [disabled]="disabled"
            (change)="setUseElevationLow($event)"
            [(ngModel)]="useElevationLow"
          />
          <label class="form-label" [attr.for]="forLabelId('elevationLowCheckbox')">{{ "bulletins.create.label.elevationLow" | translate }}</label>
        </div>
        <div class="avalanche-problem-detail__elevation-inputs">
          <div class="input-group">
            <input
              step="100"
              min="0"
              max="9000"
              id="inputElevationLow"
              class="form-control"
              size="14"
              type="number"
              name="elevation-input"
              [disabled]="disabled || avalancheProblemModel.treelineLow || !useElevationLow"
              [(ngModel)]="avalancheProblemModel.elevationLow"
              (change)="updateElevationLow()"
            />
            <span class="input-group-text">m</span>
          </div>
          <button
            [disabled]="disabled || !useElevationLow"
            type="reset"
            class="btn btn-icon"
            [ngClass]="{
              'btn-outline-secondary': !avalancheProblemModel.treelineLow, 
              'btn-dark': avalancheProblemModel.treelineLow
            }"
            (click)="treelineLowClicked($event)"
            data-toggle="tooltip"
            title="{{ 'bulletins.create.tooltip.treeline' | translate }}"
          >
            <i class="ph ph-tree-evergreen"></i>
          </button>
        </div>
      </div>
      <div>
        <!-- Extend sea level danger up/down -->
        <div
          class="avalanche-problem__elevation-change-danger-rating"
          *ngIf="count == 1 && avalancheProblemModel.hasElevationHigh() && avalancheProblemModel.hasElevationLow()"
        >
          <label class="form-label">{{ "bulletins.create.changeDangerRatingElevation" | translate }}</label>

          <!-- UP Button -->
          <div class="btn-group">
            <button
              [disabled]="disabled"
              type="reset"
              class="btn btn-sm btn-outline-secondary"
              [ngClass]="{
                'btn-dark': isDangerRatingDirection('up'),
                'btn-outline-secondary': !isDangerRatingDirection('up')
              }"
              (click)="setDangerRatingDirection($event, isDangerRatingDirection('up') ? undefined : directionEnum.up)"
              data-toggle="tooltip"
              title="{{ 'bulletins.create.tooltip.dangerRatingDirectionUp' | translate }}"
            >
              <i class="ph ph-arrow-up-right"></i>
              <span>{{ "bulletins.create.tooltip.dangerRatingDirectionUp" | translate }}</span>
            </button>

            <!-- DOWN Button -->
            <button
              [disabled]="disabled"
              type="reset"
              class="btn btn-sm btn-outline-secondary"
              [ngClass]="{
                'btn-dark': isDangerRatingDirection('down'),
                'btn-outline-secondary': !isDangerRatingDirection('down')
              }"
              (click)="
                setDangerRatingDirection($event, isDangerRatingDirection('down') ? undefined : directionEnum.down)
              "
              data-toggle="tooltip"
              title="{{ 'bulletins.create.tooltip.dangerRatingDirectionDown' | translate }}"
            >
              <i class="ph ph-arrow-down-right"></i>
              <span>{{ "bulletins.create.tooltip.dangerRatingDirectionDown" | translate }}</span>
            </button>
          </div>
          <!-- End of btn-group -->
        </div>
        <!-- End of Extend sea level danger up/down  -->
      </div>
    </div>
  </div>
  <div *ngIf="authenticationService.getActiveRegion().showMatrix" class="form-group">
    <app-matrix-parameter
      [(bulletin)]="bulletin"
      [(bulletinDaytimeDescription)]="bulletinDaytimeDescription"
      [(matrixInformation)]="avalancheProblemModel.matrixInformation"
      [disabled]="disabled"
      [count]="count"
      [afternoon]="afternoon"
    ></app-matrix-parameter>
    <app-matrix
      [(bulletin)]="bulletin"
      [(bulletinDaytimeDescription)]="bulletinDaytimeDescription"
      [(matrixInformation)]="avalancheProblemModel.matrixInformation"
      [snowpackStability]="avalancheProblemModel.matrixInformation.snowpackStability"
      [frequency]="avalancheProblemModel.matrixInformation.frequency"
      [avalancheSize]="avalancheProblemModel.matrixInformation.avalancheSize"
      [disabled]="true"
    ></app-matrix>
  </div>
  <div *ngIf="!authenticationService.getActiveRegion().showMatrix" class="form-group">
    <app-matrix-parameter
      [(bulletin)]="bulletin"
      [(bulletinDaytimeDescription)]="bulletinDaytimeDescription"
      [(matrixInformation)]="avalancheProblemModel.matrixInformation"
      [disabled]="disabled"
      [count]="count"
      [afternoon]="afternoon"
    ></app-matrix-parameter>
  </div>
</div>
