<div>
<header class="region-form__header">
  <div class="region-form__header-actions btn-group" dropdown>
    <button
      *ngIf="!isComparedBulletin"
      dropdownToggle
      class="btn btn-bare btn-sm btn-icon btn-bare--grey"
      type="button"
      aria-controls="dropdownMenu"
    >
      <i class="ph-bold ph-dots-three-circle"></i>
    </button>
    <ul id="dropdownMenu" *dropdownMenu class="dropdown-menu dropdown-menu-end">
      <li *ngIf="isCompactMapLayout">
          <button class="dropdown-item" (click)="setMapLayout(false)">
              <i class="ph icon-md ph-square-split-horizontal"></i> {{ 'bulletins.create.mapLeft' | translate }}
          </button>
      </li>
      <li *ngIf="!isCompactMapLayout">
          <button class="dropdown-item" (click)="setMapLayout(true)">
              <i class="ph icon-md ph-square-split-vertical"></i> {{ 'bulletins.create.mapTop' | translate }}
          </button>
      </li>
      <li>
        <hr class="dropdown-divider" />
      </li>
      <li *ngIf="showNotes">
          <button class="dropdown-item" (click)="toggleShowNotes()">
              <i class="ph icon-md ph-note"></i> {{ 'bulletins.create.hideNotes' | translate }}
          </button>
      </li>
      <li *ngIf="!showNotes">
          <button class="dropdown-item" (click)="toggleShowNotes()">
              <i class="ph icon-md ph-note"></i> {{ 'bulletins.create.showNotes' | translate }}
          </button>
      </li>
    </ul>
    <button (click)="deselectBulletin()" class="btn btn-bare btn-sm btn-icon btn-bare--grey">
      <i class="ph-bold ph-x"></i>
    </button>
  </div>
  <div class="region-form__title">
    <h6 class="font-xs text-secondary">{{ regionsService.getRegionName(bulletin.getOwnerRegion()) }}</h6>
    <h2 class="font-l">
      <span *ngIf="bulletin.getSavedAndPublishedRegions().length > 0">{{ regionsService.getRegionName(bulletin.getSavedAndPublishedRegions()[0].toString()) }}</span>
      <span *ngIf="bulletin.getSavedAndPublishedRegions().length > 1"> + {{ bulletin.getSavedAndPublishedRegions().length - 1 }} </span>
    </h2>

    <div class="user-avatar region-form__author">
      <span class="user-avatar__name">{{ bulletin.getAuthor().getName() }}</span>
    </div>
  </div>
</header>

<div
  *ngIf="bulletinsService.isLocked(bulletin.getId())"
  class="region-form__banner banner banner-warning-strong"
>
  <p class="banner__text">
    <i class="ph ph-lock"></i>
    {{ "bulletins.create.regionLocked" | translate }}
  </p>
</div>

<div
  *ngIf="!bulletinsService.isLocked(bulletin.getId()) && bulletinsService.getIsEditable() && isCreator(bulletin)"
  class="region-form__banner banner banner-info"
>
  <p class="banner__text">
    <i class="ph ph-pencil-line"></i>
    {{ "bulletins.create.regionEditable" | translate }}
  </p>
  <div class="btn-group banner__actions">
    <button [class]="bulletin.hasDaytimeDependency ? 'btn-primary' : 'btn-outline-primary'" *ngIf="!editRegions" (click)="daytimeDependencyChanged($event, !bulletin.hasDaytimeDependency)" data-toggle="tooltip" title="{{ 'bulletins.create.tooltip.daytimeDependency' | translate }}" type="button" class="btn btn-sm btn-icon">
      <i class="ph ph-sun-horizon"></i>
    </button>
    <button *ngIf="!editRegions" (click)="editMicroRegions()" data-toggle="tooltip" title="{{ 'bulletins.create.tooltip.edit' | translate }}" type="button" class="btn btn-sm btn-icon btn-outline-primary">
      <i class="ph ph-map-trifold"></i>
    </button>
    <button *ngIf="!editRegions && !copyService.isCopyBulletin()" (click)="copyBulletin()" data-toggle="tooltip" title="{{ 'bulletins.create.tooltip.copy' | translate }}" type="button" class="btn btn-sm btn-icon btn-outline-primary">
      <i class="ph ph-copy"></i>
    </button>
    <button *ngIf="!editRegions" (click)="deleteBulletin()"  data-toggle="tooltip" title="{{ 'bulletins.create.tooltip.delete' | translate }}" type="button" class="btn btn-sm btn-icon btn-outline-primary">
      <i class="ph ph-trash"></i>
    </button>
  </div>
</div>

<div
  *ngIf="!bulletinsService.isLocked(bulletin.getId()) && bulletinsService.getIsEditable() && !isCreator(bulletin) && hasSuggestions(bulletin)"
  class="region-form__banner banner banner-warning-strong"
>
  <p class="banner__text">
    <i class="ph ph-lightbulb"></i>
    {{ "bulletins.create.pendingSuggestions" | translate }}
  </p>
  <div class="btn-group banner__actions">
    <button (click)="rejectSuggestions($event, bulletin)" type="button" class="btn btn-sm btn-outline-dark">
      <i class="ph ph-x"></i> <span>{{ "bulletins.create.rejectSuggestion" | translate }}</span>
    </button>
    <button (click)="acceptSuggestions($event, bulletin)" type="button" class="btn btn-sm btn-dark">
      <i class="ph ph-check"></i><span>{{ "bulletins.create.acceptSuggestion" | translate }}</span>
    </button>
  </div>
</div>

<div
  *ngIf="!bulletinsService.isLocked(bulletin.getId()) && (!bulletinsService.getIsEditable() || (bulletinsService.getIsEditable() && !isCreator(bulletin) && !hasSuggestions(bulletin)))"
  class="region-form__banner banner banner-warning"
>
  <p class="banner__text">
    <i class="ph ph-pencil-slash"></i>
    {{ "bulletins.create.regionNotEditable" | translate }}
  </p>
  <div class="btn-group banner__actions">
    <button *ngIf="!isComparedBulletin && !editRegions && isForeign(bulletin)" (click)="editMicroRegions()" data-toggle="tooltip" title="{{ 'bulletins.create.tooltip.edit' | translate }}" type="button" class="btn btn-sm btn-icon btn-outline-primary">
      <i class="ph ph-map-trifold"></i>
    </button>
    <button *ngIf="!isComparedBulletin && !copyService.isCopyBulletin()" (click)="copyBulletin()" data-toggle="tooltip" title="{{ 'bulletins.create.tooltip.copy' | translate }}" type="button" class="btn btn-sm btn-icon btn-outline-primary">
      <i class="ph ph-copy"></i>
    </button>
  </div>
</div>

<main class="region-form__content">
  <accordion class="accordion">
    <!-- Avalanche problems -->
    <accordion-group
      class="accordion-group"
      [isOpen]="isAccordionAvalancheProblemOpen"
      (isOpenChange)="accordionChanged($event, 'avalancheProblem')"
    >
      <div accordion-heading class="accordion-header accordion-header--with-buttons">
        <h2 class="accordion-header__title">
          <i *ngIf="!isAccordionAvalancheProblemOpen" class="accordion__arrow ph ph-caret-right"></i>
          <i *ngIf="isAccordionAvalancheProblemOpen" class="accordion__arrow ph ph-caret-down"></i>
          {{ "bulletins.create.title.avalancheProblem" | translate
          }}<span *ngIf="bulletin.hasDaytimeDependency"
            >&nbsp;{{ "bulletins.create.title.forenoon" | translate }}</span
          >
        </h2>

        <div class="btn-group accordion-header__buttons">
          <button
            [disabled]="editRegions || loading || hasFiveAvalancheProblems(false)"
            *ngIf="!disabled"
            (click)="createAvalancheProblem(false); $event.stopPropagation()"
            class="btn btn-primary btn-icon btn-sm ml-2"
            title="{{ 'bulletins.create.createAvalancheProblem' | translate }}"
          >
            <i class="ph ph-plus"></i>
          </button>
        </div>
      </div>
      <!-- Avalanche problems panel content -->
      <app-avalanche-problem
        [bulletinModel]="bulletin"
        [bulletinDaytimeDescription]="bulletin.forenoon"
        [afternoon]="false"
        [disabled]="disabled"
        (changeAvalancheProblemEvent)="updateBulletinOnServer()"
      ></app-avalanche-problem>
      <!-- End Avalanche problems panel content -->
    </accordion-group>
    <accordion-group
      *ngIf="bulletin.hasDaytimeDependency"
      #accordionAvalancheProblemAfternoon
      class="accordion-group"
    >
      <div accordion-heading class="accordion-header accordion-header--with-buttons">
        <h2 class="accordion-header__title">
          <i *ngIf="accordionAvalancheProblemAfternoon.isOpen" class="accordion__arrow ph ph-caret-down"></i>
          <i *ngIf="!accordionAvalancheProblemAfternoon.isOpen" class="accordion__arrow ph ph-caret-right"></i>
          <span
            >{{ "bulletins.create.title.avalancheProblem" | translate }}
            {{ "bulletins.create.title.afternoon" | translate }}</span
          >
        </h2>

        <div class="btn-group accordion-header__buttons">
          <button
            [disabled]="editRegions || loading || hasFiveAvalancheProblems(false) || !isCreator(bulletin)"
            *ngIf="!disabled"
            (click)="createAvalancheProblem(true); $event.stopPropagation()"
            class="btn btn-primary btn-icon btn-sm"
            title="{{ 'bulletins.create.createAvalancheProblem' | translate }}"
          >
            <i class="ph ph-plus"></i>
          </button>
        </div>
      </div>
      <app-avalanche-problem
        [bulletinModel]="bulletin"
        [bulletinDaytimeDescription]="bulletin.afternoon"
        [afternoon]="true"
        [disabled]="disabled"
        (changeAvalancheProblemEvent)="updateBulletinOnServer(bulletin)"
      ></app-avalanche-problem>
    </accordion-group>
    <!-- End avalanche problems -->

    <!-- Danger description -->
    <accordion-group
      [isOpen]="isAccordionDangerDescriptionOpen"
      (isOpenChange)="accordionChanged($event, 'dangerDescription')"
    >
      <div accordion-heading class="accordion-header">
        <h2 class="accordion-header__title">
          <i *ngIf="!isAccordionDangerDescriptionOpen" class="accordion__arrow ph ph-caret-right"></i>
          <i *ngIf="isAccordionDangerDescriptionOpen" class="accordion__arrow ph ph-caret-down"></i>
          <span>
            {{ "bulletins.create.title.dangerDescription" | translate }}
          </span>
        </h2>
      </div>
      <!-- Danger description panel content -->
      <div
        id="region-form-danger-description"
        class="accordion-collapse -collapse show"
        data-bs-parent="#region-form-accordion"
      >
        <!-- Special alert -->
        <div class="from-group">
          <label class="form-label" for="text-input">
            {{ "bulletins.create.label.highlights" | translate }}
          </label>
          <div class="form-field-with-toolbar">
            <div class="btn-group--border form-field-toolbar">
              <button
                [disabled]="
                  disabled
                "
                type="reset"
                class="btn btn-sm btn-icon btn-bare"
                data-toggle="tooltip"
                title="{{ 'bulletins.create.tooltip.textcat.edit' | translate }}"
                (click)="
                  openTextcat(
                    $event,
                    'highlights',
                    bulletin.highlightsTextcat
                  )
                "
              >
                <i class="ph ph-pencil-line"></i>
              </button>
              <button
                *ngIf="!copyService.isCopyTextcat()"
                [disabled]="loading || editRegions"
                type="reset"
                class="btn btn-sm btn-icon btn-bare"
                data-toggle="tooltip"
                title="{{ 'bulletins.create.tooltip.textcat.copy' | translate }}"
                (click)="copyTextcat($event, 'highlights')"
              >
                <i class="ph ph-copy"></i>
              </button>
              <button
                *ngIf="copyService.isCopyTextcat()"
                [disabled]="
                  disabled
                "
                type="reset"
                class="btn btn-sm btn-icon btn-bare"
                data-toggle="tooltip"
                title="{{ 'bulletins.create.tooltip.textcat.paste' | translate }}"
                (click)="pasteTextcat($event, 'highlights')"
              >
                <i class="ph ph-clipboard-text"></i>
              </button>
              <button
                [disabled]="
                  disabled
                "
                type="reset"
                class="btn btn-sm btn-icon btn-bare"
                data-toggle="tooltip"
                title="{{ 'bulletins.create.tooltip.textcat.delete' | translate }}"
                (click)="deleteTextcat($event, 'highlights')"
              >
                <i class="ph ph-trash"></i>
              </button>
            </div>
            <textarea
              rows="1"
              class="form-control"
              [disabled]="true"
              [ngModel]="bulletin.highlights$[this.settingsService.getLangString()] | html"
            ></textarea>
          </div>

          <!-- Translations -->
          <button
            class="btn btn-sm btn-bare region-form__translation-toggle"
            *ngIf="showTranslationsHighlights"
            type="button"
            (click)="setShowTranslations('highlights')"
          >
            <i class="ph ph-caret-down"></i>
            <span>{{ "bulletins.create.title.hideTranslations" | translate }}</span>
          </button>
          <button
            class="btn btn-sm btn-bare region-form__translation-toggle"
            type="button"
            *ngIf="!showTranslationsHighlights"
            (click)="setShowTranslations('highlights')"
          >
            <i class="ph ph-caret-right"></i>
            <span>{{ "bulletins.create.title.showTranslations" | translate }}</span>
          </button>

          <div *ngIf="showTranslationsHighlights" class="region-form__translation-block">
            <div
              *ngFor="let lang of translationLanguages"
              class="input-group region-form__translation-item"
            >
              <span class="input-group-text">{{lang | uppercase}}</span>
              <textarea
                rows="2"
                class="form-control"
                [disabled]="true"
                [ngModel]="bulletin.highlights$[lang] | html"
              ></textarea>
            </div>
          </div>
        </div>
        <!-- End Translations-->

        <!-- Danger situation headline -->
        <div class="form-group">
          <div class="row">
            <div [ngClass]="showNotes ? 'col-7' : 'col-12'">
              <label class="form-label" for="text-input">
                {{ "bulletins.create.label.avActivityHighlights" | translate }}
              </label>
              <div class="form-field-with-toolbar">
                <!-- Toolbar -->
                <div class="btn-group--border form-field-toolbar">
                  <button
                    class="btn btn-sm btn-icon btn-bare"
                    [disabled]="disabled"
                    type="reset"
                    data-toggle="tooltip"
                    title="{{ 'bulletins.create.tooltip.textcat.edit' | translate }}"
                    (click)="
                      openTextcat(
                        $event,
                        'avActivityHighlights',
                        bulletin.avActivityHighlightsTextcat
                      )
                    "
                  >
                    <i class="ph ph-pencil-line"></i>
                  </button>
                  <button
                    class="btn btn-sm btn-icon btn-bare"
                    *ngIf="!copyService.isCopyTextcat()"
                    [disabled]="loading || editRegions"
                    type="reset"
                    data-toggle="tooltip"
                    title="{{ 'bulletins.create.tooltip.textcat.copy' | translate }}"
                    (click)="copyTextcat($event, 'avActivityHighlights')"
                  >
                    <i class="ph ph-copy"></i>
                  </button>
                  <button
                    class="btn btn-sm btn-icon btn-bare"
                    *ngIf="copyService.isCopyTextcat()"
                    [disabled]="disabled"
                    type="reset"
                    data-toggle="tooltip"
                    title="{{ 'bulletins.create.tooltip.textcat.paste' | translate }}"
                    (click)="pasteTextcat($event, 'avActivityHighlights')"
                  >
                    <i class="ph ph-clipboard-text"></i>
                  </button>
                  <button
                    class="btn btn-sm btn-icon btn-bare"
                    [disabled]="disabled"
                    type="reset"
                    data-toggle="tooltip"
                    title="{{ 'bulletins.create.tooltip.textcat.delete' | translate }}"
                    (click)="deleteTextcat($event, 'avActivityHighlights')"
                  >
                    <i class="ph ph-trash"></i>
                  </button>
                </div>
                <!-- End of toolbar -->
                <textarea
                  rows="3"
                  class="form-control"
                  [disabled]="true"
                  [ngModel]="bulletin.avActivityHighlights$[this.settingsService.getLangString()] | html"
                ></textarea>
              </div>
            </div>
            <div *ngIf="showNotes" class="col-5">
              <label class="form-label" for="text-input">{{ "bulletins.create.label.notes" | translate }} </label>
              <textarea
                rows="3"
                class="form-control"
                [disabled]="disabled"
                [(ngModel)]="bulletin.avActivityHighlightsNotes"
                (focusout)="onNotesFocusOut($event)"
                placeholder="{{ 'bulletins.create.placeholder.notes' | translate }}"
              ></textarea>
            </div>
          </div>

          <button
            class="btn btn-sm btn-bare region-form__translation-toggle"
            type="button"
            *ngIf="showTranslationsAvActivityHighlights"
            (click)="setShowTranslations('avActivityHighlights')"
          >
            <i class="ph ph-caret-down"></i>
            <span>{{ "bulletins.create.title.hideTranslations" | translate }}</span>
          </button>
          <button
            class="btn btn-sm btn-bare region-form__translation-toggle"
            type="button"
            *ngIf="!showTranslationsAvActivityHighlights"
            (click)="setShowTranslations('avActivityHighlights')"
          >
            <i class="ph ph-caret-right"></i>
            <span>{{ "bulletins.create.title.showTranslations" | translate }}</span>
          </button>

          <div *ngIf="showTranslationsAvActivityHighlights" class="region-form__translation-block">
            <div
              *ngFor="let lang of translationLanguages"
              class="input-group region-form__translation-item"
            >
              <span class="input-group-text">{{lang | uppercase}}</span>
              <textarea
                rows="3"
                class="form-control"
                [disabled]="true"
                [ngModel]="bulletin.avActivityHighlights$[lang] | html"
              ></textarea>
            </div>
          </div>
        </div>

        <!-- Danger situation description -->
        <div class="form-group">
          <div class="row">
            <div [ngClass]="showNotes ? 'col-7' : 'col-12'">
              <label class="form-label" for="text-input">
                {{ "bulletins.create.label.avActivityComment" | translate }}
              </label>
              <div class="form-field-with-toolbar">
                <div class="btn-group--border form-field-toolbar">
                  <button
                    class="btn btn-sm btn-icon btn-bare"
                    [disabled]="disabled"
                    type="reset"
                    data-toggle="tooltip"
                    title="{{ 'bulletins.create.tooltip.textcat.edit' | translate }}"
                    (click)="
                      openTextcat(
                        $event,
                        'avActivityComment',
                        bulletin.avActivityCommentTextcat
                      )
                    "
                  >
                    <i class="ph ph-pencil-line"></i>
                  </button>
                  <button
                    class="btn btn-sm btn-icon btn-bare"
                    [disabled]="disabled"
                    type="reset"
                    data-toggle="tooltip"
                    title="{{ 'bulletins.create.tooltip.textcat.example' | translate }}"
                    (click)="openLoadAvActivityCommentExampleTextModal(loadAvActivityCommentExampleTextTemplate)"
                  >
                    <i class="ph ph-article"></i>
                  </button>
                  <button
                    class="btn btn-sm btn-icon btn-bare"
                    *ngIf="!copyService.isCopyTextcat()"
                    [disabled]="loading || editRegions"
                    type="reset"
                    data-toggle="tooltip"
                    title="{{ 'bulletins.create.tooltip.textcat.copy' | translate }}"
                    (click)="copyTextcat($event, 'avActivityComment')"
                  >
                    <i class="ph ph-copy"></i>
                  </button>
                  <button
                    class="btn btn-sm btn-icon btn-bare"
                    *ngIf="copyService.isCopyTextcat()"
                    [disabled]="disabled"
                    type="reset"
                    data-toggle="tooltip"
                    title="{{ 'bulletins.create.tooltip.textcat.paste' | translate }}"
                    (click)="pasteTextcat($event, 'avActivityComment')"
                  >
                    <i class="ph ph-clipboard-text"></i>
                  </button>
                  <button
                    class="btn btn-sm btn-icon btn-bare"
                    [disabled]="disabled"
                    type="reset"
                    data-toggle="tooltip"
                    title="{{ 'bulletins.create.tooltip.textcat.delete' | translate }}"
                    (click)="deleteTextcat($event, 'avActivityComment')"
                  >
                    <i class="ph ph-trash"></i>
                  </button>
                </div>

                <textarea
                  *ngIf="this.settingsService.getLangString() === 'oc'"
                  rows="9"
                  class="form-control"
                  [disabled]="true"
                  [ngModel]="bulletin.avActivityComment$[this.settingsService.getLangString()] | html"
                ></textarea>
              </div>
            </div>
            <div *ngIf="showNotes" class="col-5">
              <label class="form-label" for="text-input">
                {{ "bulletins.create.label.notes" | translate }}
              </label>
              <textarea
                rows="9"
                class="form-control"
                [disabled]="disabled"
                [(ngModel)]="bulletin.avActivityCommentNotes"
                (focusout)="onNotesFocusOut($event)"
                placeholder="{{ 'bulletins.create.placeholder.notes' | translate }}"
              ></textarea>
            </div>
          </div>
          <!-- row -->

          <!-- Translations -->
          <button
            class="btn btn-sm btn-bare region-form__translation-toggle"
            type="button"
            *ngIf="showTranslationsAvActivityComment"
            (click)="setShowTranslations('avActivityComment')"
          >
            <i class="ph ph-caret-down"></i>
            <span>{{ "bulletins.create.title.hideTranslations" | translate }}</span>
          </button>

          <button
            class="btn btn-sm btn-bare region-form__translation-toggle"
            *ngIf="!showTranslationsAvActivityComment"
            (click)="setShowTranslations('avActivityComment')"
          >
            <i class="ph ph-caret-right"></i>
            <span>{{ "bulletins.create.title.showTranslations" | translate }}</span>
          </button>

          <div *ngIf="showTranslationsAvActivityComment" class="region-form__translation-block">
            <div
              *ngFor="let lang of translationLanguages"
              class="input-group region-form__translation-item"
            >
              <span class="input-group-text">{{lang | uppercase}}</span>
              <textarea
                rows="9"
                class="form-control"
                [disabled]="true"
                [ngModel]="bulletin.avActivityComment$[lang] | html"
              ></textarea>
            </div>
          </div>
          <!-- End of translations-->
        </div>
        <!-- End of danger situation description -->
      </div>
      <!-- End of danger description panel content -->
    </accordion-group>
    <!-- End danger description -->

    <!-- Snowpack structure -->
    <accordion-group
      [isOpen]="isAccordionSnowpackStructureOpen"
      (isOpenChange)="accordionChanged($event, 'snowpackStructure')"
    >
      <div accordion-heading class="accordion-header">
        <h2 class="accordion-header__title">
          <i *ngIf="!isAccordionSnowpackStructureOpen" class="accordion__arrow ph ph-caret-right"></i>
          <i *ngIf="isAccordionSnowpackStructureOpen" class="accordion__arrow ph ph-caret-down"></i>
          <span>
            {{ "bulletins.create.title.snowpackStructure" | translate }}
          </span>
        </h2>
      </div>
      <!-- Snowpack structure panel content -->
      <div
        id="region-form-snowpack-structure"
        class="accordion-collapse -collapse show"
        data-bs-parent="#region-form-accordion"
      >
        <!-- Danger patterns -->
        <div class="form-group region-form__danger-patterns">
          <label class="form-label" for="">{{ "bulletins.create.label.dangerPatterns" | translate }}</label>
          <select
            [ngModel]="bulletin.dangerPattern1"
            (ngModelChange)="onDangerPattern1Change($event)"
            [disabled]="disabled"
            class="form-select"
          >
            <option selected></option>
            <option value="dp1">{{ "dangerPattern.dp1" | translate }}</option>
            <option value="dp2">{{ "dangerPattern.dp2" | translate }}</option>
            <option value="dp3">{{ "dangerPattern.dp3" | translate }}</option>
            <option value="dp4">{{ "dangerPattern.dp4" | translate }}</option>
            <option value="dp5">{{ "dangerPattern.dp5" | translate }}</option>
            <option value="dp6">{{ "dangerPattern.dp6" | translate }}</option>
            <option value="dp7">{{ "dangerPattern.dp7" | translate }}</option>
            <option value="dp8">{{ "dangerPattern.dp8" | translate }}</option>
            <option value="dp9">{{ "dangerPattern.dp9" | translate }}</option>
            <option value="dp10">{{ "dangerPattern.dp10" | translate }}</option>
          </select>

          <select
            [ngModel]="bulletin.dangerPattern2"
            (ngModelChange)="onDangerPattern2Change($event)"
            [disabled]="disabled"
            class="form-select"
          >
            <option selected></option>
            <option value="dp1">{{ "dangerPattern.dp1" | translate }}</option>
            <option value="dp2">{{ "dangerPattern.dp2" | translate }}</option>
            <option value="dp3">{{ "dangerPattern.dp3" | translate }}</option>
            <option value="dp4">{{ "dangerPattern.dp4" | translate }}</option>
            <option value="dp5">{{ "dangerPattern.dp5" | translate }}</option>
            <option value="dp6">{{ "dangerPattern.dp6" | translate }}</option>
            <option value="dp7">{{ "dangerPattern.dp7" | translate }}</option>
            <option value="dp8">{{ "dangerPattern.dp8" | translate }}</option>
            <option value="dp9">{{ "dangerPattern.dp9" | translate }}</option>
            <option value="dp10">{{ "dangerPattern.dp10" | translate }}</option>
          </select>
        </div>
        <!-- End of danger patterns -->

        <!-- Danger pattern description -->
        <div class="form-group">
          <div class="row">
            <div [ngClass]="showNotes ? 'col-7' : 'col-12'">
              <label class="form-label" for="text-input">
                {{ "bulletins.create.label.snowpackStructureComment" | translate }}
              </label>
              <div class="form-field-with-toolbar">
                <div class="btn-group--border form-field-toolbar">
                  <button
                    class="btn btn-sm btn-icon btn-bare"
                    [disabled]="
                      disabled
                    "
                    type="reset"
                    data-toggle="tooltip"
                    title="{{ 'bulletins.create.tooltip.textcat.edit' | translate }}"
                    (click)="
                      openTextcat(
                        $event,
                        'snowpackStructureComment',
                        bulletin.snowpackStructureCommentTextcat
                      )
                    "
                  >
                    <i class="ph ph-pencil-line"></i>
                  </button>
                  <button
                    class="btn btn-sm btn-icon btn-bare"
                    [disabled]="
                      disabled
                    "
                    type="reset"
                    data-toggle="tooltip"
                    title="{{ 'bulletins.create.tooltip.textcat.example' | translate }}"
                    (click)="
                      openLoadSnowpackStructureCommentExampleTextModal(
                        loadSnowpackStructureCommentExampleTextTemplate
                      )
                    "
                  >
                    <i class="ph ph-article"></i>
                  </button>
                  <button
                    class="btn btn-sm btn-icon btn-bare"
                    *ngIf="!copyService.isCopyTextcat()"
                    [disabled]="loading || editRegions"
                    type="reset"
                    data-toggle="tooltip"
                    title="{{ 'bulletins.create.tooltip.textcat.copy' | translate }}"
                    (click)="copyTextcat($event, 'snowpackStructureComment')"
                  >
                    <i class="ph ph-copy"></i>
                  </button>
                  <button
                    class="btn btn-sm btn-icon btn-bare"
                    *ngIf="copyService.isCopyTextcat()"
                    [disabled]="
                      disabled
                    "
                    type="reset"
                    data-toggle="tooltip"
                    title="{{ 'bulletins.create.tooltip.textcat.paste' | translate }}"
                    (click)="pasteTextcat($event, 'snowpackStructureComment')"
                  >
                    <i class="ph ph-clipboard-text"></i>
                  </button>
                  <button
                    class="btn btn-sm btn-icon btn-bare"
                    [disabled]="
                      disabled
                    "
                    type="reset"
                    data-toggle="tooltip"
                    title="{{ 'bulletins.create.tooltip.textcat.delete' | translate }}"
                    (click)="deleteTextcat($event, 'snowpackStructureComment')"
                  >
                    <i class="ph ph-trash"></i>
                  </button>
                </div>
                <textarea
                  rows="9"
                  class="form-control"
                  [disabled]="true"
                  [ngModel]="bulletin.snowpackStructureComment$[this.settingsService.getLangString()] | html"
                ></textarea>
              </div>
            </div>
            <div *ngIf="showNotes" class="col-md-5">
              <label class="form-label" for="text-input">
                {{ "bulletins.create.label.notes" | translate }}
              </label>
              <textarea
                rows="9"
                class="form-control"
                [disabled]="disabled"
                [(ngModel)]="bulletin.snowpackStructureCommentNotes"
                (focusout)="onNotesFocusOut($event)"
                placeholder="{{ 'bulletins.create.placeholder.notes' | translate }}"
              ></textarea>
            </div>
          </div>
          <!-- Translations -->
          <button
            class="btn btn-sm btn-bare region-form__translation-toggle"
            type="button"
            *ngIf="showTranslationsSnowpackStructureComment"
            (click)="setShowTranslations('snowpackStructureComment')"
          >
            <i class="ph ph-caret-down"></i>
            <span>{{ "bulletins.create.title.hideTranslations" | translate }}</span>
          </button>
          <button
            class="btn btn-sm btn-bare region-form__translation-toggle"
            type="button"
            *ngIf="!showTranslationsSnowpackStructureComment"
            (click)="setShowTranslations('snowpackStructureComment')"
          >
            <i class="ph ph-caret-right"></i>
            <span>{{ "bulletins.create.title.showTranslations" | translate }}</span>
          </button>
          <div *ngIf="showTranslationsSnowpackStructureComment" class="region-form__translation-block">
            <div
              *ngFor="let lang of translationLanguages"
              class="input-group region-form__translation-item"
            >
              <span class="input-group-text">{{lang | uppercase}}</span>
              <textarea
                rows="9"
                class="form-control"
                [disabled]="true"
                [ngModel]="bulletin.snowpackStructureComment$[lang] | html"
              ></textarea>
            </div>
          </div>
        </div>
        <!-- End of danger pattern description -->
      </div>
      <!-- End of snowpack structure panel content-->
    </accordion-group>
    <!-- End Snowpack structure -->

    <!-- Tendency -->
    <accordion-group [isOpen]="isAccordionTendencyOpen" (isOpenChange)="accordionChanged($event, 'tendency')">
      <!-- Tendency -->
      <div accordion-heading class="accordion-header">
        <h2 class="accordion-header__title">
          <i *ngIf="!isAccordionTendencyOpen" class="accordion__arrow ph ph-caret-right"></i>
          <i *ngIf="isAccordionTendencyOpen" class="accordion__arrow ph ph-caret-down"></i>

          <span>
            {{ "bulletins.create.title.tendency" | translate }}
          </span>
        </h2>
      </div>

      <div class="region-form__tendency">
        <!-- Tendency picker -->
        <div class="form-group">
          <div class="btn-group">
            <button
              *ngFor="let t of ['decreasing', 'steady', 'increasing']"
              [disabled]="disabled"
              type="reset"
              [class]="isTendency(t) ? 'btn btn-small btn-dark' : 'btn btn-small btn-outline-secondary'"
              (click)="setTendency($event, isTendency(t) ? undefined : t)"
              data-toggle="tooltip"
              title="{{ ('bulletins.create.tooltip.tendency.' + t) | translate }}"
            >
              <i [ngClass]="{
                'ph': true,
                'ph-arrow-down-right': t === 'decreasing',
                'ph-equals': t === 'steady',
                'ph-arrow-up-right': t === 'increasing',
              }"></i>
              {{ ("tendency." + t) | translate }}
            </button>
          </div>
        </div>
        <!-- End of tendency picker -->

        <!-- Tendency comment -->
        <div class="form-group">
          <div class="row">
            <div [ngClass]="showNotes ? 'col-7' : 'col-12'">
              <label class="form-label" for="text-input">
                {{ "bulletins.create.label.tendencyComment" | translate }}
              </label>
              <div class="form-field-with-toolbar">
                <!-- Toolbar -->
                <div class="btn-group--border form-field-toolbar">
                  <button
                    class="btn btn-sm btn-icon btn-bare"
                    [disabled]="
                      disabled
                    "
                    type="reset"
                    data-toggle="tooltip"
                    title="{{ 'bulletins.create.tooltip.textcat.edit' | translate }}"
                    (click)="
                      openTextcat(
                        $event,
                        'tendencyComment',
                        bulletin.tendencyCommentTextcat
                      )
                    "
                  >
                    <i class="ph ph-pencil-line"></i>
                  </button>
                  <button
                    class="btn btn-sm btn-icon btn-bare"
                    *ngIf="!copyService.isCopyTextcat()"
                    [disabled]="loading || editRegions"
                    type="reset"
                    data-toggle="tooltip"
                    title="{{ 'bulletins.create.tooltip.textcat.copy' | translate }}"
                    (click)="copyTextcat($event, 'tendencyComment')"
                  >
                    <i class="ph ph-copy"></i>
                  </button>
                  <button
                    class="btn btn-sm btn-icon btn-bare"
                    *ngIf="copyService.isCopyTextcat()"
                    [disabled]="
                      disabled
                    "
                    type="reset"
                    data-toggle="tooltip"
                    title="{{ 'bulletins.create.tooltip.textcat.paste' | translate }}"
                    (click)="pasteTextcat($event, 'tendencyComment')"
                  >
                    <i class="ph ph-clipboard-text"></i>
                  </button>
                  <button
                    class="btn btn-sm btn-icon btn-bare"
                    [disabled]="
                      disabled
                    "
                    type="reset"
                    data-toggle="tooltip"
                    title="{{ 'bulletins.create.tooltip.textcat.delete' | translate }}"
                    (click)="deleteTextcat($event, 'tendencyComment')"
                  >
                    <i class="ph ph-trash"></i>
                  </button>
                </div>
                <!-- End of toolbar -->
                <textarea
                  rows="5"
                  class="form-control"
                  [disabled]="true"
                  [ngModel]="bulletin.tendencyComment$[this.settingsService.getLangString()] | html"
                ></textarea>
              </div>
            </div>
            <div *ngIf="showNotes" class="col-5">
              <label class="form-label" for="text-input">
                {{ "bulletins.create.label.notes" | translate }}
              </label>
              <textarea
                rows="5"
                class="form-control"
                [disabled]="disabled"
                [(ngModel)]="bulletin.tendencyCommentNotes"
                (focusout)="onNotesFocusOut($event)"
                placeholder="{{ 'bulletins.create.placeholder.notes' | translate }}"
              ></textarea>
            </div>
          </div>
        </div>
        <!-- End of tendency comment -->

        <!-- Translations -->
        <button
          class="btn btn-sm btn-bare region-form__translation-toggle"
          type="button"
          *ngIf="showTranslationsTendencyComment"
          (click)="setShowTranslations('tendencyComment')"
        >
          <i class="ph ph-caret-down"></i>
          <span>{{ "bulletins.create.title.hideTranslations" | translate }}</span>
        </button>
        <button
          class="btn btn-sm btn-bare region-form__translation-toggle"
          type="button"
          *ngIf="!showTranslationsTendencyComment"
          (click)="setShowTranslations('tendencyComment')"
        >
          <i class="ph ph-caret-right"></i>
          <span>{{ "bulletins.create.title.showTranslations" | translate }}</span>
        </button>

        <div *ngIf="showTranslationsTendencyComment" class="region-form__translation-block">
          <div
            *ngFor="let lang of translationLanguages"
            class="input-group region-form__translation-item"
          >
            <span class="input-group-text">{{lang | uppercase}}</span>
            <textarea
              rows="5"
              class="form-control"
              [disabled]="true"
              [ngModel]="bulletin.tendencyComment$[lang] | html"
            ></textarea>
          </div>
        </div>
        <!-- End of translations-->
      </div>
      <!-- End tendency-->
    </accordion-group>
    <!-- End tendency -->
  </accordion>
</main>
</div>

<ng-template #loadAvActivityCommentExampleTextTemplate>
  <div class="modal-body text-center">
    <p>{{ "bulletins.create.loadAvActivityCommentExampleTextDialog.message" | translate }}</p>
  </div>
  <div class="modal-footer">
    <button
      style="margin-bottom: 5px"
      type="button"
      class="btn btn-primary"
      (click)="loadAvActivityCommentExampleText('new_snow')"
    >
      {{ "bulletins.create.loadAvActivityCommentExampleTextDialog.newSnow" | translate }}
    </button>
    <button
      style="margin-bottom: 5px"
      type="button"
      class="btn btn-primary"
      (click)="loadAvActivityCommentExampleText('wind_slab')"
    >
      {{ "bulletins.create.loadAvActivityCommentExampleTextDialog.windSlab" | translate }}
    </button>
    <button
      style="margin-bottom: 5px"
      type="button"
      class="btn btn-primary"
      (click)="loadAvActivityCommentExampleText('persistent_weak_layers')"
    >
      {{ "bulletins.create.loadAvActivityCommentExampleTextDialog.persistentWeakLayers" | translate }}
    </button>
    <button
      style="margin-bottom: 5px"
      type="button"
      class="btn btn-primary"
      (click)="loadAvActivityCommentExampleText('wet_snow')"
    >
      {{ "bulletins.create.loadAvActivityCommentExampleTextDialog.wetSnow" | translate }}
    </button>
    <button
      style="margin-bottom: 5px"
      type="button"
      class="btn btn-primary"
      (click)="loadAvActivityCommentExampleText('gliding_snow')"
    >
      {{ "bulletins.create.loadAvActivityCommentExampleTextDialog.glidingSnow" | translate }}
    </button>
    <button
      style="margin-bottom: 5px"
      type="button"
      class="btn btn-primary"
      (click)="loadAvActivityCommentExampleText('favourable_situation')"
    >
      {{ "bulletins.create.loadAvActivityCommentExampleTextDialog.favourableSituation" | translate }}
    </button>
    <button
      style="margin-bottom: 5px"
      type="button"
      class="btn btn-default"
      (click)="loadAvActivityCommentExampleTextCancel()"
    >
      {{ "bulletins.create.loadAvActivityCommentExampleTextDialog.cancel" | translate }}
    </button>
  </div>
</ng-template>

<ng-template #loadSnowpackStructureCommentExampleTextTemplate>
  <div class="modal-body text-center">
    <p>{{ "bulletins.create.loadAvActivityCommentExampleTextDialog.message" | translate }}</p>
  </div>
  <div class="modal-footer">
    <button
      style="margin-bottom: 5px"
      type="button"
      class="btn btn-primary"
      (click)="loadSnowpackStructureCommentExampleText('new_snow')"
    >
      {{ "bulletins.create.loadAvActivityCommentExampleTextDialog.newSnow" | translate }}
    </button>
    <button
      style="margin-bottom: 5px"
      type="button"
      class="btn btn-primary"
      (click)="loadSnowpackStructureCommentExampleText('wind_slab')"
    >
      {{ "bulletins.create.loadAvActivityCommentExampleTextDialog.windSlab" | translate }}
    </button>
    <button
      style="margin-bottom: 5px"
      type="button"
      class="btn btn-primary"
      (click)="loadSnowpackStructureCommentExampleText('persistent_weak_layers')"
    >
      {{ "bulletins.create.loadAvActivityCommentExampleTextDialog.persistentWeakLayers" | translate }}
    </button>
    <button
      style="margin-bottom: 5px"
      type="button"
      class="btn btn-primary"
      (click)="loadSnowpackStructureCommentExampleText('wet_snow')"
    >
      {{ "bulletins.create.loadAvActivityCommentExampleTextDialog.wetSnow" | translate }}
    </button>
    <button
      style="margin-bottom: 5px"
      type="button"
      class="btn btn-primary"
      (click)="loadSnowpackStructureCommentExampleText('gliding_snow')"
    >
      {{ "bulletins.create.loadAvActivityCommentExampleTextDialog.glidingSnow" | translate }}
    </button>
    <button
      style="margin-bottom: 5px"
      type="button"
      class="btn btn-primary"
      (click)="loadSnowpackStructureCommentExampleText('favourable_situation')"
    >
      {{ "bulletins.create.loadAvActivityCommentExampleTextDialog.favourableSituation" | translate }}
    </button>
    <button
      style="margin-bottom: 5px"
      type="button"
      class="btn btn-default"
      (click)="loadSnowpackStructureCommentExampleTextCancel()"
    >
      {{ "bulletins.create.loadAvActivityCommentExampleTextDialog.cancel" | translate }}
    </button>
  </div>
</ng-template>
