<img
*ngIf="isAvalancheProblem('new_snow')"
src="./assets/img/New_snow_c.svg"
[ngClass]="iconClass"
/>
<img
*ngIf="isAvalancheProblem('wind_slab')"
src="./assets/img/Drifting_snow_c.svg"
[ngClass]="iconClass"
/>
<img 
*ngIf="isAvalancheProblem('persistent_weak_layers')" 
src="./assets/img/Persistent_weak_layers_c.svg" 
[ngClass]="iconClass"
/>
<img
*ngIf="isAvalancheProblem('wet_snow')"
src="./assets/img/Wet_snow_c.svg"
[ngClass]="iconClass"
/>
<img
*ngIf="isAvalancheProblem('gliding_snow')"
src="./assets/img/Gliding_snow_c.svg"
[ngClass]="iconClass"
/>
<img
*ngIf="isAvalancheProblem('favourable_situation')"
src="./assets/img/Favourable_situation_c.svg"
[ngClass]="iconClass"
/>
<img
*ngIf="isAvalancheProblem('cornices')"
src="./assets/img/Cornices_c.svg"
[ngClass]="iconClass"
/>
<img
*ngIf="isAvalancheProblem('no_distinct_problem')"
src="./assets/img/No_distinct_problem_c.svg"
[ngClass]="iconClass"
/>