<div>
  <header class="region-form__header">
    <div class="region-form__header-actions btn-group" dropdown>
      <button
        *ngIf="!isComparedBulletin"
        dropdownToggle
        class="btn btn-bare btn-sm btn-icon btn-bare--grey"
        type="button"
        aria-controls="dropdownMenu"
      >
        <i class="ph-bold ph-dots-three-outline-vertical"></i>
      </button>
      <ul id="dropdownMenu" *dropdownMenu class="dropdown-menu dropdown-menu-end">
        <li *ngIf="isCompactMapLayout">
          <button class="dropdown-item" (click)="setMapLayout(false)">
            <i class="ph icon-md ph-square-split-horizontal"></i> {{ "bulletins.create.mapLeft" | translate }}
          </button>
        </li>
        <li *ngIf="!isCompactMapLayout">
          <button class="dropdown-item" (click)="setMapLayout(true)">
            <i class="ph icon-md ph-square-split-vertical"></i> {{ "bulletins.create.mapTop" | translate }}
          </button>
        </li>
      </ul>
      <button (click)="deselectBulletin()" class="btn btn-bare btn-sm btn-icon btn-bare--grey">
        <i class="ph-bold ph-x"></i>
      </button>
    </div>
    <div class="region-form__title">
      <h6 class="font-xs text-secondary">{{ regionsService.getRegionName(bulletin.getOwnerRegion()) }}</h6>
      <h2 class="font-l">
        <span *ngIf="bulletin.getSavedAndPublishedRegions().length > 0">{{
          regionsService.getRegionName(bulletin.getSavedAndPublishedRegions()[0].toString())
        }}</span>
        <span *ngIf="bulletin.getSavedAndPublishedRegions().length > 1">
          + {{ bulletin.getSavedAndPublishedRegions().length - 1 }}
        </span>
      </h2>

      <div class="user-avatar region-form__author">
        <span class="user-avatar__name">{{ bulletin.getAuthor().getName() }}</span>
      </div>
    </div>
  </header>

  <div *ngIf="bulletinsService.isLocked(bulletin.getId())" class="region-form__banner banner banner-warning-strong">
    <p class="banner__text">
      <i class="ph ph-lock"></i>
      {{ "bulletins.create.regionLocked" | translate }}
    </p>
  </div>

  <div
    *ngIf="!bulletinsService.isLocked(bulletin.getId()) && bulletinsService.getIsEditable() && isCreator(bulletin)"
    class="region-form__banner banner banner-info"
  >
    <p class="banner__text">
      <i class="ph ph-pencil-line"></i>
      {{ "bulletins.create.regionEditable" | translate }}
    </p>
    <div class="btn-group banner__actions">
      <button
        [class]="bulletin.hasDaytimeDependency ? 'btn-primary' : 'btn-outline-primary'"
        *ngIf="!editRegions"
        (click)="daytimeDependencyChanged($event, !bulletin.hasDaytimeDependency)"
        data-toggle="tooltip"
        title="{{ 'bulletins.create.tooltip.daytimeDependency' | translate }}"
        type="button"
        class="btn btn-sm btn-icon"
      >
        <i class="ph ph-sun-horizon"></i>
      </button>
      <button
        *ngIf="!editRegions"
        (click)="editMicroRegions()"
        data-toggle="tooltip"
        title="{{ 'bulletins.create.tooltip.edit' | translate }}"
        type="button"
        class="btn btn-sm btn-icon btn-outline-primary"
      >
        <i class="ph ph-map-trifold"></i>
      </button>
      <button
        *ngIf="
          !editRegions &&
          !copyService.isCopyBulletin() &&
          !authenticationService.isCurrentUserInRole(constantsService.roleObserver)
        "
        (click)="copyBulletin()"
        data-toggle="tooltip"
        title="{{ 'bulletins.create.tooltip.copy' | translate }}"
        type="button"
        class="btn btn-sm btn-icon btn-outline-primary"
      >
        <i class="ph ph-copy"></i>
      </button>
      <button
        *ngIf="!editRegions"
        (click)="deleteBulletin()"
        data-toggle="tooltip"
        title="{{ 'bulletins.create.tooltip.delete' | translate }}"
        type="button"
        class="btn btn-sm btn-icon btn-outline-primary"
      >
        <i class="ph ph-trash"></i>
      </button>
    </div>
  </div>

  <div
    *ngIf="
      !bulletinsService.isLocked(bulletin.getId()) &&
      bulletinsService.getIsEditable() &&
      !isCreator(bulletin) &&
      hasSuggestions(bulletin)
    "
    class="region-form__banner banner banner-warning-strong"
  >
    <p class="banner__text">
      <i class="ph ph-lightbulb"></i>
      {{ "bulletins.create.pendingSuggestions" | translate }}
    </p>
    <div class="btn-group banner__actions">
      <button (click)="rejectSuggestions($event, bulletin)" type="button" class="btn btn-sm btn-outline-dark">
        <i class="ph ph-x"></i> <span>{{ "bulletins.create.rejectSuggestion" | translate }}</span>
      </button>
      <button (click)="acceptSuggestions($event, bulletin)" type="button" class="btn btn-sm btn-dark">
        <i class="ph ph-check"></i><span>{{ "bulletins.create.acceptSuggestion" | translate }}</span>
      </button>
    </div>
  </div>

  <div
    *ngIf="
      !bulletinsService.isLocked(bulletin.getId()) &&
      (!bulletinsService.getIsEditable() ||
        (bulletinsService.getIsEditable() && !isCreator(bulletin) && !hasSuggestions(bulletin)))
    "
    class="region-form__banner banner banner-warning"
  >
    <p class="banner__text">
      <i class="ph ph-pencil-slash"></i>
      {{ "bulletins.create.regionNotEditable" | translate }}
    </p>
    <div class="btn-group banner__actions">
      <button
        *ngIf="showEditMicroRegionsButton()"
        (click)="editMicroRegions()"
        data-toggle="tooltip"
        title="{{ 'bulletins.create.tooltip.edit' | translate }}"
        type="button"
        class="btn btn-sm btn-icon btn-outline-primary"
      >
        <i class="ph ph-map-trifold"></i>
      </button>
      <button
        *ngIf="
          !isComparedBulletin &&
          !copyService.isCopyBulletin() &&
          !authenticationService.isCurrentUserInRole(constantsService.roleObserver)
        "
        (click)="copyBulletin()"
        data-toggle="tooltip"
        title="{{ 'bulletins.create.tooltip.copy' | translate }}"
        type="button"
        class="btn btn-sm btn-icon btn-outline-primary"
      >
        <i class="ph ph-copy"></i>
      </button>
    </div>
  </div>

  <main class="region-form__content">
    <accordion class="accordion">
      <!-- Avalanche problems -->
      <accordion-group
        class="accordion-group"
        [isOpen]="isAccordionAvalancheProblemOpen"
        (isOpenChange)="accordionChanged($event, 'avalancheProblem')"
      >
        <div accordion-heading class="accordion-header accordion-header--with-buttons">
          <h2 class="accordion-header__title">
            <i *ngIf="!isAccordionAvalancheProblemOpen" class="accordion__arrow ph ph-caret-right"></i>
            <i *ngIf="isAccordionAvalancheProblemOpen" class="accordion__arrow ph ph-caret-down"></i>
            {{ "bulletins.create.title.avalancheProblem" | translate
            }}<span *ngIf="bulletin.hasDaytimeDependency"
              >&nbsp;{{ "bulletins.create.title.forenoon" | translate }}</span
            >
          </h2>

          <div class="btn-group accordion-header__buttons">
            <button
              [disabled]="editRegions || loading || hasFiveAvalancheProblems(false)"
              *ngIf="!disabled"
              (click)="createAvalancheProblem(false); $event.stopPropagation()"
              class="btn btn-primary btn-icon btn-sm ml-2"
              title="{{ 'bulletins.create.createAvalancheProblem' | translate }}"
            >
              <i class="ph ph-plus"></i>
            </button>
          </div>
        </div>
        <!-- Avalanche problems panel content -->
        <app-avalanche-problem
          [bulletinModel]="bulletin"
          [bulletinDaytimeDescription]="bulletin.forenoon"
          [afternoon]="false"
          [disabled]="disabled"
          (changeAvalancheProblemEvent)="updateBulletinOnServer()"
        ></app-avalanche-problem>
        <!-- End Avalanche problems panel content -->
      </accordion-group>
      <accordion-group
        *ngIf="bulletin.hasDaytimeDependency"
        #accordionAvalancheProblemAfternoon
        class="accordion-group"
      >
        <div accordion-heading class="accordion-header accordion-header--with-buttons">
          <h2 class="accordion-header__title">
            <i *ngIf="accordionAvalancheProblemAfternoon.isOpen" class="accordion__arrow ph ph-caret-down"></i>
            <i *ngIf="!accordionAvalancheProblemAfternoon.isOpen" class="accordion__arrow ph ph-caret-right"></i>
            <span
              >{{ "bulletins.create.title.avalancheProblem" | translate }}
              {{ "bulletins.create.title.afternoon" | translate }}</span
            >
          </h2>

          <div class="btn-group accordion-header__buttons">
            <button
              [disabled]="editRegions || loading || hasFiveAvalancheProblems(false) || !isCreator(bulletin)"
              *ngIf="!disabled"
              (click)="createAvalancheProblem(true); $event.stopPropagation()"
              class="btn btn-primary btn-icon btn-sm"
              title="{{ 'bulletins.create.createAvalancheProblem' | translate }}"
            >
              <i class="ph ph-plus"></i>
            </button>
          </div>
        </div>
        <app-avalanche-problem
          [bulletinModel]="bulletin"
          [bulletinDaytimeDescription]="bulletin.afternoon"
          [afternoon]="true"
          [disabled]="disabled"
          (changeAvalancheProblemEvent)="updateBulletinOnServer(bulletin)"
        ></app-avalanche-problem>
      </accordion-group>
      <!-- End avalanche problems -->

      <!-- Danger description -->
      <accordion-group
        [isOpen]="isAccordionDangerDescriptionOpen"
        (isOpenChange)="accordionChanged($event, 'dangerDescription')"
      >
        <div accordion-heading class="accordion-header">
          <h2 class="accordion-header__title">
            <i *ngIf="!isAccordionDangerDescriptionOpen" class="accordion__arrow ph ph-caret-right"></i>
            <i *ngIf="isAccordionDangerDescriptionOpen" class="accordion__arrow ph ph-caret-down"></i>
            <span>
              {{ "bulletins.create.title.dangerDescription" | translate }}
            </span>
          </h2>
        </div>
        <!-- Danger description panel content -->
        <div
          id="region-form-danger-description"
          class="accordion-collapse -collapse show"
          data-bs-parent="#region-form-accordion"
        >
          <!-- Special alert -->
          <app-bulletin-text
            textField="highlights"
            rows="1"
            [bulletin]="bulletin"
            [disabled]="disabled"
            (showDialog)="showDialog($event)"
            (updateBulletinOnServer)="updateBulletinOnServer()"
          />
          <!-- End Translations-->

          <!-- Danger situation headline -->
          <app-bulletin-text
            textField="avActivityHighlights"
            rows="3"
            [bulletin]="bulletin"
            [disabled]="disabled"
            (showDialog)="showDialog($event)"
            (updateBulletinOnServer)="updateBulletinOnServer()"
          />

          <!-- Danger situation description -->
          <app-bulletin-text
            textField="avActivityComment"
            rows="9"
            [bulletin]="bulletin"
            [disabled]="disabled"
            (showDialog)="showDialog($event)"
            (updateBulletinOnServer)="updateBulletinOnServer()"
          />
          <!-- End of danger situation description -->
        </div>
        <!-- End of danger description panel content -->
      </accordion-group>
      <!-- End danger description -->

      <!-- Snowpack structure -->
      <accordion-group
        [isOpen]="isAccordionSnowpackStructureOpen"
        (isOpenChange)="accordionChanged($event, 'snowpackStructure')"
      >
        <div accordion-heading class="accordion-header">
          <h2 class="accordion-header__title">
            <i *ngIf="!isAccordionSnowpackStructureOpen" class="accordion__arrow ph ph-caret-right"></i>
            <i *ngIf="isAccordionSnowpackStructureOpen" class="accordion__arrow ph ph-caret-down"></i>
            <span>
              {{ "bulletins.create.title.snowpackStructure" | translate }}
            </span>
          </h2>
        </div>
        <!-- Snowpack structure panel content -->
        <div
          id="region-form-snowpack-structure"
          class="accordion-collapse -collapse show"
          data-bs-parent="#region-form-accordion"
        >
          <!-- Danger patterns -->
          <div class="form-group region-form__danger-patterns">
            <label class="form-label" for="">{{ "bulletins.create.label.dangerPatterns" | translate }}</label>
            <select
              [ngModel]="bulletin.dangerPattern1"
              (ngModelChange)="onDangerPattern1Change($event)"
              [disabled]="disabled"
              class="form-select"
            >
              <option selected></option>
              <option *ngFor="let dp of dangerPattern" [value]="dp">{{ "dangerPattern." + dp | translate }}</option>
            </select>

            <select
              [ngModel]="bulletin.dangerPattern2"
              (ngModelChange)="onDangerPattern2Change($event)"
              [disabled]="disabled"
              class="form-select"
            >
              <option selected></option>
              <option *ngFor="let dp of dangerPattern" [value]="dp">{{ "dangerPattern." + dp | translate }}</option>
            </select>
          </div>
          <!-- End of danger patterns -->

          <!-- Danger pattern description -->
          <app-bulletin-text
            textField="snowpackStructureComment"
            rows="9"
            [bulletin]="bulletin"
            [disabled]="disabled"
            (showDialog)="showDialog($event)"
            (updateBulletinOnServer)="updateBulletinOnServer()"
          />
          <!-- End of danger pattern description -->
        </div>
        <!-- End of snowpack structure panel content-->
      </accordion-group>
      <!-- End Snowpack structure -->

      <!-- Tendency -->
      <accordion-group [isOpen]="isAccordionTendencyOpen" (isOpenChange)="accordionChanged($event, 'tendency')">
        <!-- Tendency -->
        <div accordion-heading class="accordion-header">
          <h2 class="accordion-header__title">
            <i *ngIf="!isAccordionTendencyOpen" class="accordion__arrow ph ph-caret-right"></i>
            <i *ngIf="isAccordionTendencyOpen" class="accordion__arrow ph ph-caret-down"></i>

            <span>
              {{ "bulletins.create.title.tendency" | translate }}
            </span>
          </h2>
        </div>

        <div class="region-form__tendency">
          <!-- Tendency picker -->
          <div class="form-group">
            <div class="btn-group">
              <button
                *ngFor="let t of tendency"
                [disabled]="disabled"
                type="reset"
                [class]="isTendency(t) ? 'btn btn-small btn-dark' : 'btn btn-small btn-outline-secondary'"
                (click)="setTendency($event, isTendency(t) ? undefined : t)"
                data-toggle="tooltip"
                title="{{ 'bulletins.create.tooltip.tendency.' + t | translate }}"
              >
                <i
                  [ngClass]="{
                    ph: true,
                    'ph-arrow-down-right': t === 'decreasing',
                    'ph-equals': t === 'steady',
                    'ph-arrow-up-right': t === 'increasing'
                  }"
                ></i>
                {{ "tendency." + t | translate }}
              </button>
            </div>
          </div>
          <!-- End of tendency picker -->

          <!-- Tendency comment -->
          <app-bulletin-text
            textField="tendencyComment"
            rows="5"
            [bulletin]="bulletin"
            [disabled]="disabled"
            (showDialog)="showDialog($event)"
            (updateBulletinOnServer)="updateBulletinOnServer()"
          />
          <!-- End of tendency comment -->
        </div>
        <!-- End tendency-->
      </accordion-group>
      <!-- End tendency -->
    </accordion>
  </main>
</div>
