<div class="bulletins animated fadeIn container">
  <table class="table table-bordered responsive-table">
    <thead class="bulletins-table__header">
      <tr>
        <th></th>
        <th><i class="ph ph-brain"></i> stress level</th>
        <th>{{ "bulletins.table.title.status." + authenticationService.getActiveRegion().id | translate }}</th>
        <th class="" *ngFor="let region of authenticationService.getActiveRegion().neighborRegions">
          {{ "bulletins.table.title.status." + region | translate }}
        </th>
      </tr>
    </thead>
    <tbody class="bulletins-table__body">
      <tr
        *ngFor="let date of bulletinsService.dates"
        [class.bulletins-table__day--past]="bulletinsService.hasBeenPublished5PM(date)"
      >
        <td [attr.data-label]="'bulletins.table.title.date' | translate">
          <div class="bulletins-table__day">
            <time>
              {{ date[1] | date: "fullDate" : undefined : translateService.currentLang }}
              <br />
              <small class="fw-normal">
                {{ date[0] | date: "medium" : undefined : translateService.currentLang }}
                &ndash;
                {{ date[1] | date: "medium" : undefined : translateService.currentLang }}
              </small>
            </time>
            <div class="bulletins-table__day-buttons-div">
              <button
                class="btn btn-secondary btn-icon bulletins-table__day-buttons"
                type="button"
                (click)="editBulletin(date, true)"
                title="{{ 'bulletins.tooltip.read' | translate }}"
              >
                <i class="ph ph-eye"></i>
              </button>
              <button
                *ngIf="
                  authenticationService.isCurrentUserInRole(constantsService.roleForecaster) ||
                  authenticationService.isCurrentUserInRole(constantsService.roleForeman)
                "
                class="btn btn-secondary btn-icon bulletins-table__day-buttons"
                type="button"
                (click)="editBulletin(date, false)"
                title="{{ 'bulletins.tooltip.edit' | translate }}"
              >
                <i class="ph ph-pencil-line"></i>
              </button>
            </div>
          </div>
        </td>
        <td [attr.data-label]="'stress level'">
          <input
            class="form-range"
            type="range"
            [(ngModel)]="stress[date[0].getTime()]"
            (input)="postStressLevel(date[0])"
            [style.--form-range-thumb-bg]="
              !stress[date[0].getTime()]
                ? 'gray'
                : stress[date[0].getTime()] < 20
                  ? 'green'
                  : stress[date[0].getTime()] < 70
                    ? 'orange'
                    : 'red'
            "
          />
          <i
            class="ph"
            [class]="
              stress[date[0].getTime()] < 20
                ? 'ph-smiley'
                : stress[date[0].getTime()] < 70
                  ? 'ph-smiley-meh'
                  : stress[date[0].getTime()] <= 100
                    ? 'ph-smiley-x-eyes'
                    : ''
            "
          ></i>
        </td>
        <td
          class="bulletins-table__region-status"
          [attr.data-label]="'bulletins.table.title.status.' + authenticationService.getActiveRegion().id | translate"
        >
          <span
            *ngIf="getActiveRegionStatus(date) === bulletinStatus.missing || getActiveRegionStatus(date) === undefined"
            class="badge bg-danger"
          >
            <i class="ph-bold ph-x"></i> {{ "bulletins.table.status.missing" | translate }}
          </span>
          <span *ngIf="getActiveRegionStatus(date) === bulletinStatus.draft" class="badge bg-warning">
            <i class="ph-bold ph-file-dashed"></i>
            {{ "bulletins.table.status.draft" | translate }}
          </span>
          <span *ngIf="getActiveRegionStatus(date) === bulletinStatus.submitted" class="badge bg-primary">
            <i class="ph-bold ph-clock-countdown"></i>
            {{ "bulletins.table.status.submitted" | translate }}
          </span>
          <span *ngIf="getActiveRegionStatus(date) === bulletinStatus.published" class="badge bg-success">
            <i class="ph-bold ph-newspaper"></i>
            {{ "bulletins.table.status.published" | translate }}
          </span>
          <span *ngIf="getActiveRegionStatus(date) === bulletinStatus.updated" class="badge bg-orange">
            <i class="ph-bold ph-file-dashed"></i>
            {{ "bulletins.table.status.updated" | translate }}
          </span>
          <span *ngIf="getActiveRegionStatus(date) === bulletinStatus.resubmitted" class="badge bg-primary">
            <i class="ph-bold ph-clock-countdown"></i> {{ "bulletins.table.status.resubmitted" | translate }}
          </span>
          <span *ngIf="getActiveRegionStatus(date) === bulletinStatus.republished" class="badge bg-success">
            <i class="ph-bold ph-newspaper"></i>
            {{ "bulletins.table.status.republished" | translate }}
          </span>
          <span
            *ngIf="bulletinsService.isLocked(date, authenticationService.getActiveRegionId())"
            class="badge text-bg-light"
          >
            <i class="ph-bold ph-lock"></i>
          </span>
        </td>
        <td
          class="bulletins-table__region-status"
          *ngFor="let region of authenticationService.getActiveRegion().neighborRegions"
          [attr.data-label]="'bulletins.table.title.status.' + region | translate"
          [style.background-color]="bulletinsService.isLocked(date, region) ? 'rgba(255,0,0,0.2)' : ''"
        >
          <span
            *ngIf="
              getRegionStatus(region, date) === bulletinStatus.missing || getRegionStatus(region, date) === undefined
            "
            class="badge bg-danger"
            ><i class="ph-bold ph-x"></i> {{ "bulletins.table.status.missing" | translate }}</span
          >
          <span *ngIf="getRegionStatus(region, date) === bulletinStatus.draft" class="badge bg-warning"
            ><i class="ph-bold ph-file-dashed"></i> {{ "bulletins.table.status.draft" | translate }}</span
          >
          <span *ngIf="getRegionStatus(region, date) === bulletinStatus.submitted" class="badge bg-primary"
            ><i class="ph-bold ph-clock-countdown"></i> {{ "bulletins.table.status.submitted" | translate }}</span
          >
          <span *ngIf="getRegionStatus(region, date) === bulletinStatus.published" class="badge bg-success"
            ><i class="ph-bold ph-newspaper"></i> {{ "bulletins.table.status.published" | translate }}</span
          >
          <span *ngIf="getRegionStatus(region, date) === bulletinStatus.updated" class="badge bg-orange"
            ><i class="ph-bold ph-file-dashed"></i> {{ "bulletins.table.status.updated" | translate }}</span
          >
          <span *ngIf="getRegionStatus(region, date) === bulletinStatus.resubmitted" class="badge bg-primary"
            ><i class="ph-bold ph-clock-countdown"></i> {{ "bulletins.table.status.resubmitted" | translate }}</span
          >
          <span *ngIf="getRegionStatus(region, date) === bulletinStatus.republished" class="badge bg-success"
            ><i class="ph-bold ph-newspaper"></i> {{ "bulletins.table.status.republished" | translate }}</span
          >
          <span *ngIf="bulletinsService.isLocked(date, region)" class="badge text-bg-light">
            <i class="ph-bold ph-lock"></i>
          </span>
        </td>
        <td class="bulletins-table__region-publishing-tools">
          <!-- copy -->
          <button
            *ngIf="showCopyButton(date)"
            type="button"
            class="btn btn-secondary btn-sm"
            (click)="copy($event, date)"
            data-toggle="tooltip"
            title="{{ 'bulletins.tooltip.copy' | translate }}"
          >
            <i class="ph ph-copy"></i>
          </button>

          <!-- paste -->
          <button
            *ngIf="showPasteButton(date)"
            type="button"
            class="btn btn-secondary btn-sm"
            (click)="paste($event, date)"
            data-toggle="tooltip"
            title="{{ 'bulletins.tooltip.paste' | translate }}"
          >
            <i class="ph ph-clipboard-text"></i>
          </button>

          <!-- cancel -->
          <button
            *ngIf="showPasteButton(date)"
            type="button"
            class="btn btn-secondary btn-sm"
            (click)="cancelCopy($event)"
            data-toggle="tooltip"
            title="{{ 'bulletins.tooltip.cancel' | translate }}"
          >
            <i class="ph ph-x"></i>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="999">
          <button
            *ngFor="let days of [7]"
            style="width: -webkit-fill-available"
            class="btn btn-icon btn-sm"
            (click)="bulletinsService.init({ days: bulletinsService.dates.length + days })"
            title="{{ 'bulletins.status.loadMoreBulletins' | translate: { count: days } }}"
          >
            <i class="ph ph-caret-down"></i>
          </button>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
