<div class="bulletins animated fadeIn container">
  <table class="table table-bordered responsive-table">
    <thead class="bulletins-table__header">
      <tr>
        <th></th>
        <th>{{ "bulletins.table.title.status." + authenticationService.getActiveRegion().id | translate }}</th>
        <th class="" *ngFor="let region of authenticationService.getActiveRegion().neighborRegions">
          {{ "bulletins.table.title.status." + region | translate }}
        </th>
      </tr>
    </thead>
    <tbody class="bulletins-table__body">
      <tr
        *ngFor="let date of bulletinsService.dates"
        [ngClass]="{
          'bulletins-table__day--past': isPast(date) && !isToday(date)
        }"
      >
        <td [attr.data-label]="'bulletins.table.title.date' | translate ">
          <div class="bulletins-table__day">
            <time>
              {{ date | localizedDate : "fullDate" }}
            </time>
            <button class="btn btn-primary btn-icon" type="button" (click)="editBulletin(date, false)">
              <i class="ph ph-newspaper"></i>
            </button>
          </div>
        </td>
        <td class="bulletins-table__region-status" [attr.data-label]="'bulletins.table.title.status.' + authenticationService.getActiveRegion().id | translate">
          <span
            *ngIf="getActiveRegionStatus(date) === bulletinStatus.missing || getActiveRegionStatus(date) === undefined"
            class="badge bg-danger"
          >
            <i class="ph-bold ph-x"></i> {{ "bulletins.table.status.missing" | translate }}
          </span>
          <span *ngIf="getActiveRegionStatus(date) === bulletinStatus.draft" class="badge bg-warning">
            <i class="ph-bold ph-file-dashed"></i>
            {{ "bulletins.table.status.draft" | translate }}
          </span>
          <span *ngIf="getActiveRegionStatus(date) === bulletinStatus.submitted" class="badge bg-primary">
            <i class="ph-bold ph-clock-countdown"></i>
            {{ "bulletins.table.status.submitted" | translate }}
          </span>
          <span *ngIf="getActiveRegionStatus(date) === bulletinStatus.published" class="badge bg-success">
            <i class="ph-bold ph-newspaper"></i>
            {{ "bulletins.table.status.published" | translate }}
          </span>
          <span *ngIf="getActiveRegionStatus(date) === bulletinStatus.updated" class="badge bg-orange">
            <i class="ph-bold ph-file-dashed"></i>
            {{ "bulletins.table.status.updated" | translate }}
          </span>
          <span *ngIf="getActiveRegionStatus(date) === bulletinStatus.resubmitted" class="badge bg-primary">
            <i class="ph-bold ph-clock-countdown"></i> {{ "bulletins.table.status.resubmitted" | translate }}
          </span>
          <span *ngIf="getActiveRegionStatus(date) === bulletinStatus.republished" class="badge bg-success">
            <i class="ph-bold ph-newspaper"></i>
            {{ "bulletins.table.status.republished" | translate }}
          </span>
          <span
            *ngIf="bulletinsService.isLocked(date, authenticationService.getActiveRegionId())"
            class="badge text-bg-light"
          >
            <i class="ph-bold ph-lock"></i>
          </span>
        </td>
        <td
          class="bulletins-table__region-status"
          *ngFor="let region of authenticationService.getActiveRegion().neighborRegions"
          [attr.data-label]="'bulletins.table.title.status.' + region | translate"
          [style.background-color]="bulletinsService.isLocked(date, region) ? 'rgba(255,0,0,0.2)' : ''"
        >
          <span
            *ngIf="
              getRegionStatus(region, date) === bulletinStatus.missing || getRegionStatus(region, date) === undefined
            "
            class="badge bg-danger"
            ><i class="ph-bold ph-x"></i> {{ "bulletins.table.status.missing" | translate }}</span
          >
          <span *ngIf="getRegionStatus(region, date) === bulletinStatus.draft" class="badge bg-warning"
            ><i class="ph-bold ph-file-dashed"></i> {{ "bulletins.table.status.draft" | translate }}</span
          >
          <span *ngIf="getRegionStatus(region, date) === bulletinStatus.submitted" class="badge bg-primary"
            ><i class="ph-bold ph-clock-countdown"></i> {{ "bulletins.table.status.submitted" | translate }}</span
          >
          <span *ngIf="getRegionStatus(region, date) === bulletinStatus.published" class="badge bg-success"
            ><i class="ph-bold ph-newspaper"></i> {{ "bulletins.table.status.published" | translate }}</span
          >
          <span *ngIf="getRegionStatus(region, date) === bulletinStatus.updated" class="badge bg-orange"
            ><i class="ph-bold ph-file-dashed"></i> {{ "bulletins.table.status.updated" | translate }}</span
          >
          <span *ngIf="getRegionStatus(region, date) === bulletinStatus.resubmitted" class="badge bg-primary"
            ><i class="ph-bold ph-clock-countdown"></i> {{ "bulletins.table.status.resubmitted" | translate }}</span
          >
          <span *ngIf="getRegionStatus(region, date) === bulletinStatus.republished" class="badge bg-success"
            ><i class="ph-bold ph-newspaper"></i> {{ "bulletins.table.status.republished" | translate }}</span
          >
          <span *ngIf="bulletinsService.isLocked(date, region)" class="badge text-bg-light">
            <i class="ph-bold ph-lock"></i>
          </span>
        </td>
        <td class="bulletins-table__region-publishing-tools">
          <!-- create -->
          <!-- <button *ngIf="showCreateButton(date)" type="button" class="btn btn-primary btn-sm float-right" (click)="editBulletin(date, false)" data-toggle="tooltip" title="{{ 'bulletins.tooltip.create' | translate }}"><i class="fa fa-plus"></i></button> -->
          <!-- publish all -->
          <button
            *ngIf="showPublishAllButton(date)"
            type="button"
            class="btn btn-danger btn-sm"
            (click)="publishAll($event, date)"
            data-toggle="tooltip"
            title="{{ 'bulletins.tooltip.publishAll' | translate }}"
          >
            <i class="fa fa-warning"></i>
          </button>
          <!-- caaml -->
          <button
            *ngIf="showCaamlButton(date)"
            type="button"
            class="btn btn-secondary btn-sm"
            (click)="showCaaml($event, date)"
            data-toggle="tooltip"
            title="{{ 'bulletins.tooltip.caaml' | translate }}"
          >
            <i class="fa fa-file-text"></i>
          </button>
          <!-- json -->
          <button
            *ngIf="showJsonButton(date)"
            type="button"
            class="btn btn-secondary btn-sm"
            (click)="showJson($event, date)"
            data-toggle="tooltip"
            title="{{ 'bulletins.tooltip.json' | translate }}"
          >
            <i class="fa fa-file-text"></i>
          </button>
          <!-- info -->
          <button
            *ngIf="showInfoButton(date)"
            type="button"
            class="btn btn-secondary btn-sm"
            (click)="showPublicationInfo($event, date)"
            data-toggle="tooltip"
            title="{{ 'bulletins.tooltip.info' | translate }}"
          >
            <i class="fa fa-info"></i>
          </button>
          <!-- media file -->
          <button
            *ngIf="showMediaFileButton(date)"
            type="button"
            class="btn btn-secondary btn-sm"
            (click)="openMediaFileDialog($event, date)"
            data-toggle="tooltip"
            title="{{ 'bulletins.tooltip.mediaFile' | translate }}"
          >
            <i class="fa fa-microphone"></i>
          </button>
          <!-- copy -->
          <button
            *ngIf="showCopyButton(date)"
            type="button"
            class="btn btn-secondary btn-sm"
            (click)="copy($event, date)"
            data-toggle="tooltip"
            title="{{ 'bulletins.tooltip.copy' | translate }}"
          >
            <i class="fa fa-copy"></i>
          </button>
          <!-- preview -->
          <button
            *ngIf="showPreviewButton(date)"
            type="button"
            class="btn btn-secondary btn-sm"
            (click)="preview($event, date)"
            data-toggle="tooltip"
            title="{{ 'bulletins.tooltip.preview' | translate }}"
          >
            <i class="fa fa-eye"></i>
          </button>
          <!-- paste -->
          <button
            *ngIf="showPasteButton(date)"
            type="button"
            class="btn btn-secondary btn-sm"
            (click)="paste($event, date)"
            data-toggle="tooltip"
            title="{{ 'bulletins.tooltip.paste' | translate }}"
          >
            <i class="fa fa-paste"></i>
          </button>
          <!-- cancel -->
          <button
            *ngIf="showPasteButton(date)"
            type="button"
            class="btn btn-secondary btn-sm"
            (click)="cancelCopy($event)"
            data-toggle="tooltip"
            title="{{ 'bulletins.tooltip.cancel' | translate }}"
          >
            <i class="fa fa-close"></i>
          </button>
          <!-- submit -->
          <button
            *ngIf="showSubmitButton(date)"
            type="button"
            class="btn btn-primary btn-sm float-right"
            (click)="submit($event, date)"
            data-toggle="tooltip"
            title="{{ 'bulletins.tooltip.submit' | translate }}"
          >
            <i class="fa fa-send"></i>
          </button>
          <!-- publish update (not 5PM nor 8AM) -->
          <button
            *ngIf="showPublishButton(date)"
            type="button"
            class="btn btn-danger btn-sm float-right"
            (click)="publish($event, date)"
            data-toggle="tooltip"
            title="{{ 'bulletins.tooltip.publish' | translate }}"
          >
            <i class="fa fa-send"></i>
          </button>
          <!-- spinning icon -->
          <button *ngIf="showSpinningIconButton(date)" type="button" class="btn btn-primary btn-sm float-right">
            <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
          </button>
          <!-- edit -->
          <button
            *ngIf="showEditButton(date)"
            type="button"
            class="btn btn-secondary btn-sm"
            (click)="edit($event, date)"
            data-toggle="tooltip"
            title="{{ 'bulletins.tooltip.edit' | translate }}"
          >
            <i class="fa fa-pencil"></i>
          </button>
          <!-- update -->
          <button
            *ngIf="showUpdateButton(date)"
            type="button"
            class="btn btn-danger btn-sm float-right"
            (click)="createUpdate($event, date)"
            data-toggle="tooltip"
            title="{{ 'bulletins.tooltip.update' | translate }}"
          >
            <i class="fa fa-plus"></i>
          </button>
          <!-- check -->
          <button
            *ngIf="showCheckButton(date)"
            type="button"
            class="btn btn-primary btn-sm float-right"
            (click)="check($event, date)"
            data-toggle="tooltip"
            title="{{ 'bulletins.tooltip.check' | translate }}"
          >
            <i class="fa fa-check"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #publishBulletinsErrorTemplate>
  <div class="modal-body text-center">
    <p>{{ "bulletins.table.publishBulletinsErrorDialog.message" | translate }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="publishBulletinsErrorModalConfirm()">
      {{ "bulletins.table.publishBulletinsErrorDialog.accept" | translate }}
    </button>
  </div>
</ng-template>

<ng-template #previewErrorTemplate>
  <div class="modal-body text-center">
    <p>{{ "bulletins.table.previewErrorDialog.message" | translate }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="previewErrorModalConfirm()">
      {{ "bulletins.table.previewErrorDialog.accept" | translate }}
    </button>
  </div>
</ng-template>

<ng-template #submitBulletinsErrorTemplate>
  <div class="modal-body text-center">
    <p>{{ "bulletins.table.submitBulletinsErrorDialog.message" | translate }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="submitBulletinsErrorModalConfirm()">
      {{ "bulletins.table.submitBulletinsErrorDialog.accept" | translate }}
    </button>
  </div>
</ng-template>

<ng-template #submitBulletinsDuplicateRegionTemplate>
  <div class="modal-body text-center">
    <p>{{ "bulletins.table.submitBulletinsDuplicateRegionDialog.message" | translate }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="submitBulletinsDuplicateRegionModalConfirm()">
      {{ "bulletins.table.submitBulletinsDuplicateRegionDialog.accept" | translate }}
    </button>
  </div>
</ng-template>

<ng-template #checkBulletinsErrorTemplate>
  <div class="modal-body text-center">
    <p>{{ "bulletins.table.checkBulletinsErrorDialog.message" | translate }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="checkBulletinsErrorModalConfirm()">
      {{ "bulletins.table.checkBulletinsErrorDialog.accept" | translate }}
    </button>
  </div>
</ng-template>

<ng-template #publishAllTemplate>
  <div class="modal-body text-center">
    <p>{{ "bulletins.table.publishAllDialog.message" | translate }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="checkBulletinsErrorModalConfirm()">
      {{ "bulletins.table.checkBulletinsErrorDialog.accept" | translate }}
    </button>
  </div>
</ng-template>

<div id="overlay">
  <span id="nav" *ngIf="loadingPreview">
    <div class="submit-message" style="display: block; color: #ffffff; position: fixed; left: 49.7%; top: 54.5%">
      <p>{{ "bulletins.loadingPreview" | translate }}</p>
    </div>
  </span>
</div>
