<div class="animated fadeIn create-bulletin" [class.create-bulletin--modal]="showNewBulletinModal && activeBulletin">
  <!-- Sidebar -->
  <aside class="create-bulletin__sidebar" [class.hidden]="!isBulletinSidebarVisible">
    <!-- Date Switch -->
    <header class="create-bulletin__sidebar-header">
      <button
        (click)="toggleBulletinSidebar()"
        class="btn btn-bare btn-sm btn-icon btn-bare--grey d-block d-md-none create-bulletin__sidebar-close"
      >
        <i class="ph-bold ph-x"></i>
      </button>

      <div class="create-bulletin__date">
        <h1 class="create-bulletin__current-date font-m-bold">
          {{ bulletinsService.getActiveDate()[1] | date: "EEEE," : undefined : translateService.getCurrentLang()
          }}<br />
          {{ bulletinsService.getActiveDate()[1] | date: "longDate" : undefined : translateService.getCurrentLang() }}
        </h1>
        <nav class="btn-group create-bulleting__days-nav">
          <button
            type="button"
            class="btn btn-icon btn-sm btn-bare--grey invisible"
            (click)="toggleNextBulletin()"
            ngxMousetrapKey="alt+down"
          >
            <i class="ph-bold ph-caret-down"></i>
          </button>
          <button
            type="button"
            class="btn btn-icon btn-sm btn-bare--grey invisible"
            (click)="togglePreviousBulletin()"
            ngxMousetrapKey="alt+up"
          >
            <i class="ph-bold ph-caret-up"></i>
          </button>
          @if (bulletinsService.getPreviousDate()) {
            <button
              type="button"
              class="btn btn-icon btn-sm btn-bare--grey"
              (click)="changeDate(bulletinsService.getPreviousDate())"
              ngxMousetrapKey="mod+left"
            >
              <i class="ph-bold ph-caret-left"></i>
            </button>
          }
          @if (bulletinsService.getNextDate()) {
            <button
              type="button"
              class="btn btn-icon btn-sm btn-bare--grey"
              (click)="changeDate(bulletinsService.getNextDate())"
              ngxMousetrapKey="mod+right"
            >
              <i class="ph-bold ph-caret-right"></i>
            </button>
          }
        </nav>
      </div>
      <!-- End Date Switch -->

      <!-- Status -->
      <div class="create-bulletin__status">
        <h2
          (click)="showStatusOfAllRegions = !showStatusOfAllRegions"
          class="create-bulletin__status-title font-xs text-secondary"
        >
          <span>{{ "bulletins.create.statusHeader" | translate }}</span>
          <i class="icon-md ph-bold ph-caret-up-down"></i>
        </h2>

        @if (!showStatusOfAllRegions) {
          <div>
            @if (
              getActiveRegionStatus(bulletinsService.getActiveDate()) === bulletinStatus.missing ||
              getActiveRegionStatus(bulletinsService.getActiveDate()) === undefined
            ) {
              <span class="badge bg-danger"
                ><i class="ph-bold icon-sm ph-x"></i> {{ "bulletins.table.status.missing" | translate }}</span
              >
            }
            @if (getActiveRegionStatus(bulletinsService.getActiveDate()) === bulletinStatus.draft) {
              <span class="badge bg-warning"
                ><i class="ph-bold icon-sm ph-file-dashed"></i> {{ "bulletins.table.status.draft" | translate }}</span
              >
            }
            @if (getActiveRegionStatus(bulletinsService.getActiveDate()) === bulletinStatus.submitted) {
              <span class="badge bg-primary"
                ><i class="ph-bold icon-sm ph-newspaper"></i> {{ "bulletins.table.status.submitted" | translate }}</span
              >
            }
            @if (getActiveRegionStatus(bulletinsService.getActiveDate()) === bulletinStatus.published) {
              <span class="badge bg-success"
                ><i class="ph-bold icon-sm ph-newspaper"></i> {{ "bulletins.table.status.published" | translate }}</span
              >
            }
            @if (getActiveRegionStatus(bulletinsService.getActiveDate()) === bulletinStatus.updated) {
              <span class="badge bg-orange"
                ><i class="ph-bold icon-sm ph-file-dashed"></i> {{ "bulletins.table.status.updated" | translate }}</span
              >
            }
            @if (getActiveRegionStatus(bulletinsService.getActiveDate()) === bulletinStatus.resubmitted) {
              <span class="badge bg-primary"
                ><i class="ph-bold icon-sm ph-newspaper"></i>
                {{ "bulletins.table.status.resubmitted" | translate }}</span
              >
            }
            @if (getActiveRegionStatus(bulletinsService.getActiveDate()) === bulletinStatus.republished) {
              <span class="badge bg-success"
                ><i class="ph-bold icon-sm ph-newspaper"></i>
                {{ "bulletins.table.status.republished" | translate }}</span
              >
            }
          </div>
        }
      </div>
      <!-- End status-->

      <!-- Status of all regions -->
      @if (showStatusOfAllRegions) {
        <ul class="create-bulletin__bulletin-status">
          <li>
            <h5 class="bulletin-status__region-name font-xs text-secondary">
              {{ regionsService.getRegionName(authenticationService.getActiveRegionId()) }}
            </h5>
            @if (
              getActiveRegionStatus(bulletinsService.getActiveDate()) === bulletinStatus.missing ||
              getActiveRegionStatus(bulletinsService.getActiveDate()) === undefined
            ) {
              <span class="badge bg-danger"
                ><i class="ph-bold ph-x"></i> {{ "bulletins.table.status.missing" | translate }}</span
              >
            }
            @if (getActiveRegionStatus(bulletinsService.getActiveDate()) === bulletinStatus.draft) {
              <span class="badge bg-warning"
                ><i class="ph-bold ph-file-dashed"></i> {{ "bulletins.table.status.draft" | translate }}</span
              >
            }
            @if (getActiveRegionStatus(bulletinsService.getActiveDate()) === bulletinStatus.submitted) {
              <span class="badge bg-primary"
                ><i class="ph-bold ph-newspaper"></i> {{ "bulletins.table.status.submitted" | translate }}</span
              >
            }
            @if (getActiveRegionStatus(bulletinsService.getActiveDate()) === bulletinStatus.published) {
              <span class="badge bg-success"
                ><i class="ph-bold ph-newspaper"></i> {{ "bulletins.table.status.published" | translate }}</span
              >
            }
            @if (getActiveRegionStatus(bulletinsService.getActiveDate()) === bulletinStatus.updated) {
              <span class="badge bg-orange"
                ><i class="ph-bold ph-file-dashed"></i> {{ "bulletins.table.status.updated" | translate }}</span
              >
            }
            @if (getActiveRegionStatus(bulletinsService.getActiveDate()) === bulletinStatus.resubmitted) {
              <span class="badge bg-primary"
                ><i class="ph-bold ph-newspaper"></i> {{ "bulletins.table.status.resubmitted" | translate }}</span
              >
            }
            @if (getActiveRegionStatus(bulletinsService.getActiveDate()) === bulletinStatus.republished) {
              <span class="badge bg-success"
                ><i class="ph-bold ph-newspaper"></i> {{ "bulletins.table.status.republished" | translate }}</span
              >
            }
          </li>
          @for (region of authenticationService.getActiveRegion().neighborRegions; track region) {
            <li>
              <h5 class="bulletin-status__region-name font-xs text-secondary">
                {{ regionsService.getRegionName(region) }}
              </h5>
              @if (
                getRegionStatus(region, bulletinsService.getActiveDate()) === bulletinStatus.missing ||
                getRegionStatus(region, bulletinsService.getActiveDate()) === undefined
              ) {
                <span class="badge bg-danger"
                  ><i class="ph-bold icon-sm ph-x"></i> {{ "bulletins.table.status.missing" | translate }}</span
                >
              }
              @if (getRegionStatus(region, bulletinsService.getActiveDate()) === bulletinStatus.draft) {
                <span class="badge bg-warning"
                  ><i class="ph-bold icon-sm ph-file-dashed"></i> {{ "bulletins.table.status.draft" | translate }}</span
                >
              }
              @if (getRegionStatus(region, bulletinsService.getActiveDate()) === bulletinStatus.submitted) {
                <span class="badge bg-primary"
                  ><i class="ph-bold icon-sm ph-newspaper"></i>
                  {{ "bulletins.table.status.submitted" | translate }}</span
                >
              }
              @if (getRegionStatus(region, bulletinsService.getActiveDate()) === bulletinStatus.published) {
                <span class="badge bg-success"
                  ><i class="ph-bold icon-sm ph-newspaper"></i>
                  {{ "bulletins.table.status.published" | translate }}</span
                >
              }
              @if (getRegionStatus(region, bulletinsService.getActiveDate()) === bulletinStatus.updated) {
                <span class="badge bg-orange"
                  ><i class="ph-bold icon-sm ph-file-dashed"></i>
                  {{ "bulletins.table.status.updated" | translate }}</span
                >
              }
              @if (getRegionStatus(region, bulletinsService.getActiveDate()) === bulletinStatus.resubmitted) {
                <span class="badge bg-primary"
                  ><i class="ph-bold icon-sm ph-newspaper"></i>
                  {{ "bulletins.table.status.resubmitted" | translate }}</span
                >
              }
              @if (getRegionStatus(region, bulletinsService.getActiveDate()) === bulletinStatus.republished) {
                <span class="badge bg-success"
                  ><i class="ph-bold icon-sm ph-newspaper"></i>
                  {{ "bulletins.table.status.republished" | translate }}</span
                >
              }
            </li>
          }
        </ul>
      }
      <!-- End status of all regions-->

      @if (showPublicationHappensAt5PM(bulletinsService.getActiveDate())) {
        <span class="create-bulletin__bulletin-info"
          ><i class="ph ph-info"></i> {{ "bulletins.status.submittedInfo" | translate }}</span
        >
      }
      @if (showPublicationHappensAt8AM(bulletinsService.getActiveDate())) {
        <span class="create-bulletin__bulletin-info"
          ><i class="ph ph-info"></i> {{ "bulletins.status.resubmittedInfo" | translate }}</span
        >
      }
      @if (showPublicationHappened(bulletinsService.getActiveDate())) {
        <span class="create-bulletin__bulletin-info"
          ><i class="ph ph-info"></i> {{ "bulletins.status.publishedInfo" | translate }}</span
        >
      }
      @if (showNoPublicationWillHappen(bulletinsService.getActiveDate())) {
        <span class="create-bulletin__bulletin-info"
          ><i class="ph ph-info"></i> {{ "bulletins.status.noPublicationInfo" | translate }}</span
        >
      }
      @if (loadingPreview) {
        <span class="create-bulletin__bulletin-info"
          ><i class="ph ph-circle-notch"></i> {{ "bulletins.status.loadingPreview" | translate }}</span
        >
      }
      @if (loading) {
        <span class="create-bulletin__bulletin-info"
          ><i class="ph ph-circle-notch"></i> {{ "bulletins.status.loading" | translate }}</span
        >
      }
      @if (publishing) {
        <span class="create-bulletin__bulletin-info"
          ><i class="ph ph-circle-notch"></i> {{ "bulletins.status.publishing" | translate }}</span
        >
      }
      @if (submitting) {
        <span class="create-bulletin__bulletin-info"
          ><i class="ph ph-circle-notch"></i> {{ "bulletins.status.submitting" | translate }}</span
        >
      }
      @if (saveError.size) {
        <span class="create-bulletin__bulletin-alert" (click)="updateSaveErrors()"
          ><i class="ph ph-warning icon-left"></i> {{ "bulletins.status.saveError" | translate }}
          <button class="btn btn-outline btn-danger btn-small lm-2">
            <i class="ph ph-repeat icon-right"></i>
          </button>
        </span>
      }
      @if (loadInternalBulletinsError) {
        <span class="create-bulletin__bulletin-warning"
          ><i class="ph ph-info"></i> {{ "bulletins.status.loadBulletinsError" | translate }}</span
        >
      }

      <!-- submit -->
      @if (showSubmitButton(bulletinsService.getActiveDate())) {
        <button
          [disabled]="loading || editRegions"
          type="button"
          class="btn btn-outline-primary btn-sm create-bulletin__action-buttons"
          (click)="submit($event, bulletinsService.getActiveDate())"
          ngxMousetrapKey="mod+enter"
        >
          <i class="ph ph-paper-plane-tilt"></i>
          <span>{{ "bulletins.tooltip.submit" | translate }}</span>
        </button>
      }

      <!-- update -->
      @if (showUpdateButton(bulletinsService.getActiveDate())) {
        <button
          [disabled]="loading || editRegions"
          type="button"
          class="btn btn-outline-primary btn-sm create-bulletin__action-buttons"
          (click)="createUpdate($event)"
          ngxMousetrapKey="e"
        >
          <i class="ph ph-pencil"></i>
          <span>{{ "bulletins.tooltip.update" | translate }}</span>
        </button>
      }

      <!-- publish update (not 5PM nor 8AM) -->
      @if (showPublishButton(bulletinsService.getActiveDate())) {
        <button
          [disabled]="loading || editRegions"
          type="button"
          class="btn btn-outline-primary btn-sm create-bulletin__action-buttons flex-grow-1"
          (click)="publish($event, bulletinsService.getActiveDate())"
          ngxMousetrapKey="mod+enter"
        >
          <i class="ph ph-paper-plane-tilt"></i>
          <span>{{ "bulletins.tooltip.publishUpdate" | translate }}</span>
        </button>
      }

      <!-- publish change (not 5PM nor 8AM, no messages) -->
      @if (showPublishButton(bulletinsService.getActiveDate())) {
        <button
          [disabled]="loading || editRegions"
          type="button"
          class="btn btn-outline-primary btn-sm create-bulletin__action-buttons flex-grow-1"
          (click)="publish($event, bulletinsService.getActiveDate(), true)"
          ngxMousetrapKey="mod+shift+enter"
        >
          <i class="ph ph-paper-plane-tilt"></i>
          <span>{{ "bulletins.tooltip.publishChange" | translate }}</span>
        </button>
      }

      <!-- check -->
      @if (showCheckButton(bulletinsService.getActiveDate())) {
        <button
          [disabled]="loading || editRegions"
          type="button"
          class="btn btn-outline-primary btn-sm create-bulletin__action-buttons flex-grow-1"
          (click)="check($event, bulletinsService.getActiveDate())"
        >
          <i class="ph ph-check"></i>
          <span>{{ "bulletins.tooltip.check" | translate }}</span>
        </button>
      }
    </header>
    <!-- End sidebar header -->

    <!-- Overall headline -->
    @if (activeBulletin && authenticationService.getActiveRegion()?.enableGeneralHeadline) {
      <div class="create-bulletin__general-headline">
        <app-bulletin-text
          [textField]="TextcatTextfield.generalHeadlineComment"
          [rows]="2"
          [bulletin]="activeBulletin"
          [disabled]="isDisabled()"
          (updateBulletinOnServer)="updateBulletinOnServer(activeBulletin)"
        />
      </div>
    }
    <!-- end overall headline -->

    <!-- List of regions -->
    <div class="create-bulletin__regions">
      <!-- Own regions -->
      <header class="create-bulletin__region-divider">
        <h5 class="font-s-bold">
          {{ regionsService.getRegionName(authenticationService.getActiveRegion().id) }} ({{
            getOwnBulletins().length
          }})
        </h5>
        <div class="btn-group region-divider__actions">
          <div class="region-divider__actions-dropdown mr-1" bsDropdown container="body">
            <button class="btn btn-sm btn-icon btn-bare--grey" type="button" bsDropdownToggle ngxMousetrapKey="b">
              <i class="ph-bold ph-dots-three-outline-vertical"></i>
            </button>

            <input hidden type="file" accept=".json" #jsonBulletinUploader (change)="uploadJsonBulletin($event)" />
            <ul *bsDropdownMenu class="dropdown-menu create-bulletin__region-dropdown">
              <!-- map above / map aside -->
              <li>
                <button class="dropdown-item" (click)="toggleCompactMapLayout(); dropdown.hide()" ngxMousetrapKey="v">
                  @if (isCompactMapLayout) {
                    <i class="ph icon-md ph-square-split-horizontal"></i>
                  }
                  @if (!isCompactMapLayout) {
                    <i class="ph icon-md ph-square-split-vertical"></i>
                  }
                  @if (isCompactMapLayout) {
                    <span>{{ "bulletins.create.mapLeft" | translate }}</span>
                  }
                  @if (!isCompactMapLayout) {
                    <span>{{ "bulletins.create.mapTop" | translate }}</span>
                  }
                </button>
              </li>

              <!-- show / hide external warning regions -->
              <li>
                <button
                  class="dropdown-item"
                  (click)="toggleShowExternalRegions(); dropdown.hide()"
                  ngxMousetrapKey="h"
                >
                  @if (showExternRegions) {
                    <i class="ph icon-md ph-eye-slash"></i>
                  }
                  @if (!showExternRegions) {
                    <i class="ph icon-md ph-eye"></i>
                  }
                  @if (showExternRegions) {
                    <span>{{ "bulletins.create.hideExternalRegions" | translate }}</span>
                  }
                  @if (!showExternRegions) {
                    <span>{{ "bulletins.create.showExternalRegions" | translate }}</span>
                  }
                </button>
              </li>

              <!-- load bulletin from yesterday -->
              <li>
                @if (
                  (bulletinsService.getIsEditable() && !bulletinsService.getIsReadOnly()) ||
                  localStorageService.isTrainingEnabled
                ) {
                  <button
                    [disabled]="editRegions || loading"
                    type="reset"
                    class="dropdown-item"
                    (click)="loadBulletinsFromYesterday(); dropdown.hide()"
                    data-toggle="tooltip"
                    title="{{ 'bulletins.create.tooltip.loadBulletin' | translate }}"
                    ngxMousetrapKey="y"
                  >
                    <i class="ph-bold ph-copy icon-md"></i>
                    {{ "bulletins.create.tooltip.loadBulletin" | translate }}
                  </button>
                }
              </li>

              <!-- preview -->
              <li>
                @if (showPreviewButton()) {
                  <button
                    [disabled]="editRegions || loading"
                    type="reset"
                    class="dropdown-item"
                    (click)="preview(); dropdown.hide()"
                    data-toggle="tooltip"
                    title="{{ 'bulletins.tooltip.preview' | translate }}"
                    ngxMousetrapKey="p"
                  >
                    <i class="ph-bold ph-eye icon-md"></i>
                    {{ "bulletins.tooltip.preview" | translate }}
                  </button>
                }
              </li>

              <!-- media file -->
              <li>
                @if (showMediaFileButton()) {
                  <button
                    [disabled]="editRegions || loading"
                    type="reset"
                    class="dropdown-item"
                    (click)="openMediaFileModal(); dropdown.hide()"
                    data-toggle="tooltip"
                    title="{{ 'bulletins.tooltip.mediaFile' | translate }}"
                    ngxMousetrapKey="m"
                  >
                    <i class="ph-bold ph-microphone icon-md"></i>
                    {{ "bulletins.tooltip.mediaFile" | translate }}
                  </button>
                }
              </li>

              <!-- load suggestion from danger sources  -->
              <li>
                @if (showLoadSuggestionFromDangerSourcesButton()) {
                  <button
                    [disabled]="editRegions || loading"
                    type="button"
                    class="dropdown-item"
                    (click)="loadSuggestionFromDangerSources()"
                    data-toggle="tooltip"
                    title="{{ 'bulletins.tooltip.loadSuggestionFromDangerSources' | translate }}"
                    ngxMousetrapKey="d"
                  >
                    <i class="ph-bold ph-magic-wand icon-md"></i>
                    {{ "bulletins.tooltip.loadSuggestionFromDangerSources" | translate }}
                  </button>
                }
              </li>

              <!-- delete all warning regions  -->
              <li>
                @if (showDeleteAllWarningRegionsButton()) {
                  <button
                    [disabled]="editRegions || loading"
                    type="button"
                    class="dropdown-item"
                    (click)="deleteAllWarningRegions()"
                    data-toggle="tooltip"
                    title="{{ 'bulletins.tooltip.deleteAllWarningRegions' | translate }}"
                    ngxMousetrapKey="del"
                  >
                    <i class="ph-bold ph-trash icon-md"></i>
                    {{ "bulletins.tooltip.deleteAllWarningRegions" | translate }}
                  </button>
                }
              </li>

              <li>
                <hr class="dropdown-divider" />
              </li>

              <!-- upload json -->
              <li>
                @if (bulletinsService.getIsEditable() && !bulletinsService.getIsReadOnly()) {
                  <button
                    [disabled]="editRegions || loading"
                    type="button"
                    class="dropdown-item"
                    (click)="jsonBulletinUploader.click(); dropdown.hide()"
                    data-toggle="tooltip"
                    title="{{ 'bulletins.create.tooltip.uploadJsonBulletin' | translate }}"
                    ngxMousetrapKey="j u"
                  >
                    <i class="ph-bold ph-upload-simple icon-md"></i>
                    {{ "bulletins.create.tooltip.uploadJsonBulletin" | translate }}
                  </button>
                }
              </li>

              <!-- download json -->
              <li>
                <button
                  [disabled]="editRegions || loading"
                  type="button"
                  class="dropdown-item"
                  (click)="downloadJsonBulletin(); dropdown.hide()"
                  data-toggle="tooltip"
                  title="{{ 'bulletins.create.tooltip.downloadJsonBulletin' | translate }}"
                  ngxMousetrapKey="j d"
                >
                  <i class="ph-bold ph-download-simple icon-md"></i>
                  {{ "bulletins.create.tooltip.downloadJsonBulletin" | translate }}
                </button>
              </li>

              <li>
                <hr class="dropdown-divider" />
              </li>

              <!-- info -->
              <li>
                @if (showInfoButton()) {
                  <button
                    [disabled]="editRegions || loading"
                    type="button"
                    class="dropdown-item"
                    (click)="showPublicationInfo()"
                    data-toggle="tooltip"
                    title="{{ 'bulletins.tooltip.info' | translate }}"
                    ngxMousetrapKey="s"
                  >
                    <i class="ph-bold ph-info icon-md"></i>
                    {{ "bulletins.tooltip.info" | translate }}
                  </button>
                }
              </li>

              <!-- publish all -->
              <li>
                @if (showPublishAllButton()) {
                  <button
                    [disabled]="editRegions || loading"
                    type="button"
                    class="dropdown-item"
                    (click)="publishAll(false)"
                    data-toggle="tooltip"
                    title="{{ 'bulletins.tooltip.publishAll' | translate }}"
                    ngxMousetrapKey="p"
                  >
                    <i class="ph-bold ph-warning icon-md"></i>
                    {{ "bulletins.tooltip.publishAll" | translate }}
                  </button>
                }
              </li>
              <li>
                @if (showPublishAllButton()) {
                  <button
                    [disabled]="editRegions || loading"
                    type="button"
                    class="dropdown-item"
                    (click)="publishAll(true)"
                    data-toggle="tooltip"
                    title="{{ 'bulletins.tooltip.publishAllNoMessages' | translate }}"
                    ngxMousetrapKey="p"
                  >
                    <i class="ph-bold ph-warning icon-md"></i>
                    {{ "bulletins.tooltip.publishAllNoMessages" | translate }}
                  </button>
                }
              </li>

              <!--- dummy button to hide dropdown -->
              <li style="display: none">
                <button class="btn" type="button" (click)="dropdown.hide()" ngxMousetrapKey="esc">Hide dropdown</button>
              </li>
            </ul>
          </div>
          @if (bulletinsService.getIsEditable() && !this.copyService.isCopyBulletin()) {
            <button
              [disabled]="editRegions || loading"
              (click)="createBulletin(false)"
              class="btn btn-sm btn-icon btn-primary"
              type="button"
              title="{{ 'bulletins.create.createAggregatedRegion' | translate }}"
              ngxMousetrapKey="c r"
            >
              <i class="ph-bold ph-plus"></i>
            </button>
          }
        </div>
      </header>
      <!-- End own regions header -->
      <!-- List of own regions -->
      <nav class="create-bulletin__region-list">
        <!-- Show the list of bulletins if there are any -->
        @if (getOwnBulletins().length) {
          @for (bulletin of getOwnBulletins(); track bulletin.id; let i = $index) {
            <ng-container
              *ngTemplateOutlet="bulletinTemplate; context: { bulletin: bulletin, key: i + 1 }"
            ></ng-container>
          }
        } @else {
          <div class="create-bulletin__nobulletins">
            <i class="ph ph-mountains"></i>
            <p>{{ "bulletins.create.noBulletinsForSelectedDay" | translate }}</p>
          </div>
        }
      </nav>
    </div>

    <div class="create-bulletin__regions">
      <!-- Foreign regions -->
      <header
        class="create-bulletin__region-divider foreign"
        (click)="toggleShowForeignRegions()"
        ngxMousetrapKey="f 0"
      >
        <h5 class="font-s-bold">
          {{ "bulletins.create.foreignRegions" | translate }} ({{ getForeignBulletins().length }})
        </h5>
        <div class="btn-group region-divider__actions">
          <div class="region-divider__actions-dropdown mr-1">
            <button class="btn btn-sm btn-icon btn-bare--grey" type="button">
              @if (!showForeignRegions) {
                <i class="ph-bold ph-caret-right"></i>
              }
              @if (showForeignRegions) {
                <i class="ph-bold ph-caret-down"></i>
              }
            </button>
          </div>
        </div>
      </header>
      <!-- List of foreign regions -->
      @if (showForeignRegions) {
        <nav class="create-bulletin__region-list">
          @for (bulletin of getForeignBulletins(); track bulletin.id; let i = $index) {
            <ng-container
              *ngTemplateOutlet="
                bulletinTemplate;
                context: { bulletin: bulletin, key: i + getOwnBulletins().length + 1 }
              "
            ></ng-container>
          }
        </nav>
      }
    </div>

    <!-- External regions -->
    @if (hasExternalRegions()) {
      <div class="create-bulletin__regions">
        @for (
          externalRegion of getExternalRegionsMap() | keyvalue;
          track trackByApiUrl(i, externalRegion);
          let i = $index
        ) {
          <header
            class="create-bulletin__region-divider foreign"
            (click)="toggleShowExternalRegionsList(externalRegion.key)"
            ngxMousetrapKey="f {{ i + 1 }}"
          >
            <h5 class="font-s-medium">
              {{ externalRegion.value.server.name }} ({{ externalRegion.value.bulletins.length }})
            </h5>
            <div class="btn-group region-divider__actions">
              <div class="region-divider__actions-dropdown mr-1">
                <button class="btn btn-sm btn-icon btn-bare--grey" type="button">
                  @if (!showExternalRegions(externalRegion.key)) {
                    <i class="ph-bold ph-caret-right"></i>
                  }
                  @if (showExternalRegions(externalRegion.key)) {
                    <i class="ph-bold ph-caret-down"></i>
                  }
                </button>
              </div>
            </div>
          </header>
          <!-- List of external regions -->
          @if (showExternalRegions(externalRegion.key)) {
            <nav class="create-bulletin__region-list">
              @for (bulletin of externalRegion.value.bulletins; track bulletin.id) {
                <ng-container
                  *ngTemplateOutlet="bulletinTemplate; context: { bulletin: bulletin, key: undefined }"
                ></ng-container>
              }
            </nav>
          }
        }
      </div>
    }
    <!-- End list of regions -->
  </aside>
  <!-- End Sidebar -->

  <div
    class="create-bulletin__default-layout"
    [class.create-bulletin__compact-layout]="
      activeBulletin !== undefined && !editRegions && (isCompactMapLayout || comparedBulletin !== undefined)
    "
    [class.create-bulletin__compact-layout--compare]="
      activeBulletin !== undefined && !editRegions && comparedBulletin !== undefined
    "
    [class.full-width]="!isBulletinSidebarVisible"
  >
    <!-- Active bulletin -->
    @if (activeBulletin && !showNewBulletinModal) {
      <div
        class="create-bulletin__region-form"
        (scroll)="updateBulletinScroll('scrollActiveBulletin', $event)"
        #scrollActiveBulletin
      >
        <app-avalanche-bulletin
          [bulletin]="activeBulletin"
          [comparedBulletin]="comparedBulletin"
          [disabled]="isDisabled()"
          [isCompactMapLayout]="isCompactMapLayout"
          [isBulletinSidebarVisible]="isBulletinSidebarVisible"
          [isComparedBulletin]="false"
          (updateBulletinOnServerEvent)="updateBulletinOnServer($event)"
          (deleteBulletinEvent)="eventDeleteBulletin($event)"
          (editMicroRegionsEvent)="eventEditMicroRegions($event)"
          (copyBulletinEvent)="eventCopyBulletin($event)"
          (deselectBulletinEvent)="eventDeselectBulletin()"
          (toggleBulletinSidebarEvent)="toggleBulletinSidebar()"
          (undoRedoEvent)="undoRedoActiveBulletin($event)"
        ></app-avalanche-bulletin>
      </div>
    }
    <!-- End Active bulletin -->
    <!-- Compared bulletin -->
    @if (comparedBulletin && !showNewBulletinModal) {
      <div
        class="create-bulletin__region-form"
        (scroll)="updateBulletinScroll('scrollComparedBulletin', $event)"
        #scrollComparedBulletin
      >
        <app-avalanche-bulletin
          [bulletin]="comparedBulletin"
          [comparedBulletin]="activeBulletin"
          [disabled]="true"
          [isCompactMapLayout]="isCompactMapLayout"
          [isBulletinSidebarVisible]="isBulletinSidebarVisible"
          [isComparedBulletin]="true"
          (deselectBulletinEvent)="eventDeselectComparedBulletin()"
        ></app-avalanche-bulletin>
      </div>
    }
    <!-- End Compared bulletin -->

    <!-- Map -->
    <div class="create-bulletin__map-container" [class.create-bulletin__map-container--am-pm]="showAfternoonMap">
      <!-- Bulletin Sidebar toggle icon -->
      <button (click)="toggleBulletinSidebar()" class="create-bulletin__sidebar-close-on-map">
        <i class="ph ph-sidebar"></i>
      </button>
      <!-- End Bulletin Sidebar toggle icon -->
      @if (showNewBulletinModal && activeBulletin) {
        <div class="floating-action create-region-floating-action">
          <div class="floating-action__text">
            <i class="ph ph-globe-hemisphere-west"></i> {{ "bulletins.create.mapSelectRegion" | translate }}
          </div>
          <div class="floating-action__actions btn-toolbar">
            <button
              type="reset"
              class="btn btn-bare"
              (click)="discardBulletin($event, activeBulletin)"
              ngxMousetrapKey="esc"
            >
              <span>{{ "bulletins.create.tooltip.cancel" | translate }}</span>
            </button>
            <button type="button" class="btn btn-primary" (click)="saveBulletin($event)" ngxMousetrapKey="enter">
              <i class="ph-bold ph-check"></i>
              @if (activeBulletin.savedRegions.length === 0 && activeBulletin.publishedRegions.length === 0) {
                <span>{{ "bulletins.create.tooltip.createRegion" | translate }}</span>
              }
              @if (activeBulletin.savedRegions.length > 0 || activeBulletin.publishedRegions.length > 0) {
                <span>{{ "bulletins.create.tooltip.saveChanges" | translate }}</span>
              }
            </button>
          </div>
        </div>
      }

      <div id="map" class="create-bulletin__map create-bulletin__map--am"></div>
      <div id="afternoonMap" class="create-bulletin__map create-bulletin__map--pm"></div>
    </div>
    <!-- End Map -->
  </div>
</div>

<!-- Display this template when there are no bulletins -->

<ng-template #bulletinTemplate let-bulletin="bulletin" let-key="key">
  <div
    (click)="toggleBulletin(bulletin)"
    [ngxMousetrapKey]="key ? `shift+${key}` : ''"
    class="region-thumb"
    [class.region-thumb--active]="bulletin === activeBulletin"
  >
    <div class="region-thumb__details">
      <h6 class="region-thumb__title font-s-medium" role="button">
        @if (saveError.has(bulletin.id)) {
          <span>* </span>
        }
        @if (bulletin.getSavedAndPublishedRegions().length > 0) {
          <span>{{ regionsService.getRegionName(bulletin.getSavedAndPublishedRegions()[0]) }}</span>
        }
        @if (bulletin.getSavedAndPublishedRegions().length > 1) {
          <span> + {{ bulletin.getSavedAndPublishedRegions().length - 1 }} </span>
        }
      </h6>
      <p class="region-thumb__author font-s text-secondary" role="button">{{ bulletin.author.name }}</p>

      @if (checkBulletin(bulletin)) {
        <div
          class="region-thumb__avalanche-info text-danger"
          title="{{ 'bulletins.create.tooltip.incompleteAvalancheProblem' | translate }}"
        >
          <i class="ph ph-warning"></i>
          <span class="region-thumb__author font-s" role="button">{{
            "bulletins.create.incompleteAvalancheProblem" | translate
          }}</span>
        </div>
      }

      @if (!checkBulletin(bulletin)) {
        <div class="region-thumb__avalanche-info">
          <app-danger-rating-icon
            [hasElevationDependency]="bulletin.forenoon.hasElevationDependency"
            [dangerRatingAbove]="bulletin.forenoon.dangerRatingAbove"
            [dangerRatingBelow]="bulletin.forenoon.dangerRatingBelow"
          ></app-danger-rating-icon>
          <!-- Avalanche problems -->
          @if (bulletin?.forenoon?.avalancheProblem1) {
            <app-avalanche-problem-icons
              [value]="bulletin.forenoon.avalancheProblem1"
              class="region-thumb__avalanche-problem-icon"
            />
          }
          @if (bulletin?.forenoon?.avalancheProblem2) {
            <app-avalanche-problem-icons
              [value]="bulletin.forenoon.avalancheProblem2"
              class="region-thumb__avalanche-problem-icon"
            />
          }
          @if (bulletin?.forenoon?.avalancheProblem3) {
            <app-avalanche-problem-icons
              [value]="bulletin.forenoon.avalancheProblem3"
              class="region-thumb__avalanche-problem-icon"
            />
          }
          @if (bulletin?.forenoon?.avalancheProblem4) {
            <app-avalanche-problem-icons
              [value]="bulletin.forenoon.avalancheProblem4"
              class="region-thumb__avalanche-problem-icon"
            />
          }
          @if (bulletin?.forenoon?.avalancheProblem5) {
            <app-avalanche-problem-icons
              [value]="bulletin.forenoon.avalancheProblem5"
              class="region-thumb__avalanche-problem-icon"
            />
          }
          <!-- Avalanche problems -->
          <!-- Elevations -->
          @if (bulletin.forenoon.hasElevationDependency) {
            <span class="badge text-bg-light">
              <i class="ph ph-arrows-out-line-vertical icon-sm"></i>
              {{
                bulletin.forenoon.treeline
                  ? ("bulletins.create.tooltip.treeline" | translate)
                  : bulletin.forenoon.elevation + " m"
              }}
            </span>
          }
          <!-- Elevations -->
        </div>
      }
      @if (bulletin?.hasDaytimeDependency) {
        <div class="region-thumb__avalanche-info">
          <app-danger-rating-icon
            [hasElevationDependency]="bulletin.afternoon.hasElevationDependency"
            [dangerRatingAbove]="bulletin.afternoon.dangerRatingAbove"
            [dangerRatingBelow]="bulletin.afternoon.dangerRatingBelow"
          ></app-danger-rating-icon>
          <!-- Avalanche problems -->
          @if (bulletin?.afternoon?.avalancheProblem1) {
            <app-avalanche-problem-icons
              [value]="bulletin.afternoon.avalancheProblem1"
              class="region-thumb__avalanche-problem-icon"
            />
          }
          @if (bulletin?.afternoon?.avalancheProblem2) {
            <app-avalanche-problem-icons
              [value]="bulletin.afternoon.avalancheProblem2"
              class="region-thumb__avalanche-problem-icon"
            />
          }
          @if (bulletin?.afternoon?.avalancheProblem3) {
            <app-avalanche-problem-icons
              [value]="bulletin.afternoon.avalancheProblem3"
              class="region-thumb__avalanche-problem-icon"
            />
          }
          @if (bulletin?.afternoon?.avalancheProblem4) {
            <app-avalanche-problem-icons
              [value]="bulletin.afternoon.avalancheProblem4"
              class="region-thumb__avalanche-problem-icon"
            />
          }
          @if (bulletin?.afternoon?.avalancheProblem5) {
            <app-avalanche-problem-icons
              [value]="bulletin.afternoon.avalancheProblem5"
              class="region-thumb__avalanche-problem-icon"
            />
          }
          <!-- Avalanche problems -->
          <!-- Elevations -->
          @if (bulletin.afternoon.hasElevationDependency) {
            <span class="badge text-bg-light">
              <i class="ph ph-arrows-out-line-vertical icon-sm"></i>
              {{
                bulletin.afternoon.treeline
                  ? ("bulletins.create.tooltip.treeline" | translate)
                  : bulletin.afternoon.elevation + " m"
              }}
            </span>
          }
          <!-- Elevations -->
        </div>
      }
      @if (hasSuggestions(bulletin)) {
        <div class="region-thumb__avalanche-info">
          <span class="badge bg-orange">
            <i class="ph-bold ph-lightbulb"></i> {{ "bulletins.create.suggestions" | translate }}
          </span>
        </div>
      }
    </div>

    <div class="btn-group-vertical btn-group--border region-thumb__actions">
      @if (!copyService.isCopyBulletin() && !authenticationService.isCurrentUserInRole(constantsService.roleObserver)) {
        <button
          [disabled]="loading || editRegions"
          type="button"
          class="btn btn-sm btn-bare btn-sm btn-icon"
          (click)="openCopyRegionModal($event, bulletin)"
          data-toggle="tooltip"
          title="{{ 'bulletins.create.tooltip.copy' | translate }}"
        >
          <i class="ph ph-copy"></i>
        </button>
      }

      @if (bulletinsService.getIsEditable() && !hasSuggestions(bulletin) && isCreator(bulletin)) {
        <button
          [disabled]="loading || editRegions"
          type="button"
          class="btn btn-sm btn-icon btn-bare"
          (click)="deleteBulletin($event, bulletin)"
          data-toggle="tooltip"
          title="{{ 'bulletins.create.tooltip.delete' | translate }}"
        >
          <i class="ph ph-trash"></i>
        </button>
      }

      @if (activeBulletin !== undefined && activeBulletin !== bulletin) {
        <button
          [disabled]="loading || editRegions"
          type="button"
          class="btn btn-sm btn-icon"
          [class.btn-bare--inverse]="comparedBulletin && bulletin.id === comparedBulletin.id"
          [class.btn-bare]="!comparedBulletin || bulletin.id !== comparedBulletin.id"
          (click)="eventCompareBulletin($event, bulletin)"
          title="{{ 'bulletins.create.tooltip.compare' | translate }}"
        >
          <i class="ph ph-square-half"></i>
        </button>
      }
    </div>
  </div>
</ng-template>

<ng-template #loadingErrorTemplate>
  <div class="modal-body text-center">
    <p>{{ "bulletins.create.loadingErrorDialog.message" | translate }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="loadingErrorModalConfirm()" ngxMousetrapKey="enter">
      {{ "bulletins.create.loadingErrorDialog.accept" | translate }}
    </button>
  </div>
</ng-template>

<ng-template #loadingJsonFileErrorTemplate>
  <div class="modal-body text-center">
    <p>{{ "bulletins.create.loadingJsonFileErrorDialog.message" | translate }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="loadingJsonFileErrorModalConfirm()" ngxMousetrapKey="enter">
      {{ "bulletins.create.loadingJsonFileErrorDialog.accept" | translate }}
    </button>
  </div>
</ng-template>

<ng-template #loadTemplate>
  <div class="modal-body text-center">
    <p>{{ "bulletins.create.loadDialog.message" | translate }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="loadModalConfirm($event)" ngxMousetrapKey="enter">
      {{ "bulletins.create.loadDialog.accept" | translate }}
    </button>
    <button type="button" class="btn btn-default" (click)="loadModalDecline($event)">
      {{ "bulletins.create.loadDialog.reject" | translate }}
    </button>
  </div>
</ng-template>

<ng-template #deleteAllWarningRegionsTemplate>
  <div class="modal-body text-center">
    <p>{{ "bulletins.create.deleteAllWarningRegionsDialog.message" | translate }}</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="deleteAllWarningRegionsModalConfirm($event)"
      ngxMousetrapKey="enter"
    >
      {{ "bulletins.create.deleteAllWarningRegionsDialog.accept" | translate }}
    </button>
    <button type="button" class="btn btn-default" (click)="deleteAllWarningRegionsModalDecline($event)">
      {{ "bulletins.create.deleteAllWarningRegionsDialog.reject" | translate }}
    </button>
  </div>
</ng-template>

<ng-template #deleteAggregatedRegionTemplate>
  <div class="modal-body text-center">
    <p>{{ "bulletins.create.deleteAggregatedRegionDialog.message" | translate }}</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="deleteAggregatedRegionModalConfirm()"
      ngxMousetrapKey="enter"
    >
      {{ "bulletins.create.deleteAggregatedRegionDialog.accept" | translate }}
    </button>
    <button type="button" class="btn btn-default" (click)="deleteAggregatedRegionModalDecline()">
      {{ "bulletins.create.deleteAggregatedRegionDialog.reject" | translate }}
    </button>
  </div>
</ng-template>

<ng-template #noRegionTemplate>
  <div class="modal-body text-center">
    <p>{{ "bulletins.create.noRegionDialog.message" | translate }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="noRegionModalConfirm()" ngxMousetrapKey="enter">
      {{ "bulletins.create.noRegionDialog.accept" | translate }}
    </button>
  </div>
</ng-template>

<ng-template #discardTemplate>
  <div class="modal-body text-center">
    <p>{{ "bulletins.create.discardDialog.message" | translate }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="discardModalConfirm()" ngxMousetrapKey="enter">
      {{ "bulletins.create.discardDialog.accept" | translate }}
    </button>
    <button type="button" class="btn btn-default" (click)="discardModalDecline()">
      {{ "bulletins.create.discardDialog.reject" | translate }}
    </button>
  </div>
</ng-template>

<ng-template #saveErrorTemplate>
  <div class="modal-body text-center">
    <p>{{ "bulletins.create.saveErrorDialog.message" | translate }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="saveErrorModalConfirm()" ngxMousetrapKey="enter">
      {{ "bulletins.create.saveErrorDialog.accept" | translate }}
    </button>
  </div>
</ng-template>

<ng-template #changeErrorTemplate>
  <div class="modal-body text-center">
    <p>{{ "bulletins.create.changeErrorDialog.message" | translate }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="changeErrorModalConfirm()" ngxMousetrapKey="enter">
      {{ "bulletins.create.changeErrorDialog.accept" | translate }}
    </button>
  </div>
</ng-template>

<ng-template #avalancheProblemErrorTemplate>
  <div class="modal-body text-center">
    <p>{{ "bulletins.create.avalancheProblemErrorDialog.message" | translate }}</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="avalancheProblemErrorModalRef.hide()"
      ngxMousetrapKey="enter"
    >
      {{ "bulletins.create.avalancheProblemErrorDialog.accept" | translate }}
    </button>
  </div>
</ng-template>

<ng-template #copyRegionTemplate let-bulletin="bulletin">
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ "bulletins.create.copyRegion.label" | translate }} {{ bulletin }}</h4>
  </div>
  <div class="modal-body">
    <table class="table table-bordered responsive-table">
      <tbody class="bulletins-table__body">
        @for (date of bulletinsService.dates; track date) {
          <tr [class.bulletins-table__active--day]="isActiveDate(date)">
            <td [attr.data-label]="'bulletins.table.title.date' | translate">
              <div class="bulletins-table__day--small">
                <time>
                  {{ date[1] | date: "fullDate" : undefined : translateService.getCurrentLang() }}
                </time>
              </div>
            </td>
            <td
              class="bulletins-table__region-status"
              [attr.data-label]="regionsService.getRegionName(authenticationService.getActiveRegion().id)"
            >
              @if (
                getActiveRegionStatus(date) === bulletinStatus.missing || getActiveRegionStatus(date) === undefined
              ) {
                <span class="badge bg-danger">
                  <i class="ph-bold ph-x"></i> {{ "bulletins.table.status.missing" | translate }}
                </span>
              }
              @if (getActiveRegionStatus(date) === bulletinStatus.draft) {
                <span class="badge bg-warning">
                  <i class="ph-bold ph-file-dashed"></i>
                  {{ "bulletins.table.status.draft" | translate }}
                </span>
              }
              @if (getActiveRegionStatus(date) === bulletinStatus.submitted) {
                <span class="badge bg-primary">
                  <i class="ph-bold ph-clock-countdown"></i>
                  {{ "bulletins.table.status.submitted" | translate }}
                </span>
              }
              @if (getActiveRegionStatus(date) === bulletinStatus.published) {
                <span class="badge bg-success">
                  <i class="ph-bold ph-newspaper"></i>
                  {{ "bulletins.table.status.published" | translate }}
                </span>
              }
              @if (getActiveRegionStatus(date) === bulletinStatus.updated) {
                <span class="badge bg-orange">
                  <i class="ph-bold ph-file-dashed"></i>
                  {{ "bulletins.table.status.updated" | translate }}
                </span>
              }
              @if (getActiveRegionStatus(date) === bulletinStatus.resubmitted) {
                <span class="badge bg-primary">
                  <i class="ph-bold ph-clock-countdown"></i> {{ "bulletins.table.status.resubmitted" | translate }}
                </span>
              }
              @if (getActiveRegionStatus(date) === bulletinStatus.republished) {
                <span class="badge bg-success">
                  <i class="ph-bold ph-newspaper"></i>
                  {{ "bulletins.table.status.republished" | translate }}
                </span>
              }
            </td>
            <td class="bulletins-table__region-status">
              @if (
                getActiveRegionStatus(date) === bulletinStatus.draft ||
                getActiveRegionStatus(date) === bulletinStatus.updated ||
                getActiveRegionStatus(date) === bulletinStatus.missing ||
                getActiveRegionStatus(date) === undefined
              ) {
                <button class="btn btn-primary btn-icon" type="button" (click)="copyRegionModalConfirm(date)">
                  <i class="ph ph-arrow-right"></i>
                </button>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="reset" class="btn btn-bare" (click)="copyRegionModalDecline()">
      <span>{{ "bulletins.create.cancelCopyBulletin" | translate }}</span>
    </button>
  </div>
</ng-template>

<ng-template #submitBulletinsDuplicateRegionTemplate>
  <div class="modal-body text-center">
    <p>{{ "bulletins.table.submitBulletinsDuplicateRegionDialog.message" | translate }}</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="submitBulletinsDuplicateRegionModalConfirm()"
      ngxMousetrapKey="enter"
    >
      {{ "bulletins.table.submitBulletinsDuplicateRegionDialog.accept" | translate }}
    </button>
  </div>
</ng-template>

<ng-template #checkBulletinsErrorTemplate>
  <div class="modal-body text-center">
    <p>{{ "bulletins.table.checkBulletinsErrorDialog.message" | translate }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="checkBulletinsErrorModalConfirm()" ngxMousetrapKey="enter">
      {{ "bulletins.table.checkBulletinsErrorDialog.accept" | translate }}
    </button>
  </div>
</ng-template>

<ng-template #submitBulletinsErrorTemplate>
  <div class="modal-body text-center">
    <p>{{ "bulletins.table.submitBulletinsErrorDialog.message" | translate }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="submitBulletinsErrorModalConfirm()" ngxMousetrapKey="enter">
      {{ "bulletins.table.submitBulletinsErrorDialog.accept" | translate }}
    </button>
  </div>
</ng-template>

<ng-template #publishBulletinsErrorTemplate>
  <div class="modal-body text-center">
    <p>{{ "bulletins.table.publishBulletinsErrorDialog.message" | translate }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="publishBulletinsErrorModalConfirm()" ngxMousetrapKey="enter">
      {{ "bulletins.table.publishBulletinsErrorDialog.accept" | translate }}
    </button>
  </div>
</ng-template>

<ng-template #previewErrorTemplate>
  <div class="modal-body text-center">
    <p>{{ "bulletins.table.previewErrorDialog.message" | translate }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="previewErrorModalConfirm()" ngxMousetrapKey="enter">
      {{ "bulletins.table.previewErrorDialog.accept" | translate }}
    </button>
  </div>
</ng-template>
