<img *ngIf="value() === dangerRating.missing" src="./assets/img/danger_rating_missing.svg" />
<img *ngIf="value() === dangerRating.no_rating" src="./assets/img/no_rating_c.svg" />
<img *ngIf="value() === dangerRating.low" src="./assets/img/danger_rating_low_c.svg" />
<img *ngIf="value() === dangerRating.moderate" src="./assets/img/danger_rating_moderate_c.svg" />
<img *ngIf="value() === dangerRating.considerable" src="./assets/img/danger_rating_considerable_c.svg" />
<img *ngIf="value() === dangerRating.high" src="./assets/img/danger_rating_high_c.svg" />
<img *ngIf="value() === dangerRating.very_high" src="./assets/img/danger_rating_very_high_c.svg" />
