<!-- Snowpack stability slider -->
<div class="form-group">
  <label class="form-label" for="textarea-input">{{ "matrix.label.snowpackStability" | translate }}</label>
  <ngx-slider
    class="snowpack-stability-slider"
    [(value)]="matrixInformation.snowpackStabilityValue"
    [options]="snowpackStabilityOptions"
    (userChange)="onSnowpackStabilityValueChange($event)"
  ></ngx-slider>
</div>
<!-- End of Snowpack stabiliy slider -->
<!-- Frequency slider -->
<div class="form-group">
  <label class="form-label" for="textarea-input">{{ "matrix.label.frequency" | translate }}</label>
  <ngx-slider
    class="frequency-slider"
    [(value)]="matrixInformation.frequencyValue"
    [options]="frequencyOptions"
    (userChange)="onFrequencyValueChange($event)"
  ></ngx-slider>
</div>
<!-- End of frequency slider -->
<!-- Avalanche size slider -->
<div class="form-group">
  <label class="form-label" for="textarea-input">{{ "matrix.label.avalancheSize" | translate }}</label>
  <ngx-slider
    class="avalanche-size-slider"
    [(value)]="matrixInformation.avalancheSizeValue"
    [options]="avalancheSizeOptions"
    (userChange)="onAvalancheSizeValueChange($event)"
  ></ngx-slider>
</div>
<!-- End of avalanche sizeslider-->

<div class="form-group">
  <label class="form-label" for="textarea-input">{{ "matrix.label.dangerRating" | translate }}</label>

  <div class="avalanche-problem-detail__override">
    <!-- danger rating -->
    <app-danger-rating
      [value]="dangerRating.missing"
      *ngIf="!dangerRatingEnabled && isDangerRating(dangerRating.missing)"
    />
    <app-danger-rating
      *ngFor="
        let rating of [
          dangerRating.low,
          dangerRating.moderate,
          dangerRating.considerable,
          dangerRating.high,
          dangerRating.very_high
        ]
      "
      [value]="rating"
      [style.display]="isDangerRating(rating) || dangerRatingEnabled ? '' : 'none'"
      [style.filter]="!isDangerRating(rating) ? 'grayscale()' : undefined"
      (click)="overrideDangerRating($event, rating)"
    />
  </div>

  <div class="btn-group">
    <button
      *ngIf="isDangerRatingModificator(modificatorEnum.minus)"
      [disabled]="
        disabled ||
        !matrixInformation ||
        !matrixInformation.snowpackStability ||
        !matrixInformation.frequency ||
        !matrixInformation.avalancheSize
      "
      type="reset"
      class="btn btn-sm btn-dark btn-icon"
      (click)="setDangerRatingModificator($event, undefined)"
    >
      <i class="ph ph-minus"></i>
    </button>
    <button
      *ngIf="!isDangerRatingModificator(modificatorEnum.minus)"
      [disabled]="
        disabled ||
        !matrixInformation ||
        !matrixInformation.snowpackStability ||
        !matrixInformation.frequency ||
        !matrixInformation.avalancheSize
      "
      type="reset"
      class="btn btn-sm btn-outline-secondary btn-icon"
      (click)="setDangerRatingModificator($event, modificatorEnum.minus)"
    >
      <i class="ph ph-minus"></i>
    </button>

    <button
      *ngIf="isDangerRatingModificator(modificatorEnum.equal)"
      [disabled]="
        disabled ||
        !matrixInformation ||
        !matrixInformation.snowpackStability ||
        !matrixInformation.frequency ||
        !matrixInformation.avalancheSize
      "
      type="reset"
      class="btn btn-sm btn-dark btn-icon"
      (click)="setDangerRatingModificator($event, undefined)"
    >
      <i class="ph ph-equals"></i>
    </button>
    <button
      *ngIf="!isDangerRatingModificator(modificatorEnum.equal)"
      [disabled]="
        disabled ||
        !matrixInformation ||
        !matrixInformation.snowpackStability ||
        !matrixInformation.frequency ||
        !matrixInformation.avalancheSize
      "
      type="reset"
      class="btn btn-sm btn-outline-secondary btn-icon"
      (click)="setDangerRatingModificator($event, modificatorEnum.equal)"
    >
      <i class="ph ph-equals"></i>
    </button>

    <button
      *ngIf="isDangerRatingModificator(modificatorEnum.plus)"
      [disabled]="
        disabled ||
        !matrixInformation ||
        !matrixInformation.snowpackStability ||
        !matrixInformation.frequency ||
        !matrixInformation.avalancheSize
      "
      type="reset"
      class="btn btn-sm btn-dark btn-icon"
      (click)="setDangerRatingModificator($event, undefined)"
    >
      <i class="ph ph-plus"></i>
    </button>
    <button
      *ngIf="!isDangerRatingModificator(modificatorEnum.plus)"
      [disabled]="
        disabled ||
        !matrixInformation ||
        !matrixInformation.snowpackStability ||
        !matrixInformation.frequency ||
        !matrixInformation.avalancheSize
      "
      type="reset"
      class="btn btn-sm btn-outline-secondary btn-icon"
      (click)="setDangerRatingModificator($event, modificatorEnum.plus)"
    >
      <i class="ph ph-plus"></i>
    </button>
    <div *ngIf="!disabled" class="form-check ml-3" style="margin-left: 10px">
      <input
        [id]="forLabelId('overrideCheckbox')"
        type="checkbox"
        class="form-check-input"
        [disabled]="
          disabled ||
          !matrixInformation ||
          !matrixInformation.snowpackStability ||
          !matrixInformation.frequency ||
          !matrixInformation.avalancheSize
        "
        [ngModel]="dangerRatingEnabled"
        (click)="setDangerRatingEnabled($event)"
      />

      <label *ngIf="!disabled" class="form-label" [attr.for]="forLabelId('overrideCheckbox')">{{
        "matrix.label.override" | translate
      }}</label>
    </div>
  </div>
</div>
