<div class="modal-body">
  <div class="text-center">
    <h1>{{ "bulletins.table.mediaFileDialog.headline" | translate }}</h1>
    <p>{{ date[1] | date: "fullDate" : undefined : translateService.getCurrentLang() }}<br /></p>
  </div>
  <div *ngFor="let alert of alerts">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <textarea
        id="textarea-input"
        name="textarea-input"
        label="textarea-input"
        rows="10"
        class="form-control"
        [(ngModel)]="text"
      ></textarea>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-12">
      <input
        type="file"
        class="form-control"
        (change)="selectFile($event)"
        placeholder="Upload file"
        accept="audio/*"
      />
    </div>
  </div>
  <div class="row mt-3 mb-5">
    <div class="col-lg-12">
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="mediaFileDialogImportant"
          [(ngModel)]="important"
        />
        <label class="form-check-label" for="mediaFileDialogImportant">
          {{ "bulletins.table.mediaFileDialog.important" | translate }}
        </label>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button *ngIf="!important" type="button" class="btn btn-primary" (click)="mediaFileModalConfirm()">
    {{ "bulletins.table.mediaFileDialog.accept" | translate }}
  </button>
  <button *ngIf="important" type="button" class="btn btn-danger" (click)="mediaFileModalConfirm()">
    {{ "bulletins.table.mediaFileDialog.accept" | translate }}
  </button>
  <button type="button" class="btn btn-default" (click)="mediaFileModalDecline()">
    {{ "bulletins.table.mediaFileDialog.reject" | translate }}
  </button>
</div>
