<img *ngIf="isAvalancheProblem(avalancheProblemEnum.new_snow)" src="./assets/img/New_snow_c.svg" />
<img *ngIf="isAvalancheProblem(avalancheProblemEnum.wind_slab)" src="./assets/img/Drifting_snow_c.svg" />
<img
  *ngIf="isAvalancheProblem(avalancheProblemEnum.persistent_weak_layers)"
  src="./assets/img/Persistent_weak_layers_c.svg"
/>
<img *ngIf="isAvalancheProblem(avalancheProblemEnum.wet_snow)" src="./assets/img/Wet_snow_c.svg" />
<img *ngIf="isAvalancheProblem(avalancheProblemEnum.gliding_snow)" src="./assets/img/Gliding_snow_c.svg" />
<img
  *ngIf="isAvalancheProblem(avalancheProblemEnum.favourable_situation)"
  src="./assets/img/Favourable_situation_c.svg"
/>
<img *ngIf="isAvalancheProblem(avalancheProblemEnum.cornices)" src="./assets/img/Cornices_c.svg" />
<img
  *ngIf="isAvalancheProblem(avalancheProblemEnum.no_distinct_problem)"
  src="./assets/img/No_distinct_problem_c.svg"
/>
