@if (isAvalancheProblem(avalancheProblemEnum.new_snow)) {
  <img src="./assets/img/New_snow_c.svg" alt="Avalanche Problem - New snow" />
}
@if (isAvalancheProblem(avalancheProblemEnum.wind_slab)) {
  <img src="./assets/img/Drifting_snow_c.svg" alt="Avalanche Problem - Drifting snow" />
}
@if (isAvalancheProblem(avalancheProblemEnum.persistent_weak_layers)) {
  <img src="./assets/img/Persistent_weak_layers_c.svg" alt="Avalanche Problem - Persistent weak layers" />
}
@if (isAvalancheProblem(avalancheProblemEnum.wet_snow)) {
  <img src="./assets/img/Wet_snow_c.svg" alt="Avalanche Problem - Wet snow" />
}
@if (isAvalancheProblem(avalancheProblemEnum.gliding_snow)) {
  <img src="./assets/img/Gliding_snow_c.svg" alt="Avalanche Problem - Gliding snow" />
}
@if (isAvalancheProblem(avalancheProblemEnum.favourable_situation)) {
  <img src="./assets/img/Favourable_situation_c.svg" alt="Avalanche Problem - Favourable situation" />
}
@if (isAvalancheProblem(avalancheProblemEnum.cornices)) {
  <img src="./assets/img/Cornices_c.svg" alt="Avalanche Problem - Cornices" />
}
@if (isAvalancheProblem(avalancheProblemEnum.no_distinct_avalanche_problem)) {
  <img src="./assets/img/No_distinct_avalanche_problem_c.svg" alt="Avalanche Problem - No distinct avalanche problem" />
}
