@if (value() === dangerRating.missing) {
  <img src="./assets/img/danger_rating_missing.svg" />
}
@if (value() === dangerRating.no_rating) {
  <img src="./assets/img/no_rating_c.svg" />
}
@if (value() === dangerRating.low) {
  <img src="./assets/img/danger_rating_low_c.svg" />
}
@if (value() === dangerRating.moderate) {
  <img src="./assets/img/danger_rating_moderate_c.svg" />
}
@if (value() === dangerRating.considerable) {
  <img src="./assets/img/danger_rating_considerable_c.svg" />
}
@if (value() === dangerRating.high) {
  <img src="./assets/img/danger_rating_high_c.svg" />
}
@if (value() === dangerRating.very_high) {
  <img src="./assets/img/danger_rating_very_high_c.svg" />
}
