<div class="grid-container">
  <div class="grid-item" [style.background-color]="getColorAbove()"></div>
  <!-- upper left -->
  <div class="grid-item" [style.background-color]="getColorAbove()"></div>
  <!-- upper right -->
  @if (hasElevationDependency()) {
    <div class="grid-item" [style.background-color]="getColorBelow()"></div>
  }
  <!-- lower left -->
  @if (!hasElevationDependency()) {
    <div class="grid-item" [style.background-color]="getColorAbove()"></div>
  }
  <!-- lower left -->
  @if (hasElevationDependency()) {
    <div class="grid-item" [style.background-color]="getColorBelow()"></div>
  }
  <!-- lower right -->
  @if (!hasElevationDependency()) {
    <div class="grid-item" [style.background-color]="getColorAbove()"></div>
  }
  <!-- lower right -->
</div>
