@if (value() === dangerRating.missing) {
  <img src="./assets/img/danger_rating_missing.svg" alt="Danger rating - Missing" />
}
@if (value() === dangerRating.no_rating) {
  <img src="./assets/img/no_rating_c.svg" alt="Danger rating - No rating" />
}
@if (value() === dangerRating.low) {
  <img src="./assets/img/danger_rating_low_c.svg" alt="Danger rating - Low" />
}
@if (value() === dangerRating.moderate) {
  <img src="./assets/img/danger_rating_moderate_c.svg" alt="Danger rating - Moderate" />
}
@if (value() === dangerRating.considerable) {
  <img src="./assets/img/danger_rating_considerable_c.svg" alt="Danger rating - Considerable" />
}
@if (value() === dangerRating.high) {
  <img src="./assets/img/danger_rating_high_c.svg" alt="Danger rating - High" />
}
@if (value() === dangerRating.very_high) {
  <img src="./assets/img/danger_rating_very_high_c.svg" alt="Danger rating - Very High" />
}
