<div class="input-group">
  <input
    type="date"
    class="form-control"
    [disabled]="disabled()"
    [value]="getDateString(dInput)"
    #dInput
    (change)="onDateTimeChange(dInput.value, tInput.value)"
  />
  <input
    type="time"
    class="form-control"
    [disabled]="disabled()"
    [value]="getTimeString(tInput)"
    #tInput
    (change)="onDateTimeChange(dInput.value, tInput.value)"
  />
  <button
    class="btn btn-outline-secondary"
    type="button"
    [disabled]="disabled()"
    (click)="clear(); dInput.value = ''; tInput.value = ''"
  >
    <i class="ph ph-x"></i>
  </button>
</div>
