.matrix-cell {
  width: 40px;
  height: 40px;
  stroke: none;
}

.matrix-danger-text {
  fill: black;
  font-family: "Calibri", sans-serif;
  font-size: 12px;
  text-anchor: middle;
  pointer-events: none;
}

.matrix-danger-text.white {
  fill: white;
}
