<!-- Snowpack stability slider -->
<app-slider
  [label]="translateService.instant('matrix.label.snowpackStability')"
  [disabled]="disabled()"
  [sliderValue]="matrixInformation().snowpackStabilityValue"
  [comparedSliderValue]="comparedMatrixInformation()?.snowpackStabilityValue"
  [isComparedBulletin]="isComparedBulletin()"
  (sliderValueChange)="getSnowpackStabilityOptions(avalancheType()).onValueChange($event)"
  [sliderOptions]="getSnowpackStabilityOptions(avalancheType())"
/>

<!-- Frequency slider -->
<app-slider
  [label]="translateService.instant('matrix.label.frequency')"
  [disabled]="disabled()"
  [sliderValue]="matrixInformation().frequencyValue"
  [comparedSliderValue]="comparedMatrixInformation()?.frequencyValue"
  [isComparedBulletin]="isComparedBulletin()"
  (sliderValueChange)="getFrequencyOptions(avalancheType()).onValueChange($event)"
  [sliderOptions]="getFrequencyOptions(avalancheType())"
/>

<!-- Avalanche size slider -->
<app-slider
  [label]="translateService.instant('matrix.label.avalancheSize')"
  [disabled]="disabled()"
  [sliderValue]="matrixInformation().avalancheSizeValue"
  [comparedSliderValue]="comparedMatrixInformation()?.avalancheSizeValue"
  [isComparedBulletin]="isComparedBulletin()"
  (sliderValueChange)="avalancheSizeOptions.onValueChange($event)"
  [sliderOptions]="avalancheSizeOptions"
/>

<div class="form-group">
  <label
    class="form-label"
    [class.changed]="
      isComparedBulletin() &&
      comparedMatrixInformation() &&
      (matrixInformation().dangerRating !== comparedMatrixInformation().dangerRating ||
        matrixInformation().dangerRatingModificator !== comparedMatrixInformation().dangerRatingModificator)
    "
    for="textarea-input"
    >{{ "matrix.label.dangerRating" | translate }}</label
  >

  <div class="avalanche-problem-detail__override">
    <!-- danger rating -->
    <app-danger-rating
      [value]="dangerRating.missing"
      *ngIf="!dangerRatingEnabled && isDangerRating(dangerRating.missing)"
    />
    <app-danger-rating
      *ngFor="
        let rating of [
          dangerRating.low,
          dangerRating.moderate,
          dangerRating.considerable,
          dangerRating.high,
          dangerRating.very_high,
        ]
      "
      [value]="rating"
      [style.display]="isDangerRating(rating) || dangerRatingEnabled ? '' : 'none'"
      [style.filter]="!isDangerRating(rating) ? 'grayscale()' : undefined"
      (click)="overrideDangerRating($event, rating)"
    />
  </div>

  <div class="btn-group">
    <button
      *ngIf="isDangerRatingModificator(modificatorEnum.minus)"
      [disabled]="
        disabled() ||
        !matrixInformation() ||
        !matrixInformation().snowpackStability ||
        !matrixInformation().frequency ||
        !matrixInformation().avalancheSize
      "
      type="reset"
      class="btn btn-sm btn-dark btn-icon"
      (click)="setDangerRatingModificator($event, undefined)"
    >
      <i class="ph ph-minus"></i>
    </button>
    <button
      *ngIf="!isDangerRatingModificator(modificatorEnum.minus)"
      [disabled]="
        disabled() ||
        !matrixInformation() ||
        !matrixInformation().snowpackStability ||
        !matrixInformation().frequency ||
        !matrixInformation().avalancheSize
      "
      type="reset"
      class="btn btn-sm btn-outline-secondary btn-icon"
      (click)="setDangerRatingModificator($event, modificatorEnum.minus)"
    >
      <i class="ph ph-minus"></i>
    </button>

    <button
      *ngIf="isDangerRatingModificator(modificatorEnum.equal)"
      [disabled]="
        disabled() ||
        !matrixInformation() ||
        !matrixInformation().snowpackStability ||
        !matrixInformation().frequency ||
        !matrixInformation().avalancheSize
      "
      type="reset"
      class="btn btn-sm btn-dark btn-icon"
      (click)="setDangerRatingModificator($event, undefined)"
    >
      <i class="ph ph-equals"></i>
    </button>
    <button
      *ngIf="!isDangerRatingModificator(modificatorEnum.equal)"
      [disabled]="
        disabled() ||
        !matrixInformation() ||
        !matrixInformation().snowpackStability ||
        !matrixInformation().frequency ||
        !matrixInformation().avalancheSize
      "
      type="reset"
      class="btn btn-sm btn-outline-secondary btn-icon"
      (click)="setDangerRatingModificator($event, modificatorEnum.equal)"
    >
      <i class="ph ph-equals"></i>
    </button>

    <button
      *ngIf="isDangerRatingModificator(modificatorEnum.plus)"
      [disabled]="
        disabled() ||
        !matrixInformation() ||
        !matrixInformation().snowpackStability ||
        !matrixInformation().frequency ||
        !matrixInformation().avalancheSize
      "
      type="reset"
      class="btn btn-sm btn-dark btn-icon"
      (click)="setDangerRatingModificator($event, undefined)"
    >
      <i class="ph ph-plus"></i>
    </button>
    <button
      *ngIf="!isDangerRatingModificator(modificatorEnum.plus)"
      [disabled]="
        disabled() ||
        !matrixInformation() ||
        !matrixInformation().snowpackStability ||
        !matrixInformation().frequency ||
        !matrixInformation().avalancheSize
      "
      type="reset"
      class="btn btn-sm btn-outline-secondary btn-icon"
      (click)="setDangerRatingModificator($event, modificatorEnum.plus)"
    >
      <i class="ph ph-plus"></i>
    </button>
    <div *ngIf="!disabled()" class="form-check ms-3">
      <input
        [id]="forLabelId('overrideCheckbox')"
        type="checkbox"
        class="form-check-input"
        [disabled]="
          disabled() ||
          !matrixInformation() ||
          !matrixInformation().snowpackStability ||
          !matrixInformation().frequency ||
          !matrixInformation().avalancheSize
        "
        [ngModel]="dangerRatingEnabled"
        (click)="setDangerRatingEnabled($event)"
      />

      <label *ngIf="!disabled()" class="form-label" [attr.for]="forLabelId('overrideCheckbox')">{{
        "matrix.label.override" | translate
      }}</label>
    </div>
  </div>
</div>
