@if (publicationStatus?.timestamp) {
  <div class="d-flex flex-column gap-2 small">
    <div class="d-flex flex-wrap align-items-center gap-2">
      <span class="font-s-medium text-secondary">{{
        "bulletins.table.publicationStatusDialog.publishedAt" | translate
      }}</span>
      <span class="font-s text-secondary">
        {{ publicationStatus.timestamp | date: "short" : undefined : translateService.getCurrentLang() }}
      </span>
    </div>
    @if (publicationStatus?.isBeingPublished === true) {
      <div class="d-inline-flex align-items-center text-body-secondary font-s-medium">
        <span class="spinner-border spinner-border-sm me-2" aria-hidden="true"></span>
        <span>{{ "bulletins.publicationChecklist.publicationInProgress" | translate }}</span>
      </div>
    } @else if (publicationStatus?.isBeingPublished === false) {
      <div class="d-inline-flex align-items-center gap-2 text-body-secondary font-s">
        <i class="ph ph-check-circle" aria-hidden="true"></i>
        <span>{{ "bulletins.publicationChecklist.publicationFinishedOnServer" | translate }}</span>
      </div>
    }
  </div>
}
