@let type = inner().type;
@if (type === "number") {
  <span [class]="cssClass()">{{ value() ?? "—" }}</span>
} @else if (type === "enum") {
  @if (value()) {
    <span [class]="cssClass()">{{ valueI18n().replace("#", $any(value())) | translate }}</span>
  } @else {
    <span [class]="cssClass()" class="text-muted">—</span>
  }
} @else if (type === "array") {
  @let arr = castArray(value());
  @if (arr?.length) {
    <div class="d-flex flex-wrap gap-1 pt-1">
      @for (v of arr; track v) {
        <span class="badge bg-black text-white">{{ valueI18n().replace("#", $any(v)) | translate }}</span>
      }
    </div>
  } @else {
    <span [class]="cssClass()" class="text-muted">—</span>
  }
} @else if (type === "date") {
  <span [class]="cssClass()">
    {{ castDate(value()) | date: dateFormat() : undefined : translateService.getCurrentLang() }}
  </span>
} @else if (type === "string") {
  <span [class]="cssClass()" [title]="value()">{{ value() || "—" }}</span>
} @else if (type === "boolean") {
  <span [class]="cssClass()">
    <i class="ph" [class.ph-check-circle]="value()" [class.ph-minus-circle]="!value()"></i>
  </span>
} @else {
  <span [class]="cssClass()" class="text-muted">{{ value() ?? "—" }}</span>
}
