<section>
  @for (x of zodObject().shape | keyvalue: null; track x) {
    @let inner = unwrap(x.value);
    @let widget = widgetRegistry.get(x.value);
    <div [class.d-none]="widget?.showIf && value()[widget.showIf[0]] !== widget.showIf[1]" class="mt-4" [id]="x.key">
      <div class="form-label">
        {{ labelI18n().replace("#", x.key) | translate }}
      </div>
      <div class="form-text">
        {{ helpI18n().replace("#", x.key) | translate }}
      </div>
      @if (inner.type === "enum") {
        @let enumValues = Object.keys(inner.def.entries);
        @if (widget?.widget === "slider") {
          <app-slider
            [class]="zodCssClass(x.value, value()[x.key], '')"
            [disabled]="disabled()"
            [sliderOptions]="enumSliderOptions(x.key, enumValues)"
            [sliderValue]="enumValueIndex(value()[x.key], enumValues)"
            (sliderValueChange)="onSliderEnumChange(x.key, $event, enumValues)"
          />
          @if (value()[x.key]) {
            <div class="text-center">{{ x.key + "." + value()[x.key] | translate }}</div>
          }
        } @else if (widget?.widget === "radio") {
          @for (v of enumValues; track v) {
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input
                  class="form-check-input"
                  type="radio"
                  [name]="x.key"
                  [(ngModel)]="value()[x.key]"
                  [value]="v"
                  [disabled]="disabled()"
                />
                {{ x.key + "." + v | translate }}
              </label>
            </div>
          }
        } @else {
          <app-toggle-btn-group
            [class]="zodCssClass(x.value, value()[x.key], '')"
            [disabled]="disabled()"
            [enumValues]="enumValues"
            [(value)]="value()[x.key]"
            (valueChange)="value.set(value())"
            [labelI18n]="`${x.key}.#`"
          />
        }
      } @else if (inner.type === "array" && inner.def.element.type === "enum") {
        @let enumValues = Object.keys(inner.def.element.def.entries);
        @if (widget?.widget === "checkbox") {
          @for (v of enumValues; track v) {
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input
                  #checkbox
                  class="form-check-input"
                  type="checkbox"
                  [name]="x.key"
                  [value]="v"
                  [disabled]="disabled()"
                  [checked]="castArray(value()[x.key])?.includes(v)"
                  (change)="onCheckboxArrayChange(x.key, v, checkbox.checked)"
                />
                {{ x.key + "." + v | translate }}
              </label>
            </div>
          }
        } @else {
          <app-toggle-btn-group
            [class]="zodCssClass(x.value, value()[x.key], '')"
            [disabled]="disabled()"
            [multiple]="true"
            [enumValues]="enumValues"
            [values]="castArray(value()[x.key])"
            (valuesChange)="Object.assign(value(), Object.fromEntries([[x.key, $event]])); value.set(value())"
            [labelI18n]="`${x.key}.#`"
          />
        }
      } @else if (inner.type === "string") {
        <input
          type="text"
          [class]="zodCssClass(x.value, value()[x.key])"
          [(ngModel)]="value()[x.key]"
          (ngModelChange)="value.set(value())"
        />
      } @else if (inner.type === "number") {
        <input
          type="number"
          [class]="zodCssClass(x.value, value()[x.key])"
          [(ngModel)]="value()[x.key]"
          (ngModelChange)="value.set(value())"
        />
      } @else if (inner.type === "date") {
        <div class="input-group">
          <!-- TODO implement data binding -->
          <input type="date" class="form-control" [disabled]="disabled()" />
          <input type="time" class="form-control" [disabled]="disabled()" />
          <button class="btn btn-outline-secondary" type="button" [disabled]="disabled()">
            <i class="ph ph-x"></i>
          </button>
        </div>
      } @else {
        <div class="alert alert-danger" role="alert">
          Unknown type {{ inner.type }} for key {{ x.key }}
          <div>{{ x.key }}</div>
          <div>{{ inner.type }}</div>
          <div>{{ JSON.stringify(x.value) }}</div>
        </div>
      }

      @if (x.value.safeParse(value()[x.key]); as parseResult) {
        @if (parseResult.error) {
          <!-- previous element needs to have .is-invalid class for this feedback to be shown -->
          <div class="invalid-feedback">
            {{ zPrettifyError(parseResult.error) }}
          </div>
        }
      }
    </div>
  }
</section>
