<section>
  @for (x of zodObject().shape | keyvalue: null; track x) {
    @let inner = unwrap(x.value);
    <div class="row mt-4" [id]="x.key">
      <div class="form-label">
        {{ labelI18n().replace("#", x.key) | translate }}
      </div>
      <div class="form-text">
        {{ helpI18n().replace("#", x.key) | translate }}
      </div>
      @if (inner.type === "enum") {
        <app-toggle-btn-group
          [disabled]="disabled()"
          [enumValues]="Object.keys(inner.def.entries)"
          [value]="value()[x.key]"
          (valueChange)="value.set(value())"
          [labelI18n]="`${x.key}.#`"
        />
      } @else if (inner.type === "array" && inner.def.element.type === "enum") {
        <app-toggle-btn-group
          [disabled]="disabled()"
          [enumValues]="Object.keys(inner.def.element.def.entries)"
          [values]="castArray(value()[x.key])"
          (valuesChange)="value.set(value())"
          [labelI18n]="`${x.key}.#`"
        />
      } @else if (inner.type === "string") {
        <input
          type="text"
          [class]="zodCssClass(x.value, value()[x.key])"
          [(ngModel)]="value()[x.key]"
          (ngModelChange)="value.set(value())"
        />
      } @else if (inner.type === "number") {
        <input
          type="number"
          [class]="zodCssClass(x.value, value()[x.key])"
          [(ngModel)]="value()[x.key]"
          (ngModelChange)="value.set(value())"
        />
      } @else if (inner.type === "date") {
        <div class="input-group">
          <!-- TODO implement data binding -->
          <input type="date" class="form-control" [disabled]="disabled()" />
          <input type="time" class="form-control" [disabled]="disabled()" />
          <button class="btn btn-outline-secondary" type="button" [disabled]="disabled()">
            <i class="ph ph-x"></i>
          </button>
        </div>
      } @else {
        <div class="alert alert-danger" role="alert">
          Unknown type {{ inner.type }} for key {{ x.key }}
          <div>{{ x.key }}</div>
          <div>{{ inner.type }}</div>
          <div>{{ JSON.stringify(x.value) }}</div>
        </div>
      }

      @if (x.value.safeParse(value()[x.key]); as parseResult) {
        @if (parseResult.error) {
          <!-- previous element needs to have .is-invalid class for this feedback to be shown -->
          <div class="invalid-feedback">
            {{ zPrettifyError(parseResult.error) }}
          </div>
        }
      }
    </div>
  }
</section>
