$white: #ffffff;
$gray-100: #f2f7fa !default;
$gray-200: #e6eef2 !default;
$gray-300: #dce5ea !default;
$gray-400: #c5d2d8 !default;
$gray-500: #b3bfc5 !default;
$gray-600: #838e94 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000000;

$primary-color: #19abff;
$primary-subtle-color: #bdddf1;
$primary-dark-color: #1e83ba;
$primary-pale-color: #eaf4fb;

$secondary-color: #838e94;
$secondary-dark-color: #343a40;
$secondary-light-color: #e6eef2;

$success: #198754;
$success-subtle: #d1e7dd;
$danger: #dc3545;
$danger-subtle: #f8d7da;
$warning: #f5e960;
$warning-subtle: #ffffcc;
$info: #19abff;
$info-subtle: #f6fbfd;

$avalanche-1: #ccff66;
$avalanche-2: #ffff00;
$avalanche-3: #ff9900;
$avalanche-4: #ff0000;
$avalanche-5: #000000;

// Navbar
