<div *ngFor="let isTest of [false, true]" class="card">
  <div *ngFor="let alert of alerts">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
  </div>
  <div *ngIf="!isTest" class="card-header d-flex align-items-center">
    <i class="ph ph-warning me-2"></i>{{ "bulletins.table.publicationStatusDialog.title.prod" | translate }}
  </div>
  <div *ngIf="isTest" class="card-header d-flex align-items-center">
    <i class="ph ph-check me-2"></i>{{ "bulletins.table.publicationStatusDialog.title.test" | translate }}
  </div>
  <div class="card-body p-0">
    <table class="table table-bordered table-condensed mb-0">
      <thead>
        <tr>
          <th></th>
          <th>{{ "admin.blog.language.de" | translate }}</th>
          <th>{{ "admin.blog.language.it" | translate }}</th>
          <th>{{ "admin.blog.language.en" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <label class="col-form-label">{{ regionsService.getRegionName(constantsService.codeTyrol) }}</label>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm me-3"
              (click)="sendLatestBlogPost($event, constantsService.codeTyrol, 'de', isTest)"
              data-toggle="tooltip"
              title="{{ 'admin.blog.all.tooltip' | translate }}"
            >
              <i class="ph ph-share-fat"></i>
            </button>
            <button
              type="button"
              class="btn btn-secondary btn-sm"
              (click)="sendLatestBlogPostEmail($event, constantsService.codeTyrol, 'de', isTest)"
              data-toggle="tooltip"
              title="{{ 'admin.blog.email.tooltip' | translate }}"
            >
              <i class="ph ph-envelope-simple"></i>
            </button>
            <button
              type="button"
              class="btn btn-secondary btn-sm"
              (click)="sendLatestBlogPostTelegram($event, constantsService.codeTyrol, 'de', isTest)"
              data-toggle="tooltip"
              title="{{ 'admin.blog.telegram.tooltip' | translate }}"
            >
              <i class="ph ph-telegram-logo"></i>
            </button>
            <button
              type="button"
              class="btn btn-secondary btn-sm"
              (click)="sendLatestBlogPostPush($event, constantsService.codeTyrol, 'de', isTest)"
              data-toggle="tooltip"
              title="{{ 'admin.blog.push.tooltip' | translate }}"
            >
              <i class="ph ph-bell"></i>
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm me-3"
              (click)="sendLatestBlogPost($event, constantsService.codeTyrol, 'it', isTest)"
              data-toggle="tooltip"
              title="{{ 'admin.blog.all.tooltip' | translate }}"
            >
              <i class="ph ph-share-fat"></i>
            </button>
            <button
              type="button"
              class="btn btn-secondary btn-sm"
              (click)="sendLatestBlogPostEmail($event, constantsService.codeTyrol, 'it', isTest)"
              data-toggle="tooltip"
              title="{{ 'admin.blog.email.tooltip' | translate }}"
            >
              <i class="ph ph-envelope-simple"></i>
            </button>
            <button
              type="button"
              class="btn btn-secondary btn-sm"
              (click)="sendLatestBlogPostTelegram($event, constantsService.codeTyrol, 'it', isTest)"
              data-toggle="tooltip"
              title="{{ 'admin.blog.telegram.tooltip' | translate }}"
            >
              <i class="ph ph-telegram-logo"></i>
            </button>
            <button
              type="button"
              class="btn btn-secondary btn-sm"
              (click)="sendLatestBlogPostPush($event, constantsService.codeTyrol, 'it', isTest)"
              data-toggle="tooltip"
              title="{{ 'admin.blog.push.tooltip' | translate }}"
            >
              <i class="ph ph-bell"></i>
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm me-3"
              (click)="sendLatestBlogPost($event, constantsService.codeTyrol, 'en', isTest)"
              data-toggle="tooltip"
              title="{{ 'admin.blog.all.tooltip' | translate }}"
            >
              <i class="ph ph-share-fat"></i>
            </button>
            <button
              type="button"
              class="btn btn-secondary btn-sm"
              (click)="sendLatestBlogPostEmail($event, constantsService.codeTyrol, 'en', isTest)"
              data-toggle="tooltip"
              title="{{ 'admin.blog.email.tooltip' | translate }}"
            >
              <i class="ph ph-envelope-simple"></i>
            </button>
            <button
              type="button"
              class="btn btn-secondary btn-sm"
              (click)="sendLatestBlogPostTelegram($event, constantsService.codeTyrol, 'en', isTest)"
              data-toggle="tooltip"
              title="{{ 'admin.blog.telegram.tooltip' | translate }}"
            >
              <i class="ph ph-telegram-logo"></i>
            </button>
            <button
              type="button"
              class="btn btn-secondary btn-sm"
              (click)="sendLatestBlogPostPush($event, constantsService.codeTyrol, 'en', isTest)"
              data-toggle="tooltip"
              title="{{ 'admin.blog.push.tooltip' | translate }}"
            >
              <i class="ph ph-bell"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td>
            <label class="col-form-label">{{ regionsService.getRegionName(constantsService.codeSouthTyrol) }}</label>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm me-3"
              (click)="sendLatestBlogPost($event, constantsService.codeSouthTyrol, 'de', isTest)"
              data-toggle="tooltip"
              title="{{ 'admin.blog.all.tooltip' | translate }}"
            >
              <i class="ph ph-share-fat"></i>
            </button>
            <button
              type="button"
              class="btn btn-secondary btn-sm"
              (click)="sendLatestBlogPostEmail($event, constantsService.codeSouthTyrol, 'de', isTest)"
              data-toggle="tooltip"
              title="{{ 'admin.blog.email.tooltip' | translate }}"
            >
              <i class="ph ph-envelope-simple"></i>
            </button>
            <button
              type="button"
              class="btn btn-secondary btn-sm"
              (click)="sendLatestBlogPostTelegram($event, constantsService.codeSouthTyrol, 'de', isTest)"
              data-toggle="tooltip"
              title="{{ 'admin.blog.telegram.tooltip' | translate }}"
            >
              <i class="ph ph-telegram-logo"></i>
            </button>
            <button
              type="button"
              class="btn btn-secondary btn-sm"
              (click)="sendLatestBlogPostPush($event, constantsService.codeSouthTyrol, 'de', isTest)"
              data-toggle="tooltip"
              title="{{ 'admin.blog.push.tooltip' | translate }}"
            >
              <i class="ph ph-bell"></i>
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm me-3"
              (click)="sendLatestBlogPost($event, constantsService.codeSouthTyrol, 'it', isTest)"
              data-toggle="tooltip"
              title="{{ 'admin.blog.all.tooltip' | translate }}"
            >
              <i class="ph ph-share-fat"></i>
            </button>
            <button
              type="button"
              class="btn btn-secondary btn-sm"
              (click)="sendLatestBlogPostEmail($event, constantsService.codeSouthTyrol, 'it', isTest)"
              data-toggle="tooltip"
              title="{{ 'admin.blog.email.tooltip' | translate }}"
            >
              <i class="ph ph-envelope-simple"></i>
            </button>
            <button
              type="button"
              class="btn btn-secondary btn-sm"
              (click)="sendLatestBlogPostTelegram($event, constantsService.codeSouthTyrol, 'it', isTest)"
              data-toggle="tooltip"
              title="{{ 'admin.blog.telegram.tooltip' | translate }}"
            >
              <i class="ph ph-telegram-logo"></i>
            </button>
            <button
              type="button"
              class="btn btn-secondary btn-sm"
              (click)="sendLatestBlogPostPush($event, constantsService.codeSouthTyrol, 'it', isTest)"
              data-toggle="tooltip"
              title="{{ 'admin.blog.push.tooltip' | translate }}"
            >
              <i class="ph ph-bell"></i>
            </button>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>
            <label class="col-form-label">{{ regionsService.getRegionName(constantsService.codeTrentino) }}</label>
          </td>
          <td></td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm me-3"
              (click)="sendLatestBlogPost($event, constantsService.codeTrentino, 'it', isTest)"
              data-toggle="tooltip"
              title="{{ 'admin.blog.all.tooltip' | translate }}"
            >
              <i class="ph ph-share-fat"></i>
            </button>
            <button
              type="button"
              class="btn btn-secondary btn-sm"
              (click)="sendLatestBlogPostEmail($event, constantsService.codeTrentino, 'it', isTest)"
              data-toggle="tooltip"
              title="{{ 'admin.blog.email.tooltip' | translate }}"
            >
              <i class="ph ph-envelope-simple"></i>
            </button>
            <button
              type="button"
              class="btn btn-secondary btn-sm"
              (click)="sendLatestBlogPostTelegram($event, constantsService.codeTrentino, 'it', isTest)"
              data-toggle="tooltip"
              title="{{ 'admin.blog.telegram.tooltip' | translate }}"
            >
              <i class="ph ph-telegram-logo"></i>
            </button>
            <button
              type="button"
              class="btn btn-secondary btn-sm"
              (click)="sendLatestBlogPostPush($event, constantsService.codeTrentino, 'it', isTest)"
              data-toggle="tooltip"
              title="{{ 'admin.blog.push.tooltip' | translate }}"
            >
              <i class="ph ph-bell"></i>
            </button>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>
            <label class="col-form-label">{{ regionsService.getRegionName(constantsService.codeCarinthia) }}</label>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm me-3"
              (click)="sendLatestBlogPost($event, constantsService.codeCarinthia, 'de', isTest)"
              data-toggle="tooltip"
              title="{{ 'admin.blog.all.tooltip' | translate }}"
            >
              <i class="ph ph-share-fat"></i>
            </button>
            <button
              type="button"
              class="btn btn-secondary btn-sm"
              (click)="sendLatestBlogPostEmail($event, constantsService.codeCarinthia, 'de', isTest)"
              data-toggle="tooltip"
              title="{{ 'admin.blog.email.tooltip' | translate }}"
            >
              <i class="ph ph-envelope-simple"></i>
            </button>
            <button
              type="button"
              class="btn btn-secondary btn-sm"
              (click)="sendLatestBlogPostTelegram($event, constantsService.codeCarinthia, 'de', isTest)"
              data-toggle="tooltip"
              title="{{ 'admin.blog.telegram.tooltip' | translate }}"
            >
              <i class="ph ph-telegram-logo"></i>
            </button>
            <button
              type="button"
              class="btn btn-secondary btn-sm"
              (click)="sendLatestBlogPostPush($event, constantsService.codeCarinthia, 'de', isTest)"
              data-toggle="tooltip"
              title="{{ 'admin.blog.push.tooltip' | translate }}"
            >
              <i class="ph ph-bell"></i>
            </button>
          </td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
