<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
@for (alert of alerts; track alert) {
  <div>
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
  </div>
}

<div>
  <tabset>
    <tab heading="{{ 'admin.region-configuration.table.general.title' | translate }}">
      <table class="table table-hover table-condensed mb-0">
        <tbody>
          <tr>
            <td>
              <label class="col-form-label">{{ "admin.region-configuration.table.general.id" | translate }}</label>
            </td>
            <td>
              <input type="text" class="form-control" [(ngModel)]="config().id" />
            </td>
          </tr>
          <tr>
            <td>
              <label class="col-form-label">{{ RegionConfigurationSchema.shape.coatOfArms.description }}</label>
            </td>
            <td>
              <input type="text" class="form-control" [(ngModel)]="config().coatOfArms" />
            </td>
          </tr>
          <tr>
            <td>
              <label class="col-form-label">{{ RegionConfigurationSchema.shape.staticUrl.description }}</label>
            </td>
            <td>
              <input type="text" class="form-control" [(ngModel)]="config().staticUrl" />
            </td>
          </tr>
          <tr>
            <td>
              <label class="col-form-label">{{ RegionConfigurationSchema.shape.microRegions.description }}</label>
            </td>
            <td>
              <input type="text" class="form-control" [(ngModel)]="config().microRegions" />
            </td>
          </tr>
          <tr>
            <td>
              <label class="col-form-label">{{ RegionConfigurationSchema.shape.subRegions.description }}</label>
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                [ngModel]="config().subRegions"
                (ngModelChange)="config().subRegions = $event.split(',')"
              />
            </td>
          </tr>
          <tr>
            <td>
              <label class="col-form-label">{{ RegionConfigurationSchema.shape.superRegions.description }}</label>
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                [ngModel]="config().superRegions"
                (ngModelChange)="config().superRegions = $event.split(',')"
              />
            </td>
          </tr>
          <tr>
            <td>
              <label class="col-form-label">{{ RegionConfigurationSchema.shape.neighborRegions.description }}</label>
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                [ngModel]="config().neighborRegions"
                (ngModelChange)="config().neighborRegions = $event.split(',')"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </tab>
    <tab heading="{{ 'admin.region-configuration.table.publication.title' | translate }}">
      <table class="table table-hover table-condensed mb-0">
        <tbody>
          <tr>
            <td>
              <label class="col-form-label">{{
                "admin.region-configuration.table.publication.publishBulletins" | translate
              }}</label>
            </td>
            <td>
              <label class="switch switch-primary">
                <input type="checkbox" class="switch-input" [(ngModel)]="config().publishBulletins" />
                <span class="switch-slider"></span>
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="col-form-label">{{
                "admin.region-configuration.table.publication.enabledLanguages" | translate
              }}</label>
            </td>
            <td class="align-middle">
              <div class="d-flex gap-2">
                @for (language of languages; track language) {
                  <div>
                    <label>
                      <input
                        #checkbox
                        type="checkbox"
                        [value]="language"
                        [checked]="config().enabledLanguages?.includes(language)"
                        (change)="toggleLanguage(language, checkbox.checked)"
                      />
                      {{ language }}
                    </label>
                  </div>
                }
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <label class="col-form-label">{{
                "admin.region-configuration.table.publication.ttsLanguages" | translate
              }}</label>
            </td>
            <td class="align-middle">
              <div class="d-flex gap-2">
                @for (language of languages; track language) {
                  <div>
                    <label>
                      <input
                        #checkbox
                        type="checkbox"
                        [value]="language"
                        [checked]="config().ttsLanguages?.includes(language)"
                        (change)="toggleTTSLanguage(language, checkbox.checked)"
                      />
                      {{ language }}
                    </label>
                  </div>
                }
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <label class="col-form-label">{{
                "admin.region-configuration.table.publication.publishBlogs" | translate
              }}</label>
            </td>
            <td>
              <label class="switch switch-primary">
                <input type="checkbox" class="switch-input" [(ngModel)]="config().publishBlogs" />
                <span class="switch-slider"></span>
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="col-form-label">{{
                "admin.region-configuration.table.publication.createCaamlV5" | translate
              }}</label>
            </td>
            <td>
              <label class="switch switch-primary">
                <input type="checkbox" class="switch-input" [(ngModel)]="config().createCaamlV5" />
                <span class="switch-slider"></span>
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="col-form-label">{{
                "admin.region-configuration.table.publication.createCaamlV6" | translate
              }}</label>
            </td>
            <td>
              <label class="switch switch-primary">
                <input type="checkbox" class="switch-input" [(ngModel)]="config().createCaamlV6" />
                <span class="switch-slider"></span>
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="col-form-label">{{
                "admin.region-configuration.table.publication.createJson" | translate
              }}</label>
            </td>
            <td>
              <label class="switch switch-primary">
                <input type="checkbox" class="switch-input" [(ngModel)]="config().createJson" />
                <span class="switch-slider"></span>
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="col-form-label">{{
                "admin.region-configuration.table.publication.createMaps" | translate
              }}</label>
            </td>
            <td>
              <label class="switch switch-primary">
                <input type="checkbox" class="switch-input" [(ngModel)]="config().createMaps" />
                <span class="switch-slider"></span>
              </label>
            </td>
          </tr>
          @if (config().createMaps) {
            <tr>
              <td colspan="2">
                <table class="table">
                  <tr>
                    <td>
                      <label class="col-form-label">{{
                        "admin.region-configuration.table.publication.geoDataDirectory" | translate
                      }}</label>
                    </td>
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="config().geoDataDirectory" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="col-form-label">{{
                        "admin.region-configuration.table.publication.mapLogoColorPath" | translate
                      }}</label>
                    </td>
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="config().mapLogoColorPath" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="col-form-label">{{
                        "admin.region-configuration.table.publication.mapLogoBwPath" | translate
                      }}</label>
                    </td>
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="config().mapLogoBwPath" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="col-form-label">{{
                        "admin.region-configuration.table.publication.mapLogoPosition" | translate
                      }}</label>
                    </td>
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="config().mapLogoPosition" />
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          }
          @if (config().createMaps) {
            <tr>
              <td>
                <label class="col-form-label">{{
                  "admin.region-configuration.table.publication.createPdf" | translate
                }}</label>
              </td>
              <td>
                <label class="switch switch-primary">
                  <input type="checkbox" class="switch-input" [(ngModel)]="config().createPdf" />
                  <span class="switch-slider"></span>
                </label>
              </td>
            </tr>
          }
          @if (config().createMaps && config().createPdf) {
            <tr>
              <td colspan="2">
                <table class="table">
                  <tr>
                    <td>
                      <label class="col-form-label">{{
                        "admin.region-configuration.table.publication.pdfColor" | translate
                      }}</label>
                    </td>
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="config().pdfColor" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="col-form-label">{{
                        "admin.region-configuration.table.publication.pdfMapYAmPm" | translate
                      }}</label>
                    </td>
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="config().pdfMapYAmPm" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="col-form-label">{{
                        "admin.region-configuration.table.publication.pdfMapYFd" | translate
                      }}</label>
                    </td>
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="config().pdfMapYFd" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="col-form-label">{{
                        "admin.region-configuration.table.publication.pdfMapWidthAmPm" | translate
                      }}</label>
                    </td>
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="config().pdfMapWidthAmPm" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="col-form-label">{{
                        "admin.region-configuration.table.publication.pdfMapWidthFd" | translate
                      }}</label>
                    </td>
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="config().pdfMapWidthFd" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="col-form-label">{{
                        "admin.region-configuration.table.publication.pdfMapHeight" | translate
                      }}</label>
                    </td>
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="config().pdfMapHeight" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="col-form-label">{{
                        "admin.region-configuration.table.publication.pdfFooterLogo" | translate
                      }}</label>
                    </td>
                    <td>
                      <label class="switch switch-primary">
                        <input type="checkbox" class="switch-pdfFooterLogo" [(ngModel)]="config().pdfFooterLogo" />
                        <span class="switch-slider"></span>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="col-form-label">{{
                        "admin.region-configuration.table.publication.pdfFooterLogoColorPath" | translate
                      }}</label>
                    </td>
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="config().pdfFooterLogoColorPath" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="col-form-label">{{
                        "admin.region-configuration.table.publication.pdfFooterLogoBwPath" | translate
                      }}</label>
                    </td>
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="config().pdfFooterLogoBwPath" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="col-form-label">{{
                        "admin.region-configuration.table.publication.imageColorbarColorPath" | translate
                      }}</label>
                    </td>
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="config().imageColorbarColorPath" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="col-form-label">{{
                        "admin.region-configuration.table.publication.imageColorbarBwPath" | translate
                      }}</label>
                    </td>
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="config().imageColorbarBwPath" />
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          }
          @if (config().createMaps) {
            <tr>
              <td>
                <label class="col-form-label">{{
                  "admin.region-configuration.table.publication.createSimpleHtml" | translate
                }}</label>
              </td>
              <td>
                <label class="switch switch-primary">
                  <input type="checkbox" class="switch-input" [(ngModel)]="config().createSimpleHtml" />
                  <span class="switch-slider"></span>
                </label>
              </td>
            </tr>
          }
          @if (config().createMaps && config().createSimpleHtml) {
            <tr>
              <td colspan="2">
                <table class="table">
                  <tr>
                    <td>
                      <label class="col-form-label">{{
                        "admin.region-configuration.table.publication.simpleHtmlTemplateName" | translate
                      }}</label>
                    </td>
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="config().simpleHtmlTemplateName" />
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          }
          @if (config().createMaps) {
            <tr>
              <td>
                <label class="col-form-label">{{
                  "admin.region-configuration.table.publication.sendEmails" | translate
                }}</label>
              </td>
              <td>
                <label class="switch switch-primary">
                  <input type="checkbox" class="switch-input" [(ngModel)]="config().sendEmails" />
                  <span class="switch-slider"></span>
                </label>
              </td>
            </tr>
          }
          @if (config().createMaps && config().sendEmails) {
            <tr>
              <td colspan="2">
                <table class="table">
                  <tr>
                    <td>
                      <label class="col-form-label">{{
                        "admin.region-configuration.table.publication.imageColorbarColorPath" | translate
                      }}</label>
                    </td>
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="config().imageColorbarColorPath" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="col-form-label">{{
                        "admin.region-configuration.table.publication.imageColorbarBwPath" | translate
                      }}</label>
                    </td>
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="config().imageColorbarBwPath" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="col-form-label">{{
                        "admin.region-configuration.table.publication.emailColor" | translate
                      }}</label>
                    </td>
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="config().emailColor" />
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          }
          @if (config().createMaps) {
            <tr>
              <td>
                <label class="col-form-label">{{
                  "admin.region-configuration.table.publication.sendTelegramMessages" | translate
                }}</label>
              </td>
              <td>
                <label class="switch switch-primary">
                  <input type="checkbox" class="switch-input" [(ngModel)]="config().sendTelegramMessages" />
                  <span class="switch-slider"></span>
                </label>
              </td>
            </tr>
          }
          @if (config().createMaps) {
            <tr>
              <td>
                <label class="col-form-label">{{
                  "admin.region-configuration.table.publication.sendWhatsAppMessages" | translate
                }}</label>
              </td>
              <td>
                <label class="switch switch-primary">
                  <input type="checkbox" class="switch-input" [(ngModel)]="config().sendWhatsAppMessages" />
                  <span class="switch-slider"></span>
                </label>
              </td>
            </tr>
          }
          @if (config().createMaps) {
            <tr>
              <td>
                <label class="col-form-label">{{
                  "admin.region-configuration.table.publication.sendPushNotifications" | translate
                }}</label>
              </td>
              <td>
                <label class="switch switch-primary">
                  <input type="checkbox" class="switch-input" [(ngModel)]="config().sendPushNotifications" />
                  <span class="switch-slider"></span>
                </label>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </tab>
    <tab heading="{{ 'admin.region-configuration.table.components.title' | translate }}">
      <table class="table table-hover table-condensed mb-0">
        <tbody>
          <tr>
            <td>
              <label class="col-form-label">{{
                "admin.region-configuration.table.components.enableDangerSources" | translate
              }}</label>
            </td>
            <td>
              <label class="switch switch-primary">
                <input type="checkbox" class="switch-input" [(ngModel)]="config().enableDangerSources" />
                <span class="switch-slider"></span>
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="col-form-label">{{
                "admin.region-configuration.table.components.enableObservations" | translate
              }}</label>
            </td>
            <td>
              <label class="switch switch-primary">
                <input type="checkbox" class="switch-input" [(ngModel)]="config().enableObservations" />
                <span class="switch-slider"></span>
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="col-form-label">{{
                "admin.region-configuration.table.components.enableModelling" | translate
              }}</label>
            </td>
            <td>
              <label class="switch switch-primary">
                <input type="checkbox" class="switch-input" [(ngModel)]="config().enableModelling" />
                <span class="switch-slider"></span>
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="col-form-label">{{
                "admin.region-configuration.table.components.enableWeatherbox" | translate
              }}</label>
            </td>
            <td>
              <label class="switch switch-primary">
                <input type="checkbox" class="switch-input" [(ngModel)]="config().enableWeatherbox" />
                <span class="switch-slider"></span>
              </label>
            </td>
          </tr>
        </tbody>
      </table>
    </tab>
    <tab heading="{{ 'admin.region-configuration.table.configuration.title' | translate }}">
      <table class="table table-hover table-condensed mb-0">
        <tbody>
          <tr>
            <td>
              <label class="col-form-label">{{
                "admin.region-configuration.table.configuration.showMatrix" | translate
              }}</label>
            </td>
            <td>
              <label class="switch switch-primary">
                <input type="checkbox" class="switch-input" [(ngModel)]="config().showMatrix" />
                <span class="switch-slider"></span>
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="col-form-label">{{
                "admin.region-configuration.table.configuration.enableMediaFile" | translate
              }}</label>
            </td>
            <td>
              <label class="switch switch-primary">
                <input type="checkbox" class="switch-input" [(ngModel)]="config().enableMediaFile" />
                <span class="switch-slider"></span>
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="col-form-label">{{
                "admin.region-configuration.table.configuration.enableStrategicMindset" | translate
              }}</label>
            </td>
            <td>
              <label class="switch switch-primary">
                <input type="checkbox" class="switch-input" [(ngModel)]="config().enableStrategicMindset" />
                <span class="switch-slider"></span>
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="col-form-label">{{
                "admin.region-configuration.table.configuration.enableStressLevel" | translate
              }}</label>
            </td>
            <td>
              <label class="switch switch-primary">
                <input type="checkbox" class="switch-input" [(ngModel)]="config().enableStressLevel" />
                <span class="switch-slider"></span>
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="col-form-label">{{
                "admin.region-configuration.table.configuration.enableAvalancheProblemCornices" | translate
              }}</label>
            </td>
            <td>
              <label class="switch switch-primary">
                <input type="checkbox" class="switch-input" [(ngModel)]="config().enableAvalancheProblemCornices" />
                <span class="switch-slider"></span>
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="col-form-label">{{
                "admin.region-configuration.table.configuration.enableAvalancheProblemNoDistinctAvalancheProblem"
                  | translate
              }}</label>
            </td>
            <td>
              <label class="switch switch-primary">
                <input
                  type="checkbox"
                  class="switch-input"
                  [(ngModel)]="config().enableAvalancheProblemNoDistinctAvalancheProblem"
                />
                <span class="switch-slider"></span>
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="col-form-label">{{
                "admin.region-configuration.table.configuration.enableEditableFields" | translate
              }}</label>
            </td>
            <td>
              <label class="switch switch-primary">
                <input type="checkbox" class="switch-input" [(ngModel)]="config().enableEditableFields" />
                <span class="switch-slider"></span>
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="col-form-label">{{
                "admin.region-configuration.table.configuration.enableGeneralHeadline" | translate
              }}</label>
            </td>
            <td>
              <label class="switch switch-primary">
                <input type="checkbox" class="switch-input" [(ngModel)]="config().enableGeneralHeadline" />
                <span class="switch-slider"></span>
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="col-form-label">{{
                "admin.region-configuration.table.configuration.enableWeatherTextField" | translate
              }}</label>
            </td>
            <td>
              <label class="switch switch-primary">
                <input type="checkbox" class="switch-input" [(ngModel)]="config().enableWeatherTextField" />
                <span class="switch-slider"></span>
              </label>
            </td>
          </tr>
        </tbody>
      </table>
    </tab>
    <tab heading="{{ 'admin.region-configuration.table.languageConfiguration.title' | translate }}">
      <table class="table table-hover table-condensed mb-0">
        <tbody>
          <tr>
            <td>
              <label class="col-form-label">{{ RegionConfigurationSchema.shape.defaultLang.description }}</label>
            </td>
            <td>
              <input type="text" class="form-control" [(ngModel)]="config().defaultLang" />
            </td>
          </tr>
        </tbody>
        @for (languageConfiguration of config().languageConfigurations; track languageConfiguration.lang) {
          <tbody>
            <tr class="table-active">
              <td>
                <label class="col-form-label">{{ LanguageConfigurationSchema.shape.lang.description }}</label>
              </td>
              <td>
                <input type="text" class="form-control" [(ngModel)]="languageConfiguration.lang" />
              </td>
            </tr>
            <tr>
              <td>
                <label class="col-form-label">
                  {{ LanguageConfigurationSchema.shape.warningServiceName.description }}
                </label>
              </td>
              <td>
                <input
                  type="text"
                  [lang]="languageConfiguration.lang"
                  class="form-control"
                  [(ngModel)]="languageConfiguration.warningServiceName"
                />
              </td>
            </tr>
            <tr>
              <td>
                <label class="col-form-label">
                  {{ LanguageConfigurationSchema.shape.warningServiceEmail.description }}
                </label>
              </td>
              <td>
                <input type="email" class="form-control" [(ngModel)]="languageConfiguration.warningServiceEmail" />
              </td>
            </tr>
            <tr>
              <td>
                <label class="col-form-label">
                  {{ LanguageConfigurationSchema.shape.websiteName.description }}
                </label>
              </td>
              <td>
                <input
                  type="text"
                  [lang]="languageConfiguration.lang"
                  class="form-control"
                  [(ngModel)]="languageConfiguration.websiteName"
                />
              </td>
            </tr>
            <tr>
              <td>
                <label class="col-form-label">{{ LanguageConfigurationSchema.shape.url.description }}</label>
              </td>
              <td>
                <input type="text" class="form-control" [(ngModel)]="languageConfiguration.url" />
              </td>
            </tr>
            <tr>
              <td>
                <label class="col-form-label">{{ LanguageConfigurationSchema.shape.urlWithDate.description }}</label>
              </td>
              <td>
                <input type="text" class="form-control" [(ngModel)]="languageConfiguration.urlWithDate" />
              </td>
            </tr>
          </tbody>
        }
      </table>
    </tab>
  </tabset>
</div>

@if (!saveConfigurationLoading) {
  <button type="submit" [disabled]="!config().id" class="btn btn-sm btn-primary px-3" (click)="save()">
    <i class="ph ph-check"></i> {{ "admin.region-configuration.button.save" | translate }}
  </button>
}

@if (saveConfigurationLoading) {
  <button type="submit" [disabled]="true" class="btn btn-sm btn-primary px-3">
    <i class="ph ph-circle-notch"></i> {{ "admin.region-configuration.button.save" | translate }}
  </button>
}
