<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
@for (alert of alerts; track alert) {
  <div>
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
  </div>
}

<div>
  <tabset>
    <tab heading="{{ 'admin.region-configuration.table.general.title' | translate }}">
      <app-zod-schema-form [value]="config()" [zodType]="RegionModels.RegionConfigurationGeneralSchema" />
    </tab>
    <tab heading="{{ 'admin.region-configuration.table.publication.title' | translate }}">
      <app-zod-schema-form [value]="config()" [zodType]="RegionModels.RegionConfigurationPublicationSchema" />
    </tab>
    <tab heading="{{ 'admin.region-configuration.table.components.title' | translate }}">
      <app-zod-schema-form [value]="config()" [zodType]="RegionModels.RegionConfigurationComponentsSchema" />
    </tab>
    <tab heading="{{ 'admin.region-configuration.table.configuration.title' | translate }}">
      <app-zod-schema-form [value]="config()" [zodType]="RegionModels.RegionConfigurationConfigurationSchema" />
    </tab>
    <tab heading="{{ 'admin.region-configuration.table.languageConfiguration.title' | translate }}">
      <div class="table-responsive">
        <table class="table table-hover table-condensed mb-0">
          <tbody>
            <tr>
              <td>
                <label class="col-form-label text-nowrap">{{
                  RegionConfigurationSchema.shape.defaultLang.description
                }}</label>
              </td>
              <td>
                <input type="text" class="form-control" [(ngModel)]="config().defaultLang" />
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table table-hover table-condensed mb-0">
          <tbody>
            <tr class="table-active">
              <td>
                <label class="col-form-label text-nowrap">{{
                  LanguageConfigurationSchema.shape.lang.description
                }}</label>
                <button
                  (click)="config().languageConfigurations.splice(0, 0, {})"
                  class="btn btn-sm btn-outline-primary float-end"
                  style="min-height: 38px"
                >
                  <i class="ph ph-plus"></i>
                </button>
              </td>
              @for (languageConfiguration of config().languageConfigurations; track languageConfiguration.lang) {
                <td style="min-width: 20em">
                  <app-zod-input
                    [zodType]="LanguageConfigurationSchema.shape.lang"
                    [(value)]="languageConfiguration.lang"
                  >
                    <button
                      (click)="config().languageConfigurations.splice($index, 1)"
                      class="btn btn-sm btn-outline-primary"
                    >
                      <i class="ph ph-minus"></i>
                    </button>
                  </app-zod-input>
                </td>
              }
            </tr>
            @for (key of LanguageConfigurationKeys; track key) {
              <tr>
                <td>
                  <label class="col-form-label text-nowrap">
                    {{ LanguageConfigurationSchema.shape[key].description }}
                  </label>
                </td>
                @for (languageConfiguration of config().languageConfigurations; track languageConfiguration.lang) {
                  <td>
                    <app-zod-input
                      [lang]="languageConfiguration.lang"
                      [zodType]="LanguageConfigurationSchema.shape[key]"
                      [(value)]="languageConfiguration[key]"
                    />
                  </td>
                }
              </tr>
            }
          </tbody>
        </table>
      </div>
    </tab>
  </tabset>
</div>

@if (!saveConfigurationLoading) {
  <button type="submit" [disabled]="!config().id" class="btn btn-sm btn-primary px-3" (click)="save()">
    <i class="ph ph-check"></i> {{ "admin.region-configuration.button.save" | translate }}
  </button>
}

@if (saveConfigurationLoading) {
  <button type="submit" [disabled]="true" class="btn btn-sm btn-primary px-3">
    <i class="ph ph-circle-notch"></i> {{ "admin.region-configuration.button.save" | translate }}
  </button>
}
