@for (alert of alerts; track alert) {
  <div>
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
  </div>
}
<app-zod-schema-form
  [value]="config()"
  [zodType]="ServerConfigurationSchema"
  [labelI18n]="'admin.server-configuration.table.#'"
/>

@if (!saveConfigurationLoading) {
  <button type="submit" class="btn btn-sm btn-primary px-3" (click)="save()">
    <i class="ph ph-check"></i> {{ "admin.server-configuration.button.save" | translate }}
  </button>
}

@if (saveConfigurationLoading) {
  <button type="submit" [disabled]="true" class="btn btn-sm btn-primary px-3">
    <i class="ph ph-circle-notch"></i> {{ "admin.server-configuration.button.save" | translate }}
  </button>
}
