<div class="card">
  <div class="card-body">
    <div type="button" class="form-group row mb-3">
      <div class="col-md-6">
        <button (click)="createServer()" class="btn btn-sm btn-primary px-3">
          <i class="ph ph-plus"></i> {{ "admin.server-configuration.button.create" | translate }}
        </button>
      </div>
    </div>
    <accordion>
      <!-- Local server -->
      <accordion-group *ngIf="localServerConfiguration" class="my-3">
        <div accordion-heading class="clearfix">
          <strong>{{ localServerConfiguration.name }}</strong>
        </div>
        <app-server-configuration
          [config]="localServerConfiguration"
          [externalServer]="false"
        ></app-server-configuration>
      </accordion-group>
      <!-- External servers -->
      <accordion-group *ngFor="let config of externalServerConfigurations" class="my-3">
        <div accordion-heading class="clearfix">
          <strong>{{ config.name }}</strong>
        </div>
        <app-server-configuration [config]="config" [externalServer]="true"></app-server-configuration>
      </accordion-group>
    </accordion>
  </div>
</div>
