<div class="animated fadeIn create-bulletin" [class.create-bulletin--modal]="showNewVariantModal && activeVariant">
  <!-- Sidebar -->
  <aside class="create-bulletin__sidebar" [class.hidden]="!isVariantsSidebarVisible">
    <!-- Date Switch -->
    <header class="create-bulletin__sidebar-header">
      <button
        (click)="toggleVariantsSidebar()"
        class="btn btn-bare btn-sm btn-icon btn-bare--grey d-block d-md-none create-bulletin__sidebar-close"
      >
        <i class="ph-bold ph-x"></i>
      </button>

      <div class="create-bulletin__date" style="margin-bottom: 5px">
        <h1 class="create-bulletin__current-date font-m-bold">
          {{
            dangerSourcesService.sourceDates.activeValidUntil
              | date: "EEEE," : undefined : translateService.getCurrentLang()
          }}<br />
          {{
            dangerSourcesService.sourceDates.activeValidUntil
              | date: "longDate" : undefined : translateService.getCurrentLang()
          }}
        </h1>
        <nav class="btn-group create-bulleting__days-nav">
          @if (dangerSourcesService.sourceDates.getNextDate()) {
            <button
              type="button"
              class="btn btn-icon btn-sm btn-bare--grey"
              (click)="changeDate(dangerSourcesService.sourceDates.getNextDate())"
            >
              <i class="ph-bold ph-caret-left"></i>
            </button>
          }
          @if (dangerSourcesService.sourceDates.getPreviousDate()) {
            <button
              type="button"
              class="btn btn-icon btn-sm btn-bare--grey"
              (click)="changeDate(dangerSourcesService.sourceDates.getPreviousDate())"
            >
              <i class="ph-bold ph-caret-right"></i>
            </button>
          }
        </nav>
      </div>
      <div class="region-thumb__author font-s text-secondary">
        <small>
          {{
            dangerSourcesService.sourceDates.activeValidFrom
              | date: "medium" : undefined : translateService.getCurrentLang()
          }}
          &ndash;
          {{
            dangerSourcesService.sourceDates.activeValidUntil
              | date: "medium" : undefined : translateService.getCurrentLang()
          }}
        </small>
      </div>
      <!-- End Date Switch -->

      <!-- Status -->
      <div class="create-bulletin__status">
        <div>
          @if (dangerSourcesService.getDangerSourceVariantType() === variantType.forecast) {
            <span class="badge bg-primary">
              {{ "dangerSources.status.forecast" | translate }}
            </span>
          }
          @if (dangerSourcesService.getDangerSourceVariantType() === variantType.analysis) {
            <span class="badge bg-success">
              {{ "dangerSources.status.analysis" | translate }}
            </span>
          }
        </div>
      </div>
      <!-- End status-->

      @if (loading) {
        <span class="create-bulletin__bulletin-info"
          ><i class="ph ph-circle-notch"></i> {{ "dangerSources.status.loading" | translate }}</span
        >
      }
      @if (saveError.size) {
        <span class="create-bulletin__bulletin-alert" (click)="updateSaveErrors()"
          ><i class="ph ph-warning icon-left"></i> {{ "dangerSources.status.saveError" | translate }}
          <button class="btn btn-outline btn-danger btn-small lm-2">
            <i class="ph ph-repeat icon-right"></i>
          </button>
        </span>
      }
      @if (loadInternalVariantsError) {
        <span class="create-bulletin__bulletin-warning"
          ><i class="ph ph-info"></i> {{ "dangerSources.status.loadVariantsError" | translate }}</span
        >
      }
      @if (loadInternalDangerSourcesError) {
        <span class="create-bulletin__bulletin-warning"
          ><i class="ph ph-info"></i> {{ "dangerSources.status.loadDangerSourcesError" | translate }}</span
        >
      }
    </header>
    <!-- End sidebar header -->

    <!-- List of danger sources -->
    <div class="create-bulletin__regions">
      <!-- Own danger sources -->
      <header class="create-bulletin__region-divider" style="background: none; border-top: none">
        <h5 class="font-s-bold">
          @if (dangerSourcesService.getIsEditable()) {
            <button
              [disabled]="editRegions || loading"
              (click)="createDangerSource()"
              class="btn btn-sm btn-primary"
              type="button"
              title="{{ 'dangerSources.create.createDangerSource' | translate }}"
              ngxMousetrapKey="c d"
            >
              {{ "dangerSources.create.createDangerSource" | translate }}
            </button>
          }
        </h5>
        <div class="btn-group region-divider__actions">
          <!-- map above / map aside -->
          @if (!isCompactMapLayout) {
            <button
              (click)="toggleCompactMapLayout()"
              class="btn btn-sm btn-bare btn-sm btn-icon"
              type="button"
              data-toggle="tooltip"
              title="{{ 'bulletins.create.mapTop' | translate }}"
              ngxMousetrapKey="v"
            >
              <i class="ph ph-bold icon-md ph-square-split-vertical"></i>
            </button>
          }
          @if (isCompactMapLayout) {
            <button
              (click)="toggleCompactMapLayout()"
              class="btn btn-sm btn-bare btn-sm btn-icon"
              type="button"
              data-toggle="tooltip"
              title="{{ 'bulletins.create.mapLeft' | translate }}"
              ngxMousetrapKey="v"
            >
              <i class="ph ph-bold icon-md ph-square-split-horizontal"></i>
            </button>
          }
          <!-- load danger sources from yesterday -->
          @if (dangerSourcesService.getIsEditable() && !dangerSourcesService.getIsReadOnly()) {
            <button
              [disabled]="editRegions || loading"
              (click)="loadAllVariantsFromYesterday()"
              class="btn btn-sm btn-bare btn-sm btn-icon"
              type="button"
              data-toggle="tooltip"
              title="{{ 'dangerSources.create.tooltip.loadVariants' | translate }}"
              ngxMousetrapKey="y"
            >
              <i class="ph-bold ph-copy icon-md"></i>
            </button>
          }
        </div>
      </header>
      <!-- End own danger sources header -->
      <!-- List of own danger sources -->
      <nav class="create-bulletin__region-list">
        <!-- Show the list of danger sources if there are any -->
        @if (internDangerSourcesList.length) {
          @for (dangerSource of internDangerSourcesList; track dangerSource.id) {
            <ng-container
              *ngTemplateOutlet="dangerSourceTemplate; context: { dangerSource: dangerSource }"
            ></ng-container>
          }
        } @else {
          <div class="create-bulletin__nobulletins">
            <i class="ph ph-mountains"></i>
            <p>{{ "dangerSources.create.noDangerSources" | translate }}</p>
          </div>
        }
      </nav>
    </div>
  </aside>
  <!-- End Sidebar -->

  <div
    class="create-bulletin__default-layout"
    [class.create-bulletin__compact-layout]="
      activeVariant !== undefined && !editRegions && (isCompactMapLayout || comparedVariant !== undefined)
    "
    [class.create-bulletin__compact-layout--compare]="
      activeVariant !== undefined && !editRegions && comparedVariant !== undefined
    "
    [class.full-width]="!isVariantsSidebarVisible"
  >
    <!-- Active variant -->
    @if (activeVariant && !showNewVariantModal) {
      <div
        class="create-bulletin__region-form"
        (scroll)="updateVariantScroll('scrollActiveVariant')"
        #scrollActiveVariant
      >
        <app-danger-source-variant
          [variant]="activeVariant"
          [disabled]="isDisabled()"
          [isCompactMapLayout]="isCompactMapLayout"
          [isVariantsSidebarVisible]="isVariantsSidebarVisible"
          [isComparedVariant]="false"
          (updateVariantOnServerEvent)="saveVariantOnServer($event)"
          (deleteVariantEvent)="deleteVariant($event)"
          (copyVariantEvent)="copyVariant($event)"
          (editMicroRegionsEvent)="editMicroRegions($event)"
          (deselectVariantEvent)="deselectVariant()"
          (toggleVariantsSidebarEvent)="toggleVariantsSidebar()"
          (undoRedoEvent)="undoRedoActiveVariant($event)"
        ></app-danger-source-variant>
      </div>
    }
    <!-- End Active variant -->
    <!-- Compared variant -->
    @if (comparedVariant && !showNewVariantModal) {
      <div
        class="create-bulletin__region-form"
        (scroll)="updateVariantScroll('scrollComparedVariant')"
        #scrollComparedVariant
      >
        <app-danger-source-variant
          [variant]="comparedVariant"
          [comparedVariant]="activeVariant"
          [disabled]="true"
          [isCompactMapLayout]="isCompactMapLayout"
          [isVariantsSidebarVisible]="isVariantsSidebarVisible"
          [isComparedVariant]="true"
          (deselectVariantEvent)="deselectComparedVariant()"
        ></app-danger-source-variant>
      </div>
    }
    <!-- End Compared variant -->

    <!-- Map -->
    <div class="create-bulletin__map-container" [class.create-bulletin__map-container--am-pm]="showAfternoonMap">
      <!-- Variant Sidebar toggle icon -->
      <button (click)="toggleVariantsSidebar()" class="create-bulletin__sidebar-close-on-map">
        <i class="ph ph-sidebar"></i>
      </button>
      <!-- End Variant Sidebar toggle icon -->
      @if (showNewVariantModal && activeVariant) {
        <div class="floating-action create-region-floating-action">
          <div class="floating-action__text">
            <i class="ph ph-globe-hemisphere-west"></i> {{ "bulletins.create.mapSelectRegion" | translate }}
          </div>
          <div class="floating-action__actions btn-toolbar">
            <button
              type="reset"
              class="btn btn-bare"
              (click)="$event.stopPropagation(); discardVariant(activeVariant)"
              ngxMousetrapKey="esc"
            >
              <span>{{ "bulletins.create.tooltip.cancel" | translate }}</span>
            </button>
            <button type="button" class="btn btn-primary" (click)="$event.stopPropagation(); saveVariant()">
              <i class="ph-bold ph-check"></i>
              @if (activeVariant.regions.length === 0) {
                <span>{{ "bulletins.create.tooltip.createRegion" | translate }}</span>
              }
              @if (activeVariant.regions.length > 0) {
                <span>{{ "bulletins.create.tooltip.saveChanges" | translate }}</span>
              }
            </button>
          </div>
        </div>
      }

      <div id="map" class="create-bulletin__map create-bulletin__map--am"></div>
      <div id="afternoonMap" class="create-bulletin__map create-bulletin__map--pm"></div>
    </div>
    <!-- End Map -->
  </div>
</div>

<!-- Display this template when there are no danger sources -->

<ng-template #dangerSourceTemplate let-dangerSource0="dangerSource">
  @let dangerSource = asDangerSource(dangerSource0);
  <!-- List of danger sources -->
  <div class="create-bulletin__regions">
    <!-- Own danger sources -->
    <header
      class="create-bulletin__region-divider foreign"
      (click)="toggleDangerSourceVariantsList(dangerSource.id)"
      [ngClass]="
        getVariantCountByStatus(dangerSource, variantStatus.active) > 0
          ? 'danger-source__active'
          : getVariantCountByStatus(dangerSource, variantStatus.dormant) > 0
            ? 'danger-source__dormant'
            : getVariantCountByStatus(dangerSource, variantStatus.inactive) > 0
              ? 'danger-source__inactive'
              : 'danger-source__empty'
      "
    >
      <div class="region-thumb__details" style="flex: 1 1 auto; min-width: 0; overflow: hidden">
        <h5
          class="font-s-bold"
          style="
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            line-clamp: 2;
          "
        >
          {{ dangerSource.title }}
        </h5>
        <div
          class="region-thumb__author font-s text-secondary"
          style="display: flex; align-items: center; gap: 8px; min-width: 0"
        >
          @if (getVariantCount(dangerSource) > 0) {
            <div class="btn-group region-divider__actions" style="flex: none">
              @if (!showDangerSourceVariantsMap.get(dangerSource.id)) {
                <i class="ph-bold ph-caret-right"></i>
              }
              @if (showDangerSourceVariantsMap.get(dangerSource.id)) {
                <i class="ph-bold ph-caret-down"></i>
              }
            </div>
          }
          <div
            class="btn-group region-divider__actions"
            style="flex: 1 1 auto; min-width: 0; overflow: hidden; white-space: nowrap; text-overflow: ellipsis"
          >
            {{
              getMainDateString(dangerSource.creationDate)
                | date: "mediumDate" : undefined : translateService.getCurrentLang()
            }}
            {{ getStatusString(dangerSource) }}
          </div>
        </div>
      </div>
      <div class="btn-group region-divider__actions">
        <div class="region-divider__actions-dropdown mr-1" bsDropdown container="body">
          <button
            class="btn btn-sm btn-icon btn-bare--grey"
            type="button"
            bsDropdownToggle
            (click)="$event.stopPropagation()"
          >
            <i class="ph-bold ph-dots-three-outline-vertical"></i>
          </button>

          <ul *bsDropdownMenu class="dropdown-menu create-bulletin__region-dropdown">
            <!-- load variants from yesterday -->
            <li>
              @if (dangerSourcesService.getIsEditable() && !dangerSourcesService.getIsReadOnly()) {
                <button
                  [disabled]="editRegions || loading"
                  type="reset"
                  class="dropdown-item"
                  (click)="openEditDangerSourceModal(dangerSource)"
                  data-toggle="tooltip"
                  title="{{ 'dangerSources.create.tooltip.editDangerSource' | translate }}"
                >
                  <i class="ph-bold ph-pencil icon-md"></i>
                  {{ "dangerSources.create.tooltip.editDangerSource" | translate }}
                </button>
              }
              @if (dangerSourcesService.getIsEditable() && !dangerSourcesService.getIsReadOnly()) {
                <button
                  [disabled]="editRegions || loading"
                  type="reset"
                  class="dropdown-item"
                  (click)="loadVariantsFromYesterday(dangerSource.id)"
                  data-toggle="tooltip"
                  title="{{ 'dangerSources.create.tooltip.loadVariants' | translate }}"
                >
                  <i class="ph-bold ph-copy icon-md"></i>
                  {{ "dangerSources.create.tooltip.loadVariants" | translate }}
                </button>
              }
            </li>
          </ul>
        </div>
        <div style="height: 100%; padding-left: 3px">
          <button
            [disabled]="editRegions || loading"
            type="button"
            class="btn btn-sm btn-icon"
            [class.btn-primary]="activeDangerSourceOnMap === dangerSource"
            (click)="$event.stopPropagation(); toggleShowVariantsOnMap(dangerSource.id)"
            title="{{ 'dangerSources.create.tooltip.showVariantsOnMap' | translate }}"
          >
            <i class="ph-bold ph-eye icon-md"></i>
          </button>
        </div>
        <div style="height: 100%; padding-left: 3px">
          @if (dangerSourcesService.getIsEditable()) {
            <button
              [disabled]="editRegions || loading"
              (click)="$event.stopPropagation(); createVariant(dangerSource)"
              class="btn btn-sm btn-icon btn-primary"
              type="button"
              title="{{ 'dangerSources.create.createVariant' | translate }}"
            >
              <i class="ph-bold ph-plus"></i>
            </button>
          }
        </div>
      </div>
    </header>
    <!-- End own danger sources header -->
    <!-- List of variants of danger source -->
    @if (!showDangerSourceVariantsMap.has(dangerSource.id) || showDangerSourceVariantsMap.get(dangerSource.id)) {
      <nav class="create-bulletin__region-list">
        <!-- Show the list of variants if there are any -->
        <ng-container>
          @for (variant of getVariantsOfDangerSource(dangerSource.id); track variant) {
            <ng-container *ngTemplateOutlet="variantTemplate; context: { variant: variant }"></ng-container>
          }
        </ng-container>
      </nav>
    }
  </div>
</ng-template>

<ng-template #variantTemplate let-variant="variant">
  <div (click)="toggleVariant(variant)" class="region-thumb" [class.region-thumb--active]="variant === activeVariant">
    <div class="region-thumb__details">
      <p>
        @if (isDangerSourceVariantStatus(variant, variantStatus.active)) {
          <span
            class="badge bg-secondary"
            [style.background-color]="getDangerRatingColor(variant)"
            [style.color]="getFontColor(variant)"
          >
            {{ "dangerSources.variantStatus.active" | translate }}
            <!-- Natural Avalanches -->
            @if (isNaturalReleaseLikely(variant)) {
              <span>
                <i class="ph-bold ph-warning-circle icon-md"></i>
              </span>
            }
            <!-- Natural Avalanches -->
            <!-- Remote Triggering -->
            @if (variant.remoteTriggering) {
              <span>
                <i class="ph-bold ph-trend-up icon-md"></i>
              </span>
            }
            <!-- Remote Triggering -->
          </span>
        }
        @if (isDangerSourceVariantStatus(variant, variantStatus.dormant)) {
          <span class="badge bg-gray">
            {{ "dangerSources.variantStatus.dormant" | translate }}
          </span>
        }
        @if (isDangerSourceVariantStatus(variant, variantStatus.inactive)) {
          <span class="badge bg-light-gray">
            {{ "dangerSources.variantStatus.inactive" | translate }}
          </span>
        }
      </p>

      <h5
        class="font-s-bold"
        style="
          overflow: hidden;
          text-overflow: ellipsis;
          margin: 0;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          line-clamp: 2;
        "
      >
        @if (saveError.has(variant.id)) {
          <span>* </span>
        }
        @if (variant.title !== null && variant.title !== undefined && variant.title.trim() !== "") {
          <span>{{ variant.title }}</span>
        }
      </h5>
      <h6 class="region-thumb__author font-s text-secondary" role="button">
        @if (variant.regions.length > 0) {
          <span>{{ regionsService.getRegionName(variant.regions[0]) }}</span>
        }
        @if (variant.regions.length > 1) {
          <span> + {{ variant.regions.length - 1 }} </span>
        }
      </h6>
      <p class="region-thumb__author font-s text-secondary" role="button">
        Updated on {{ variant.updateDate | date: "dd.MM.yyyy HH:mm" : undefined : translateService.getCurrentLang() }}
      </p>

      <div class="region-thumb__avalanche-info">
        <!-- Avalanche Problem -->
        <app-avalanche-problem-icons
          [value]="variant.getAvalancheProblem()"
          class="avalanche-problem-preview__problem-icon"
        />
        <!-- Avalanche Problem -->
        <!-- Avalanche Type -->
        <!-- Avalanche Type -->
        <!-- Aspects -->
        <app-aspects [(aspects)]="variant.aspects" [disabled]="true" [size]="32"></app-aspects>
        <!-- Aspects -->
        <!-- Elevations -->
        @if (variant.treelineHigh || variant.elevationHigh) {
          <span class="badge text-bg-light">
            <i class="ph ph-arrow-down icon-sm"></i>
            {{ variant.treelineHigh ? ("elevation.treeline" | translate) : variant.elevationHigh + " m" }}
          </span>
        }
        @if (variant.treelineLow || variant.elevationLow) {
          <span class="badge text-bg-light">
            <i class="ph ph-arrow-up icon-sm"></i>
            {{ variant.treelineLow ? ("elevation.treeline" | translate) : variant.elevationLow + " m" }}
          </span>
        }
        <!-- Elevations -->
        <!-- Daytime Dependency -->
        @if (variant.hasDaytimeDependency) {
          <span>
            <i class="ph-bold ph-clock icon-md"></i>
          </span>
        }
        <!-- Daytime Dependency -->
      </div>
    </div>

    <div class="btn-group-vertical btn-group--border region-thumb__actions">
      @if (!authenticationService.isCurrentUserInRole(constantsService.roleObserver)) {
        <button
          [disabled]="loading || editRegions"
          type="button"
          class="btn btn-sm btn-bare btn-sm btn-icon"
          (click)="$event.stopPropagation(); copyVariant(variant)"
          data-toggle="tooltip"
          title="{{ 'dangerSources.create.tooltip.copy' | translate }}"
        >
          <i class="ph ph-copy"></i>
        </button>
      }

      @if (dangerSourcesService.getIsEditable()) {
        <button
          [disabled]="loading || editRegions"
          type="button"
          class="btn btn-sm btn-icon btn-bare"
          (click)="$event.stopPropagation(); deleteVariant(variant)"
          data-toggle="tooltip"
          title="{{ 'dangerSources.create.tooltip.delete' | translate }}"
        >
          <i class="ph ph-trash"></i>
        </button>
      }

      @if (activeVariant !== undefined && activeVariant !== variant) {
        <button
          [disabled]="loading || editRegions"
          type="button"
          class="btn btn-bare btn-sm btn-icon"
          [class.btn-bare--inverse]="comparedVariant && variant.id === comparedVariant.id"
          (click)="$event.stopPropagation(); compareVariant(variant)"
          data-toggle="tooltip"
          title="{{ 'dangerSources.create.tooltip.compare' | translate }}"
        >
          <i class="ph ph-square-half"></i>
        </button>
      }

      @if (hasForecast(variant)) {
        <button
          [disabled]="loading || editRegions"
          type="button"
          class="btn btn-bare btn-sm btn-icon"
          [class.btn-bare--inverse]="comparedVariant && variant.forecastDangerSourceVariantId === comparedVariant.id"
          (click)="$event.stopPropagation(); compareForecast(variant)"
          data-toggle="tooltip"
          title="{{ 'dangerSources.create.tooltip.forecast' | translate }}"
        >
          <i class="ph ph-git-diff"></i>
        </button>
      }
    </div>
  </div>
</ng-template>

<ng-template #loadingErrorTemplate>
  <div class="modal-body text-center">
    <p>{{ "bulletins.create.loadingErrorDialog.message" | translate }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="loadingErrorModalConfirm()" ngxMousetrapKey="enter">
      {{ "bulletins.create.loadingErrorDialog.accept" | translate }}
    </button>
  </div>
</ng-template>

<ng-template #loadTemplate>
  <div class="modal-body text-center">
    <p>{{ "dangerSources.create.loadDialog.message" | translate }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="loadModalConfirm()" ngxMousetrapKey="enter">
      {{ "dangerSources.create.loadDialog.accept" | translate }}
    </button>
    <button type="button" class="btn btn-default" (click)="loadModalDecline()" ngxMousetrapKey="esc">
      {{ "dangerSources.create.loadDialog.reject" | translate }}
    </button>
  </div>
</ng-template>

<ng-template #deleteAggregatedRegionTemplate>
  <div class="modal-body text-center">
    <p>{{ "dangerSources.create.deleteVariantDialog.message" | translate }}</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="deleteAggregatedRegionModalConfirm()"
      ngxMousetrapKey="enter"
    >
      {{ "dangerSources.create.deleteVariantDialog.accept" | translate }}
    </button>
    <button type="button" class="btn btn-default" (click)="deleteAggregatedRegionModalDecline()" ngxMousetrapKey="esc">
      {{ "dangerSources.create.deleteVariantDialog.reject" | translate }}
    </button>
  </div>
</ng-template>

<ng-template #noRegionTemplate>
  <div class="modal-body text-center">
    <p>{{ "bulletins.create.noRegionDialog.message" | translate }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="noRegionModalConfirm()" ngxMousetrapKey="enter">
      {{ "bulletins.create.noRegionDialog.accept" | translate }}
    </button>
  </div>
</ng-template>

<ng-template #saveErrorTemplate>
  <div class="modal-body text-center">
    <p>{{ "dangerSources.create.saveErrorDialog.message" | translate }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="saveErrorModalConfirm()" ngxMousetrapKey="enter">
      {{ "dangerSources.create.saveErrorDialog.accept" | translate }}
    </button>
  </div>
</ng-template>
