<div>
  <div class="region-form__mobile-header" [class.d-none]="isVariantsSidebarVisible()">
    <h1 class="font-m-bold">
      {{ dangerSourcesService.getActiveDate()[1] | date: "EEEE," : undefined : translateService.getCurrentLang() }}
      {{ dangerSourcesService.getActiveDate()[1] | date: "longDate" : undefined : translateService.getCurrentLang() }}
    </h1>
  </div>

  <header class="region-form__header">
    <div class="region-form__header-actions btn-group" dropdown>
      <button (click)="deselectVariant()" class="btn btn-bare btn-sm btn-icon btn-bare--grey">
        <i class="ph-bold ph-x"></i>
      </button>
    </div>
    <div class="region-form__title">
      <h6 class="font-xs text-secondary">{{ variant().dangerSource?.title }}</h6>
      <h2 class="font-l">
        @if (variant().regions.length > 0) {
          <span>{{ regionsService.getRegionName(variant().regions[0].toString()) }}</span>
        }
        @if (variant().regions.length > 1) {
          <span> + {{ variant().regions.length - 1 }} </span>
        }
      </h2>
      <div class="user-avatar__name">
        Updated on {{ variant().updateDate | date: "dd.MM.yyyy HH:mm" : undefined : translateService.getCurrentLang() }}
      </div>
      <!-- Status -->
      <div class="create-bulletin__status">
        <div>
          @if (variant().dangerSourceVariantType === variantType.analysis) {
            <span class="badge bg-success">
              {{ "dangerSources.status.analysis" | translate }}
            </span>
          }
          @if (variant().dangerSourceVariantType === variantType.forecast) {
            <span class="badge bg-primary">
              {{ "dangerSources.status.forecast" | translate }}
            </span>
          }
        </div>
      </div>
      <!-- End status-->
    </div>
  </header>

  <div class="form-group region-form__mindset">
    <p
      class="region-form__mindset-text"
      [class.changed]="
        isComparedVariant() && variant().dangerSourceVariantStatus !== comparedVariant()?.dangerSourceVariantStatus
      "
    >
      {{ "dangerSources.create.variantStatus" | translate }}
    </p>
    <select
      [ngModel]="variant().dangerSourceVariantStatus"
      (ngModelChange)="onVariantStatusChange($event)"
      [disabled]="disabled()"
      class="form-select"
    >
      <option selected></option>
      @for (status of variantStatus; track status) {
        <option [value]="status">
          {{ "dangerSources.variantStatus." + status | translate }}
        </option>
      }
    </select>
  </div>

  @if (!this.isComparedVariant() && dangerSourcesService.getIsEditable() && isCreator(variant())) {
    <div class="region-form__banner banner banner-info">
      <p class="banner__text">
        <i class="ph ph-pencil-line"></i>
        {{ "dangerSources.create.variantEditable" | translate }}
      </p>
      <div class="btn-group banner__actions">
        @if (!editRegions) {
          <button
            (click)="editMicroRegions()"
            data-toggle="tooltip"
            title="{{ 'dangerSources.create.tooltip.edit' | translate }}"
            type="button"
            class="btn btn-sm btn-icon btn-outline-primary"
          >
            <i class="ph ph-globe-hemisphere-west"></i>
          </button>
        }
        @if (!editRegions && !authenticationService.isCurrentUserInRole(constantsService.roleObserver)) {
          <button
            (click)="copyVariant()"
            data-toggle="tooltip"
            title="{{ 'dangerSources.create.tooltip.copy' | translate }}"
            type="button"
            class="btn btn-sm btn-icon btn-outline-primary"
          >
            <i class="ph ph-copy"></i>
          </button>
        }
        @if (!editRegions) {
          <button
            (click)="deleteVariant()"
            data-toggle="tooltip"
            title="{{ 'dangerSources.create.tooltip.delete' | translate }}"
            type="button"
            class="btn btn-sm btn-icon btn-outline-primary"
          >
            <i class="ph ph-trash"></i>
          </button>
        }
      </div>
    </div>
  }

  @if (
    this.isComparedVariant() ||
    !dangerSourcesService.getIsEditable() ||
    (dangerSourcesService.getIsEditable() && !isCreator(variant()))
  ) {
    <div class="region-form__banner banner banner-warning">
      <p class="banner__text">
        <i class="ph ph-pencil-slash"></i>
        {{ "dangerSources.create.variantNotEditable" | translate }}
      </p>
      <div class="btn-group banner__actions">
        <!-- dummy button to keep layout -->
        <button class="btn btn-sm btn-icon btn-outline-primary" style="visibility: hidden">
          <i class="ph ph-globe-hemisphere-west"></i>
        </button>
      </div>
    </div>
  }

  <main class="region-form__content">
    <accordion class="accordion">
      <div class="form-group row" style="padding-top: 1.5rem; padding-bottom: 1.5rem; padding-left: 2rem; padding-right: 2rem">
        <label
          class="form-label"
          [class.changed]="isComparedVariant() && variant().avalancheType !== comparedVariant()?.avalancheType"
          >{{ "avalancheType.title" | translate }}</label
        >
        <app-toggle-btn-group
          [disabled]="disabled()"
          [enumValues]="zEnumValues(DangerSourceVariantSchema.shape.avalancheType)"
          [value]="variant()?.avalancheType"
          (valueChange)="setAvalancheType($event)"
          titleI18n="avalancheType.tooltip.#"
          labelI18n="avalancheType.label.#"
        />
      </div>

      <div class="form-group row" style="padding-bottom: 1.5rem; padding-left: 2rem; padding-right: 2rem">
        <div class="col-md-5">
          <label
            class="form-label"
            [class.changed]="isComparedVariant() && !haveSameElements(variant().aspectsOfExistence, comparedVariant()?.aspectsOfExistence)"
            >{{ "dangerSources.create.label.aspects" | translate }}</label
          >
          <div>
            <app-aspects
              [(aspects)]="variant().aspectsOfExistence"
              [disabled]="disabled()"
              [size]="150"
              (aspectsChange)="updateVariantOnServer()"
            ></app-aspects>
          </div>
        </div>
        <div class="col-md-7">
          <label class="form-label" [class.changed]="isComparedVariant() && isElevationOfExistenceEqual">{{
            "elevation.title" | translate
          }}</label>
          <div>
            <app-elevations
              [elevationHigh]="variant().elevationHighOfExistence"
              [treelineHigh]="variant().treelineHighOfExistence"
              [elevationLow]="variant().elevationLowOfExistence"
              [treelineLow]="variant().treelineLowOfExistence"
              [disabled]="disabled()"
              (elevationsChange)="updateVariantOnServer()"
            ></app-elevations>
          </div>
        </div>
      </div>

      <!-- Glide -->
      @if (isAvalancheType(avalancheTypeEnum.glide)) {
        <accordion-group
          class="accordion-group"
          [isOpen]="isAccordionGlideOpen"
          (isOpenChange)="accordionChanged($event, 'glide')"
        >
          <div accordion-heading class="accordion-header accordion-header--with-buttons">
            <h2 class="accordion-header__title">
              @if (!isAccordionGlideOpen) {
                <i class="accordion__arrow ph ph-caret-right"></i>
              }
              @if (isAccordionGlideOpen) {
                <i class="accordion__arrow ph ph-caret-down"></i>
              }
              {{ "dangerSources.create.title.glide" | translate }}
            </h2>
          </div>
          @if (isAvalancheType(avalancheTypeEnum.glide)) {
            <div class="form-group row">
              <label
                class="form-label me-3"
                [class.changed]="
                  isComparedVariant() &&
                  (variant().snowHeightLowerLimit !== comparedVariant()?.snowHeightLowerLimit ||
                    variant().snowHeightUpperLimit !== comparedVariant()?.snowHeightUpperLimit)
                "
                >{{ "dangerSources.create.label.snowHeight" | translate }}</label
              >
              <div class="input-group align-items-baseline">
                <input
                  step="1"
                  min="0"
                  id="inputSnowHeightLowerLimit"
                  class="form-control"
                  size="14"
                  type="number"
                  name="snow-height-lower-limit-input"
                  [disabled]="disabled()"
                  [(ngModel)]="variant().snowHeightLowerLimit"
                  (change)="updateVariantOnServer()"
                />
                <span class="input-group-text">cm</span>
                <label class="form-label mx-3"> - </label>
                <input
                  step="1"
                  min="0"
                  id="inputSnowHeightUpperLimit"
                  class="form-control"
                  size="14"
                  type="number"
                  name="snow-height-upper-limit-input"
                  [disabled]="disabled()"
                  [(ngModel)]="variant().snowHeightUpperLimit"
                  (change)="updateVariantOnServer()"
                />
                <span class="input-group-text">cm</span>
              </div>
            </div>
          }
          @if (isAvalancheType(avalancheTypeEnum.glide)) {
            <div class="form-group row">
              <label
                class="form-label me-3"
                [class.changed]="
                  isComparedVariant() && variant().snowHeightAverage !== comparedVariant()?.snowHeightAverage
                "
                >{{ "dangerSources.create.label.snowHeightAverage" | translate }}</label
              >
              <div class="input-group align-items-baseline">
                <input
                  step="1"
                  min="0"
                  id="inputSnowHeightAverage"
                  class="form-control"
                  size="14"
                  type="number"
                  name="snow-height-average-input"
                  [disabled]="disabled()"
                  [(ngModel)]="variant().snowHeightAverage"
                  (change)="updateVariantOnServer()"
                />
                <span class="input-group-text">cm</span>
              </div>
            </div>
          }
          @if (isAvalancheType(avalancheTypeEnum.glide)) {
            <div class="form-group row">
              <label
                class="form-label"
                [class.changed]="
                  isComparedVariant() && variant().zeroDegreeIsotherm !== comparedVariant()?.zeroDegreeIsotherm
                "
                >{{ "dangerSources.create.label.zeroDegreeIsotherm" | translate }}</label
              >
              <app-toggle-btn-group
                [disabled]="disabled()"
                [enumValues]="[true, false]"
                [value]="variant()?.zeroDegreeIsotherm"
                (valueChange)="setZeroDegreeIsotherm($event)"
                labelI18n="button.#"
              />
            </div>
          }
        </accordion-group>
      }

      <!-- SLAB AVALANCHES -->
      @if (isAvalancheType(avalancheTypeEnum.slab)) {
        <accordion-group
          class="accordion-group"
          [isOpen]="isAccordionSlabOpen"
          (isOpenChange)="accordionChanged($event, 'slab')"
        >
          <div accordion-heading class="accordion-header accordion-header--with-buttons">
            <h2 class="accordion-header__title">
              @if (!isAccordionSlabOpen) {
                <i class="accordion__arrow ph ph-caret-right"></i>
              }
              @if (isAccordionSlabOpen) {
                <i class="accordion__arrow ph ph-caret-down"></i>
              }
              {{ "dangerSources.create.title.slab" | translate }}
            </h2>
          </div>
          @if (isAvalancheType(avalancheTypeEnum.slab)) {
            <div class="form-group row">
              <label
                class="form-label"
                [class.changed]="isComparedVariant() && variant().slabGrainShape !== comparedVariant()?.slabGrainShape"
                >{{ "dangerSources.create.label.slabGrainShape" | translate }}</label
              >
              <app-toggle-btn-group
                [disabled]="disabled()"
                [enumValues]="[
                  grainShapeEnum.PP,
                  grainShapeEnum.DF,
                  grainShapeEnum.RG,
                  grainShapeEnum.FC,
                  grainShapeEnum.MF,
                  grainShapeEnum.IF,
                  grainShapeEnum.MFcr,
                ]"
                [(value)]="variant().slabGrainShape"
                (valueChange)="updateVariantOnServer()"
                titleI18n="grainShape.#.class"
                labelI18n="grainShape.#.code"
              />
            </div>
          }
          @if (isAvalancheType(avalancheTypeEnum.slab)) {
            <div class="form-group row">
              <label
                class="form-label pe-3"
                [class.changed]="
                  isComparedVariant() &&
                  (variant().slabThicknessLowerLimit !== comparedVariant()?.slabThicknessLowerLimit ||
                    variant().slabThicknessUpperLimit !== comparedVariant()?.slabThicknessUpperLimit)
                "
                >{{ "dangerSources.create.label.slabThickness" | translate }}</label
              >
              <div class="input-group align-items-baseline">
                <input
                  step="5"
                  min="0"
                  id="inputSlabThicknessLowerLimit"
                  class="form-control"
                  size="14"
                  type="number"
                  name="slab-thickness-lower-limit-input"
                  [disabled]="disabled()"
                  [(ngModel)]="variant().slabThicknessLowerLimit"
                  (change)="updateVariantOnServer()"
                />
                <span class="input-group-text">cm</span>
                <label class="form-label mx-3"> - </label>
                <input
                  step="5"
                  min="0"
                  id="inputSlabThicknessUpperLimit"
                  class="form-control"
                  size="14"
                  type="number"
                  name="slab-thickness-upper-limit-input"
                  [disabled]="disabled()"
                  [(ngModel)]="variant().slabThicknessUpperLimit"
                  (change)="updateVariantOnServer()"
                />
                <span class="input-group-text">cm</span>
              </div>
            </div>
          }
          @if (isAvalancheType(avalancheTypeEnum.slab)) {
            <div class="form-group row">
              <label
                class="form-label pe-3"
                [class.changed]="
                  isComparedVariant() &&
                  (variant().slabHandHardnessLowerLimit !== comparedVariant()?.slabHandHardnessLowerLimit ||
                    variant().slabHandHardnessUpperLimit !== comparedVariant()?.slabHandHardnessUpperLimit)
                "
                >{{ "dangerSources.create.label.slabHandHardness" | translate }}</label
              >
              <div class="input-group align-items-baseline">
                <app-toggle-btn-group
                  class="flex-fill"
                  [disabled]="disabled()"
                  [enumValues]="zEnumValues(DangerSourceVariantSchema.shape.slabHandHardnessLowerLimit)"
                  [(value)]="variant().slabHandHardnessLowerLimit"
                  (valueChange)="updateVariantOnServer()"
                  labelI18n="handHardness.#"
                />
                <label class="form-label mx-3"> - </label>
                <app-toggle-btn-group
                  class="flex-fill"
                  [disabled]="disabled()"
                  [enumValues]="zEnumValues(DangerSourceVariantSchema.shape.slabHandHardnessUpperLimit)"
                  [(value)]="variant().slabHandHardnessUpperLimit"
                  (valueChange)="updateVariantOnServer()"
                  labelI18n="handHardness.#"
                />
              </div>
            </div>
          }
          @if (isAvalancheType(avalancheTypeEnum.slab)) {
            <div class="form-group row">
              <label
                class="form-label"
                [class.changed]="
                  isComparedVariant() && variant().slabHardnessProfile !== comparedVariant()?.slabHardnessProfile
                "
                >{{ "dangerSources.create.label.slabHardnessProfile" | translate }}</label
              >
              <app-toggle-btn-group
                [disabled]="disabled()"
                [enumValues]="zEnumValues(DangerSourceVariantSchema.shape.slabHardnessProfile)"
                [(value)]="variant().slabHardnessProfile"
                (valueChange)="updateVariantOnServer()"
                labelI18n="hardnessTendency.#"
              />
            </div>
          }
          @if (isAvalancheType(avalancheTypeEnum.slab)) {
            <div class="form-group row">
              <label
                class="form-label"
                [class.changed]="
                  isComparedVariant() &&
                  variant().slabEnergyTransferPotential !== comparedVariant()?.slabEnergyTransferPotential
                "
                >{{ "dangerSources.create.label.slabEnergyTransferPotential" | translate }}</label
              >
              <app-toggle-btn-group
                [disabled]="disabled()"
                [enumValues]="zEnumValues(DangerSourceVariantSchema.shape.slabEnergyTransferPotential)"
                [(value)]="variant().slabEnergyTransferPotential"
                (valueChange)="updateVariantOnServer()"
                labelI18n="characteristic.#"
              />
            </div>
          }
          @if (isAvalancheType(avalancheTypeEnum.slab)) {
            <div class="form-group row">
              <label
                class="form-label"
                [class.changed]="
                  isComparedVariant() && variant().slabDistribution !== comparedVariant()?.slabDistribution
                "
                >{{ "dangerSources.create.label.slabDistribution" | translate }}</label
              >
              <app-toggle-btn-group
                [disabled]="disabled()"
                [enumValues]="zEnumValues(DangerSourceVariantSchema.shape.slabDistribution)"
                [(value)]="variant().slabDistribution"
                (valueChange)="updateVariantOnServer()"
                labelI18n="distribution.#"
              />
            </div>
          }
        </accordion-group>
      }

      @if (isAvalancheType(avalancheTypeEnum.slab)) {
        <accordion-group
          class="accordion-group"
          [isOpen]="isAccordionWeakLayerOpen"
          (isOpenChange)="accordionChanged($event, 'weakLayer')"
        >
          <div accordion-heading class="accordion-header accordion-header--with-buttons">
            <h2 class="accordion-header__title">
              @if (!isAccordionWeakLayerOpen) {
                <i class="accordion__arrow ph ph-caret-right"></i>
              }
              @if (isAccordionWeakLayerOpen) {
                <i class="accordion__arrow ph ph-caret-down"></i>
              }
              {{ "dangerSources.create.title.weakLayer" | translate }}
            </h2>
          </div>
          @if (isAvalancheType(avalancheTypeEnum.slab)) {
            <div class="form-group row">
              <label
                class="form-label"
                [class.changed]="
                  isComparedVariant() &&
                  !haveSameElements(variant().weakLayerGrainShapes, comparedVariant()?.weakLayerGrainShapes)
                "
                >{{ "dangerSources.create.label.weakLayerGrainShape" | translate }}</label
              >
              <app-toggle-btn-group
                [disabled]="disabled()"
                [enumValues]="[
                  grainShapeEnum.PP,
                  grainShapeEnum.DF,
                  grainShapeEnum.RG,
                  grainShapeEnum.FC,
                  grainShapeEnum.DH,
                  grainShapeEnum.SH,
                  grainShapeEnum.PPgp,
                ]"
                [(values)]="variant().weakLayerGrainShapes"
                (valuesChange)="updateVariantOnServer()"
                titleI18n="grainShape.#.class"
                labelI18n="grainShape.#.code"
              />
            </div>
          }
          @if (isAvalancheType(avalancheTypeEnum.slab)) {
            <div class="form-group row">
              <label
                class="form-label pe-3"
                [class.changed]="
                  isComparedVariant() &&
                  (variant().weakLayerGrainSizeLowerLimit !== comparedVariant()?.weakLayerGrainSizeLowerLimit ||
                    variant().weakLayerGrainSizeUpperLimit !== comparedVariant()?.weakLayerGrainSizeUpperLimit)
                "
                >{{ "dangerSources.create.label.weakLayerGrainSize" | translate }}</label
              >
              <div class="input-group align-items-baseline">
                <input
                  step="0.25"
                  min="0"
                  id="inputWeakLayerGrainSizeLowerLimit"
                  class="form-control"
                  size="14"
                  type="number"
                  name="weak-layer-grain-size-lower-limit-input"
                  [disabled]="disabled()"
                  [(ngModel)]="variant().weakLayerGrainSizeLowerLimit"
                  (change)="updateVariantOnServer()"
                />
                <span class="input-group-text">mm</span>
                <label class="form-label mx-3"> - </label>
                <input
                  step="0.25"
                  min="0"
                  id="inputWeakLayerGrainSizeUpperLimit"
                  class="form-control"
                  size="14"
                  type="number"
                  name="weak-layer-grain-size-upper-limit-input"
                  [disabled]="disabled()"
                  [(ngModel)]="variant().weakLayerGrainSizeUpperLimit"
                  (change)="updateVariantOnServer()"
                />
                <span class="input-group-text">mm</span>
              </div>
            </div>
          }
          @if (isAvalancheType(avalancheTypeEnum.slab)) {
            <div class="form-group row">
              <label
                class="form-label"
                [class.changed]="
                  isComparedVariant() && variant().weakLayerPersistent !== comparedVariant()?.weakLayerPersistent
                "
                >{{ "dangerSources.create.label.weakLayerPersistent" | translate }}</label
              >
              <app-toggle-btn-group
                [disabled]="disabled()"
                [enumValues]="[true, false]"
                [(value)]="variant().weakLayerPersistent"
                (valueChange)="updateVariantOnServer()"
                labelI18n="button.#"
              />
            </div>
          }
          @if (isAvalancheType(avalancheTypeEnum.slab)) {
            <div class="form-group row">
              <label
                class="form-label"
                [class.changed]="
                  isComparedVariant() && variant().weakLayerThickness !== comparedVariant()?.weakLayerThickness
                "
                >{{ "dangerSources.create.label.weakLayerThickness" | translate }}</label
              >
              <app-toggle-btn-group
                [disabled]="disabled()"
                [enumValues]="zEnumValues(DangerSourceVariantSchema.shape.weakLayerThickness)"
                [(value)]="variant().weakLayerThickness"
                (valueChange)="updateVariantOnServer()"
                labelI18n="thickness.#"
              />
            </div>
          }
          @if (isAvalancheType(avalancheTypeEnum.slab)) {
            <div class="form-group row">
              <label
                class="form-label"
                [class.changed]="
                  isComparedVariant() && variant().weakLayerStrength !== comparedVariant()?.weakLayerStrength
                "
                >{{ "dangerSources.create.label.weakLayerStrength" | translate }}</label
              >
              <app-toggle-btn-group
                [disabled]="disabled()"
                [enumValues]="zEnumValues(DangerSourceVariantSchema.shape.weakLayerStrength)"
                [(value)]="variant().weakLayerStrength"
                (valueChange)="updateVariantOnServer()"
                labelI18n="characteristic.#"
              />
            </div>
          }
          @if (isAvalancheType(avalancheTypeEnum.slab)) {
            <div class="form-group row">
              <label
                class="form-label"
                [class.changed]="isComparedVariant() && variant().weakLayerWet !== comparedVariant()?.weakLayerWet"
                >{{ "dangerSources.create.label.weakLayerWet" | translate }}</label
              >
              <app-toggle-btn-group
                [disabled]="disabled()"
                [enumValues]="[true, false]"
                [(value)]="variant().weakLayerWet"
                (valueChange)="updateVariantOnServer()"
                labelI18n="button.#"
              />
            </div>
          }
          @if (isAvalancheType(avalancheTypeEnum.slab)) {
            <div class="form-group row">
              <label
                class="form-label"
                [class.changed]="
                  isComparedVariant() && variant().weakLayerCrustAbove !== comparedVariant()?.weakLayerCrustAbove
                "
                >{{ "dangerSources.create.label.weakLayerCrustAbove" | translate }}</label
              >
              <app-toggle-btn-group
                [disabled]="disabled()"
                [enumValues]="zEnumValues(DangerSourceVariantSchema.shape.weakLayerCrustBelow)"
                [(value)]="variant().weakLayerCrustAbove"
                (valueChange)="updateVariantOnServer()"
                labelI18n="weakLayerCrust.#"
              />
            </div>
          }
          @if (isAvalancheType(avalancheTypeEnum.slab)) {
            <div class="form-group row">
              <label
                class="form-label"
                [class.changed]="
                  isComparedVariant() && variant().weakLayerCrustBelow !== comparedVariant()?.weakLayerCrustBelow
                "
                >{{ "dangerSources.create.label.weakLayerCrustBelow" | translate }}</label
              >
              <app-toggle-btn-group
                [disabled]="disabled()"
                [enumValues]="zEnumValues(DangerSourceVariantSchema.shape.weakLayerCrustBelow)"
                [(value)]="variant().weakLayerCrustBelow"
                (valueChange)="updateVariantOnServer()"
                labelI18n="weakLayerCrust.#"
              />
            </div>
          }
          @if (isAvalancheType(avalancheTypeEnum.slab)) {
            <div class="form-group row">
              <label
                class="form-label"
                [class.changed]="
                  isComparedVariant() && variant().weakLayerPosition !== comparedVariant()?.weakLayerPosition
                "
                >{{ "dangerSources.create.label.weakLayerPosition" | translate }}</label
              >
              <app-toggle-btn-group
                [disabled]="disabled()"
                [enumValues]="zEnumValues(DangerSourceVariantSchema.shape.weakLayerPosition)"
                [(value)]="variant().weakLayerPosition"
                (valueChange)="updateVariantOnServer()"
                labelI18n="snowpackPosition.#"
              />
            </div>
          }
          @if (isAvalancheType(avalancheTypeEnum.slab)) {
            <div class="form-group row">
              <label
                class="form-label"
                [class.changed]="
                  isComparedVariant() && variant().weakLayerCreation !== comparedVariant()?.weakLayerCreation
                "
                >{{ "dangerSources.create.label.weakLayerCreation" | translate }}</label
              >
              <app-toggle-btn-group
                [disabled]="disabled()"
                [enumValues]="zEnumValues(DangerSourceVariantSchema.shape.weakLayerCreation)"
                [(value)]="variant().weakLayerCreation"
                (valueChange)="updateVariantOnServer()"
                labelI18n="creationProcess.#"
              />
            </div>
          }
          @if (isAvalancheType(avalancheTypeEnum.slab)) {
            <div class="form-group row">
              <label
                class="form-label"
                [class.changed]="
                  isComparedVariant() && variant().weakLayerDistribution !== comparedVariant()?.weakLayerDistribution
                "
                >{{ "dangerSources.create.label.weakLayerDistribution" | translate }}</label
              >
              <app-toggle-btn-group
                [disabled]="disabled()"
                [enumValues]="zEnumValues(DangerSourceVariantSchema.shape.weakLayerDistribution)"
                [(value)]="variant().weakLayerDistribution"
                (valueChange)="updateVariantOnServer()"
                labelI18n="distribution.#"
              />
            </div>
          }
        </accordion-group>
      }

      <!-- LOOSE SNOW AVALANCHES -->
      @if (isAvalancheType(avalancheTypeEnum.loose)) {
        <accordion-group
          class="accordion-group"
          [isOpen]="isAccordionLooseOpen"
          (isOpenChange)="accordionChanged($event, 'loose')"
        >
          <div accordion-heading class="accordion-header accordion-header--with-buttons">
            <h2 class="accordion-header__title">
              @if (!isAccordionLooseOpen) {
                <i class="accordion__arrow ph ph-caret-right"></i>
              }
              @if (isAccordionLooseOpen) {
                <i class="accordion__arrow ph ph-caret-down"></i>
              }
              {{ "dangerSources.create.title.loose" | translate }}
            </h2>
          </div>
          @if (isAvalancheType(avalancheTypeEnum.loose)) {
            <div class="form-group row">
              <label
                class="form-label"
                [class.changed]="
                  isComparedVariant() && variant().looseSnowGrainShape !== comparedVariant()?.looseSnowGrainShape
                "
                >{{ "dangerSources.create.label.looseSnowGrainShape" | translate }}</label
              >
              <app-toggle-btn-group
                [disabled]="disabled()"
                [enumValues]="[
                  grainShapeEnum.PP,
                  grainShapeEnum.DF,
                  grainShapeEnum.FC,
                  grainShapeEnum.DH,
                  grainShapeEnum.SH,
                  grainShapeEnum.MF,
                ]"
                [(value)]="variant().looseSnowGrainShape"
                (valueChange)="updateVariantOnServer()"
                titleI18n="grainShape.#.class"
                labelI18n="grainShape.#.code"
              />
            </div>
          }
          @if (isAvalancheType(avalancheTypeEnum.loose)) {
            <div class="form-group row">
              <label
                class="form-label"
                [class.changed]="
                  isComparedVariant() && variant().looseSnowMoisture !== comparedVariant()?.looseSnowMoisture
                "
                >{{ "dangerSources.create.label.looseSnowMoisture" | translate }}</label
              >
              <app-toggle-btn-group
                [disabled]="disabled()"
                [enumValues]="zEnumValues(DangerSourceVariantSchema.shape.looseSnowMoisture)"
                [(value)]="variant().looseSnowMoisture"
                (valueChange)="updateVariantOnServer()"
                labelI18n="wetness.#"
              />
            </div>
          }
        </accordion-group>
      }

      <accordion-group
        class="accordion-group"
        [isOpen]="isAccordionCharacteristicsOpen"
        (isOpenChange)="accordionChanged($event, 'characteristics')"
      >
        <div accordion-heading class="accordion-header accordion-header--with-buttons">
          <h2 class="accordion-header__title">
            @if (!isAccordionCharacteristicsOpen) {
              <i class="accordion__arrow ph ph-caret-right"></i>
            }
            @if (isAccordionCharacteristicsOpen) {
              <i class="accordion__arrow ph ph-caret-down"></i>
            }
            {{ "dangerSources.create.title.characteristics" | translate }}
          </h2>
        </div>

        <div class="form-group row">
          <label
            class="form-label"
            [class.changed]="
              isComparedVariant() && variant().hasDaytimeDependency !== comparedVariant()?.hasDaytimeDependency
            "
            >{{ "dangerSources.create.label.hasDaytimeDependency" | translate }}</label
          >
          <app-toggle-btn-group
            [disabled]="disabled()"
            [enumValues]="[true, false]"
            [(value)]="variant().hasDaytimeDependency"
            (valueChange)="updateVariantOnServer()"
            labelI18n="button.#"
          />
        </div>

        @if (isAvalancheType(avalancheTypeEnum.slab)) {
          <div class="form-group row">
            <label
              class="form-label"
              [class.changed]="
                isComparedVariant() &&
                variant().dangerIncreaseWithElevation !== comparedVariant()?.dangerIncreaseWithElevation
              "
              >{{ "dangerSources.create.label.dangerIncreaseWithElevation" | translate }}</label
            >
            <app-toggle-btn-group
              [disabled]="disabled()"
              [enumValues]="[true, false]"
              [(value)]="variant().dangerIncreaseWithElevation"
              (valueChange)="updateVariantOnServer()"
              labelI18n="button.#"
            />
          </div>
        }

        <div class="form-group row">
          <label
            class="form-label"
            [class.changed]="
              isComparedVariant() && variant().highestDangerAspect !== comparedVariant()?.highestDangerAspect
            "
            >{{ "dangerSources.create.label.highestDangerAspect" | translate }}</label
          >
          <app-toggle-btn-group
            [disabled]="disabled()"
            [enumValues]="zEnumValues(DangerSourceVariantSchema.shape.highestDangerAspect)"
            [(value)]="variant().highestDangerAspect"
            (valueChange)="updateVariantOnServer()"
            labelI18n="aspect.#"
          />
        </div>

        <div class="form-group row">
          <label
            class="form-label"
            [class.changed]="isComparedVariant() && variant().dangerPeak !== comparedVariant()?.dangerPeak"
            >{{ "dangerSources.create.label.dangerPeak" | translate }}</label
          >
          <app-toggle-btn-group
            [disabled]="disabled()"
            [enumValues]="zEnumValues(DangerSourceVariantSchema.shape.dangerPeak)"
            [(value)]="variant().dangerPeak"
            (valueChange)="updateVariantOnServer()"
            labelI18n="detailedDaytime.#"
          />
        </div>

        <div class="form-group row">
          <label
            class="form-label"
            [class.changed]="isComparedVariant() && variant().slopeGradient !== comparedVariant()?.slopeGradient"
            >{{ "dangerSources.create.label.slopeGradient" | translate }}</label
          >
          <app-toggle-btn-group
            [disabled]="disabled()"
            [enumValues]="zEnumValues(DangerSourceVariantSchema.shape.slopeGradient)"
            [(value)]="variant().slopeGradient"
            (valueChange)="updateVariantOnServer()"
            labelI18n="slopeGradient.#"
          />
        </div>

        <div class="form-group row">
          <label
            class="form-label"
            [class.changed]="isComparedVariant() && variant().runoutIntoGreen !== comparedVariant()?.runoutIntoGreen"
            >{{ "dangerSources.create.label.runoutIntoGreen" | translate }}</label
          >
          <app-toggle-btn-group
            [disabled]="disabled()"
            [enumValues]="[true, false]"
            [(value)]="variant().runoutIntoGreen"
            (valueChange)="updateVariantOnServer()"
            labelI18n="button.#"
          />
        </div>

        <div class="form-group row">
          <label
            class="form-label"
            [class.changed]="isComparedVariant() && variant().naturalRelease !== comparedVariant()?.naturalRelease"
            >{{ "dangerSources.create.label.naturalRelease" | translate }}</label
          >
          <app-toggle-btn-group
            [disabled]="disabled()"
            [enumValues]="zEnumValues(DangerSourceVariantSchema.shape.naturalRelease)"
            [(value)]="variant().naturalRelease"
            (valueChange)="updateVariantOnServer()"
            labelI18n="probability.#"
          />
        </div>

        <div class="form-group row">
          <label
            class="form-label"
            [class.changed]="
              isComparedVariant() && !haveSameElements(variant().dangerSigns, comparedVariant()?.dangerSigns)
            "
            >{{ "dangerSources.create.label.dangerSigns" | translate }}</label
          >
          <app-toggle-btn-group
            [disabled]="disabled()"
            [enumValues]="zEnumValues(DangerSourceVariantSchema.shape.dangerSigns)"
            [diminishValues]="dangerSignDiminish()"
            [(values)]="variant().dangerSigns"
            (valuesChange)="updateVariantOnServer()"
            labelI18n="dangerSign.#"
          />
        </div>

        @if (isAvalancheType(avalancheTypeEnum.slab)) {
          <div class="form-group row">
            <label
              class="form-label"
              [class.changed]="
                isComparedVariant() &&
                variant().dangerSpotRecognizability !== comparedVariant()?.dangerSpotRecognizability
              "
              >{{ "dangerSources.create.label.dangerSpotRecognizability" | translate }}</label
            >
            <app-toggle-btn-group
              [disabled]="disabled()"
              [enumValues]="zEnumValues(DangerSourceVariantSchema.shape.dangerSpotRecognizability)"
              [(value)]="variant().dangerSpotRecognizability"
              (valueChange)="updateVariantOnServer()"
              labelI18n="recognizability.#"
            />
          </div>
        }

        @if (isAvalancheType(avalancheTypeEnum.slab)) {
          <div class="form-group row">
            <label
              class="form-label"
              [class.changed]="
                isComparedVariant() && variant().remoteTriggering !== comparedVariant()?.remoteTriggering
              "
              >{{ "dangerSources.create.label.remoteTriggering" | translate }}</label
            >
            <app-toggle-btn-group
              [disabled]="disabled()"
              [enumValues]="zEnumValues(DangerSourceVariantSchema.shape.remoteTriggering)"
              [(value)]="variant().remoteTriggering"
              (valueChange)="updateVariantOnServer()"
              labelI18n="probability.#"
            />
          </div>
        }

        @if (isAvalancheType(avalancheTypeEnum.slab) || isAvalancheType(avalancheTypeEnum.loose)) {
          <div class="form-group row">
            <label
              class="form-label"
              [class.changed]="
                isComparedVariant() && variant().penetrateDeepLayers !== comparedVariant()?.penetrateDeepLayers
              "
              >{{ "dangerSources.create.label.penetrateDeepLayers" | translate }}</label
            >
            <app-toggle-btn-group
              [disabled]="disabled()"
              [enumValues]="[true, false]"
              [(value)]="variant().penetrateDeepLayers"
              (valueChange)="updateVariantOnServer()"
              labelI18n="button.#"
            />
          </div>
        }

        <div class="form-group row">
          <label
            class="form-label"
            [class.changed]="
              isComparedVariant() && !haveSameElements(variant().terrainTypes, comparedVariant()?.terrainTypes)
            "
            >{{ "dangerSources.create.label.terrainTypes" | translate }}</label
          >
          <app-toggle-btn-group
            [flexColumn]="true"
            [disabled]="disabled()"
            [enumValues]="zEnumValues(DangerSourceVariantSchema.shape.terrainTypes)"
            [diminishValues]="terrainTypeDiminish()"
            [(values)]="variant().terrainTypes"
            (valuesChange)="updateVariantOnServer()"
            labelI18n="terrainType.#"
          />
        </div>
      </accordion-group>

      <accordion-group
        class="accordion-group"
        [isOpen]="isAccordionMatrixOpen"
        (isOpenChange)="accordionChanged($event, 'matrix')"
      >
        <div accordion-heading class="accordion-header accordion-header--with-buttons">
          <h2 class="accordion-header__title">
            @if (!isAccordionMatrixOpen) {
              <i class="accordion__arrow ph ph-caret-right"></i>
            }
            @if (isAccordionMatrixOpen) {
              <i class="accordion__arrow ph ph-caret-down"></i>
            }
            {{ "dangerSources.create.title.matrix" | translate }}
          </h2>
        </div>
        <div class="form-group row">
          <div class="col-md-5">
            <label
              class="form-label"
              [class.changed]="isComparedVariant() && !haveSameElements(variant().aspects, comparedVariant()?.aspects)"
              >{{ "dangerSources.create.label.aspects" | translate }}</label
            >
            <div>
              <app-aspects
                [(aspects)]="variant().aspects"
                [disabled]="disabled()"
                [size]="150"
                (aspectsChange)="updateVariantOnServer()"
              ></app-aspects>
            </div>
          </div>
          <div class="col-md-7">
            <label class="form-label" [class.changed]="isComparedVariant() && isElevationEqual">{{
              "elevation.title" | translate
            }}</label>
            <div>
              <app-elevations
                [elevationHigh]="variant().elevationHigh"
                [treelineHigh]="variant().treelineHigh"
                [elevationLow]="variant().elevationLow"
                [treelineLow]="variant().treelineLow"
                [disabled]="disabled()"
                (elevationsChange)="updateVariantOnServer()"
              ></app-elevations>
            </div>
          </div>
        </div>

        <div class="form-group">
          <app-matrix-parameter
            [bulletinDaytimeDescription]="variant()"
            [isCompared]="isComparedVariant()"
            [matrixInformation]="variant().eawsMatrixInformation"
            [comparedMatrixInformation]="comparedVariant()?.eawsMatrixInformation"
            [avalancheType]="variant().avalancheType"
            [disabled]="disabled()"
            [count]="1"
            [afternoon]="false"
            (changeMatrixEvent)="updateVariantOnServer()"
          ></app-matrix-parameter>
        </div>
      </accordion-group>
      <accordion-group
        class="accordion-group"
        [isOpen]="isAccordionCommentOpen"
        (isOpenChange)="accordionChanged($event, 'comment')"
      >
        <div accordion-heading class="accordion-header accordion-header--with-buttons">
          <h2 class="accordion-header__title">
            @if (!isAccordionCommentOpen) {
              <i class="accordion__arrow ph ph-caret-right"></i>
            }
            @if (isAccordionCommentOpen) {
              <i class="accordion__arrow ph ph-caret-down"></i>
            }
            {{ "dangerSources.create.title.comment" | translate }}
          </h2>
        </div>
        <div class="form-group row">
          <textarea
            id="textarea-input"
            class="form-control"
            rows="15"
            [disabled]="disabled()"
            [(ngModel)]="variant().comment"
            (change)="updateVariantOnServer()"
          ></textarea>
        </div>
      </accordion-group>
    </accordion>
  </main>
</div>
