<div>
  <div class="region-form__mobile-header" [class.d-none]="isVariantsSidebarVisible">
    <h1 class="font-m-bold">
      {{ dangerSourcesService.getActiveDate()[1] | date: "EEEE," : undefined : translateService.currentLang }}
      {{ dangerSourcesService.getActiveDate()[1] | date: "longDate" : undefined : translateService.currentLang }}
    </h1>
  </div>

  <header class="region-form__header">
    <div class="region-form__header-actions btn-group" dropdown>
      <button (click)="deselectVariant()" class="btn btn-bare btn-sm btn-icon btn-bare--grey">
        <i class="ph-bold ph-x"></i>
      </button>
    </div>
    <div class="region-form__title">
      <h6 class="font-xs text-secondary">{{ regionsService.getRegionName(variant.ownerRegion) }}</h6>
      <h2 class="font-l">
        <span *ngIf="variant.regions.length > 0">{{
          regionsService.getRegionName(variant.regions[0].toString())
        }}</span>
        <span *ngIf="variant.regions.length > 1"> + {{ variant.regions.length - 1 }} </span>
      </h2>
    </div>
  </header>

  <div
    *ngIf="dangerSourcesService.getIsEditable() && isCreator(variant)"
    class="region-form__banner banner banner-info"
  >
    <p class="banner__text">
      <i class="ph ph-pencil-line"></i>
      {{ "dangerSources.create.variantEditable" | translate }}
    </p>
    <div class="btn-group banner__actions">
      <button
        *ngIf="!editRegions"
        (click)="editMicroRegions()"
        data-toggle="tooltip"
        title="{{ 'dangerSources.create.tooltip.edit' | translate }}"
        type="button"
        class="btn btn-sm btn-icon btn-outline-primary"
      >
        <i class="ph ph-map-trifold"></i>
      </button>
      <button
        *ngIf="!editRegions && !authenticationService.isCurrentUserInRole(constantsService.roleObserver)"
        (click)="copyVariant()"
        data-toggle="tooltip"
        title="{{ 'dangerSources.create.tooltip.copy' | translate }}"
        type="button"
        class="btn btn-sm btn-icon btn-outline-primary"
      >
        <i class="ph ph-copy"></i>
      </button>
      <button
        *ngIf="!editRegions"
        (click)="deleteVariant()"
        data-toggle="tooltip"
        title="{{ 'dangerSources.create.tooltip.delete' | translate }}"
        type="button"
        class="btn btn-sm btn-icon btn-outline-primary"
      >
        <i class="ph ph-trash"></i>
      </button>
    </div>
  </div>

  <div
    *ngIf="!dangerSourcesService.getIsEditable() || (dangerSourcesService.getIsEditable() && !isCreator(variant))"
    class="region-form__banner banner banner-warning"
  >
    <p class="banner__text">
      <i class="ph ph-pencil-slash"></i>
      {{ "dangerSources.create.variantNotEditable" | translate }}
    </p>
    <div class="btn-group banner__actions">
      <button
        *ngIf="showEditMicroRegionsButton()"
        (click)="editMicroRegions()"
        data-toggle="tooltip"
        title="{{ 'dangerSources.create.tooltip.edit' | translate }}"
        type="button"
        class="btn btn-sm btn-icon btn-outline-primary"
      >
        <i class="ph ph-map-trifold"></i>
      </button>
      <button
        *ngIf="!isComparedVariant && !authenticationService.isCurrentUserInRole(constantsService.roleObserver)"
        (click)="copyVariant()"
        data-toggle="tooltip"
        title="{{ 'dangerSources.create.tooltip.copy' | translate }}"
        type="button"
        class="btn btn-sm btn-icon btn-outline-primary"
      >
        <i class="ph ph-copy"></i>
      </button>
    </div>
  </div>

  <main class="region-form__content">
    <!--
    ------------------
    TODO show in title
    ------------------
    creationDate: Date;
    updateDate: Date;
    status: DangerSourceVariantStatus;
    -->

    <accordion class="accordion">
      <!-- Avalanche -->
      <accordion-group
        class="accordion-group"
        [isOpen]="isAccordionAvalancheOpen"
        (isOpenChange)="accordionChanged($event, 'avalanche')"
      >
        <div accordion-heading class="accordion-header accordion-header--with-buttons">
          <h2 class="accordion-header__title">
            <i *ngIf="!isAccordionAvalancheOpen" class="accordion__arrow ph ph-caret-right"></i>
            <i *ngIf="isAccordionAvalancheOpen" class="accordion__arrow ph ph-caret-down"></i>
            {{ "dangerSources.create.title.avalanche" | translate }}
          </h2>
        </div>
        <div class="form-group row">
          <label class="form-label" for="">{{ "avalancheType.title" | translate }}</label>
          <div class="btn-group">
            <!-- SLAB -->
            <button
              type="reset"
              class="btn btn-sm"
              [ngClass]="isAvalancheType(avalancheTypeEnum.slab) ? 'btn-dark' : 'btn-outline-secondary'"
              (click)="
                setAvalancheType($event, isAvalancheType(avalancheTypeEnum.slab) ? undefined : avalancheTypeEnum.slab)
              "
              data-toggle="tooltip"
              title="{{ 'avalancheType.tooltip.slab' | translate }}"
            >
              <span>{{ "avalancheType.label.slab" | translate }}</span>
            </button>

            <!-- LOOSE -->
            <button
              type="reset"
              class="btn btn-sm"
              [ngClass]="isAvalancheType(avalancheTypeEnum.loose) ? 'btn-dark' : 'btn-outline-secondary'"
              (click)="
                setAvalancheType($event, isAvalancheType(avalancheTypeEnum.loose) ? undefined : avalancheTypeEnum.loose)
              "
              data-toggle="tooltip"
              title="{{ 'avalancheType.tooltip.loose' | translate }}"
            >
              <span>{{ "avalancheType.label.loose" | translate }}</span>
            </button>

            <!-- GLIDE -->
            <button
              type="reset"
              class="btn btn-sm"
              [ngClass]="isAvalancheType(avalancheTypeEnum.glide) ? 'btn-dark' : 'btn-outline-secondary'"
              (click)="
                setAvalancheType($event, isAvalancheType(avalancheTypeEnum.glide) ? undefined : avalancheTypeEnum.glide)
              "
              data-toggle="tooltip"
              title="{{ 'avalancheType.tooltip.glide' | translate }}"
            >
              <span>{{ "avalancheType.label.glide" | translate }}</span>
            </button>
          </div>
        </div>

        <!-- GLIDE SNOW AVALANCHES -->
        <div *ngIf="isAvalancheType(avalancheTypeEnum.glide)" class="form-group">
          <label class="form-label" for="textarea-input">{{
            "dangerSources.create.label.glidingSnowActivity" | translate
          }}</label>
          <ngx-slider
            class="gliding-snow-activity-slider"
            [(value)]="variant.glidingSnowActivityValue"
            [options]="glidingSnowActivityOptions"
            (userChange)="onGlidingSnowActivityValueChange($event)"
          ></ngx-slider>
        </div>

        <div *ngIf="isAvalancheType(avalancheTypeEnum.glide)" class="form-group row">
          <div style="align-items: baseline" class="input-group">
            <label style="padding-right: 1rem" class="form-label" for="textarea-input">{{
              "dangerSources.create.label.snowHeight" | translate
            }}</label>
            <input
              step="1"
              min="0"
              id="inputSnowHeightLowerLimit"
              class="form-control"
              size="14"
              type="number"
              name="snow-height-lower-limit-input"
              [disabled]="disabled"
              [(ngModel)]="variant.snowHeightLowerLimit"
            />
            <span class="input-group-text">cm</span>
            <label style="margin: 0 1rem" class="form-label" attr.for="snowHeightLabel"> - </label>
            <input
              step="1"
              min="0"
              id="inputSnowHeightUpperLimit"
              class="form-control"
              size="14"
              type="number"
              name="snow-height-upper-limit-input"
              [disabled]="disabled"
              [(ngModel)]="variant.snowHeightUpperLimit"
            />
            <span class="input-group-text">cm</span>
          </div>
        </div>

        <div *ngIf="isAvalancheType(avalancheTypeEnum.glide)" class="form-group row">
          <div class="avalanche-problem-detail__elevation">
            <div class="form-check avalanche-problem-detail__elevation-label">
              <label class="form-label" attr.for="zeroDegreeIsothermCheckbox">{{
                "dangerSources.create.label.zeroDegreeIsotherm" | translate
              }}</label>
              <input
                id="zeroDegreeIsothermCheckbox"
                type="checkbox"
                class="form-check-input"
                [disabled]="disabled"
                [(ngModel)]="variant.zeroDegreeIsotherm"
              />
            </div>
          </div>
        </div>

        <!-- SLAB AVALANCHES -->
        <div *ngIf="isAvalancheType(avalancheTypeEnum.slab)" class="form-group row">
          <label class="form-label" for="textarea-input">{{
            "dangerSources.create.label.slabGrainShape" | translate
          }}</label>
          <div class="btn-group">
            <button
              type="reset"
              class="btn btn-sm"
              [ngClass]="isSlabGrainShape(grainShapeEnum.PP) ? 'btn-dark' : 'btn-outline-secondary'"
              (click)="setSlabGrainShape($event, isSlabGrainShape(grainShapeEnum.PP) ? undefined : grainShapeEnum.PP)"
              data-toggle="tooltip"
              [title]="grainShapeEnum.PP"
            >
              <span>{{ grainShapeEnum.PP }}</span>
            </button>
            <button
              type="reset"
              class="btn btn-sm"
              [ngClass]="isSlabGrainShape(grainShapeEnum.DF) ? 'btn-dark' : 'btn-outline-secondary'"
              (click)="setSlabGrainShape($event, isSlabGrainShape(grainShapeEnum.DF) ? undefined : grainShapeEnum.DF)"
              data-toggle="tooltip"
              [title]="grainShapeEnum.DF"
            >
              <span>{{ grainShapeEnum.DF }}</span>
            </button>
            <button
              type="reset"
              class="btn btn-sm"
              [ngClass]="isSlabGrainShape(grainShapeEnum.RG) ? 'btn-dark' : 'btn-outline-secondary'"
              (click)="setSlabGrainShape($event, isSlabGrainShape(grainShapeEnum.RG) ? undefined : grainShapeEnum.RG)"
              data-toggle="tooltip"
              [title]="grainShapeEnum.RG"
            >
              <span>{{ grainShapeEnum.RG }}</span>
            </button>
            <button
              type="reset"
              class="btn btn-sm"
              [ngClass]="isSlabGrainShape(grainShapeEnum.MF) ? 'btn-dark' : 'btn-outline-secondary'"
              (click)="setSlabGrainShape($event, isSlabGrainShape(grainShapeEnum.MF) ? undefined : grainShapeEnum.MF)"
              data-toggle="tooltip"
              [title]="grainShapeEnum.MF"
            >
              <span>{{ grainShapeEnum.MF }}</span>
            </button>
            <button
              type="reset"
              class="btn btn-sm"
              [ngClass]="isSlabGrainShape(grainShapeEnum.IF) ? 'btn-dark' : 'btn-outline-secondary'"
              (click)="setSlabGrainShape($event, isSlabGrainShape(grainShapeEnum.IF) ? undefined : grainShapeEnum.IF)"
              data-toggle="tooltip"
              [title]="grainShapeEnum.IF"
            >
              <span>{{ grainShapeEnum.IF }}</span>
            </button>
            <button
              type="reset"
              class="btn btn-sm"
              [ngClass]="isSlabGrainShape(grainShapeEnum.MFcr) ? 'btn-dark' : 'btn-outline-secondary'"
              (click)="
                setSlabGrainShape($event, isSlabGrainShape(grainShapeEnum.MFcr) ? undefined : grainShapeEnum.MFcr)
              "
              data-toggle="tooltip"
              [title]="grainShapeEnum.MFcr"
            >
              <span>{{ grainShapeEnum.MFcr }}</span>
            </button>
          </div>
        </div>

        <div *ngIf="isAvalancheType(avalancheTypeEnum.slab)" class="form-group row">
          <div style="align-items: baseline" class="input-group">
            <label style="padding-right: 1rem" class="form-label" for="textarea-input">{{
              "dangerSources.create.label.slabThickness" | translate
            }}</label>
            <input
              step="1"
              min="0"
              id="inputSlabThicknessLowerLimit"
              class="form-control"
              size="14"
              type="number"
              name="slab-thickness-lower-limit-input"
              [disabled]="disabled"
              [(ngModel)]="variant.slabThicknessLowerLimit"
            />
            <span class="input-group-text">cm</span>
            <label style="margin: 0 1rem" class="form-label" attr.for="slabThicknessLabel"> - </label>
            <input
              step="1"
              min="0"
              id="inputSlabThicknessUpperLimit"
              class="form-control"
              size="14"
              type="number"
              name="slab-thickness-upper-limit-input"
              [disabled]="disabled"
              [(ngModel)]="variant.slabThicknessUpperLimit"
            />
            <span class="input-group-text">cm</span>
          </div>
        </div>

        <!--
        slabHandHardnessUpperLimit: HandHardness;
        slabHandHardnessLowerLimit: HandHardness;
        slabHardnessProfile: Tendency;
        slabEnergyTransferPotential: Characteristic;
        slabDistribution: Distribution;
        -->

        <div *ngIf="isAvalancheType(avalancheTypeEnum.slab)" class="form-group row">
          <label class="form-label" for="textarea-input">{{
            "dangerSources.create.label.weakLayerGrainShape" | translate
          }}</label>
          <div class="btn-group">
            <button
              type="reset"
              class="btn btn-sm"
              [ngClass]="isWeakLayerGrainShape(grainShapeEnum.PP) ? 'btn-dark' : 'btn-outline-secondary'"
              (click)="
                setWeakLayerGrainShape($event, isWeakLayerGrainShape(grainShapeEnum.PP) ? undefined : grainShapeEnum.PP)
              "
              data-toggle="tooltip"
              [title]="grainShapeEnum.PP"
            >
              <span>{{ grainShapeEnum.PP }}</span>
            </button>
            <button
              type="reset"
              class="btn btn-sm"
              [ngClass]="isWeakLayerGrainShape(grainShapeEnum.DF) ? 'btn-dark' : 'btn-outline-secondary'"
              (click)="
                setWeakLayerGrainShape($event, isWeakLayerGrainShape(grainShapeEnum.DF) ? undefined : grainShapeEnum.DF)
              "
              data-toggle="tooltip"
              [title]="grainShapeEnum.DF"
            >
              <span>{{ grainShapeEnum.DF }}</span>
            </button>
            <button
              type="reset"
              class="btn btn-sm"
              [ngClass]="isWeakLayerGrainShape(grainShapeEnum.RG) ? 'btn-dark' : 'btn-outline-secondary'"
              (click)="
                setWeakLayerGrainShape($event, isWeakLayerGrainShape(grainShapeEnum.RG) ? undefined : grainShapeEnum.RG)
              "
              data-toggle="tooltip"
              [title]="grainShapeEnum.RG"
            >
              <span>{{ grainShapeEnum.RG }}</span>
            </button>
            <button
              type="reset"
              class="btn btn-sm"
              [ngClass]="isWeakLayerGrainShape(grainShapeEnum.FC) ? 'btn-dark' : 'btn-outline-secondary'"
              (click)="
                setWeakLayerGrainShape($event, isWeakLayerGrainShape(grainShapeEnum.FC) ? undefined : grainShapeEnum.FC)
              "
              data-toggle="tooltip"
              [title]="grainShapeEnum.FC"
            >
              <span>{{ grainShapeEnum.FC }}</span>
            </button>
            <button
              type="reset"
              class="btn btn-sm"
              [ngClass]="isWeakLayerGrainShape(grainShapeEnum.DH) ? 'btn-dark' : 'btn-outline-secondary'"
              (click)="
                setWeakLayerGrainShape($event, isWeakLayerGrainShape(grainShapeEnum.DH) ? undefined : grainShapeEnum.DH)
              "
              data-toggle="tooltip"
              [title]="grainShapeEnum.DH"
            >
              <span>{{ grainShapeEnum.DH }}</span>
            </button>
            <button
              type="reset"
              class="btn btn-sm"
              [ngClass]="isWeakLayerGrainShape(grainShapeEnum.SH) ? 'btn-dark' : 'btn-outline-secondary'"
              (click)="
                setWeakLayerGrainShape($event, isWeakLayerGrainShape(grainShapeEnum.SH) ? undefined : grainShapeEnum.SH)
              "
              data-toggle="tooltip"
              [title]="grainShapeEnum.SH"
            >
              <span>{{ grainShapeEnum.SH }}</span>
            </button>
            <button
              type="reset"
              class="btn btn-sm"
              [ngClass]="isWeakLayerGrainShape(grainShapeEnum.PPgp) ? 'btn-dark' : 'btn-outline-secondary'"
              (click)="
                setWeakLayerGrainShape(
                  $event,
                  isWeakLayerGrainShape(grainShapeEnum.PPgp) ? undefined : grainShapeEnum.PPgp
                )
              "
              data-toggle="tooltip"
              [title]="grainShapeEnum.PPgp"
            >
              <span>{{ grainShapeEnum.PPgp }}</span>
            </button>
          </div>
        </div>

        <div *ngIf="isAvalancheType(avalancheTypeEnum.slab)" class="form-group row">
          <div style="align-items: baseline" class="input-group">
            <label style="padding-right: 1rem" class="form-label" for="textarea-input">{{
              "dangerSources.create.label.weakLayerGrainSize" | translate
            }}</label>
            <input
              step="0.25"
              min="0"
              id="inputWeakLayerGrainSizeLowerLimit"
              class="form-control"
              size="14"
              type="number"
              name="weak-layer-grain-size-lower-limit-input"
              [disabled]="disabled"
              [(ngModel)]="variant.weakLayerGrainSizeLowerLimit"
            />
            <span class="input-group-text">cm</span>
            <label style="margin: 0 1rem" class="form-label" attr.for="weakLayerGrainSizeLabel"> - </label>
            <input
              step="0.25"
              min="0"
              id="inputWeakLayerGrainSizeUpperLimit"
              class="form-control"
              size="14"
              type="number"
              name="weak-layer-grain-size-upper-limit-input"
              [disabled]="disabled"
              [(ngModel)]="variant.weakLayerGrainSizeUpperLimit"
            />
            <span class="input-group-text">cm</span>
          </div>
        </div>

        <div *ngIf="isAvalancheType(avalancheTypeEnum.slab)" class="form-group row">
          <div class="avalanche-problem-detail__elevation">
            <div class="form-check avalanche-problem-detail__elevation-label">
              <label class="form-label" attr.for="weakLayerPersistentCheckbox">{{
                "dangerSources.create.label.weakLayerPersistent" | translate
              }}</label>
              <input
                id="weakLayerPersistentCheckbox"
                type="checkbox"
                class="form-check-input"
                [disabled]="disabled"
                [(ngModel)]="variant.weakLayerPersistent"
              />
            </div>
          </div>
        </div>

        <div *ngIf="isAvalancheType(avalancheTypeEnum.slab)" class="form-group row">
          <label class="form-label" for="textarea-input">{{
            "dangerSources.create.label.weakLayerThickness" | translate
          }}</label>
          <div class="btn-group">
            <button
              type="reset"
              class="btn btn-sm"
              [ngClass]="isWeakLayerThickness(thicknessEnum.thin) ? 'btn-dark' : 'btn-outline-secondary'"
              (click)="
                setWeakLayerThickness($event, isWeakLayerThickness(thicknessEnum.thin) ? undefined : thicknessEnum.thin)
              "
              data-toggle="tooltip"
              title="{{ 'thickness.thin' | translate }}"
            >
              <span>{{ "thickness.thin" | translate }}</span>
            </button>
            <button
              type="reset"
              class="btn btn-sm"
              [ngClass]="isWeakLayerThickness(thicknessEnum.thick) ? 'btn-dark' : 'btn-outline-secondary'"
              (click)="
                setWeakLayerThickness(
                  $event,
                  isWeakLayerThickness(thicknessEnum.thick) ? undefined : thicknessEnum.thick
                )
              "
              data-toggle="tooltip"
              title="{{ 'thickness.thick' | translate }}"
            >
              <span>{{ "thickness.thick" | translate }}</span>
            </button>
          </div>
        </div>

        <!--
        weakLayerStrength: Characteristic;
        weakLayerWet: boolean | undefined;
        weakLayerCrustAbove: boolean | undefined;
        weakLayerCrustBelow: boolean | undefined;
        weakLayerPosition: SnowpackPosition;
        weakLayerCreation: CreationProcess;
        weakLayerDistribution: Distribution;
        dangerSpotRecognizability: Recognizability;
        remoteTriggering: boolean | undefined;
        terrainTypes: TerrainType[];
        -->

        <!-- LOOSE SNOW AVALANCHES -->
        <div *ngIf="isAvalancheType(avalancheTypeEnum.loose)" class="form-group row">
          <label class="form-label" for="textarea-input">{{
            "dangerSources.create.label.looseSnowGrainShape" | translate
          }}</label>
          <div class="btn-group">
            <button
              type="reset"
              class="btn btn-sm"
              [ngClass]="isLooseSnowGrainShape(grainShapeEnum.PP) ? 'btn-dark' : 'btn-outline-secondary'"
              (click)="
                setLooseSnowGrainShape($event, isLooseSnowGrainShape(grainShapeEnum.PP) ? undefined : grainShapeEnum.PP)
              "
              data-toggle="tooltip"
              [title]="grainShapeEnum.PP"
            >
              <span>{{ grainShapeEnum.PP }}</span>
            </button>
            <button
              type="reset"
              class="btn btn-sm"
              [ngClass]="isLooseSnowGrainShape(grainShapeEnum.DF) ? 'btn-dark' : 'btn-outline-secondary'"
              (click)="
                setLooseSnowGrainShape($event, isLooseSnowGrainShape(grainShapeEnum.DF) ? undefined : grainShapeEnum.DF)
              "
              data-toggle="tooltip"
              [title]="grainShapeEnum.DF"
            >
              <span>{{ grainShapeEnum.DF }}</span>
            </button>
            <button
              type="reset"
              class="btn btn-sm"
              [ngClass]="isLooseSnowGrainShape(grainShapeEnum.RG) ? 'btn-dark' : 'btn-outline-secondary'"
              (click)="
                setLooseSnowGrainShape($event, isLooseSnowGrainShape(grainShapeEnum.RG) ? undefined : grainShapeEnum.RG)
              "
              data-toggle="tooltip"
              [title]="grainShapeEnum.RG"
            >
              <span>{{ grainShapeEnum.RG }}</span>
            </button>
            <button
              type="reset"
              class="btn btn-sm"
              [ngClass]="isLooseSnowGrainShape(grainShapeEnum.FC) ? 'btn-dark' : 'btn-outline-secondary'"
              (click)="
                setLooseSnowGrainShape($event, isLooseSnowGrainShape(grainShapeEnum.FC) ? undefined : grainShapeEnum.FC)
              "
              data-toggle="tooltip"
              [title]="grainShapeEnum.FC"
            >
              <span>{{ grainShapeEnum.FC }}</span>
            </button>
            <button
              type="reset"
              class="btn btn-sm"
              [ngClass]="isLooseSnowGrainShape(grainShapeEnum.DH) ? 'btn-dark' : 'btn-outline-secondary'"
              (click)="
                setLooseSnowGrainShape($event, isLooseSnowGrainShape(grainShapeEnum.DH) ? undefined : grainShapeEnum.DH)
              "
              data-toggle="tooltip"
              [title]="grainShapeEnum.DH"
            >
              <span>{{ grainShapeEnum.DH }}</span>
            </button>
            <button
              type="reset"
              class="btn btn-sm"
              [ngClass]="isLooseSnowGrainShape(grainShapeEnum.SH) ? 'btn-dark' : 'btn-outline-secondary'"
              (click)="
                setLooseSnowGrainShape($event, isLooseSnowGrainShape(grainShapeEnum.SH) ? undefined : grainShapeEnum.SH)
              "
              data-toggle="tooltip"
              [title]="grainShapeEnum.SH"
            >
              <span>{{ grainShapeEnum.SH }}</span>
            </button>
            <button
              type="reset"
              class="btn btn-sm"
              [ngClass]="isLooseSnowGrainShape(grainShapeEnum.PPgp) ? 'btn-dark' : 'btn-outline-secondary'"
              (click)="
                setLooseSnowGrainShape(
                  $event,
                  isLooseSnowGrainShape(grainShapeEnum.PPgp) ? undefined : grainShapeEnum.PPgp
                )
              "
              data-toggle="tooltip"
              [title]="grainShapeEnum.PPgp"
            >
              <span>{{ grainShapeEnum.PPgp }}</span>
            </button>
          </div>
        </div>

        <div *ngIf="isAvalancheType(avalancheTypeEnum.loose)" class="form-group row">
          <label class="form-label" for="textarea-input">{{
            "dangerSources.create.label.looseSnowMoisture" | translate
          }}</label>
          <div class="btn-group">
            <button
              type="reset"
              class="btn btn-sm"
              [ngClass]="isLooseSnowMoisture(wetnessEnum.dry) ? 'btn-dark' : 'btn-outline-secondary'"
              (click)="setLooseSnowMoisture($event, isLooseSnowMoisture(wetnessEnum.dry) ? undefined : wetnessEnum.dry)"
              data-toggle="tooltip"
              title="{{ 'wetness.dry' | translate }}"
            >
              <span>{{ "wetness.dry" | translate }}</span>
            </button>
            <button
              type="reset"
              class="btn btn-sm"
              [ngClass]="isLooseSnowMoisture(wetnessEnum.moist) ? 'btn-dark' : 'btn-outline-secondary'"
              (click)="
                setLooseSnowMoisture($event, isLooseSnowMoisture(wetnessEnum.moist) ? undefined : wetnessEnum.moist)
              "
              data-toggle="tooltip"
              title="{{ 'wetness.moist' | translate }}"
            >
              <span>{{ "wetness.moist" | translate }}</span>
            </button>
            <button
              type="reset"
              class="btn btn-sm"
              [ngClass]="isLooseSnowMoisture(wetnessEnum.wet) ? 'btn-dark' : 'btn-outline-secondary'"
              (click)="setLooseSnowMoisture($event, isLooseSnowMoisture(wetnessEnum.wet) ? undefined : wetnessEnum.wet)"
              data-toggle="tooltip"
              title="{{ 'wetness.wet' | translate }}"
            >
              <span>{{ "wetness.wet" | translate }}</span>
            </button>
          </div>
        </div>
      </accordion-group>

      <accordion-group
        class="accordion-group"
        [isOpen]="isAccordionCharacteristicsOpen"
        (isOpenChange)="accordionChanged($event, 'characteristics')"
      >
        <div accordion-heading class="accordion-header accordion-header--with-buttons">
          <h2 class="accordion-header__title">
            <i *ngIf="!isAccordionCharacteristicsOpen" class="accordion__arrow ph ph-caret-right"></i>
            <i *ngIf="isAccordionCharacteristicsOpen" class="accordion__arrow ph ph-caret-down"></i>
            {{ "dangerSources.create.title.characteristics" | translate }}
          </h2>
        </div>

        <!--
        hasDaytimeDependency: boolean | undefined;
        dangerIncreaseWithElevation: boolean | undefined;
        highestDangerAspect: Aspect;
        dangerPeak: Daytime;
        slopeGradient: SlopeGradient;
        runoutIntoGreen: boolean | undefined;
        naturalRelease: Probability;
        dangerSigns: DangerSign[];
        -->
      </accordion-group>

      <accordion-group
        class="accordion-group"
        [isOpen]="isAccordionMatrixOpen"
        (isOpenChange)="accordionChanged($event, 'matrix')"
      >
        <div accordion-heading class="accordion-header accordion-header--with-buttons">
          <h2 class="accordion-header__title">
            <i *ngIf="!isAccordionMatrixOpen" class="accordion__arrow ph ph-caret-right"></i>
            <i *ngIf="isAccordionMatrixOpen" class="accordion__arrow ph ph-caret-down"></i>
            {{ "dangerSources.create.title.matrix" | translate }}
          </h2>
        </div>
        <div class="form-group row">
          <div class="col-md-5">
            <label class="form-label" for="">{{ "dangerSources.create.label.aspects" | translate }}</label>
            <div>
              <app-aspects
                [(aspects)]="variant.aspects"
                [disabled]="disabled"
                [size]="150"
                (aspectsChange)="updateVariantOnServer()"
              ></app-aspects>
            </div>
          </div>
          <div class="col-md-7">
            <label class="form-label" for="">{{ "elevation.title" | translate }}</label>
            <!-- Elevation (high) -->
            <div class="avalanche-problem-detail__elevation">
              <div class="avalanche-problem-detail__elevation-label form-check">
                <input
                  id="elevationHighCheckbox"
                  type="checkbox"
                  class="form-check-input"
                  [disabled]="disabled"
                  (change)="setUseElevationHigh($event)"
                  [(ngModel)]="useElevationHigh"
                />
                <label class="form-label" attr.for="elevationHighCheckbox">{{ "elevation.high" | translate }}</label>
              </div>
              <div class="avalanche-problem-detail__elevation-inputs">
                <div class="input-group">
                  <input
                    step="100"
                    min="0"
                    max="9000"
                    id="inputElevationHigh"
                    class="form-control"
                    size="14"
                    type="number"
                    name="elevation-input"
                    [disabled]="disabled || variant.treelineHigh || !useElevationHigh"
                    [(ngModel)]="localElevationHigh"
                    (change)="updateElevationHigh($event)"
                  />
                  <span class="input-group-text">m</span>
                </div>
                <button
                  [disabled]="disabled || !useElevationHigh"
                  type="reset"
                  class="btn btn-icon"
                  [ngClass]="localTreelineHigh ? 'btn-dark' : 'btn-outline-secondary'"
                  (click)="treelineHighClicked($event)"
                  data-toggle="tooltip"
                  title="{{ 'elevation.treeline' | translate }}"
                >
                  <i class="ph ph-tree-evergreen"></i>
                </button>
              </div>
            </div>

            <!-- Elevation (low) -->
            <div class="avalanche-problem-detail__elevation">
              <div class="form-check avalanche-problem-detail__elevation-label">
                <input
                  id="elevationLowCheckbox"
                  type="checkbox"
                  class="form-check-input"
                  [disabled]="disabled"
                  (change)="setUseElevationLow($event)"
                  [(ngModel)]="useElevationLow"
                />
                <label class="form-label" attr.for="elevationLowCheckbox">{{ "elevation.low" | translate }}</label>
              </div>
              <div class="avalanche-problem-detail__elevation-inputs">
                <div class="input-group">
                  <input
                    step="100"
                    min="0"
                    max="9000"
                    id="inputElevationLow"
                    class="form-control"
                    size="14"
                    type="number"
                    name="elevation-input"
                    [disabled]="disabled || variant.treelineLow || !useElevationLow"
                    [(ngModel)]="localElevationLow"
                    (change)="updateElevationLow()"
                  />
                  <span class="input-group-text">m</span>
                </div>
                <button
                  [disabled]="disabled || !useElevationLow"
                  type="reset"
                  class="btn btn-icon"
                  [ngClass]="localTreelineLow ? 'btn-dark' : 'btn-outline-secondary'"
                  (click)="treelineLowClicked($event)"
                  data-toggle="tooltip"
                  title="{{ 'elevation.treeline' | translate }}"
                >
                  <i class="ph ph-tree-evergreen"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <app-matrix-parameter
            [(bulletinDaytimeDescription)]="variant"
            [(matrixInformation)]="variant.eawsMatrixInformation"
            [disabled]="disabled"
            [count]="1"
            [afternoon]="false"
            (changeMatrixEvent)="updateVariantOnServer()"
          ></app-matrix-parameter>
        </div>
      </accordion-group>
    </accordion>
  </main>
</div>
