<div>
  <div class="region-form__mobile-header" [class.d-none]="isVariantsSidebarVisible">
    <h1 class="font-m-bold">
      {{ dangerSourcesService.getActiveDate()[1] | date: "EEEE," : undefined : translateService.currentLang }}
      {{ dangerSourcesService.getActiveDate()[1] | date: "longDate" : undefined : translateService.currentLang }}
    </h1>
  </div>

  <header class="region-form__header">
    <div class="region-form__header-actions btn-group" dropdown>
      <button (click)="deselectVariant()" class="btn btn-bare btn-sm btn-icon btn-bare--grey">
        <i class="ph-bold ph-x"></i>
      </button>
    </div>
    <div class="region-form__title">
      <h6 class="font-xs text-secondary">{{ regionsService.getRegionName(variant.ownerRegion) }}</h6>
      <h2 class="font-l">
        <span *ngIf="variant.regions.length > 0">{{
          regionsService.getRegionName(variant.regions[0].toString())
        }}</span>
        <span *ngIf="variant.regions.length > 1"> + {{ variant.regions.length - 1 }} </span>
      </h2>
    </div>
  </header>

  <div
    *ngIf="dangerSourcesService.getIsEditable() && isCreator(variant)"
    class="region-form__banner banner banner-info"
  >
    <p class="banner__text">
      <i class="ph ph-pencil-line"></i>
      {{ "bulletins.create.regionEditable" | translate }}
    </p>
    <div class="btn-group banner__actions">
      <button
        [class]="variant.hasDaytimeDependency ? 'btn-primary' : 'btn-outline-primary'"
        *ngIf="!editRegions"
        (click)="daytimeDependencyChanged($event, !variant.hasDaytimeDependency)"
        data-toggle="tooltip"
        title="{{ 'bulletins.create.tooltip.daytimeDependency' | translate }}"
        type="button"
        class="btn btn-sm btn-icon"
      >
        <i class="ph ph-sun-horizon"></i>
      </button>
      <button
        *ngIf="!editRegions"
        (click)="editMicroRegions()"
        data-toggle="tooltip"
        title="{{ 'bulletins.create.tooltip.edit' | translate }}"
        type="button"
        class="btn btn-sm btn-icon btn-outline-primary"
      >
        <i class="ph ph-map-trifold"></i>
      </button>
      <button
        *ngIf="!editRegions && !authenticationService.isCurrentUserInRole(constantsService.roleObserver)"
        (click)="copyVariant()"
        data-toggle="tooltip"
        title="{{ 'bulletins.create.tooltip.copy' | translate }}"
        type="button"
        class="btn btn-sm btn-icon btn-outline-primary"
      >
        <i class="ph ph-copy"></i>
      </button>
      <button
        *ngIf="!editRegions"
        (click)="deleteVariant()"
        data-toggle="tooltip"
        title="{{ 'bulletins.create.tooltip.delete' | translate }}"
        type="button"
        class="btn btn-sm btn-icon btn-outline-primary"
      >
        <i class="ph ph-trash"></i>
      </button>
    </div>
  </div>

  <div
    *ngIf="dangerSourcesService.getIsEditable() && !isCreator(variant)"
    class="region-form__banner banner banner-warning-strong"
  >
    <p class="banner__text">
      <i class="ph ph-lightbulb"></i>
      {{ "bulletins.create.pendingSuggestions" | translate }}
    </p>
    <div class="btn-group banner__actions">
      <button (click)="rejectSuggestions($event, variant)" type="button" class="btn btn-sm btn-outline-dark">
        <i class="ph ph-x"></i> <span>{{ "bulletins.create.rejectSuggestion" | translate }}</span>
      </button>
      <button (click)="acceptSuggestions($event, variant)" type="button" class="btn btn-sm btn-dark">
        <i class="ph ph-check"></i><span>{{ "bulletins.create.acceptSuggestion" | translate }}</span>
      </button>
    </div>
  </div>

  <div
    *ngIf="!dangerSourcesService.getIsEditable() || (dangerSourcesService.getIsEditable() && !isCreator(variant))"
    class="region-form__banner banner banner-warning"
  >
    <p class="banner__text">
      <i class="ph ph-pencil-slash"></i>
      {{ "bulletins.create.regionNotEditable" | translate }}
    </p>
    <div class="btn-group banner__actions">
      <button
        *ngIf="showEditMicroRegionsButton()"
        (click)="editMicroRegions()"
        data-toggle="tooltip"
        title="{{ 'bulletins.create.tooltip.edit' | translate }}"
        type="button"
        class="btn btn-sm btn-icon btn-outline-primary"
      >
        <i class="ph ph-map-trifold"></i>
      </button>
      <button
        *ngIf="!isComparedVariant && !authenticationService.isCurrentUserInRole(constantsService.roleObserver)"
        (click)="copyVariant()"
        data-toggle="tooltip"
        title="{{ 'bulletins.create.tooltip.copy' | translate }}"
        type="button"
        class="btn btn-sm btn-icon btn-outline-primary"
      >
        <i class="ph ph-copy"></i>
      </button>
    </div>
  </div>

  <main class="region-form__content">
    <accordion class="accordion">
      <accordion-group
        class="accordion-group"
        [isOpen]="isAccordionAvalancheProblemOpen"
        (isOpenChange)="accordionChanged($event, 'avalancheProblem')"
      >
        <div accordion-heading class="accordion-header accordion-header--with-buttons">
          <h2 class="accordion-header__title">
            <i *ngIf="!isAccordionAvalancheProblemOpen" class="accordion__arrow ph ph-caret-right"></i>
            <i *ngIf="isAccordionAvalancheProblemOpen" class="accordion__arrow ph ph-caret-down"></i>
            {{ "bulletins.create.title.avalancheProblem" | translate
            }}<span *ngIf="variant.hasDaytimeDependency"
              >&nbsp;{{ "bulletins.create.title.forenoon" | translate }}</span
            >
          </h2>
        </div>
      </accordion-group>
    </accordion>
  </main>
</div>

<ng-template #catalogOfPhrasesTemplate>
  <button type="reset" class="btn btn-bare pull-end" (click)="hideDialog()">&times;</button>
  <iframe
    (load)="initCatalogOfPhrases($event)"
    (message)="getText($event)"
    [src]="pmUrl"
    width="100%"
    height="100%"
  ></iframe>
</ng-template>

<ng-template #removeDaytimeDependencyTemplate>
  <div class="modal-body text-center">
    <p>{{ "bulletins.create.removeDaytimeDependencyDialog.message" | translate }}</p>
  </div>
  <div class="modal-footer">
    <button
      [disabled]="loadingModal"
      type="button"
      class="btn btn-primary"
      (click)="removeDaytimeDependencyModalConfirm($event, true)"
    >
      {{ "daytime.earlier" | translate }}
    </button>

    <button
      [disabled]="loadingModal"
      type="button"
      class="btn btn-primary"
      (click)="removeDaytimeDependencyModalConfirm($event, false)"
    >
      <span>{{ "daytime.later" | translate }}</span>
    </button>

    <button type="reset" class="btn btn-bare" (click)="removeDaytimeDependencyModalDecline()">
      <span>{{ "bulletins.create.removeDaytimeDependencyDialog.cancel" | translate }}</span>
    </button>
  </div>
</ng-template>
