<div class="layout-outer" [ngClass]="'layout--is-' + layout">
  <div class="layout-inner split">
    <div class="layout-left">
      <div class="layout-global">
        <div class="global-bar-scroll">
          <div class="global-bar global-bar-left">
            <div class="global-bar-item global-bar-item-source">
              <div class="dropdown">
                <button
                  type="button"
                  class="btn dropdown-toggle"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  data-bs-auto-close="outside"
                >
                  {{ "admin.observations.selectSources.placeholder" | translate }}
                  <div
                    class="spinner-grow spinner-grow-sm text-success"
                    [ngClass]="{
                      'opacity-0': !loadingState,
                      'text-success': loadingState === 'loading',
                      'text-danger': loadingState === 'error',
                    }"
                    role="status"
                    title="Loading"
                  ></div>
                </button>
                <form class="dropdown-menu p-4 overflow-y-scroll">
                  @for (source of sources; track source) {
                    <div class="form-check">
                      <label class="form-check-label text-nowrap">
                        <input
                          [(ngModel)]="filterService.observationSources[source.name]"
                          [ngModelOptions]="{ standalone: true }"
                          (change)="ngOnInit()"
                          type="checkbox"
                          class="form-check-input"
                        />
                        {{ source.name }}
                        @if (source.$error) {
                          <div
                            class="spinner-grow spinner-grow-sm text-danger"
                            role="alert"
                            [title]="source.$error | json"
                          ></div>
                        }
                        @if (source.$loading) {
                          <div class="spinner-grow spinner-grow-sm text-success" role="status" title="Loading"></div>
                        }
                      </label>
                    </div>
                  }
                </form>
              </div>
            </div>

            <div class="global-bar-item">
              <div class="input-group">
                <input
                  type="datetime-local"
                  [step]="config.dateStepSeconds"
                  class="form-control"
                  [(ngModel)]="date"
                  [min]="config.dateMin"
                  [max]="config.dateMax"
                  (ngModelChange)="loadSources()"
                />
                <button
                  class="btn btn-outline-secondary"
                  (click)="switchDate(-1)"
                  [disabled]="config.dateMin && nextDate(-1) < config.dateMin"
                  ngxMousetrapKey="shift+left"
                >
                  <i class="ph ph-caret-double-left"></i>
                </button>
                <button
                  class="btn btn-outline-secondary"
                  (click)="switchDate(+1)"
                  [disabled]="config.dateMax && nextDate(+1) > config.dateMax"
                  ngxMousetrapKey="shift+right"
                >
                  <i class="ph ph-caret-double-right"></i>
                </button>
              </div>
            </div>

            <div class="global-bar-item global-bar-item-load">
              <button type="button" class="btn btn-bare" (click)="loadSources()" ngxMousetrapKey="shift+r">
                <i class="ph ph-arrows-clockwise"></i>
              </button>
            </div>

            <div class="global-bar-item">
              <a
                href="https://gitlab.com/groups/avalanche-warning/-/wikis/home"
                class="btn"
                title="Help"
                target="_blank"
                ngxMousetrapKey="?"
              >
                <i class="ph ph-question-mark"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="layout-map">
        <div class="section-map observations-map" id="observationsMap" #observationsMap></div>
      </div>
    </div>

    <div class="layout-right">
      <div class="toolset toolset-1 overflow-scroll">
        <div class="toolset-content">
          <div class="toolset-charts">
            @for (filterSelection of filterService.filterSelectionData; track filterSelection) {
              <app-observation-chart
                class="chart-container"
                [filterSelection]="filterSelection"
                (handleReload)="loadSources()"
                (handleChange)="applyLocalFilter()"
              />
            }
          </div>
        </div>
      </div>

      <div class="toolset toolset-2 overflow-scroll">
        @if (selectedObservationDetails) {
          <div>
            <div class="toolset-content bg-white">
              <button
                type="button"
                class="btn float-end"
                title="Close"
                (click)="closeObservation()"
                ngxMousetrapKey="esc"
              >
                <i class="ph ph-x"></i>
              </button>
              <button
                type="button"
                class="btn float-end"
                title="Fullscreen"
                (click)="requestFullscreen($event)"
                ngxMousetrapKey="shift+f"
              >
                <i class="ph ph-corners-out"></i>
              </button>
              <tabset>
                @for (tab of selectedObservationDetails; track tab) {
                  <tab
                    [heading]="tab.label"
                    [active]="selectedObservationActiveTabs[selectedObservation.$source] === tab.label"
                    (selectTab)="selectedObservationActiveTabs[selectedObservation.$source] = tab.label"
                  >
                    @if (selectedObservationActiveTabs[selectedObservation.$source] === tab.label) {
                      <div [innerHTML]="tab.html"></div>
                    }
                  </tab>
                }
              </tabset>
            </div>
          </div>
        }

        @if (!selectedObservationDetails && hazardChart) {
          <div class="chart-container hazard-chart">
            <div
              echarts
              (chartMouseOver)="chartMouseOver($event)"
              (chartMouseOut)="chartMouseOut()"
              [options]="hazardChart"
            ></div>
          </div>
        }

        @if (!selectedObservationDetails && timeseriesChart) {
          <div class="chart-container timeseries-chart">
            <div echarts [options]="timeseriesChart"></div>
          </div>
        }
      </div>
    </div>

    <div class="layout-switch">
      @if (layout !== "map") {
        <div (click)="layout = 'map'" class="layout-switch-map obs-button">
          <span class="button-icon ph ph-globe-hemisphere-west"></span>
          <span class="button-text">
            {{ "admin.observations.map" | translate }}
          </span>
        </div>
      }
      @if (layout !== "chart") {
        <div (click)="layout = 'chart'" class="layout-switch-charts obs-button">
          <span class="button-icon ph ph-chart-line"></span>
          <span class="button-text">
            {{ "admin.observations.charts.charts" | translate }}
          </span>
        </div>
      }
    </div>
  </div>
</div>
