<div class="layout-outer" [ngClass]="'layout--is-' + layout">
  <div class="layout-inner">
    <div class="layout-left">
      <div class="layout-global">
        <div class="global-bar-scroll">
          <div class="global-bar global-bar-left flex-wrap">
            <div class="global-bar-item global-bar-item-source">
              <div class="dropdown">
                <button
                  type="button"
                  class="btn dropdown-toggle"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  data-bs-auto-close="outside"
                >
                  {{ "admin.observations.selectSources.placeholder" | translate }}
                </button>
                <form class="dropdown-menu p-4 overflow-y-scroll">
                  @for (source of allSources; track source) {
                    <div class="form-check">
                      <label class="form-check-label text-nowrap">
                        <input
                          [(ngModel)]="selectedSources[source.id]"
                          [ngModelOptions]="{ standalone: true }"
                          (change)="onSourcesDropdownSelect()"
                          type="checkbox"
                          class="form-check-input"
                        />
                        {{ source.name }}
                      </label>
                    </div>
                  }
                </form>
              </div>
            </div>

            <div class="global-bar-item global-bar-item-region" style="width: 0; height: 0">
              <button type="button" class="obs-button invisible" (click)="selectRegion('')" [ngxMousetrapKey]="['r 0']">
                <i class="ph ph-number-circle-zero"></i>
              </button>
              @for (
                region of authenticationService.getInternalRegionsWithoutSuperRegions();
                track region;
                let i = $index
              ) {
                <span class="global-bar-item">
                  <button
                    type="button"
                    class="obs-button invisible"
                    (click)="selectRegion(region)"
                    [ngxMousetrapKey]="['r ' + (i + 1)]"
                  >
                    <i class="ph ph-number-circle-one"></i>
                  </button>
                </span>
              }
            </div>
            <div class="global-bar-item global-bar-item-region">
              <div class="dropdown">
                <button
                  type="button"
                  class="btn dropdown-toggle"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  data-bs-auto-close="outside"
                >
                  {{ "admin.observations.selectRegion.placeholder" | translate }}
                </button>
                <form class="dropdown-menu p-4 overflow-y-scroll" style="max-height: 400px">
                  @for (region of authenticationService.getInternalRegionsWithoutSuperRegions(); track region) {
                    <div class="form-check">
                      <label class="form-check-label text-nowrap">
                        <input
                          [(ngModel)]="selectedRegions[region]"
                          [ngModelOptions]="{ standalone: true }"
                          (change)="toggleRegion($event, region)"
                          type="checkbox"
                          class="form-check-input"
                        />
                        {{ "bulletins.table.title.status." + region | translate }}
                      </label>
                      <div class="ms-3">
                        @for (microRegion of getSubregions(region); track microRegion) {
                          <div class="form-check">
                            <label class="form-check-label text-nowrap">
                              <input
                                [(ngModel)]="selectedRegions[microRegion.id]"
                                [ngModelOptions]="{ standalone: true }"
                                (change)="onRegionsDropdownSelect()"
                                type="checkbox"
                                class="form-check-input"
                              />
                              {{ microRegion.name }}
                            </label>
                          </div>
                        }
                      </div>
                    </div>
                  }
                </form>
              </div>
            </div>
            <div class="global-bar-item global-bar-item-load">
              <button type="button" class="btn btn-bare" (click)="load()">
                @if (!loading) {
                  <i class="ph ph-arrows-clockwise"></i>
                }
                @if (loading) {
                  <i class="ph ph-circle-notch"></i>
                }
              </button>
            </div>

            @for (source of allSources; track source) {
              <span class="global-bar-item">
                <label class="form-check-label text-nowrap">
                  <input
                    [(ngModel)]="selectedSources[source.id]"
                    [ngModelOptions]="{ standalone: true }"
                    (change)="onSourcesDropdownSelect()"
                    type="checkbox"
                    class="form-check-input"
                  />
                  <span [style]="{ color: source.fillColor }">●</span>
                  {{ source.name }}
                </label>
              </span>
            }

            @for (source of zamgMeteoSourceService.maps; track source) {
              <span class="global-bar-item">
                <label class="form-check-label text-nowrap">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    name="zamgMeteoSourceService"
                    [(ngModel)]="selectedSources[source.label]"
                    (change)="
                      selectedSources[source.label]
                        ? source.addImageOverlay(mapService.map)
                        : mapService.map.removeLayer(source.imageOverlay)
                    "
                  />
                  {{ source.label }}
                </label>
                {{ " " }}
                @if (selectedSources[source.label]) {
                  <span class="text-bg-light">
                    <kbd (click)="source.change(-1)" ngxMousetrapKey="left">←</kbd>
                    {{ " " }}
                    {{ source.epochMilliseconds | date: "medium" : undefined : translateService.currentLang }}
                    {{ " " }}
                    <kbd (click)="source.change(+1)" ngxMousetrapKey="right">→</kbd>
                  </span>
                }
              </span>
            }
          </div>
        </div>
      </div>

      <div class="layout-map">
        <div class="section-map observations-map" id="observationsMap" #observationsMap></div>
      </div>
    </div>
  </div>
</div>

<ng-template #observationPopupTemplate>
  <div class="modal-header">
    @if (selectedModelPoint) {
      <div class="d-inline-block">
        <select [(ngModel)]="selectedModelPoint" class="custom-select" style="max-width: 70vw">
          @for (point of dropDownOptions[selectedModelType]; track point) {
            <option
              [ngValue]="point"
              [class.d-none]="showObservationConfigurations && point.$data.configuration !== observationConfiguration"
            >
              {{ point.region }}:
              {{ point.locationName }}
            </option>
          }
        </select>
      </div>
    }

    @if (showObservationConfigurations) {
      <div class="d-inline-block">
        <select
          class="custom-select"
          style="max-width: 70vw"
          [(ngModel)]="observationConfiguration"
          (change)="setObservationConfiguration()"
        >
          @for (configuration of observationConfigurations; track configuration) {
            <option [ngValue]="configuration">
              {{ configuration }}
            </option>
          }
        </select>
      </div>
    }

    @if (selectedModelType === "qfa") {
      <div class="d-inline-block" id="qfa_div">
        <select
          #qfaSelect
          class="custom-select"
          style="max-width: 70vw"
          [(ngModel)]="qfa.file.filename"
          (change)="setQfa(qfa.file.filename)"
        >
          @for (file of files[selectedCity]; track file) {
            <option [value]="file.filename">{{ file.date }} {{ file.city }}</option>
          }
        </select>
      </div>
    }

    <div class="d-inline-block font-weight-normal w-100 text-end mx-3">
      &mdash; Tipp:
      <kbd (click)="changeRun(-1)" ngxMousetrapKey="left">←</kbd>
      <kbd (click)="changeRun(+1)" ngxMousetrapKey="right">→</kbd>
      @if (showObservationConfigurations) {
        <kbd (click)="changeRun(-1, 'observationConfiguration'); setObservationConfiguration()" ngxMousetrapKey="up"
          >↑</kbd
        >
      }
      @if (showObservationConfigurations) {
        <kbd (click)="changeRun(+1, 'observationConfiguration'); setObservationConfiguration()" ngxMousetrapKey="down"
          >↓</kbd
        >
      }
      zum Blättern
    </div>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalService.hide()"></button>
  </div>

  <div
    class="modal-body"
    (touchstart)="swipe($event, 'start')"
    (touchend)="swipe($event, 'end')"
    style="align-self: center"
  >
    @if (selectedModelPoint && !observationPopupIframe) {
      <div>
        @if (selectedModelPoint) {
          <img [src]="selectedModelPoint.$externalURL" class="img-fluid" />
        }
      </div>
    }
    @if (selectedModelPoint && selectedModelPoint.$extraDialogRows) {
      <div>
        @for (row of selectedModelPoint.$extraDialogRows; track row) {
          <img [src]="row.url" class="img-fluid" />
        }
      </div>
    }
    @if (selectedModelPoint && observationPopupIframe) {
      <div>
        <iframe [src]="observationPopupIframe" style="width: 100%; height: 1714px"></iframe>
      </div>
    }

    @if (selectedModelType === "qfa") {
      <div id="qfa_div">
        <div class="day-button-wrapper">
          <span class="day-button" [class.active-day]="qfaStartDay === 0" (click)="setQfa(qfa.file.filename, 0)">
            {{ "qfa.day" | translate }} 0-2
          </span>
          <span class="day-button" [class.active-day]="qfaStartDay === 3" (click)="setQfa(qfa.file.filename, 3)">
            {{ "qfa.day" | translate }} 3-5
          </span>
          <span class="day-button" [class.active-day]="qfaStartDay === 6" (click)="setQfa(qfa.file.filename, 6)">
            {{ "qfa.day" | translate }} 6-8
          </span>
        </div>
        @if (qfa.parameters) {
          <table class="table table-sm qfatable">
            <tr>
              <th>{{ "qfa.day" | translate }}</th>
              @for (date of qfa.dates; track date) {
                <th class="text-center">
                  <span style="background-color: #60afff; padding: 0">
                    {{ date }}
                  </span>
                </th>
              }
            </tr>
            <tr>
              <th>{{ "qfa.time" | translate }}</th>
              @for (_ of qfa.dates; track _) {
                <th class="table-entry">
                  <div style="padding: 0">
                    <span style="background-color: #60afff">00</span>
                    <span style="background-color: #60afff">06</span>
                    <span style="background-color: #60afff">12</span>
                    <span style="background-color: #60afff">18</span>
                  </div>
                </th>
              }
            </tr>
            <!-- <tr *ngIf=" dustParams[city.toLowerCase()]">
                <td class="header DUST">DUST</td>
                <td *ngFor="let day of dustParams[city.toLowerCase()][selectedDayIndex]" class="table-entry DUST">
                  <div>
                    <span *ngFor="let param of day" [ngStyle]="{'background-color': dustParamService.dustToColor(param)}">
                      {{param}}
                    </span>
                  </div>
                </td>
              </tr> -->
            @for (param of qfa.parameters; track param) {
              <tr [ngClass]="[paramService.parameterClasses[param]]">
                <td class="header">
                  <abbr title="{{ paramService.getFullName(param) }}">{{ param }}</abbr>
                </td>
                @for (day of qfa.data.parameters[param] | keyvalue; track day) {
                  <td class="table-entry" [ngClass]="[paramService.parameterClasses[param]]">
                    @if (!["W500", "W700", "W850"].includes(paramService.parameterClasses[param])) {
                      <div>
                        @if (param === "QANmax" && day.key === "0") {
                          <span>---</span>
                        }
                        @if (param !== "QANmax") {
                          <span [ngClass]="paramService.getCellClass(param, day.value['00'])">{{
                            day.value["00"]
                          }}</span>
                        }
                        <span [ngClass]="paramService.getCellClass(param, day.value['06'])">{{ day.value["06"] }}</span>
                        <span [ngClass]="paramService.getCellClass(param, day.value['12'])">{{ day.value["12"] }}</span>
                        <span [ngClass]="paramService.getCellClass(param, day.value['18'])">{{ day.value["18"] }}</span>
                      </div>
                    }
                    @if (["W500", "W700", "W850"].includes(paramService.parameterClasses[param])) {
                      <div>
                        <span>{{ paramService.getWParam(day.value["00"]) }}</span>
                        <span>{{ paramService.getWParam(day.value["06"]) }}</span>
                        <span>{{ paramService.getWParam(day.value["12"]) }}</span>
                        <span>{{ paramService.getWParam(day.value["18"]) }}</span>
                      </div>
                    }
                  </td>
                }
              </tr>
            }
          </table>
        }
      </div>
    }
  </div>
</ng-template>
