<h1>Linea Station Selector</h1>

<!-- Station buttons -->
<div class="stations">
  @for (id of stationIds; track id) {
    <button (click)="addStation(id)">
      {{ id }}
    </button>
  }
</div>

<!-- Selected station chips -->
<div class="selected-stations">
  @for (id of selectedIds; track id) {
    <div class="station-chip">
      {{ id }}
      <button (click)="removeStation(id)">×</button>
    </div>
  }
</div>


<linea-plot
  [attr.src]="srcs"
  [attr.lazysrc]="lazysrcs"
  showsurfaceHoarseries
  showtitle
  showexport
  showinteractiveblogexport
  showdatepicker>
</linea-plot>
