<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <i class="ph ph-key me-2"></i>{{ "settings.title" | translate }}
        </div>
        <div class="card-body">
          <div *ngFor="let alert of alerts">
            <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{
              alert.msg
            }}</alert>
          </div>
        </div>
        <div class="card-body">
          <div class="form-group row">
            <label for="inputName" class="col-sm-2 col-form-label">{{
              "admin.createUser.table.image" | translate
            }}</label>
            <div class="col-sm-10">
              <img
                src="{{ authenticationService.getUserImageSanitized(authenticationService.getCurrentAuthor().image) }}"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="inputName" class="col-sm-2 col-form-label">{{
              "admin.createUser.table.name" | translate
            }}</label>
            <div class="col-sm-10">
              <input
                type="text"
                disabled
                #name="ngModel"
                class="form-control"
                id="inputName"
                name="name"
                [ngModel]="authenticationService.getUsername()"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail" class="col-sm-2 col-form-label">{{
              "admin.createUser.table.email" | translate
            }}</label>
            <div class="col-sm-10">
              <input
                email
                type="email"
                #email="ngModel"
                disabled
                class="form-control"
                id="inputEmail"
                name="email"
                [ngModel]="authenticationService.getCurrentAuthor().email"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="inputOrganization" class="col-sm-2 col-form-label">{{
              "admin.createUser.table.organization" | translate
            }}</label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="inputOrganization"
                disabled
                name="organization"
                [ngModel]="authenticationService.getCurrentAuthor().organization"
              />
            </div>
          </div>
        </div>
        <!-- Footer -->
        <div class="card-footer">
          <button
            type="button"
            class="btn btn-sm btn-primary px-3 me-1"
            (click)="editUser($event)"
            data-toggle="tooltip"
            title="{{ 'admin.users.tooltip.edit' | translate }}"
          >
            {{ "admin.createUser.button.update" | translate }}
          </button>
          <button
            type="button"
            class="btn btn-sm btn-primary px-3"
            (click)="changePassword($event)"
            data-toggle="tooltip"
            title="{{ 'settings.changePassword.title' | translate }}"
          >
            {{ "settings.changePassword.title" | translate }}
          </button>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
