<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <i class="ph ph-key me-2"></i>{{ "settings.title" | translate }}
        </div>
        <div class="card-body">
          <div *ngFor="let alert of alerts">
            <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{
              alert.msg
            }}</alert>
          </div>
        </div>
        <div class="card-body">
          <div class="form-group row">
            <label for="inputName" class="col-sm-2 col-form-label">{{
              "admin.createUser.table.image" | translate
            }}</label>
            <div class="col-sm-10">
              <img
                src="{{ authenticationService.getUserImageSanitized(authenticationService.getCurrentAuthor().image) }}"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="inputName" class="col-sm-2 col-form-label">{{
              "admin.createUser.table.name" | translate
            }}</label>
            <div class="col-sm-10">
              <input
                type="text"
                disabled
                #name="ngModel"
                class="form-control"
                id="inputName"
                name="name"
                [ngModel]="authenticationService.getUsername()"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail" class="col-sm-2 col-form-label">{{
              "admin.createUser.table.email" | translate
            }}</label>
            <div class="col-sm-10">
              <input
                email
                type="email"
                #email="ngModel"
                disabled
                class="form-control"
                id="inputEmail"
                name="email"
                [ngModel]="authenticationService.getCurrentAuthor().email"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="inputOrganization" class="col-sm-2 col-form-label">{{
              "admin.createUser.table.organization" | translate
            }}</label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="inputOrganization"
                disabled
                name="organization"
                [ngModel]="authenticationService.getCurrentAuthor().organization"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="trainingTimestamp" class="col-sm-2 col-form-label">
              {{ "training.timestamp" | translate }}
            </label>
            <div class="col-sm-9">
              <input
                type="datetime-local"
                class="form-control"
                id="trainingTimestamp"
                name="trainingTimestamp"
                step="3600"
                [(ngModel)]="localStorageService.trainingTimestamp"
              />
            </div>
            <div class="col-sm-1">
              <button
                type="button"
                class="btn btn-sm btn-secondary"
                (click)="localStorageService.trainingTimestamp = undefined"
              >
                ×
              </button>
            </div>
          </div>
        </div>
        <!-- Footer -->
        <div class="card-footer">
          <div class="d-grid gap-2 d-md-block">
            <button
              type="button"
              class="btn btn-sm btn-primary mx-1"
              (click)="editUser()"
              data-toggle="tooltip"
              title="{{ 'admin.users.tooltip.edit' | translate }}"
            >
              {{ "admin.createUser.button.update" | translate }}
            </button>
            <button
              type="button"
              class="btn btn-sm btn-primary mx-1"
              (click)="changePassword()"
              data-toggle="tooltip"
              title="{{ 'settings.changePassword.title' | translate }}"
            >
              {{ "settings.changePassword.title" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
